.brtc-vs-add-chart {
    padding-top: 0;
    padding-bottom: 0;
    height: 29px !important;
    line-height: 29px;
    margin-top: 9px;
}

.brtc-vs-toolbar-tool-apply {
    margin-top: 9px;
}

.brtc-va-editors-sheet-controls-dataworksheet .brtc-vs-worksheet-area {
    height: 100%;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    top: auto;
    left: auto;
    background: #F5F7F9;
    overflow: hidden;
}

.brtc-va-editors-sheet-controls-dataworksheet .brtc-vs-worksheet {
    padding: 1px;
}

.brtc-va-editors-sheet-controls-dataworksheet .brtc-vs-worksheet-layoutmanager-contentspanel-selected {
    border-color: #DDDEE0;
    border-top-color: #ADB5C8;
}

.brtc-va-editors-sheet-controls-dataworksheet .bchart-control-area {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1002;
}

.brtc-vs-worksheet-panel-contents-control {
height: calc(100% - 34px);
}

.brtc-vs-worksheet-panel-title {
    line-height: 20px;
    padding: 0 20px 0 4px;
    background-image: url('images/icon-down-17.png');
    background-repeat: no-repeat;
    background-position: right center;
    font-size: 12px;
}

.brtc-vs-worksheet-panel-title:hover {
    background-color: #EEEEEF;
}

.brtc-vs-worksheet-panel-title-button {
    visibility: hidden;
}

.brtc-vs-worksheet-panel-tool {
    display: inline-block;
    background: url('images/chart-toolbar-20.png') no-repeat;
    float: right;
    width: 20px;
    height: 20px;
    margin: 3px 2px 0 2px;
    cursor: pointer;
}

.brtc-vs-worksheet-panel-tool:hover {
    background-color: #EEEEEF;
}

.brtc-vs-worksheet-panel-tool-close {
    background-position: -60px 0;
}

.brtc-vs-worksheet-panel-tool-copy {
    background-position: -40px 0;
}

.brtc-vs-worksheet-panel-tool-report {
    background-position: -20px 0;
}

.brtc-vs-worksheet-panel-tool-column-control {
    background-position: 0 0;
}

.brtc-vs-worksheet-panel-tool-column-control-selected {
    background-position: 0 -40px;
}

.brtc-vs-worksheet-panel-header[chart-type=table] .brtc-vs-worksheet-panel-tool-column-control {
    /*display: none;*/
}

.vs-dialogs-body-chart-item {
    cursor: pointer;
}

.vs-column-filter-control > .jqx-checkbox-office {
    margin-bottom: 4px;
}

.vs-filter-add-area {
    cursor: pointer;
}

.brtc-vs-side-bar-area > .jqx-tabs-headerWrapper .jqx-tabs-titleContentWrapper {
    width: 100%;
    text-align: center;
}

.brtc-vs-side-bar-area > .jqx-tabs-headerWrapper .jqx-tabs-titleContentWrapper > span {
    width: 0 !important;
}

.brtc-va-sidebar-column-tab .bchart-single-column-control {
    height: 27px !important;
    padding: 0 5px 0 0;
}

.brtc-va-sidebar-column-tab .bchart-single-column-control-label {
    margin-left: 0;
    margin-right: 4px;
}

.brtc-va-sidebar-column-tab .bchart-column-control-container-panel {
    padding-bottom: 15px;
    margin-bottom: 17px;
}

.brtc-va-sidebar-column-tab .bchart-column-control-container-panel-header {
    margin-top: 0;
}

.brtc-vs-toolbar-tool-apply {
    height: 29px !important;
    width: 71px !important;
    padding: 0;
    line-height: 29px;
}

.brtc-vs-toolbar-tool-apply:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.vs-columns-group .jqx-expander-header-content-office {
    font-size: 12px;
}

.vs-columns-search-delete-button-icon {
    background-position: 0 0;
}

.vs-columns-group .jqx-expander-content-office {
    margin-top: 1px;
}

.vs-columns-group-element {
    padding: 2px 10px 2px 3px;
}

div.bchart-single-column-control-label {
    width: 80% !important;
}

input[type=search].vs-columns-search-input.jqx-input-office::-webkit-search-cancel-button {
    position: relative;
    right: -3px !important;
    top: 0px !important;

    -webkit-appearance: none;
    height: 17px;
    width: 17px;
    background: url('images/icon/icon_palette.png') no-repeat;
    background-position: -27px 0;
}

input[type=search].vs-columns-search-input.jqx-input-office::-webkit-search-cancel-button:hover {
    position: relative;
    right: -3px !important;
    top: 0px !important;

    -webkit-appearance: none;
    height: 17px;
    width: 17px;
    background: url('images/icon/icon_palette.png') no-repeat;
    background-position: -54px 0;
}

.brtc-va-editors-sheet-controls-dataworksheet .bchart-layout .jqx-fill-state-hover-office,
.brtc-va-editors-sheet-controls-dataworksheet .bchart-layout .jqx-fill-state-pressed-office {
    background-color: #EEEDED;
    cursor: default;
}

.bchart-layout .jqx-fill-state-hover-office:active {
    /*background: transparent;*/
    cursor: default;
}

.bchart-legend-area {
    z-index: 1;
}

/* Visual Model Chart Option Panel */
.brtc-style-option-viewer.chart > div.bchart-control-area {
    width: 100%;
}

.brtc-style-option-viewer.chart .bchart-column-control-container-panel {
    margin-top: 0;
}

.brtc-style-option-viewer.chart .bchart-single-column-control.jqx-button-office {
    /*width: calc(100% - 80px) !important; !* Due to "jqx-button" *! */
    /*margin: 3px 0 !important; !* Due to "jqx-button" *! */
}

.brtc-style-option-viewer.chart .bchart-single-column-control.jqx-slider-office {
    /*width: calc(100% - 45px) !important; */
}

.brtc-style-option-viewer.chart .bchart-single-column-control-label[internal-type=double] {
    background-position: 0 -50px;
}

.brtc-style-option-viewer.chart .bchart-single-column-control-label-close {
    /*height: 25px;*/
}

.brtc-style-option-viewer.chart .bchart-column-control-container-panel-header {
    margin-top: 15px;
    margin-bottom: 5px;
}

.brtc-style-option-viewer.chart .bchart-column-control-container-panel-header-add-button {
    margin-top: 4px;
}

.brtc-style-option-viewer.chart .bchart-single-column-control-label {
    width: 90% !important;
    margin-left: 10px;
}

.brtc-style-option-viewer.chart .bchart-single-column-control.jqx-slider .jqx-slider-left,
.brtc-style-option-viewer.chart .bchart-single-column-control.jqx-slider .jqx-slider-right {
    width: 10px !important;
    margin-top: 0 !important;
}

.brtc-style-option-viewer.chart .bchart-single-column-control.jqx-slider .jqx-slider-left {
    margin-left: 4px !important;
}

.brtc-style-option-viewer.chart .bchart-single-column-control.jqx-slider .jqx-slider-right {
    margin-left: 7px !important;
}

.brtc-style-option-viewer.chart .bchart-column-control-container-wrap {
    border: none;
}

/*.bchart-column-control-container-panel-content-trendline {*/
    /*width: 100%;*/
    /*margin-left: 0px;*/
/*}*/