.bchart-layout {
    display: table;
    width: 100%;
    height: 100%;
}

.bchart-layout-bottom {
    /*display: table-row;*/
    width: 100%;
    height: 0px;
    position: relative;
}

.bchart-layout-top {
    display: table-row;
    width: 100%;
    height: 0px;
    position: relative;
}

.bchart-title-area, .bchart-x-axis-area {
    width: 100%;
    height: 24px;
    display: none;
}

.bchart-layout:hover .bchart-y-axis-area.display-none {
    width: 24px;
    display: none;
    position: absolute;
    left: 0;
    top: 45%;
    /*z-index: 1;*/
}

.bchart-layout:hover .bchart-legend-area.display-none {
    width: 120px;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    /*z-index: 1;*/
}

.bchart-layout-middle {
    display: table-row;
    width: 100%;
}

.bchart-title-area {
    width: 100%;
    font-family: Calibri;
    font-weight: bold;
    text-align: center;
    height: 24px;
    align-self: flex-start;
}

.display-none {
    display: none;
}

.bchart-y-axis-area {
    width: 24px;
    -webkit-align-self: stretch;
    align-self: stretch;
    display: none;
}

.bchart-legend-area {
    width: 120px;
    -webkit-align-self: stretch;
    align-self: stretch;
    display: none;
}

.bchart-chart-area {
    -webkit-flex: 1;
    flex: 1;
    -webkit-align-self: stretch;
    align-self: stretch;
    height: 100%;
}

.bchart-middle-area {
    position: relative;
    -webkit-flex: 1;
    flex: 1;
    width: 100%;
    height: 100%;
}

.bchart-color-by-container {
    background-color: rgba(255, 255, 255, 0.5);
}

.bchart-single-column-control-label {
/*    padding-top: 0;
    padding-left: 6px;
    margin-left: 4px;
    line-height: 26px;
    background-image: url('images/column-type-26.png');
    background-repeat: no-repeat;*/
}

.bchart-single-column-control-label::before {
    visibility: hidden;
}

/*.bchart-single-column-control-label[data-type=N] {*/
    /*background-position-y: -26px;*/
/*}*/

/*.bchart-single-column-control-label[data-type=D] {*/
    /*background-position-y: -52px;*/
/*}*/
/*FIXME: delete*/
.bchart-column-control-container-panel-header {
    font-family: Arial, helvetica, sans-serif;
    /*width: 180px;*/
    /*height: 20px;*/
    /*margin-top: 20px;*/
    /*margin-left: 20px;*/
    /*display: inline-flex;*/
    position: relative;
}
/*FIXME: delete*/
.bchart-column-control-container-panel-header-label {
    font-size: 12px;
    font-weight: normal;
    line-height: 23px;
    height: 23px;
    color: rgba(0, 0, 0, 0.7);
}
/*FIXME: delete*/
.bchart-column-control-container-panel-header-add-button {
    background: url('images/plus-circle-17.png') no-repeat;
    background-position: 0 0;
    width: 17px;
    height: 17px;
    cursor: pointer;

    position: absolute;
    right: 0;
    top: 0;
}

.bchart-column-control-container-panel-header-add-button:hover {
    background-position: -17px 0;
}

.bchart-popup .jqx-window-header-office {
    font-size: 15px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 14px;
    border-bottom: none;
}

.bchart-popup .jqx-window-close-button-background > .jqx-window-close-button {
    top: 4px;
    right: 14px;
    width: 10px !important;
    height: 10px !important;
    background-image: url('images/tool-close-10.png');
    background-position: 0 0;
}

.bchart-popup div#bchart-column-selector-dialog-body {
    padding-left: 16px;
    padding-right: 8px;
}

.bchart-popup .bchart-column-listbox {
    height: calc(100% - 20px) !important;
}

.bchart-popup .bchart-aggregation-listbox {
    height: calc(100% - 20px) !important;
    width: calc(49% - 12px) !important;
    padding-left: 10px;
    border-left: 1px solid transparent !important;
    float: left !important;
    margin-left: 2px;
}

.bchart-popup .bchart-column-listbox .jqx-listbox-filter-input-office {
    height: 25px !important;
    width: 140px !important;
    padding: 2px 10px;
    box-sizing: initial;
}

.bchart-popup .bchart-aggregation-listbox .jqx-listbox-filter-input-office {
    height: 25px !important;
    width: 140px !important;
    padding: 2px 10px;
    box-sizing: initial;
}

/* ListBox of ColumnSelector */
.bchart-popup .bchart-column-listbox > div > div > div:nth-child(2) {
    /*top: 38px !important;*/
}

.bchart-popup .bchart-aggregation-listbox > div > div > div:nth-child(2) {
    /*top: 38px !important;*/
}

.bchart-popup .jqx-listitem-state-normal-office {
    margin-left: 6px;
    width: 133px !important;
}

.bchart-popup .bchart-column-listbox .jqx-listitem-state-normal-office {
    padding-left: 25px;
    box-sizing: border-box;
    background-image: url('images/column-type-26.png');
    background-repeat: no-repeat;
    background-position-y: -2px;
    width: 141px !important;
}

/*.bchart-popup .bchart-column-listbox .jqx-listitem-state-normal-office[data-type=N] {*/
    /*background-position-y: -28px;*/
/*}*/

/*.bchart-popup .bchart-column-listbox .jqx-listitem-state-normal-office[data-type=D] {*/
    /*background-position-y: -54px;*/
/*}*/

.bchart-popup .jqx-checkbox-default {
    border: none;
}

.bchart-popup .jqx-checkbox-default-office.jqx-fill-state-normal-office div {
    background: url('images/icon/radio_check.png') no-repeat;
    width: 18px !important;
    height: 18px !important;
    margin-top: -1px;
}

.bchart-popup .jqx-checkbox-default-office.jqx-fill-state-normal-office .jqx-checkbox-check-checked-office {
    background: url('images/icon/radio_check.png') no-repeat;
    width: 18px !important;
    height: 18px !important;
    background-position: 0 -56px;
}

.bchart-column-listbox-wrap {
    height: calc(100% - 35px) !important;
}

.bchart-layout:hover .bchart-x-axis-area {
    width: 100%;
    height: 24px;
    display: flex;
    position: absolute;
    bottom: 0;
    bottom: -5px;
    /*z-index: 1;*/
}

.bchart-layout:hover .bchart-y-axis-area {
    width: 24px;
    display: block;
    position: absolute;
    left: -5px;
    top: 45%;
    z-index: 1;
    color:red;
}

.bchart-color-by-legend {
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 106px;
    height: 14px;
}


/*!*va에만적용되게*!*/
/*.brtc-va-editors-sheet-controls-dataworksheet .bchart-input-control,*/
/*.brtc-va-editors-sheet-controls-dataworksheet .bchart-column-control-container-panel-content-trendline{*/
    /*width: 160px;*/
    /*box-sizing: border-box;*/
/*}*/
/*!*visual model option에만 적용되게*!*/
/*.brtc-style-option-viewer .bchart-input-control,*/
/*.brtc-style-option-viewer .bchart-column-control-container-panel-content-trendline{*/
    /*!*width: calc(100% - 45px);*!*/
/*}*/
