html, body
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

#brightics
{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#brightics > div
{
    z-index: 2;
}

.brtc-va-main
{
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    min-width: 1280px;
    min-height: 900px;
    z-index: 1;
}

body > .ps-scrollbar-x-rail, body > .ps-scrollbar-y-rail
{
    z-index: 1;
}