.brtc-va-workspace-project-search-input {
    display: none;
}

.brtc-va-tools-menubar-clipboard {
    display: none;
}

.brtc-va-dialogs-newfiledialog .brtc-va-dialogs-contents > .brtc-va-dialogs-newfiledialog-label:nth-child(3) {
    display: none;
}

.brtc-va-dialogs-newfiledialog .brtc-va-dialogs-contents > .brtc-va-dialogs-newfiledialog-hashtag-input {
    display: none;
}

.brtc-va-dialogs-newfiledialog .brtc-va-dialogs-contents > .brtc-va-dialogs-newfiledialog-label:nth-child(5) {
    display: none;
}

.brtc-va-dialogs-newfiledialog .brtc-va-dialogs-contents > .brtc-va-dialogs-newfiledialog-type {
    display: none;
}

.brtc-va-editors-modeleditor-tooltip-modelinfo.tooltip_box .tag_area {
    display: none;
}

.brtc-va-editors-modeleditor-tooltip-modelinfo.tooltip_box .tagname {
    display: none;
}

.brtc-va-editors-modeleditor-toolitem.brtc-va-editors-modeleditor-toolitem-help {
    display: none;
}

.brtc-va-editors-modeleditor-toolitem-chevron {
    display: none;
}

.brtc-va-workspace-model-list-item-icon {
    cursor: default;
}

.brtc-va-editors-sheet-panels-datapanel-toolitem.brtc-va-editors-sheet-panels-datapanel-toolitem-arrange-side-by-side {
    /*display: none;*/
}

.brtc-va-editors-sheet-panels-datapanel-toolitem.brtc-va-editors-sheet-panels-datapanel-toolitem-statistic-summary {
    display: none;
}

.brtc-va-tools-menubar .brtc-va-tools-menubar-setting-container .guide {
    display: none;
}

.brtc-va-tools-menubar .brtc-va-tools-menubar-setting-container .guide.global {
    display: block;
}

.brtc-va-workspace-project-container-ctxmenu li[action="sendTo"] {
    display: none !important;
}

.brtc-style-s-editor-toolitem[item-type=persist] {
    background-image: initial;
    display: none;
}

.brtc-va-editors-sheet-panels-propertiespanel-header > .brtc-va-editors-sheet-panels-basepanel-header-title:before {
    content: initial;
}

.bcharts-ws-panel-toolitem[action="multichart"] {
    display: none;
}

.brtc-va-tools-menubar-left-area {
    background-image: url("images/beta.png");
    background-repeat: no-repeat;
    background-position-x: 165px;
    background-position-y: 7px;
}

.brtc-va-tools-menubar-setting {
    display: none !important;
}

.brtc-va-tools-menubar-notice-new {
    right: 130px;
}