/*brtc-va.css*/
.brtc-va-tools-menubar-logo {
    width: 154px;
    height: 26px;
    background-image: url('images/data-finder-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 20px;
    top: 13px;
    cursor: pointer;
}

/*.jqx-grid .jqx-checkbox-default-office {*/
/*margin-top: -2px;*/
/*margin-left: 1px;*/
/*}*/

.bchart-chart-area .jqx-grid-cell-office,
.brtc-va-refine-spreadsheet .jqx-grid-cell-office {
    font-size: 10px;
    height: 20px;
}

/*brtc-va-editors-sheets.css*/
.brtc-va-editors-sheet-panels-datapanel-toolitem-fetch-more {
    background-position-x: 0;
    display: none;
}

.brtc-va-editors-sheet-panels-basepanel-header-container {
    width: calc(100% - 380px); /*ToolItem 갯수에 따라 다르게 설정해야 함.*/
}

/*brtc-va-editors-diagram.css*/
.brtc-va-editors-diagram-diagrameditorpage-function-tools-start-run {
    top: calc(100% - 14px);
    right: calc(50% - 14px);
    left: calc(50% - 14px);
    bottom: -14px;
    width: 27px;
    height: 27px;
    display: block;
    background-position: -81px -27px;
}

/*brtc-va-views-palette.css*/
.brtc-va-views-palette-fnunit {
    width: 200px;
}

.brtc-va-views-palette-fnunit-label {
    max-width: 160px;
}

/*brtc-va-editors.css*/
.brtc-va-editors-modeleditor-toolitem-chevron {
    display: block;
}

.brtc-va-editors-modeleditor-toolitem-report {
    display: none;
}

.brtc-va-editors-modeleditor-toolitem-variables {
    display: none;
}

/*DataFinder Only*/
.brtc-va-workspace-project-container-ctxmenu li[action=exportAsRunnable],
.brtc-va-workspace-project-container-ctxmenu li[action=exportAsRunnableWithReport] {
    display: none !important;
}

/*bchart-vs-va.css*/
.brtc-vs-worksheet-panel-tool-report {
    display: none;
}

.vs-dialogs-body-chart-item[type=dendrogram],
.vs-dialogs-body-chart-item[type=roc],
.vs-dialogs-body-chart-item[type=correlation-matrix] {
    display: none;
}

.vs-dialogs-main-chart-selector {
    /*Chart Type 갯수에 따라 다르게 설정*/
    height: 450px !important;
}

.brtc-vs-toolbar-tool-apply {
    display: none;
}


