html, body {
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.8);
    background: #fff;
    font: 12px/14px Arial, Dotum, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.jqx-widget {
    color: rgba(0, 0, 0, 0.8);
    font-size: 12px;
    font-family: Arial, Dotum, Tahoma, sans-serif;
}

.jqx-fill-state-focus-office, .jqx-combobox-content-focus-office, .jqx-numberinput-focus, .jqx-datetimeinput-office .jqx-fill-state-hover-office, .jqx-datetimeinput-office .jqx-fill-state-pressed-office {
    border-color: #626FDB;
}

.jqx-button-office.ok {
    padding: 0 20px;
    background-color: #6c79e9 !important;
    color: #fff !important;
    border: 1px solid #6c79e9 !important;
    min-width: 80px;
}

.jqx-checkbox-default-office {
    background: url('images/icon/radio_check.png') no-repeat;
    background-position: -38px 0;
    margin: 0 7px 0 0;
    border: none;
    float: none;
    margin-top: 0px!important;
    display: inline-block;
    vertical-align: middle;
}

.jqx-checkbox-check-checked-office {
    width: 17px !important;
    height: 17px !important;
    left: 0 !important;
    top: 0 !important;
    background: url('images/icon/radio_check.png') no-repeat;
    background-position: -38px -56px;
}

.jqx-checkbox-office span {
    vertical-align: middle;
}

.jqx-checkbox-checked span {
    color: #626fdb !important;
}

input[type=text].jqx-input-office, input[type=password].jqx-input-office {
    min-height: 16px;
    min-width: 16px;
    margin: 0px;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    font-size: 13px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

input[type=text].jqx-input-office {
    font-size: 12px;
}

.popup-login-wrapper {
    background: url('images/login_background.png') no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100vh;
}

.popup {
    width: auto;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -25%;
    margin-top: -25%;
    text-align: center;
    border: 1px solid #d9d9d9;
    padding: 30px;
    box-shadow: 2px 4px 6px #eee, -2px 0 6px #eee;
    background: #fff;
    box-sizing: border-box;
    z-index: 9999;
}

.popup.login {
    position: absolute;
    width: 470px;
    height: 470px;
    left: 50%;
    top: 50%;
    margin-left: -235px;
    margin-top: -235px;
    box-shadow: 1px 1px 2px rgba(196, 204, 216, 0.4);
    padding: 50px 82px 100px;
}

.popup.login .content, .popup.login .bottom {
    text-align: center;
}

.popup.login .content * {
    position: relative;
    width: 270px;
    margin: 0 auto;
}

.popup.login .content input {
    margin-bottom: 10px;
}

.popup.login .content .logo {
    width: 270px;
    height: 157px;
    background-image: url('images/login_logo.png');
}

.popup.login .bottom button {
    width: 270px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Arial, Dotum, Tahoma, sans-serif;
}

.popup.login .bottom .options {
    width: 270px;
    margin: 0 auto;
    position: relative;
    height: 20px;
    line-height: 25px;
}

.popup.login .bottom .options > #jqxChkSaveId {
    position: absolute;
    left: 0;
    font-family: Arial, Dotum, Tahoma, sans-serif;
    line-height: 25px;
}

.popup.login .bottom .options > .find {
    position: absolute;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    font-size: 12px;
    text-decoration: none;
    font-family: Arial, Dotum, Tahoma, sans-serif;
    line-height: 25px;
    cursor: pointer;
}

.popup.login .bottom .options > .find:hover {
    color: #6c79e9;
}

.popup-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
}
.popup.confirm {
    width: 410px;
    margin-left: -205px;
    margin-top: -94px;
}
.popup.ok {
    width: 410px;
    margin-left: -205px;
    margin-top: -94px;
}
.popup.okcancel {
    width: 410px;
    margin-left: -205px;
    margin-top: -94px;
}

.popup .bottom {
    text-align: right;
    font-size: 12px;
    position: relative;
    z-index: 1000;
}

.popup .content {
    width: 100%;
    height: auto;
    min-height: 30px;
    text-align: left;
    position: relative;
}

.popup .content .content-text {
    height: 30px;
    line-height: 30px;
}

.popup .content .pop-text {
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
}

.popup .content .sub-text {
    border-top: 1px solid #ddd;
    margin: 10px 0 0 40px;
    padding-top: 10px;
}

.popup.common .empty-title + .content {
    padding: 35px 0 20px 0;
}
.popup .btn-confirm {
    cursor: pointer;
}

.hide {
    display: none !important;
}

.close {
    position: absolute;
    right: 29px;
    width: 15px;
    height: 16px !important;
    padding: 0;
    background: url('images/icon/icon_popup.png') no-repeat;
    border: none;
    background-position: 0 0;
    z-index: 100;
}

.close:hover {
    background-position: -25px 0;
}

.icon.pop.alerttype {
    display: inline-block;
    width: 29px;
    height: 29px;
    background: url('images/icon/icon_popup.png') no-repeat;
    background-position: 0 -26px;
    float: left;
    margin-right: 11px;
}

p {
    margin: 0;
}