/*.brtc-etl-gen {*/
/*margin: 20px 0 20px 20px;*/
/*width: calc(100% - 20px);*/
/*height: calc(100% - 40px);*/
/*position: relative;*/
/*}*/

/*.brtc-etl-gen > div {*/
/*display: flex;*/
/*margin-bottom: 10px;*/
/*min-height: 30px;*/
/*width: calc(100% - 20px);*/
/*}*/

/*.brtc-etl-gen > div > div:first-child {*/
/*width: 80px;*/
/*line-height: 30px;*/
/*}*/

/*!*.brtc-etl-gen > div > div:nth-child(2) {*!*/
/*!*width: 40px;*!*/
/*!*line-height: 30px;*!*/
/*!*margin-left: 10px;*!*/
/*!*}*!*/

/*!*.brtc-etl-gen > div > div:last-child {*!*/
/*!*width: 40px;*!*/
/*!*line-height: 30px;*!*/
/*!*margin-left: 10px;*!*/
/*!*}*!*/

/*.brtc-etl-gen .brtc-flex-grow-one {*/
/*flex-grow: 1;*/
/*}*/

/*.brtc-etl-gen .brtc-etl-gen-query {*/

/*}*/

/*.brtc-etl-add-param {*/
/*width: 100px;*/
/*height: 30px;*/
/*line-height: 30px;*/
/*text-align: center;*/
/*cursor: pointer;*/
/*border: solid 1px #d4d4d4;*/
/*margin-bottom: 10px;*/
/*}*/

/*.brtc-etl-add-param:hover {*/
/*background-color: #d3d3d3;*/
/*}*/

/*.brtc-etl-param > div {*/
/*display: flex;*/
/*margin-bottom: 10px;*/
/*min-height: 30px;*/
/*}*/

/*.brtc-etl-param > div > div:first-child {*/
/*width: 80px;*/
/*line-height: 30px;*/
/*}*/

/*.brtc-etl-param {*/
/*padding: 10px 10px 10px 30px;*/
/*position: relative;*/
/*margin-bottom: 10px;*/
/*box-sizing: border-box;*/
/*border: solid 1px #d4d4d4;*/
/*}*/

/*.brtc-etl-chevron {*/
/*position: absolute;*/
/*left: 0px;*/
/*width: 24px;*/
/*height: 24px;*/
/*min-height: 24px !important;*/
/*cursor: pointer;*/
/*top: 14px;*/
/*left: 2px;*/
/*}*/

/*.brtc-etl-chevron:hover {*/
/*background-color: #d3d3d3;*/
/*}*/

/*.brtc-etl-chevron > i {*/
/*line-height: 24px;*/
/*margin-left: 6px;*/
/*display: none;*/
/*}*/

/*.brtc-etl-param > div:nth-child(3) > span {*/
/*line-height: 32px;*/
/*font-size: 14px;*/
/*font-weight: bold;*/
/*color: green;*/
/*}*/

/*.brtc-etl-param-id-input {*/
/*margin-left: 4px !important;*/
/*margin-right: 4px !important;*/
/*}*/

/*.brtc-etl-param[expanded="true"] > .brtc-etl-chevron > .fa-chevron-down {*/
/*display: block;*/
/*}*/

/*.brtc-etl-param[expanded="false"] > .brtc-etl-chevron > .fa-chevron-right {*/
/*display: block;*/
/*}*/

/*.brtc-etl-param[expanded="false"] > div {*/
/*display: none;*/
/*margin-bottom: 0;*/
/*}*/

/*.brtc-etl-param[expanded="false"] > div:nth-child(1) {*/
/*display: block;*/
/*}*/

/*.brtc-etl-param[expanded="false"] > div:nth-child(2) {*/
/*display: block;*/
/*}*/

/*.brtc-etl-param[expanded="false"] > div:nth-child(3) {*/
/*display: block;*/
/*}*/

/*.brtc-etl-remove {*/
/*position: absolute;*/
/*width: 24px;*/
/*height: 24px;*/
/*min-height: 24px !important;*/
/*cursor: pointer;*/
/*top: 12px;*/
/*right: 2px;*/
/*}*/

/*.brtc-etl-remove:hover {*/
/*background-color: #d3d3d3;*/
/*}*/

/*.brtc-etl-remove > i {*/
/*line-height: 24px;*/
/*margin-left: 6px;*/
/*}*/

.brtc-etl-gen.functionGen {
    margin: 20px 0 20px 20px;
    width: calc(100% - 20px);
    height: calc(100% - 135px);
    position: relative;
}

.brtc-etl-param > div.brtc-etl-param-type-row {
    display: none;
}

.brtc-etl-param > div.brtc-etl-param-placeholder-row {
    display: none;
}

.brtc-etl-param > div.brtc-etl-param-empty-row {
    display: none;
}

.brtc-etl-param > div.brtc-etl-param-multiple-row {
    display: none;
}

.brtc-etl-param > div.brtc-etl-param-rowcount-row {
    display: none;
}

.brtc-etl-param > div.brtc-etl-param-columntype-row {
    display: none;
}

.brtc-etl-param > div.brtc-etl-param-item-row {
    display: none;
}

.brtc-etl-param > div.brtc-etl-param-generalitem-row {
    display: none;
}

.brtc-etl-param-columntype-input, .brtc-etl-param-item-input, .brtc-etl-param-generalitem-input {
    display: block;
}

.brtc-etl-param-columntype-container-wrapper, .brtc-etl-param-item-container-wrapper, .brtc-etl-param-generalitem-container-wrapper {
    display: flex;
    margin-bottom: 10px;
    min-height: 30px;
}

.brtc-etl-param-columntype-add-button, .brtc-etl-param-item-add-button, .brtc-etl-param-generalitem-add-button {
    float: left;

    width: 14px;
    height: 14px;
    margin-top: 7px;
    margin-left: 5px;

    cursor: pointer;

    background: url('images/icon-add.png') center no-repeat;
    /*background-position: -40px 0;*/
}

.brtc-etl-param-columntype-remove-button, .brtc-etl-param-item-remove-button, .brtc-etl-param-generalitem-remove-button {
    float: left;

    width: 14px;
    height: 14px;
    margin-top: 7px;
    margin-left: 5px;

    cursor: pointer;

    background: url('images/icon-remove.png') center no-repeat;
    /*background-position: 0px 0;*/
}

.brtc-etl-param-item-radiobutton-default {
    margin-top: 7px;
    margin-right: 5px;
}

.brtc-etl-param-item-checkbox-default {
    margin-top: 8px;
    margin-right: 5px;
    width: 20px;
    height: 18px !important;
}