/*   Brightics VA Build 201119 */
.brtc-mc-contents {
    display: block;
    position: relative;
    height: auto;
    margin: 0;
    min-width: 600px;
    z-index: 1;
}

.brtc-monitoring-set {
    max-height: 660px;
    height: 660px;
    width: 900px;
    margin-left: 20px;
    margin-top: 20px;
    overflow: auto;
    padding-right: 10px;
}

.brtc-monitoring-set.master{
    max-height: 280px;
    height: 280px;
}

.brtc-monitoring-set.worker {
    max-height: 380px;
    height: 380px;
}

.brtc-monitoring-set > p {
    font-weight: 700;
}

.brtc-monitoring-chart-set {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 880px;
}

.brtc-monitoring-chart {
    flex-grow: 2;
    height: 150px;
    margin: 10px;
    border: 1px solid lightgray;

    display: flex;
    width: 230px;
}

.brtc-monitoring-search {
    margin: 5px;
    height: 25px;
    margin-bottom: 20px;
}

.brtc-monitoring-search.appid {
    margin-left: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    width: 100%;
}

.brtc-monitoring-appname {
    flex-grow: 1;
    width: 90px;
    height: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
input {
    width: 98%;
}

/**Brightics Admin CSS**/
.brtc-admin-logo {
    padding: 15px;
    max-height: 60px !important;
    box-sizing: border-box;
}

.brtc-admin-progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 18000;
    background-color: rgba(0, 0, 0, 0.3);
}

.brtc-admin-progress-body {
    outline: none;
    width: 400px;
    height: 200px;
    display: block;
    background-color: transparent;
}

.brtc-admin-progress-close {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    margin-top: 10px;
    position: absolute;
    right: 0px;
    top: 0px;
    background-image: url("./images/tool-close-18.png");
    cursor: pointer;
}

.brtc-admin-progress-close:hover {
    background-position: -18px -0px;
}

.brtc-admin-progress-title {
    border: 0px;
    border-bottom: 1px solid #d9d9d9;
    background: #fff;
    color: #333;
    width: 400px;
    height: 40px;
    text-overflow: ellipsis;
    /*font-family: "돋움", Dotum, Arial, Helvetica, sans-serif;*/
    font-family: 'Arial', Dotum, Tahoma, sans-serif !important; /*정명규 추가*/
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    padding: 12px 15px 12px 15px;
    position: relative;
}

.brtc-admin-progress-contents {
    outline: none;
    width: 400px;
    height: 200px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brtc-admin-body-grid {
    margin: 0;
    padding: 0;
    border: 0;
    /*font-family: "돋움", Dotum, Arial, Helvetica, sans-serif;*/
    font-family: 'Arial', Dotum, Tahoma, sans-serif !important; /*정명규 추가*/
    vertical-align: baseline;
    font-size: 12px
}

.brtc-grid-cell-bold {
    font-weight: bold;
}

.brtc-admin-body-grid-role {
    position: relative;
}

.brtc-admin-body-grid-cell {
    padding: 10px 5px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
}

.brtc-admin-body-grid-role-cell {
    padding: 10px 5px;
    position: relative;
}

.brtc-role-detail-area {
    top: 64px;
    bottom: 28px;
    display: none;
    height: auto;
    z-index: 1000;
    background-color: #fafbfd;
}

.brtc-admin-auth-detail-user {
    overflow: hidden;
    margin: 0;
    position: relative;
}

.brtc-role-detail-tab-contents {
    display: flex;
    flex-direction: column;
    height: 430px;
}

.brtc-admin-auth-detail-user-list, .brtc-admin-auth-detail-permission-list {
    flex: 1;
    margin-top: 10px;
    border: solid 1px #e0e7f7;
}

.brtc-admin-body-grid-role div[role="row"]:hover .brtc-admin-body-grid-role-cell-button {
    cursor: pointer;
    z-index: 999;
    position: absolute;
    top: -3px;
    right: -9px;
    width: 33px;
    height: 42px;
    float: right;
    margin-bottom: 0;
    background: url('./images/tb_view_btn.png') 8px -59px no-repeat;
    /*background: url('../images/common/tb_view_btn.png') 8px 13px no-repeat;*/
    border-right: solid 1px #f1f6fc;
}

.brtc-admin-body-grid-role .brtc-admin-body-grid-role-cell-button.selected {
    cursor: pointer;
    z-index: 999;
    position: absolute;
    top: -3px;
    right: -9px;
    width: 33px;
    height: 42px;
    float: right;
    margin-bottom: 0;
    background: url('./images/tb_view_btn.png') 8px 13px no-repeat !important;
    border-right: solid 1px #f1f6fc;
}

.brtc-admin-dialogs-body-content {
    width: 100%;
    height: 100%;
}

.brtc-admin-dialogs-body-content-icon.alerttype,
.brtc-admin-dialogs-body-content-icon.alerttype {
    display: inline-block;
    width: 29px;
    height: 29px;
    background: url('./images/icon_popup.png') no-repeat;
    background-position: 0 -26px;
    float: left;
    margin-right: 11px;
}

.brtc-admin-dialogs-body-content-icon {
    display: inline-block;
    width: 29px;
    height: 29px;
    background: url('./images/icon_popup.png') no-repeat;
    background-position: 0 -26px;
    float: left;
    margin-right: 11px;
    /*margin-top: 18px;*/
}

.brtc-admin-dialogs-body-content-icon[alert="warn"] {
    background-position: -29px -26px;
}

.brtc-admin-dialogs-body-content-icon[alert="error"] {
    background-position: -58px -26px;
}

.brtc-admin-dialogs-body-content-content-text,
.brtc-va-dialogs-body-content-content-text {
    display: inline-block;
    line-height: 30px;
    max-width: 360px;
    white-space: initial;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #676a6c;
    height: 100%;
    direction: ltr;
    float: left;
    width: calc(100% - 30px);
}

.brtc-admin-dialogs-body-content-content-text {
    overflow-y: auto;
}

.brtc-admin-dialogs-buttonbar,
.brtc-va-dialogs-buttonbar {
    margin-bottom: -20px;
    position: absolute;
    bottom: 40px;
    right: 20px;
    /*padding-bottom: 5px;*/
}

/** JQXWIDGET CSS **/
.jqx-grid .jqx-grid-column-header {
    text-align: center;
    border: 0px;
}

.jqx-grid .jqx-grid-header {
    border-top: 1px solid #ccc;
    border-left: 0px solid #e0e0e0;
    border-right: 0px solid #e0e0e0;
    background-color: #f7f7f7;
    font-weight: bold;
    border-bottom: solid 1px #e8e8e8;
    /*padding: 10px 0 7px;*/
    text-align: center;
    position: relative;
}

.jqx-widget .jqx-grid-cell {
    font-size: 12px;
    border: 0px;
    border-bottom: 1px solid #f0f0f0;
}

.jqx-grid-cell:hover {
    cursor: pointer;
}

.jqx-grid-empty-cell:hover {
    cursor: default;
}

.jqx-checkbox {
    margin-top: -7px !important;
}

.jqx-grid-pager-office > div {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 3px !important;
}

.jqx-grid-pager-office > div > div:last-child {
    display: none;
}

.jqx-grid-office {
    border-bottom: none;
}

.jqx-window-office {
    padding: 10px 20px;
    border: solid 1px #ccc;
}

.jqx-window-header-office {
    cursor: move;
    position: relative;
    float: left;
    display: inline-block;
    width: 100%;
    border-bottom: solid 1px #bebebe;
    font-size: 18px;
    box-sizing: border-box;
    padding-left: 5px;
    height: 50px;
    line-height: 45px;
    margin-bottom: 10px;
}

.jqx-window-close-button-background-office {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 40px;
    height: 50px;
    background-position: 22px -460px;
}

.jqx-window-close-button {
    position: absolute;
    top: -5px;
    right: 0;
    display: inline-block;
    width: 40px !important;
    height: 50px !important;
    background: url('./images/common_icon.png') no-repeat;
    background-position: 22px -460px;
}

.jqx-input, input[type=text].jqx-input, input[type=password].jqx-input,
.brtc-admin-input.add-notice-content,
.brtc-admin-input.detail-notice-content,
.brtc-admin-input.modify-notice-content {
    font-size: 12px;
    vertical-align: middle;
    text-align: left;
    background: #f7f7f7;
    border: solid 1px transparent;
    width: calc(100% - 150px);
    box-sizing: border-box !important;
    float: left;
}

.brtc-admin-input.add-notice-content,
.brtc-admin-input.detail-notice-content,
.brtc-admin-input.modify-notice-content {
    height: 500px !important;
}

.brtc-admin-search-table {
    width: 100%;
    border-top: solid 1px #ccc;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    float: left;
    /*font-family: 돋움, Dotum, Arial, Helvetica, sans-serif;*/
    font-family: 'Arial', Dotum, Tahoma, sans-serif !important; /*정명규 추가*/
    vertical-align: baseline;
    font-size: 12px;
}

.brtc-admin-search-table th {
    position: relative;
}

.brtc-admin-search-table th, .brtc-admin-search-table td {
    box-sizing: border-box;
}

.brtc-admin-search-table th {
    padding: 12px 15px 11px 13px;
    text-align: left;
    font-size: 13px;
    color: #333;
    letter-spacing: -0.05em;
    border-bottom: solid 1px #ebebeb;
}

.brtc-admin-search-table td {
    border-right: solid 1px #ebebeb;
    border-bottom: solid 1px #ebebeb;
    padding: 0 12px 0 0;
    vertical-align: middle;
    position: relative;
}

.brtc-admin-search-table tr:last-child th, .brtc-admin-search-table tr:last-child td {
    border-bottom: solid 1px #ccc;
}

.brtc-admin-search-table td:last-child {
    border-right: solid 1px #ccc;
}

.brtc-admin-button {
    background-color: #fff;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    float: left;
    border: solid 1px #ccc;
    /*padding: 4px 15px 3px 15px;*/
    /*min-width: 55px;*/
    min-width: 67px;
    height: 27px;
    margin-left: 5px;
    font-family: 'Arial', Dotum, Tahoma, sans-serif !important; /*정명규 추가*/

}

.brtc-admin-button.search-area {
    background-color: #fff;
    display: inline-block;
    min-width: 67px;
    height: 27px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    border: solid 1px #ccc;
    margin-left: 5px;
}

.brtc-admin-button.save,
.brtc-admin-button.list,
.brtc-admin-button.detail-notice,
.brtc-admin-button.detail-user,
.brtc-admin-button.cancel,
.brtc-admin-button.dialog-ok,
.brtc-va-dialogs-buttonbar-ok,
.brtc-va-dialogs-buttonbar-cancel,
.brtc-admin-button.local,
.brtc-admin-button.content {
    background-color: #fff;
    display: inline-block;
    min-width: 67px;
    width: auto;
    /*padding: 6px 15px 5px 15px;*/
    text-align: center;
    box-sizing: border-box;
    float: left;
    border: solid 1px #ccc;
    margin-left: 5px;
}

.brtc-admin-button.dialog-cancel {
    background-color: #fff;
    display: inline-block;
    min-width: 67px;
    width: auto;
    /*padding: 6px 15px 5px 15px;*/
    text-align: center;
    box-sizing: border-box;
    float: left;
    border: solid 1px #656eea;
    color: #656eea;
    margin-left: 5px;
}

.brtc-admin-button.dialog-detail {
    margin-left: 40px;
}

.brtc-admin-button.search-area,
.brtc-admin-button.cancel,
.brtc-admin-button.save,
.brtc-admin-agent-search-button-clear,
.brtc-admin-agent-search-button-search,
.brtc-admin-agent-add-button.save,
.brtc-admin-agent-add-button.cancel,
.brtc-admin-auth-add-user-cancel {
    border: 1px solid #656eea !important;
    color: #656eea !important;
}

.brtc-admin-publish-search-button-clear,
.brtc-admin-publish-search-button-search {
    border: 1px solid #656eea !important;
    color: #656eea !important;
}

.brtc-admin-auth-add-user-cancel,
.brtc-admin-auth-add-user-save {
    cursor: pointer;
}

.brtc-admin-button.toggle {
    color: #FFFFFF;
    /*border-radius: 3px;*/
    margin-top: 5px;
    margin-left: 0px;
    cursor: pointer;
}

.brtc-admin-button.toggle.start,
.brtc-admin-button.toggle.active {
    background-color: #656eea ;
    border-color: #656eea;
    height: 20px;
    border: 1px solid #656eea;
}

.brtc-float-left.agent-health {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brtc-admin-button.toggle.embed-code,
.brtc-admin-button.toggle.link {
    color: #7d7d7d;
    background-color: white;
    border-color: #e5e5e5;
    margin-left: 10px;
    height: 20px;
    border: 1px solid #ccc;
}

.brtc-admin-button.toggle.start[status=STOP] {
    background-color: #fff;
    color: #656eea;

}

.brtc-admin-button.toggle.start[status=RUN] {
    cursor: default;
}

.brtc-admin-button.toggle.active[status=N] {
    background-color: #fff;
    color: #656eea;

}

.brtc-admin-button.toggle.active[status=Y] {
    cursor: default;
}

.brtc-admin-button.toggle.stop {
    background-color: #656eea;
    border-color: #656eea;
    height: 20px;
    border-left: none !important;
    border: 1px solid #656eea;
}

.brtc-admin-button.toggle.stop[status=RUN] {
    background-color: #fff;
    color: #656eea;
}

.brtc-admin-button.toggle.stop[status=STOP] {
    cursor: default;
}

.brtc-admin-button.toggle.inactive {
    background-color: #656eea;
    border-color: #656eea;
    border-left: none !important;
    border: 1px solid #656eea;
}

.brtc-admin-button.toggle.inactive[status=Y] {
    background-color: #fff;
    color: #656eea;
}

.brtc-admin-button.toggle.inactive[status=N] {
    cursor: default;
}

.brtc-admin-button.search,
.brtc-admin-button.save,
.brtc-admin-button.dialog-ok,
.brtc-va-dialogs-buttonbar-ok {
    margin-left: 5px;
    background-color: #626fdb;
    border: 1px solid #626fdb;
    color: #fff !important;
}

.brtc-admin-button:hover {
    background-color: #f2f2f2;
}

.brtc-admin-button.search:hover,
.brtc-admin-button.save:hover,
.brtc-admin-button.dialog-ok:hover,
.brtc-va-dialogs-buttonbar-ok:hover {
    background-color: #192a70;
    border: solid 1px #20368c;
    color: #fff;
}

.jqx-fill-state-disabled-office:hover {
    background-color: transparent;
}

.brtc-admin-button.disable,
.brtc-admin-button.disable:hover {
    background-color: #fff;
    border: solid 1px #e5e5e5;
    color: #b2b2b2;
}

.brtc-admin-button.none-display {
    display: none;
}

.brtc-admin-button:focus {
    outline: transparent auto 5px;
}

.brtc-admin-button.reload {
    width: 23px !important;
    min-width: 23px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.brtc-admin-choice {
    background: transparent;
}

.brtc-admin-choice.active {
    background: #caccd1;
}

.brtc-search-button-box {
    width: 150px;
    float: right;
    margin-top: 2px;
}

.brtc-button-box {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.brtc-float-left {
    float: left;
}

.brtc-float-right {
    float: right;
}

.brtc-admin-choice.active .brtc-float-right .brtc-admin-button.reload {
    display: none;
}

.brtc-float-right-refresh {
    float: right;
    padding-right: 10px;
}

.brtc-admin-choice.active .brtc-float-right-refresh {
    display: none;
}

.brtc-admin-input.brtc-read-only {
    background-color: transparent;
}

.brtc-admin-datepicker {
    font-size: 12px;
    height: 26px;
    vertical-align: middle;
    text-align: left;
    /*background: #f7f7f7;*/
    padding: 0;
    border: solid 1px transparent;
    width: 100%;
    box-sizing: border-box;
    float: left;
    background: #fff;
}

.brtc-admin-datepicker > div {
    background: transparent;
}

.brtc-admin-tilde {
    float: left;
    padding: 6px 5px 4px;
    margin-top: 4px;
}

.brtc-admin-datepicker .jqx-input-content {
    height: 100%;
    width: 76px !important;
    text-align: left;
    padding-bottom: 4px;
    background: #f7f7f7;
    margin-top: 0 !important;
    box-sizing: border-box;
    padding-top: 5px;
    padding-left: 7px;
    box-sizing: border-box;
}

/*jqx-rc-all jqx-item jqx-calendar-cell-othermonth jqx-calendar-cell*/
.jqx-calendar-cell.jqx-rc-all {
    float: none !important;
}

.brtc-admin-datepicker .jqx-action-button {
    border: 0;
    background: transparent;
    box-sizing: border-box;
}

.jqx-icon-calendar {
    background-position: 0px 8px;
    width: 15px;
    height: 28px;
    background: url('./images/common_icon.png') no-repeat;
}

.jqx-calendar {
    /*width: 98% !important;*/
    height: 98% !important;
}

/*.jqx-calendar-month-container,*/
/*.jqx-calendar-month {*/
/*width: 100% !important;*/
/*}*/

.jqx-calendar-month-container > div {
    border: 0;
    /*font-family: "돋움", Dotum, Arial, Helvetica, sans-serif;*/
    font-family: 'Arial', Dotum, Tahoma, sans-serif !important; /*정명규 추가*/
    vertical-align: baseline;
    font-size: 12px;
    display: -webkit-flex;
    display: -ms-flexbox;
    /* display: flex; */
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    min-height: 37px;
    padding: 4px 10px 4px 10px;
}

.jqx-calendar-title-header {
    border: none;
    margin: 0 0 0 0;
}

.jqx-calendar-cell-selected {
    color: #fff;
    font-weight: bold;
    background-color: #4979C9;
    border-radius: 20px;
}

.calendar-header > td:last-child {
    padding-top: 10px;
    padding-bottom: 10px;
}

.jqx-calendar-month,
.jqx-calendar-month > tbody > tr:last-child,
.jqx-calendar-month > tbody > tr:last-child > td {
    height: 100% !important;

}

.jqx-calendar-month td {
    /*font-family: "돋움", Dotum, Arial, Helvetica, sans-serif;*/
    font-family: 'Arial', Dotum, Tahoma, sans-serif !important; /*정명규 추가*/
    font-size: 12px;
}

.brtc-admin-input.cron-expression {
    width: 80% !important;
}

.brtc-admin-schedule-cron-help {
    width: 25px;
    height: 26px;
    background-image: url('./images/tool-help.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    float: left;
    cursor: pointer;
    box-sizing: border-box !important;
}

.brtc-admin-schedule-cron-help-contents {
    font-size: 12px;
    height: 400px;
}

.brtc-admin-schedule-cron-checkbox.jqx-checkbox {
    float: left;
    margin-top: 6px !important;
}

.brtc-admin-dropdown.schdule-owner,
.brtc-admin-dropdown.isactive,
.brtc-admin-dropdown.projectname,
.brtc-admin-dropdown.modelname,
.brtc-admin-dropdown.dependencyId,
.brtc-admin-dropdown.scheduleStatus {
    margin-right: 5px;
    height: 28px;
    border: 1px solid #ddd;
    border-radius: 3px;
    /*padding-left: 4px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    /*font-family: 'Open Sans', Arial, sans-serif;*/
    font-family: 'Arial', Dotum, Tahoma, sans-serif !important; /*정명규 추가*/
    box-sizing: border-box;
}

.brtc-admin-radio-local,
.brtc-admin-radio-db {
    float: left;
    font-size: 12px;
    padding-top: 5px;
}

.brtc-admin-radio-local:hover,
.brtc-admin-radio-db:hover {
    float: left;
}

#brtc-admin-fileselect {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.32857143;
    text-align: center;
    height: auto;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #adadad;
    border-radius: 4px;
    /*font-family: 'Open Sans', Arial, sans-serif;*/
    font-family: 'Arial', Dotum, Tahoma, sans-serif !important; /*정명규 추가*/
}

#brtc-admin-fileselect:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

#brtc-admin-upload-filename {
    display: none;
}

.brtc-selected-file-content,
.brtc-selected-db-content {
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;

    position: relative;
    min-height: 26px;
    min-width: 16px;
    /*margin: 0;*/
    border-width: 1px;
    border-style: solid;
    font-size: 12px;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    /*height: 26px;*/
    border-radius: 3px;
    border: #ddd 1px solid;
}

.brtc-admin-local-file-area input[type="BUTTON"],
.brtc-admin-management-button.content {
    /*height: 29px;*/
    margin-right: 5px;
}

.brtc-admin-local-file-area > div:first-child {
    display: flex;
}

.brtc-admin-upload-filename.open-model-button {
    width: 150px;
}

.brtc-admin-remove-icon {
    width: 17px;
    height: 17px;
    background: url('./images/icon_property.png') no-repeat;
    background-position: -37px 0;
    background-color: transparent !important;
    float: right;
    flex-wrap: wrap;
    align-items: center;
    display: none;
    position: absolute;
    z-index: 10;
    right: 10px;
    top: 3px;
}

.brtc-admin-remove-icon:hover {
    background: url('./images/icon_property.png') no-repeat;
    background-position: -37px -27px;
}

.brtc-icon.brtc-admin-upload.file {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url('./images/icon_database_upload.png') no-repeat;
    background-position: 0 -126px;
    margin-top: 0px;
    margin-right: 10px;
}

.brtc-admin-db-select-area {
    display: flex;
}

.tb_st03.linetrg tr:nth-child(6) th {
    padding-bottom: 10px;
    padding-top: 10px;
}

.tb_st03.linetrg tr:nth-child(6) td {
    padding-bottom: 0px;
    padding-top: 0px;
}

.tb_st03.linetrg tr:nth-child(7) th {
    border-top: none;
    /*padding-top: 18px;*/
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: normal;
}

.brtc-admin-button.status, .brtc-admin-button.status-history {
    width: 88px;
    height: 20px;
    margin-left: 8px;
    margin-top: 5px;
    color: #FFFFFF;
    cursor: default;
}

/*.brtc-admin-button.status-history {*/
/*width: 88px;*/
/*margin-left: 8px;*/
/*margin-top: 5px;*/
/*color: #FFFFFF;*/
/*}*/

.brtc-admin-button.status.default {
    background-color: #5e5e5e;
    border-color: #5e5e5e;
}

.brtc-admin-button.status.start {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.brtc-admin-button.status.process {
    background-color: #337ab7;
    border-color: #337ab7;
}

.brtc-admin-button.status.success {
    background-color: #449d44;
    border-color: #449d44;
}

/*.brtc-admin-button.status-history.success {*/
/*background-color: #449d44;*/
/*border-color: #449d44;*/
/*cursor: pointer;*/
/*}*/

.brtc-admin-button.status.ready {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.brtc-admin-button.status.stop {
    background-color: #D9534F;
    border-color: #D9534F;
}

.brtc-admin-button.status.error {
    background-color: #c9302c;
    border-color: #c9302c;
}

.brtc-admin-button.status-history.error {
    background-color: #c9302c;
    border-color: #c9302c;
    cursor: pointer;
}

.pointer:hover {
    cursor: default;
}

.ico-input-search-button {
    background: url('./images/ico-input-search-button.png') no-repeat;
    width: 22px;
    height: 22px;
    box-sizing: border-box;
    background-position: center;
    cursor: pointer;
}

.brtc-admin-auth-add-role-user-area .ico-input-search-button,
.brtc-admin-auth-add-user .ico-input-search-button {
    float: left;
}

.brtc-admin-body-grid-permission div[role="columnheader"] .jqx-checkbox-default {
    display: none !important;
}

.brtc-admin-agent-add td,
.brtc-admin-agent-detail td {
    padding: 0 !important;
    vertical-align: middle !important;
    border-bottom: none !important;
}

.brtc-admin-agent-add th,
.brtc-admin-agent-detail th {

}

.brtc-admin-agent-add th.subject,
.brtc-admin-agent-detail th.subject {
    padding: 10px 0 10px 5px !important;
    font-weight: bold !important;
    font-size: 12px !important;
    border-bottom: none !important;
}

.brtc-admin-agent-add th.subject {
    width: 175px !important;
}

.brtc-admin-agent-add th.category,
.brtc-admin-agent-detail th.category {
    font-weight: normal;
    font-size: 14px !important;
    padding-top: 18px;
}

.brtc-admin-agent-detail th.category.last {
    padding-bottom: 0px;
}

.brtc-admin-agent-add-button {
    cursor: pointer;
}

.brtc-admin-agent-add tr:last-child td,
.brtc-admin-agent-detail tr:last-child td {
    padding-bottom: 18px !important;
    padding-top: 4px !important;
}

.brtc-admin-agent-add tr:last-child th,
.brtc-admin-agent-detail tr:last-child th {
    padding-bottom: 18px !important;
}

.brtc-admin-agent-detail .tb_st03 .tb_2w {
    height: 330px;
    width: calc(100% - 2px);
}

.brtc-admin-agent-detail .tb_st03.linetru .b_cont_0102 {
    height: calc(100% - 8px);
}

.brtc-admin-agent-detail .tb_st03.linetru .b_cont_0102 .attach_box {
    height: calc(100% - 8px);
}

.brtc-admin-agent-detail .tb_st03.linetru .b_cont_0102 .sum_list ul {
    height: calc(100% - 8px);
    width: 100%;
}

.brtc-admin-agent-detail .b_cont_0102 .sum_list {
    height: calc(100% - 100px);
}

.brtc-admin-agent-detail .attach_box .b_cont_0102 .sum_list.user-list label,
.brtc-admin-agent-detail .attach_box .b_cont_0102 .sum_list.user-list span {
    width: 800px !important;
    text-overflow: ellipsis;
}

.button {
    cursor: pointer;
}

.popup-user-list.th {
    font-weight: bold;
    padding: 10px 0 7px;
    text-align: center;
    position: relative;
}

.brtc-admin-progress-loading {
    text-align: center;
    background: url('./images/Loading_2.png') no-repeat;
    background-position: 0 0;
    width: 94px;
    height: 94px;
    display: inline-block;
    margin-bottom: 10px;
    -webkit-animation: rotating-function 1.25s linear infinite;
    -moz-animation: rotating-function 1.25s linear infinite;
    -ms-animation: rotating-function 1.25s linear infinite;
    -o-animation: rotating-function 1.25s linear infinite;
    animation: rotating-function 1.25s linear infinite;
    transform-origin: center;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    -moz-transform-origin: center;
    -o-transform-origin: center;
}

.brtc-admin-dialogs-contents.admin {
    padding-left: 150px;
    padding-top: 10px;
}

.brtc-va-widget-container {
    /*display: -webkit-flex;*/
    /*display: flex;*/
    width: 100%;
}

.brtc-va-widget-container * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.brtc-va-widget-header {
    height: 30px;
    width: 100%;
    display: inline-flex;
}

.brtc-va-widget-label {
    height: 100%;
    width: calc(100% - 80px);
    /*font-family: Arial, helvetica, sans-serif;*/
    font-family: 'Arial', Dotum, Tahoma, sans-serif !important; /*정명규 추가*/
    font-size: 13px;
    display: flex;
    align-items: center;
}

.brtc-va-widget-type-button-area {
    height: 100%;
    width: 80px;
    padding: 5px 2px;
}

.brtc-va-widget-type-switch-button .jqx-switchbutton-label-off,
.brtc-va-widget-type-switch-button .jqx-switchbutton-label-on {
    color: #6C79E9;
    font-size: 10px;
}

.brtc-va-widget-contents {
    display: flex;
    /*width: 100%;*/
    /*flex-direction: row;*/
    flex-wrap: wrap;
    max-height: 140px;
    position: relative;
}

.brtc-va-widget-contents-input-container {
    height: 30px;
    width: 100%;
    display: inline-flex;
    align-items: center;
}

.brtc-va-widget-contents-input-control-container {
    max-width: 100%;
    flex: 1;
}

.brtc-va-widget-contents-input-control-add
{
    width: 25px;
    height: 25px;
    margin-left: 4px;

    cursor: pointer;

    background: url('images/icon/icon-add.png') no-repeat;
    background-color: #fff;

    object-fit: contain;
}

.brtc-va-widget-contents-input-control-delete
{
    width: 25px;
    height: 25px;
    margin-left: 4px;

    cursor: pointer;

    background: url('images/icon/icon-remove.png') no-repeat;
    background-color: #fff;
    object-fit: contain;
}

.brtc-va-widget-contents-input-control {
    width: 100% !important;
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
}

.brtc-va-widget-contents-input-container-wrapper {
    width: 100%;
}

.brtc-va-widget-contents-input-container-wrapper > .brtc-va-widget-contents-input-container > .brtc-va-widget-contents-input-control-add
{
    /*visibility: hidden;*/
    display: none;
}

.brtc-va-widget-contents-input-container-wrapper > .brtc-va-widget-contents-input-container:last-child > .brtc-va-widget-contents-input-control-add
{
    /*visibility: visible;*/
    display: block;
}

.brtc-va-widget-remove {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 8px;
    height: 8px;
    background-image: url('./images/tool-close-8.png');
    cursor: pointer;
    display: none;
}

.brtc-va-widget-remove.removable {
    display: block;
}

.brtc-va-widgets-controls-numericInput {
    width: 60px;
    /*height: 25px;*/
    /*font-family: Arial, Dotum, Tahoma, sans-serif;*/
    /*font-style: normal;*/
    /*font-size: 13px;*/
    text-align: right;
    /*background-color: white;*/
    /*border: 1px solid #d4d4d4;*/
    /*word-wrap: normal;*/
    /*box-sizing: border-box;*/
    padding-left: 10px;
    padding-right: 10px
}

.brtc-va-dialogs-run .scrollable {
    position: relative;
}

.brtc-va-dialogs-run {
    padding: 10px 0 10px 20px;
}

.brtc-va-dialogs-run .brtc-va-dialogs-header {
    width: calc(100% - 30px) !important;
}

.brtc-va-dialogs-run .brtc-va-dialogs-contents {
    padding-right: 15px;
    height: calc(100% - 40px);
}

.brtc-va-dialogs-run .brtc-va-widget-container > .brtc-va-widget-contents
{
    max-height: none;
}

.brtc-va-dialogs-contents {
    height: calc(100% - 32px);
    position: relative;
}

.brtc-va-dialogs-run .brtc-va-widget-label
{
    font-family: Arial, helvetica, sans-serif;
    font-size: 13px;

    display: flex;

    width: calc(100% - 80px);
    height: 100%;

    align-items: center;
}

.brtc-va-dialogs-run .brtc-va-widget-label.array:before
{
    float: left;

    width: 25px;
    height: 25px;

    content: '';
    text-align: center;

    color: transparent;
    background-image: url('images/column-type-26.png');
    background-repeat: no-repeat;
    background-position: 0 -104px;
}

.brtc-va-dialogs-run .brtc-va-widget-label.string:before
{
    float: left;

    width: 25px;
    height: 25px;

    content: '';
    text-align: center;

    color: transparent;
    background-image: url('images/column-type-26.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.brtc-va-dialogs-run .brtc-va-widget-label.number:before
{
    float: left;

    width: 25px;
    height: 25px;

    content: '';
    text-align: center;

    color: transparent;
    background-image: url('images/column-type-26.png');
    background-repeat: no-repeat;
    background-position: 0 -26px;
}

@keyframes rotating-function {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.brtc-admin-detail-role-contents-area .b_cont_0102 {
    height: 100% !important;
}

.brtc-admin-detail-role-contents-area .srch_tp {
    display: none !important;
}

.brtc-admin-detail-role-contents-area .sum_row {
    display: none !important;
}

.brtc-admin-detail-role-contents-area .sum_list {
    height: 100% !important;
    padding-top: 0px !important;
}

.brtc-admin-detail-role-contents-area .attach_box,
.brtc-admin-auth-add-role-user-area .attach_box {
    margin-top: 0px !important;
    padding: 10px;
    border: 0;
    height: calc(100% - 10px) !important;
    box-sizing: border-box;
}

.brtc-admin-auth-add-role-user-area .sum_list {
    height: 100% !important;
}

.brtc-admin-auth-add-role-user-list,
.brtc-admin-body-grid-permission {
    width: 100%;
    height: calc(100% - 20px) !important;
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
}

.brtc-admin-user-list-container,
.brtc-admin-permission-list-container {
    float: left;
    margin-top: 15px;
    width: 420px;
    height: 500px;
    box-sizing: border-box;
}

.brtc-admin-user-control-area {
    position: relative;
}

.brtc-admin-choice.role {
    position: absolute;
    top: 1px;
    left: 0;
}

.brtc-admin-user-control-area .tb_choibox {
    z-index: 9;
    /* box-sizing: border-box; layout.css 때문에 border-box가 적용되지 않아, width, height 직접 적용 */
    width: 424px;
    height: 25px;
    float: left;
    border-top: solid 1px #e5e5e5;
    padding: 7px 8px 8px 8px;
    margin-top: 0;
}

.brtc-admin-auth-role-edit .brtc-admin-auth-add-role-user-list {
    margin-top: 41px;
    height: calc(100% - 41px) !important;
}

.brtc-admin-auth-add-role-save,
.brtc-admin-auth-add-role-cancel {
    cursor: pointer;
}

.brtc-admin-div-user {
    position: relative;
    display: inline-block;
    float: left;
    width: 50%;
    margin-right: 16px;
}

.brtc-admin-div-email {
    position: relative;
    display: inline-block;
    float: left;
    width: calc(50% - 16px);
    margin-right: 0px;
}

.brtc-va-widget-messagebox-container {
    position: fixed;
    width: 400px;
    height: 100px;
    z-index: 90000;
    bottom: 40px;
    left: calc(50% - 200px);
}

.brtc-va-widget-messagebox-container .jqx-notification-close-button-container
{
    vertical-align: middle;
}

.brtc-admin-input.add-user-mail,
.brtc-admin-input.detail-user-name {
    background: transparent;
}

.brtc-admin-input.detail-user-id {
    color: #000;
}

.brtc-admin-input[disabled],
.brtc-admin-input[disabled="disabled"] {
    background: transparent !important;
    color: #000 !important;
    opacity: 1;
    text-overflow: ellipsis;
}

.tb_st03.linetru tr:nth-child(4) td:last-child.permission {
    padding: 0 0 18px 0 !important;
}

.tb_st03.linetru td.permission {
    padding: 0 0 0 0 !important;;
}

.brtc-admin-dialogs-contents {
    position: relative;

    height: calc(100% - 34px);
}

/*.brtc-admin-dialogs-schedule-history-header*/
/*{*/
/*width: 100%;*/
/*height: 31px;*/
/*}*/

/*.brtc-admin-dialogs-schedule-history-header .tb_view_st*/
/*{*/
/*line-height: 31px;*/

/*float: left;*/
/*}*/

.brtc-admin-dialogs-schedule-history-body {
    width: 100%;
    height: calc(100% - 31px);
}

.brtc-admin-dialogs-schedule-history-header .brtc-admin-total-count-history {
    margin-left: 10px;
}

.brtc-admin-dialogs-schedule-history-grid {
    float: left;

    box-sizing: border-box;
    /*margin-top: 12px;*/
    margin-bottom: 12px;

    border-right-color: transparent;
    border-left-color: transparent;
}

.brtc-admin-dialogs-buttonbar-close {
    float: right;

    width: 100px;
    height: 32px;

    cursor: pointer;

    color: #fff !important;
    border: 1px solid #656eea !important;
    background-color: #656eea !important;
}

.brtc-admin-dialogs-schedule {
    /*display: flex;*/
    /*margin-top: 3px;*/
    margin-bottom: 15px;
}

.brtc-admin-dialogs-label {
    width: 135px;
    font-size: 14px;
    line-height: 34px;
}

.brtc-admin-dialogs-scheduename-input {
    /*margin-right: 50px;*/
    background: inherit !important;
}

.brtc-va-dialogs-editresourcedialog-description-container,
.brtc-va-dialogs-editresourcedialog-description-container .note-btn-group.btn-group.note-color div,
.brtc-va-dialogs-editresourcedialog-description-container .note-btn-group.btn-group.note-color button {
    box-sizing: border-box !important;
    /*width: 100%;*/
}

.note-editor.note-frame.panel.panel-default {
    border-radius: 0;
    border: solid 1px #d4d4d4;
    margin-bottom: 0;
    border-bottom: none;
}

.note-editor div,
.note-editor span,
.note-editor applet,
.note-editor object,
.note-editor iframe,
.note-editor h1,
.note-editor h2,
.note-editor h3,
.note-editor h4,
.note-editor h5,
.note-editor h6,
.note-editor p,
.note-editor blockquote,
.note-editor pre,
.note-editor a,
.note-editor abbr,
.note-editor acronym,
.note-editor address,
.note-editor big,
.note-editor cite,
.note-editor code,
.note-editor del,
.note-editor dfn,
.note-editor em,
.note-editor img,
.note-editor ins,
.note-editor kbd,
.note-editor q,
.note-editor s,
.note-editor samp,
.note-editor small,
.note-editor strike,
.note-editor strong,
.note-editor sub,
.note-editor sup,
.note-editor tt,
.note-editor var,
.note-editor b,
.note-editor u,
.note-editor i,
.note-editor center,
.note-editor dl,
.note-editor dt,
.note-editor dd,
.note-editor ol,
.note-editor fieldset,
.note-editor form,
.note-editor label,
.note-editor legend,
.note-editor table,
.note-editor caption,
.note-editor tbody,
.note-editor tfoot,
.note-editor thead,
.note-editor tr,
.note-editor th,
.note-editor td,
.note-editor article,
.note-editor aside,
.note-editor canvas,
.note-editor details,
.note-editor embed,
.note-editor figure,
.note-editor figcaption,
.note-editor footer,
.note-editor header,
.note-editor hgroup,
.note-editor menu,
.note-editor nav,
.note-editor output,
.note-editor ruby,
.note-editor section,
.note-editor summary,
.note-editor time,
.note-editor mark,
.note-editor audio,
.note-editor video {
    margin: initial;
    padding: initial;
    border: initial;
    font-family: initial;
    vertical-align: initial;
    font-size: inherit;
}

.detail-notice-title-td,
.detail-notice-content-td
{
    max-width: 750px;
}

.detail-notice-content
{
    padding: 5px;
}

.detail-notice-content div,
.detail-notice-content span,
.detail-notice-content applet,
.detail-notice-content object,
.detail-notice-content iframe,
.detail-notice-content h1,
.detail-notice-content h2,
.detail-notice-content h3,
.detail-notice-content h4,
.detail-notice-content h5,
.detail-notice-content h6,
.detail-notice-content p,
.detail-notice-content blockquote,
.detail-notice-content pre,
.detail-notice-content a,
.detail-notice-content abbr,
.detail-notice-content acronym,
.detail-notice-content address,
.detail-notice-content big,
.detail-notice-content cite,
.detail-notice-content code,
.detail-notice-content del,
.detail-notice-content dfn,
.detail-notice-content em,
.detail-notice-content img,
.detail-notice-content ins,
.detail-notice-content kbd,
.detail-notice-content q,
.detail-notice-content s,
.detail-notice-content samp,
.detail-notice-content small,
.detail-notice-content strike,
.detail-notice-content strong,
.detail-notice-content sub,
.detail-notice-content sup,
.detail-notice-content tt,
.detail-notice-content var,
.detail-notice-content b,
.detail-notice-content u,
.detail-notice-content i,
.detail-notice-content center,
.detail-notice-content dl,
.detail-notice-content dt,
.detail-notice-content dd,
.detail-notice-content ol,
.detail-notice-content fieldset,
.detail-notice-content form,
.detail-notice-content label,
.detail-notice-content legend,
.detail-notice-content table,
.detail-notice-content caption,
.detail-notice-content tbody,
.detail-notice-content tfoot,
.detail-notice-content thead,
.detail-notice-content tr,
.detail-notice-content th,
.detail-notice-content td,
.detail-notice-content article,
.detail-notice-content aside,
.detail-notice-content canvas,
.detail-notice-content details,
.detail-notice-content embed,
.detail-notice-content figure,
.detail-notice-content figcaption,
.detail-notice-content footer,
.detail-notice-content header,
.detail-notice-content hgroup,
.detail-notice-content menu,
.detail-notice-content nav,
.detail-notice-content output,
.detail-notice-content ruby,
.detail-notice-content section,
.detail-notice-content summary,
.detail-notice-content time,
.detail-notice-content mark,
.detail-notice-content audio,
.detail-notice-content video {
    margin: initial;
    padding: initial;
    border: initial;
    font-family: initial;
    vertical-align: initial;
    font-size: inherit;
}

.detail-target-desc div,
.detail-target-desc span,
.detail-target-desc applet,
.detail-target-desc object,
.detail-target-desc iframe,
.detail-target-desc h1,
.detail-target-desc h2,
.detail-target-desc h3,
.detail-target-desc h4,
.detail-target-desc h5,
.detail-target-desc h6,
.detail-target-desc p,
.detail-target-desc blockquote,
.detail-target-desc pre,
.detail-target-desc a,
.detail-target-desc abbr,
.detail-target-desc acronym,
.detail-target-desc address,
.detail-target-desc big,
.detail-target-desc cite,
.detail-target-desc code,
.detail-target-desc del,
.detail-target-desc dfn,
.detail-target-desc em,
.detail-target-desc img,
.detail-target-desc ins,
.detail-target-desc kbd,
.detail-target-desc q,
.detail-target-desc s,
.detail-target-desc samp,
.detail-target-desc small,
.detail-target-desc strike,
.detail-target-desc strong,
.detail-target-desc sub,
.detail-target-desc sup,
.detail-target-desc tt,
.detail-target-desc var,
.detail-target-desc b,
.detail-target-desc u,
.detail-target-desc i,
.detail-target-desc center,
.detail-target-desc dl,
.detail-target-desc dt,
.detail-target-desc dd,
.detail-target-desc ol,
.detail-target-desc fieldset,
.detail-target-desc form,
.detail-target-desc label,
.detail-target-desc legend,
.detail-target-desc table,
.detail-target-desc caption,
.detail-target-desc tbody,
.detail-target-desc tfoot,
.detail-target-desc thead,
.detail-target-desc tr,
.detail-target-desc th,
.detail-target-desc td,
.detail-target-desc article,
.detail-target-desc aside,
.detail-target-desc canvas,
.detail-target-desc details,
.detail-target-desc embed,
.detail-target-desc figure,
.detail-target-desc figcaption,
.detail-target-desc footer,
.detail-target-desc header,
.detail-target-desc hgroup,
.detail-target-desc menu,
.detail-target-desc nav,
.detail-target-desc output,
.detail-target-desc ruby,
.detail-target-desc section,
.detail-target-desc summary,
.detail-target-desc time,
.detail-target-desc mark,
.detail-target-desc audio,
.detail-target-desc video {
    margin: initial;
    padding: initial;
    border: initial;
    font-family: initial;
    vertical-align: initial;
    font-size: inherit;
}

.tb_st03.linetrg .note-editor a {
    border: none;
}

.note-editor .panel-heading.note-toolbar .btn-group .note-table .note-dimension-picker div {
    font-size: 18px;
}

.note-editor ol {
    display: block;
    list-style-type: decimal;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.note-editor li {
    display: list-item;
    text-align: -webkit-match-parent;
    float: initial;
    list-style: unset;
}

.brtc-admin-add-notice-area .tb_st03.linetrg {
    /*border-bottom: none;*/
}

.brtc-va-widget-note-message {
    font-size: 12px;
    line-height: 24px;

    box-sizing: border-box;
    height: 24px;
    padding-right: 10px;

    text-align: right;

    border: 1px solid #d4d4d4;
    border-top: none;
    background-color: #f5f5f5;
    margin-bottom: 20px;
}

.brtc-admin-input.detail-notice-content {
    width: 98%;
    overflow-y: auto;
}

.note-statusbar {
    display: none;
}

.brtc-admin-publish-search-publishing-title,
.brtc-admin-filter-input.deploy,
.brtc-admin-publish-search-publishing-title {
    width: 98%;
}

.brtc-search-button-box.role {
    margin-top: 0;
}

.brtc-va-widget-note-message.error {
    color: #ff1513;
}

.jqx-button {
    cursor: pointer !important;
}

.jqx-fill-state-disabled {
    opacity: .55 !important;
    cursor: default !important;
}

.brtc-admin-publish-icon-info {
    float: left;

    width: 18px;
    height: 18px;
    margin-top: 10px;
    margin-left: 7px;

    opacity: .8;
    background: url('images/tool-help.png') no-repeat !important;
}

.display-none {
    display: none !important;
}

.brtc-admin-publish-list [role=gridcell] {
    cursor: default !important;
}

.brtc-admin-auth-add-user-dialog .brtc-admin-auth-search-user {
    width: calc(100% - 90px) !important;
}

.brtc-admin-auth-add-user-dialog .brtc-admin-auth-search-user-list,
.brtc-admin-auth-add-user-dialog .brtc-admin-auth-search-user-authorized-list {
    padding-left: 0px;
}

.brtc-admin-auth-add-user-dialog .btn_box {
    margin-top: 25px;
}

.brtc-admin-auth-add-user-dialog .pop_view.design_checkbox.brtc-admin-auth-add-user {
    overflow: hidden;
}

.brtc-admin-auth-add-user-dialog .brtc-admin-auth-search-user-list li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 7px;
    width: calc(100% - 7px);
}

.brtc-admin-auth-add-user-dialog .brtc-admin-auth-search-user-list li.empty {
    cursor: default !important;    
}

.brtc-admin-auth-add-user-dialog .brtc-admin-auth-search-user-authorized-list li {
    width: calc(100% - 26px);
    padding-right: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.brtc-admin-auth-add-user-dialog .brtc-admin-auth-search-user-authorized-list li a {
    cursor: pointer;
}

.brtc-admin-detail-schedule .brtc-selected-db-content .brtc-icon.brtc-admin-upload.file {
    /*margin-top: 5px;*/
}

.brtc-admin-detail-schedule .brtc-selected-db-content .brtc-icon.brtc-admin-upload.name {
    position: relative;
    bottom: 2px;
}

.brtc-admin-agent-detail .sum_list.user-list ul {
    padding-left: 0px;
}

.brtc-admin-agent-detail .sum_row .brtc-admin-button.button.add,
.brtc-admin-agent-detail .sum_row .brtc-admin-button.button.delete {
    box-sizing: border-box !important;
    line-height: 20px !important;
}

.brtc-admin-input.detail-target-desc {
    padding-top: 10px;
}

.brtc-admin-dialogs-schedule-history-body .brtc-float-left.status,
.brtc-admin-body-grid-schedule .brtc-float-left.status {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
}

.brtc-admin-dialogs-schedule-history-body .brtc-admin-button.status,
.brtc-admin-body-grid-schedule .brtc-admin-button.status {
    margin: 0;
}

.brtc-admin-dialogs-schedule-history-body .brtc-admin-button.status-history,
.brtc-admin-body-grid-schedule .brtc-admin-button.status {
    margin: 0;
}

.brtc-admin-button.history {
    margin-right: 10px;
}

.brtc-admin-dialogs-buttonbar-close {
    font-weight: bold;
}

.brtc-admin-auth-search-user-authorized-list li,
.brtc-admin-auth-search-user-list li,
.brtc-admin-auth-search-user-list li div,
.brtc-admin-auth-add-user-dialog li,
.brtc-admin-auth-add-user-dialog li div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.brtc-admin-auth-search-user-authorized-list li div,
.brtc-admin-auth-search-user-list li div {
    width: 97%;
    padding-left: 7px;
}

.brtc-admin-auth-search-user-authorized-list li a,
.brtc-admin-auth-search-user-list li a {
    cursor: pointer;
}

.brtc-admin-input.add-notice-title,
.brtc-admin-input.schedule-name{
    height: 25px;
    margin-top: 5px !important;
}

.brtc-admin-input.cron-expression {
    height: 25px;
}

.brtc-admin-auth-add-role-cancel {
    color: #656eea;
    border: 1px solid #656eea !important;
}

.brtc-admin-auth-add-role-cancel:hover {
    color: #656eea !important;
}

.jqx-notification-office
{
    background: rgba(0, 0, 0, .95) !important;
}

.brtc-icon.brtc-admin-upload.file-name {
    width: 680px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui-dialog-titlebar
{
    font-family: Arial, helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;

    width: calc(100% - 75px) !important;
    margin-left: 30px !important;
    padding-top: 20px !important;
    padding-left: 0 !important;

    background-color: #fff;
}

.ui-dialog .ui-dialog-titlebar
{
    height: 40px;

    border-top-style: none !important;
    border-right-style: none !important;
    border-bottom: 1px solid #d9d9d9;
    border-left-style: none !important;
    border-bottom-right-radius: unset !important;
    border-bottom-left-radius: unset !important;
}

.ui-dialog .ui-dialog-titlebar-close
{
    top: 25px;
    right: 0;

    width: 18px !important;
    height: 18px !important;
    margin: 0 !important;

    border: none;
    outline: none !important;
    background-size: cover;
    background-image: url(./images/tool-close-18.png);
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

.ui-widget-header
{
    background: none !important;
}

.brtc-va-dialogs-main
{
    overflow-x: hidden;
    width: calc(100% - 60px) !important;
    margin-left: 18px;
    /*padding: 20px 0 30px 0;*/
}

.ui-dialog .ui-dialog-title
{
    font-family: Arial, helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.ui-state-default .ui-icon
{
    background-image: none;
}

.brtc-va-dialogs-body
{
    font-family: Arial, helvetica, sans-serif;
    height: calc(100% - 30px);
    padding-top: 5px;
    padding-bottom: 10px;
}

.jqx-window-header-office strong,
.jqx-window-header-office div
{
    font-family: Arial, helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.brtc-admin-add-datasource-area .tb_st03.linetrg tr:nth-child(7) th {
    padding: 10px 0 10px 5px;
    font-weight: normal;
    font-size: 13px;
}

.brtc-admin-modify-datasource-area .tb_st03.linetrg tr:nth-child(7) th {
    padding: 10px 0 10px 5px;
    font-weight: normal;
    font-size: 13px;
}

.brtc-admin-detail-datasource-area .tb_st03.linetrg tr:nth-child(7) th {
    padding: 10px 0 10px 5px;
    font-weight: normal;
    font-size: 13px;
}

.brtc-admin-add-datasource-area .tb_st03.linetrg tr:last-child td {
    padding: 0px 0 0px 0;
}

.brtc-admin-modify-datasource-area .tb_st03.linetrg tr:last-child td {
    padding: 0px 0 0px 0;
}

.brtc-admin-detail-datasource-area .tb_st03.linetrg tr:last-child td {
    padding: 0px 0 0px 0;
}

.brtc-admin-auth-add-role-user-area,
.brtc-admin-auth-add-role-permission-area {
    width: 50%;
    padding: 0 0 0 10px !important;
}

.brtc-admin-user-list-container,
.brtc-admin-permission-list-container {
    width: 100%;
}

.brtc-admin-auth-add-user-dialog .b_cont_0102 strong {
    width: calc(100% - 4px);
}

.brtc-admin-agent-detail .tb_st03.linetru .b_cont_0102 .sum_list li label {
     width: calc(100% - 10px) !important;
}

.brtc-admin-agent-detail .tb_st03.linetru .b_cont_0102 .sum_list li label span {
    width: 850px;
    white-space: pre;
    text-overflow: ellipsis;
}


.brtc-admin-style-pre {
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: transparent;
    word-wrap: normal;
}