.brtc-etl-gen {
    margin: 20px 0 20px 20px;
    width: calc(100% - 20px);
    height: calc(100% - 40px);
    position: relative;
}

.brtc-etl-gen > div {
    display: flex;
    width: calc(100% - 20px);
    margin-bottom: 10px;
    min-height: 30px;
}

.brtc-etl-gen > div > div:first-child {
    width: 80px;
    line-height: 30px;
}
.brtc-etl-gen .brtc-etl-gen-datasource-visiable,
.brtc-etl-gen .brtc-etl-gen-datasource-invisiable{
    margin-top: 5px;
}
.brtc-etl-gen .brtc-flex-grow-one {
    flex-grow: 1;
}
.brtc-etl-gen .brtc-flex-grow-two {
    flex-grow: 2;
}
.brtc-etl-gen .brtc-etl-gen-query {

 }

.brtc-etl-add-param {
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    border: solid 1px #d4d4d4;
    margin-bottom: 10px;
}

.brtc-etl-add-param:hover {
    background-color: #d3d3d3;
}

.brtc-etl-param-container {
    margin-bottom: 80px;
}

.brtc-etl-param {
    padding: 10px 10px 10px 30px;
    position: relative;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: solid 1px #d4d4d4;
}

.brtc-etl-param > div {
    display: flex;
    margin-bottom: 10px;
    min-height: 30px;
}

.brtc-etl-param > div > div:first-child {
    width: 80px;
    line-height: 30px;
}

.brtc-etl-chevron {
    position: absolute;
    left: 0px;
    width: 24px;
    height: 24px;
    min-height: 24px !important;
    cursor: pointer;
    top: 14px;
    left: 2px;
}

.brtc-etl-chevron:hover {
    background-color: #d3d3d3;
}

.brtc-etl-chevron > i {
    line-height: 24px;
    margin-left: 6px;
    display: none;
}

.brtc-etl-param > div:nth-child(3) > span,
.brtc-etl-param-to-id > span
{
    line-height: 32px;
    font-size: 14px;
    font-weight: bold;
    color: green;
}

.brtc-etl-param-id-input,
.brtc-etl-param-to-id-input
{
    margin-left: 4px !important;
    margin-right: 4px !important;
}

.brtc-etl-param > .brtc-etl-param-invisible {
    display: none;
}

.brtc-etl-param[expanded="true"] > .brtc-etl-chevron > .fa-chevron-down {
    display: block;
}

.brtc-etl-param[expanded="false"] > .brtc-etl-chevron > .fa-chevron-right {
    display: block;
}

.brtc-etl-param[expanded="false"] > div {
    display: none;
    margin-bottom: 0;
}

.brtc-etl-param[expanded="false"] > div:nth-child(1) {
    display: block;
}

.brtc-etl-param[expanded="false"] > div:nth-child(2) {
    display: block;
}

.brtc-etl-param[expanded="false"] > div:nth-child(3) {
    display: flex;
}

.brtc-etl-remove {
    position: absolute;
    width: 24px;
    height: 24px;
    min-height: 24px !important;
    cursor: pointer;
    top: 12px;
    right: 2px;
}

.brtc-etl-remove:hover {
    background-color: #d3d3d3;
}

.brtc-etl-remove > i {
    line-height: 24px;
    margin-left: 6px;
}

.brtc-etl-param-query-example {
    margin-top: 5px;
    width: 100%;
    white-space: pre-wrap;
}

.brtc-etl-param-item-container-wrapper,
.brtc-etl-param-item-selector-item-container-wrapper,
.brtc-etl-param-duration-row-container-wrapper
{
    display: flex;
    margin-bottom: 10px;
    min-height: 30px;
}

.brtc-etl-gen-button,
.brtc-etl-param-item-add-button,
.brtc-etl-param-item-selector-item-add-button,
.brtc-etl-param-item-remove-button,
.brtc-etl-param-item-selector-item-remove-button,
.brtc-etl-btn
{
    float: left;

    width: 14px;
    height: 14px;
    margin-top: 7px;
    margin-left: 5px;

    cursor: pointer;
}


.brtc-etl-gen-button,
.brtc-etl-param-item-add-button,
.brtc-etl-param-item-selector-item-add-button,
.brtc-etl-add-btn
{
    background: url('images/icon-add.png') center no-repeat;
}

.brtc-etl-param-item-remove-button,
.brtc-etl-param-item-selector-item-remove-button,
.brtc-etl-remove-btn
{
    background: url('images/icon-remove.png') center no-repeat;
}