<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" charset="UTF-8">
    <title>Brightics Visual Analytics</title>

    <script src="js/plugins/babel-polyfill/polyfill.js"></script>
    <script src="js/plugins/css.escape/css.escape.js"></script>

    <style>
        * {
            margin: 0;
            padding: 0
        }

        html, code {
            font: 15px/22px arial, sans-serif
        }

        html {
            background: #fff;
            color: #222;
            padding: 15px
        }

        body {
            margin: 7% auto 0;
            max-width: 390px;
            min-height: 180px;
            padding: 30px 0 15px
        }

        * > body {
            padding-right: 205px
        }

        p {
            margin: 11px 0 22px;
            overflow: hidden
        }

        ins {
            color: #777;
            text-decoration: none
        }

        a img {
            border: 0
        }

        @media screen and (max-width: 772px) {
            body {
                background: none;
                margin-top: 0;
                max-width: none;
                padding-right: 0
            }
        }

        #logo {
            margin-left: -5px;
            display: inline-block;
            height: 157px;
            width: 100%;
            background: url(/css/va/images/login_logo.png) no-repeat;
            background-position-x: center;
        }
    </style>
</head>
<body><a href=""><span id="logo"></span></a>
<p>
    <ins>There is an error.</ins>
</p>
<p><%= message %></p>
</body>
</html>