<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="base"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/brightics-lightweight.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/brightics-lightweight.log.%d{yyyy-MM-dd}
			</fileNamePattern>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5p [%X{jid}] %X{indent}%replace(%m){'\n', '\\n'} - MDC:[%mdc] CLASS:[%class{0}]%n%ex</pattern>
		</encoder>
	</appender>
	<root level="INFO">
		<appender-ref ref="base" />
	</root>
</configuration>

