arch==4.7.0
asn1crypto==0.24.0
boto==2.49.0
boto3==1.9.67
botocore==1.12.67
cached-property==1.5.1
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
cryptography==2.4.2
cx-Oracle==7.0.0
cycler==0.10.0
Cython==0.29.2
decorator==4.3.0
docker==3.7.0
docker-compose==1.23.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
dtaidistance==1.2.3
gensim==3.7.3
graphviz==0.9
idna==2.7
imbalanced-learn==0.5.0
imblearn==0.0
implicit==0.4.0
Jinja2==2.10.1
jmespath==0.9.3
joblib==0.13.2
JPype1==0.6.3
jsonschema==2.6.0
kiwisolver==1.0.1
lightgbm==2.2.2
MarkupSafe==1.1.1
matplotlib==3.0.2
networkx==2.2
nltk==3.4.3
numexpr==2.6.2
numpy==1.18.1
opencv-python-headless==4.0.0.21
pandas==0.23.4
pandas-profiling==1.4.1
pandasql==0.7.3
passlib==1.7.1
patsy==0.5.1
pg8000==1.13.1
pmdarima==1.1.0
protobuf==3.7.0
protobuf3-to-dict==0.1.5
psycopg2-binary==2.7.5
py4j==0.10.8.1
pyarrow==0.11.1
pycparser==2.19
pydotplus==2.0.2
pymssql==2.1.4
PyMySQL==0.9.3
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
PyYAML==3.13
redis==2.10.6
requests==2.20.1
s3transfer==0.1.13
sagemaker==1.18.5
scikit-learn==0.21.3
scipy==1.2.0
seaborn==0.9.0
six==1.12.0
sklearn==0.0
smart-open==1.8.3
soupsieve==1.9.1
SQLAlchemy==1.2.15
statsmodels==0.9.0
texttable==0.9.1
tqdm==4.28.1
twkorean==0.1.5
urllib3==1.24.2
websocket-client==0.55.0
xgboost==0.80
xlrd==1.2.0
