arch
asn1crypto
boto3
botocore
cached-property
cffi
cryptography
cx-Oracle
cycler
Cython
docutils
graphviz
idna
jmespath
kiwisolver
lightgbm
matplotlib
numpy
pandas
pandasql
patsy
pg8000
py4j
pyarrow
pycparser
pydotplus
PyMySQL
pyparsing
python-dateutil
pytz
redis
s3transfer
scikit-learn
scipy
seaborn
six
sklearn
SQLAlchemy
tqdm
urllib3
xgboost
statsmodels
pandas-profiling
numexpr==2.6.4
