node_modules/*
archive/*
public/css/va/brightics-va.css
public/css/va/brightics-va.min.css
public/js/va/brightics-va-core.js
public/js/va/brightics-va-core.min.js
public/js/va/brightics-va-commons.js
public/js/va/brightics-va-commons.min.js
public/js/va/brightics-va-dataflow.js
public/js/va/brightics-va-dataflow.min.js
public/js/va/brightics-va-functions.js
public/js/va/brightics-va-functions.min.js
public/js/va/brightics-va-controlflow.js
public/js/va/brightics-va-controlflow.min.js
public/js/va/brightics-va-realtime.js
public/js/va/brightics-va-realtime.min.js
public/js/va/brightics-va-etlflow.js
public/js/va/brightics-va-etlflow.min.js
public/js/va/brightics-va-visual.js
public/js/va/brightics-va-visual.min.js
public/js/va/brightics-va-script.js
public/js/va/brightics-va-script.min.js
public/js/va/brightics-va-udf.js
public/js/va/brightics-va-windowchart.js
public/js/va/brightics-va-windowchart.min.js
public/js/va/brightics-va-addonfunctions.js
public/js/va/brightics-va-addonfunctions.min.js
public/js/va/brightics-va-publish.js
public/js/va/brightics-va-publish.min.js
public/js/va/brightics-va-ajax.min.js
public/js/va/brightics-va-main.min.js
public/js/va/addon/*
public/js/va/user-defined-functions/*
public/js/tools/*.js
public/css/tools/*.css
log/*
logs/
files/*
blacklist.json
.sublime-gulp.cache
public/js/admin/brightics-admin.js
public/js/admin/brightics-admin.min.js
public/css/admin/brightics-admin.css
public/css/admin/brightics-admin.min.css
conf_dev*.json
.project
.tern-project
.settings
public/js/va/brightics-va-deeplearning.js
public/js/va/brightics-va-deeplearning.min.js
public/js/va/brightics-va-publish-bundle.js
public/js/va/babel-transform/*
public/css/va/postcss-transform/*
public/css/va/brightics-va-publish-bundle.css
node/
build/tmp
build/dest
.eslintrc.js
.vscode
test/*
build
.env
public/js/va/babel-transform/
public/js/va/brightics-va-publish-bundle.js
public/css/va/postcss-transform/
public/css/va/brightics-va-publish-bundle.css
node
test.db
brightics.db
gulpfile_dev*.js
dest
package-lock.json
public/css/va/brightics-va.css
public/js/va/*.js