<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- console appender -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy:MM:dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{35} : %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="base" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>/home/brightics/brightics/packages/brightics-agent/logs/${log.name}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	          <fileNamePattern>/home/brightics/brightics/packages/brightics-agent/logs/${log.name}.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.samsung.sds.brightics.common.core.log.LoggingLayout" />
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="base" />
    </root>
</configuration>
