
.brtc-va-data-worksheet-panel-tool {
    float: right;
    width: 18px;
    height: 18px;
    cursor: pointer;
    border: solid 1px transparent;
}

.brtc-va-data-worksheet-panel-tool-close {
    background-image: url('images/tool-close.png');
}

.brtc-va-data-worksheet-panel-tool-duplicate {
    background-image: url('images/tool-duplicate.png');
}

.brtc-va-data-worksheet-panel-tool-add-report {
    text-align: center;
}

.brtc-va-data-worksheet-panel-tool-add-report i {
    line-height: 22px;
}

.brtc-va-data-worksheet-panel-tool-separator {
    width: 1px;
    height: 16px;
    margin-right: 1px;
    border-right: solid 1px #d4d4d4;
}

.brtc-va-data-worksheet-panel-tool-selected {
    border-color: #429366;
    background-color: #86bfa0;
}

.brtc-va-data-worksheet-panel-droppable-location {
    position: absolute;
    opacity: .5;
    border: solid 1px transparent;
}

.brtc-va-data-worksheet-panel-droppable-anchor-over {
    position: absolute;
    display: none;
    width: 30px;
    height: 30px;
    text-align: center;
    border: solid 1px #86bfa0;
    background-color: #d3f0e0;
}

.brtc-va-data-worksheet-panel-droppable-anchor-over-top {
    top: 10%;
    left: 50%;
}

.brtc-va-data-worksheet-panel-droppable-anchor-over-left {
    top: 50%;
    left: 10%;
}

.brtc-va-data-worksheet-panel-droppable-anchor-over-right {
    top: 50%;
    right: 10%;
}

.brtc-va-data-worksheet-panel-droppable-anchor-over-bottom {
    bottom: 10%;
    left: 50%;
}

.brtc-va-data-worksheet-fill-state-hover {
    border-color: #86bfa0;
    background-color: #d3f0e0;
}

.brtc-va-data-worksheet-overlay-area {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: solid 1px transparent;
    border-color: #3f3f3f;
    background-color: rgba(74, 74, 74, .5);
}

.brtc-va-data-worksheet-overlay-contents-area {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    border: solid 1px transparent;
}

.brtc-va-data-worksheet-overlay-chart-area {
    width: 100%;
    height: calc(100% - 30px);
}

.brtc-va-data-worksheet-overlay-button-area {
    width: 100%;
    height: 30px;
    background-color: white;
}

.brtc-va-data-worksheet-overlay-button {
    margin-right: 15px;
}

.brtc-va-editors-sheet-controls-dataworksheet {
    background-color: #fff;
}

.brtc-va-editors-sheet-controls-dataworksheet-worksheetlayoutmanager {
    position: relative;
    width: 100%;
    height: 100%;
}

.brtc-va-editors-sheet-panels-basepanel-contents-recommend-area {
    width: 100%;
    height: 100%;
}

.brtc-va-editors-sheet-panels-basepanel-contents-recommend-chart-list,
.brtc-va-editors-sheet-panels-basepanel-contents-available-chart-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon-box {
    position: relative;
    display: flex;
    width: 172px;
    height: 172px;
    margin: 8px 13px 8px 0;
    border: solid 1px #dedfe3;
    background-color: #fff;
    align-items: center;
    justify-content: center;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon-box:hover {
    cursor: pointer;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon {
    display: inline-block;
    width: 74px;
    height: 74px;
    background: url('images/bcharts.png') no-repeat;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon-box-selected {
    color: #fff;
    border-color: #fff;
    background-color: #6f7cec;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-text {
    position: absolute;
    bottom: 5px;
    left: 0;
    display: flex;
    width: 100%;
    height: 20px;
    align-items: center;
    justify-content: center;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=column] {
    background-position: -60px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=bar] {
    background-position: -134px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=line] {
    background-position: -208px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=boxplot] {
    background-position: -282px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=scatter] {
    background-position: -356px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=pie] {
    background-position: -430px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=table] {
    background-position: -504px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=treemap] {
    background-position: -578px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=network] {
    background-position: -652px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=decisionTree],
.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=decisionTreeForBrightics] {
    background-position: -726px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=dendrogram] {
    background-position: -800px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=heatmap] {
    background-position: -874px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=tmp-mcc] {
    background-position: -948px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=roccurve] {
    background-position: -1022px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=tmp-scatter-map] {
    background-position: -1096px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=biplot] {
    background-position: -1170px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=tmp-tornado] {
    background-position: -1244px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=bar-stacked] {
    background-position: -1318px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=bar-stacked-100] {
    background-position: -1392px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=column-stacked] {
    background-position: -1466px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=column-stacked-100] {
    background-position: -1540px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=area] {
    background-position: -1614px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=area-stacked] {
    background-position: -1688px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=area-stacked-100] {
    background-position: -1762px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=radar] {
    background-position: -1836px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=tmp-wordcloud] {
    background-position: -1910px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=complex] {
    background-position: -1984px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=histogram] {
    background-position: -2058px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=bubble] {
    background-position: -2132px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=heatmap-matrix] {
    background-position: -2206px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=qqplot] {
    background-position: -2280px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=pairwise-scatter] {
    background-position: -2354px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=card] {
    background-position: -2426px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=map] {
    background-position: -1096px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=donut] {
    background-position: -2502px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon[type=image-grid] {
    background-position: -2576px -90px;
}

.brtc-va-editors-sheet-panels-basepanel-contents-chart-icon-box-selected > .brtc-va-editors-sheet-panels-basepanel-contents-chart-icon {
    background-position-y: -164px !important;
}

.brtc-va-editors-sheet-controls-dataworksheet .bchart-control-area .bchart-column-control-container-wrap {
    width: calc(100% - 4px);
    height: 100%;
    border: none;
    border-left: 1px solid #d9d9d9;
    box-shadow: 2px 4px 6px #eee, -2px 0 6px #eee;
}

.brtc-va-editors-sheet-controls-dataworksheet .bchart-control-area .bchart-single-column-control {
    width: 160px !important;
    height: 27px !important;
    padding: 0;
}

.brtc-va-editors-sheet-controls-dataworksheet .bchart-control-area .bchart-column-control-container-panel-header {
    /*margin-top: 17px;*/
    position: relative;
}

.brtc-va-editors-sheet-controls-dataworksheet .bchart-control-area .bchart-column-control-container-panel {
    box-sizing: border-box;
    /*padding-bottom: 15px;*/
    padding: 20px;
}

.brtc-va-editors-sheet-controls-dataworksheet.brtc-style-interactive-prediction-out-panel {
    overflow: auto;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: solid 1px #dddee0;
    border-top: solid 4px #adb5c8;
    background-color: #fff;
}

.brtc-va-editors-sheet-controls-dataworksheet.brtc-style-interactive-prediction-out-panel::-webkit-scrollbar-track {
    background-color: transparent;
}

.brtc-va-editors-sheet-controls-dataworksheet.brtc-style-interactive-prediction-out-panel::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
}

.brtc-va-editors-sheet-controls-dataworksheet.brtc-style-interactive-prediction-out-panel::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #ccc;
}

.brtc-va-editors-sheet-controls-dataworksheet.brtc-style-interactive-prediction-out-panel .brtc-style-editors-sheet-controls-dataworksheet-slider-area {
    z-index: 1;
    overflow: auto;
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    padding-top: 20px;
}

.brtc-va-editors-sheet-controls-dataworksheet.brtc-style-interactive-prediction-out-panel .brtc-style-editors-sheet-controls-dataworksheet-chart-area {
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    border-top: 1px solid #d9d9d9;
}

.brtc-style-editors-sheet-controls-dataworksheet-chart-area .brtc-style-editors-sheet-controls-dataworksheet-chart {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.brtc-style-editors-sheet-controls-dataworksheet-chart-area .brtc-style-editors-sheet-controls-dataworksheet-chart-title {
    font-size: 17px;
    font-weight: bold;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    margin-top: 15px;
    margin-left: 30px;
}

.brtc-va-editors-sheet-controls-dataworksheet .bcharts-adonis-left {
    display: none;
}

.brtc-va-editors-sheet-fnunitviewer .bcharts-adonis-right {
    display: none;
}

.brtc-style-interactive-prediction-out-panel .brtc-style-slider-item {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 40px;
    flex-wrap: wrap;
    align-items: center;
}

.brtc-style-interactive-prediction-out-panel .brtc-style-slider-item-info-row {
    display: flex;
    width: 100%;
    align-items: center;
}

.brtc-style-interactive-prediction-out-panel .brtc-style-slider-item .brtc-style-slider-label {
    font-size: 17px;
    overflow: hidden;
    max-width: 50%;
    margin-right: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.brtc-style-interactive-prediction-out-panel .brtc-style-slider-item .brtc-style-slider-value-wrapper {
    height: 26px;
}

.brtc-style-interactive-prediction-out-panel .brtc-style-slider-item .brtc-style-interactive-prediction-slider-element {
    display: flex;
    width: 100%;
    align-items: center;
}

.brtc-style-interactive-prediction-out-panel .brtc-style-slider-item .brtc-style-interactive-prediction-slider-wrapper {
    width: calc(100% - 76px);
    margin: 0 10px;
}

.brtc-style-interactive-prediction-out-panel .brtc-style-slider-item .brtc-style-slider-value-viewer {
    padding: 3px 7px;
    color: rgba(0, 0, 0, 1);
    border: 1px solid #7c89f7;
    border-radius: 15px;
    background-color: #e6e9ff;
}

.brtc-style-interactive-prediction-out-panel .brtc-style-slider-item .brtc-style-slider-min,
.brtc-style-interactive-prediction-out-panel .brtc-style-slider-item .brtc-style-slider-max {
    display: flex;
    width: 28px;
    padding: 4px;
    border: 1px solid #d4d4d4;
    align-items: center;
    justify-content: center;
}

.brtc-style-interactive-prediction-out-panel .brtc-style-slider-item .brtc-va-interactive-prediction-slider.jqx-fill-state-disabled .jqx-slider-track {
    background-color: #eaeaea !important;
}

.brtc-style-interactive-prediction-out-panel .brtc-style-slider-item .brtc-va-interactive-prediction-slider.jqx-fill-state-disabled .jqx-slider-slider {
    cursor: not-allowed !important;
    border-color: #fd026c !important;
    background-color: #fff !important;
}

.brtc-style-interactive-prediction-out-panel .brtc-style-slider-item .brtc-va-interactive-prediction-slider.jqx-fill-state-disabled .jqx-slider-rangebar {
    opacity: 1.0 !important;
    background: #fd026c !important;
}

.brtc-style-interactive-prediction-out-panel .brtc-style-slider-item .brtc-va-interactive-prediction-slider .jqx-slider-track {
    pointer-events: none;
    background-color: #eaeaea !important;
}

.brtc-style-interactive-prediction-out-panel .brtc-style-slider-item .brtc-va-interactive-prediction-slider .jqx-slider-slider {
    pointer-events: auto;
    border-color: #7c89f7 !important;
    background-color: #fff !important;
}

.brtc-style-interactive-prediction-out-panel .brtc-style-slider-item .brtc-va-interactive-prediction-slider .jqx-slider-rangebar {
    opacity: 1.0 !important;
    background: #7c89f7 !important;
}

.brtc-style-interactive-prediction-out-panel .brtc-style-interactive-prediction-message-wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
}

.brtc-style-interactive-prediction-out-panel .brtc-style-interactive-prediction-message {
    align-self: center;
}

.brtc-va-dialog {
    position: absolute;
    z-index: 300;
    box-sizing: border-box;
    width: 300px;
    height: 580px;
    border: 1px solid #d3d3d3;
    background-color: #fff;
}

.brtc-va-dialog-header {
    display: flex;
    box-sizing: border-box;
    height: 40px;
    border-bottom: 1px solid #d3d3d3;
}

.brtc-va-dialog-header .brtc-va-dialog-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.brtc-va-dialog-header .brtc-va-dialog-button[action='close'] {
    width: 10px;
    height: 10px;
    margin: 10px 8px 4px 4px;
    padding: 6px;
}

.brtc-va-dialog-header .brtc-va-dialog-button[action='close']::before {
    position: absolute;
    width: 10px;
    height: 10px;
    content: '';
    background-image: url('images/tool-close-10.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.brtc-va-dialog-title {
    font-weight: bold;
    line-height: 45px;
    padding-left: 8px;
    flex-grow: 1;
}

.brtc-va-dialog.ui-draggable .brtc-va-dialog-title {
    cursor: move;
}

.brtc-va-dialog-header .brtc-va-dialog-button:hover {
    /*background-color: #eeeeef;*/
}

.brtc-va-dialog-contents {
    height: calc(100% - 40px);
}

.brtc-va-image-content,
.brtc-va-editors-sheet-panels-imagepanel,
.brtc-va-editors-sheet-panels-imagepanel img {
    width: 100%;
    height: 100%;
}

.brtc-va-editors-sheet-panels-modelpanel {
    position: relative;
    overflow: auto;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: 20px;
}

.brtc-va-editors-sheet-panels-modelpanel-model img {
    max-width: 100%;
}

.brtc-va-editors-sheet-panels-modelpanel pre {
    background-color: none !important;
    border: none !important;
    width: auto !important;
    height: auto !important;
}

.brtc-va-editors-sheet-panels-modelpanel .brightics-chart {
    width: 500px !important;
    height: 500px !important;
    /* background-color: yellow; */
}
