.brtc-va-editors-sheet-controls-propertycontrol-deck.method {
    padding: 10px;
}

.margin-space.method {
    margin-bottom: 15px;
}

.brtc-va-dialogs-repository-browser-tree.deeplearning {
    height: calc(100% - 50px);
}
