/*
.brtc-va-editors-scripteditor .brtc-style-editor-scripteditorpage
{
    position: absolute;
    left: 360px;
}
*/

.brtc-style-editor-scripteditorpage {
    position: absolute;
    display: flex;
    box-sizing: border-box;
    /*padding: 10px 35px;*/

    background-color: #e4e8ee;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.brtc-va-studio-body-area[left-sidebar-expanded='true'] .brtc-style-editor-scripteditorpage {
    width: calc(100% - 331px) !important;
    margin-left: 331px;
}

.brtc-va-studio-body-area[right-sidebar-expanded='true'] .brtc-style-editor-scripteditorpage {
    width: calc(100% - 332px) !important;
}

.brtc-va-studio-body-area[left-sidebar-expanded='true'][right-sidebar-expanded='true'] .brtc-style-editor-scripteditorpage {
    width: calc(100% - 663px) !important;
}

.brtc-style-label-edit-mode {
    cursor: url(images/icon/icon-edit@2x.png), auto;
    text-decoration: underline;
}

.brtc-style-editor-scripteditorpage-toolitem {
    width: 100%;
    height: 12px;
    margin-right: 20px;
    justify-content: flex-end;
    align-items: center;
}

.brtc-style-expander-arrow {
    width: 18px;
    height: 9px;
    margin: 0 5px;
    background-image: url(images/icon/icon-arrow-down-18.png);
}

.brtc-style-expander-arrow.arrow-up {
    transform: rotate(180deg);
}
