.brtc-va-editors-modeleditor-diagram {
    background-color: #e5e9ef;
}

.brtc-va-editors-diagram-diagrameditorpage {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    background-color: #e5e9ef;
}

.brtc-va-editors-diagram-diagrameditorpage-paper {
    position: relative;
    /*display: -webkit-inline-box;*/

    display: inline-block;
    background-color: #e5e9ef;
}

.brtc-va-editors-diagram-diagrameditorpage-paper.joint-theme-default .highlighted {
    outline-color: #626fdb;
}

.brtc-va-editors-diagram-diagrameditorpage-function-selected {
    position: absolute;
    width: 193px;
    height: 63px;
    pointer-events: none;
    border: 3px solid transparent;
}

.brtc-va-editors-diagram-diagrameditorpage-function-multiselected {
    position: absolute;
    display: none;
    box-sizing: content-box;
    margin-top: -1px;
    margin-left: -5px;
    padding-right: 7px;
    pointer-events: none;
    border: 1px dashed #626fdb;
}

.brtc-va-editors-diagram-diagrameditorpage-function-multiselected-toolbar {
    position: absolute;
    right: -1px;
    bottom: -32px;
    display: flex;

    /* min-width: 120px; */

    border: 1px solid #626fdb;
    background: #fafbfc;
    z-index: 1;
}

.brtc-va-editors-diagram-diagrameditorpage-function-multiselected-toolbar[toolbar-item='4'] {
    min-width: 120px;
}


.brtc-va-editors-diagram-diagrameditorpage-function-toolbar[has-model=true] > .brtc-va-editors-diagram-diagrameditorpage-function-tools-switch {
    top: -20px;
    right: -14px;
    background-position: 0 -27px;
}

.brtc-va-editors-diagram-diagrameditorpage-function-toolbar[has-model=true] > .brtc-va-editors-diagram-diagrameditorpage-function-tools-connect {
    top: calc(50% - 13px);
    right: -14px;
    background-position: 0 0;
}

.brtc-va-editors-diagram-diagrameditorpage-function-toolbar[has-model=true] > .brtc-va-editors-diagram-diagrameditorpage-function-tools-clone {
    top: calc(50% - 30px);
    right: -46px;
    background-position: -27px -27px;
}

.brtc-va-editors-diagram-diagrameditorpage-function-toolbar[has-model=true] > .brtc-va-editors-diagram-diagrameditorpage-function-tools-switch {
    top: -20px;
    right: -14px;
    background-position: 0 -27px;
}

.brtc-va-editors-diagram-diagrameditorpage-function-toolbar[has-model=true] > .brtc-va-editors-diagram-diagrameditorpage-function-tools-remove {
    right: -14px;
    bottom: -20px;
    background-position: -54px -27px;
}

.brtc-va-editors-diagram-diagrameditorpage-function-toolbar[has-model=true] > .brtc-va-editors-diagram-diagrameditorpage-function-tools-enter {
    top: calc(50% + 3px);
    right: -46px;
    display: block;
    background-position: -135px -27px;
}

.brtc-va-editors-diagram-diagrameditorpage-function-toolbar-prop-dialog
.brtc-va-editors-diagram-diagrameditorpage-function-tools-switch {
    top: -20px;
    right: -14px;
    background-position: 0 -27px;
}
.brtc-va-editors-diagram-diagrameditorpage-function-toolbar-prop-dialog
.brtc-va-editors-diagram-diagrameditorpage-function-tools-connect {
    top: calc(50% - 13px);
    right: -14px;
    background-position: 0 0;
}

.brtc-va-editors-diagram-diagrameditorpage-function-toolbar-prop-dialog
.brtc-va-editors-diagram-diagrameditorpage-function-tools-clone {
    top: calc(50% - 30px);
    right: -46px;
    background-position: -27px -27px;
}

.brtc-va-editors-diagram-diagrameditorpage-function-toolbar-prop-dialog
.brtc-va-editors-diagram-diagrameditorpage-function-tools-remove {
    right: -14px;
    bottom: -20px;
    background-position: -54px -27px;
}

.brtc-va-editors-diagram-diagrameditorpage-function-toolbar-prop-dialog
.brtc-va-editors-diagram-diagrameditorpage-function-tools-popup {
    top: calc(50% + 4px);
    right: -46px;
    display: block;
    background-position: -162px -27px;
}

.brtc-va-editors-diagram-diagrameditorpage-function-toolbar[has-model=true] > .brtc-va-editors-diagram-diagrameditorpage-function-tools-popup {
    top: calc(50% + 4px);
    right: -46px;
    display: block;
    background-position: -162px -27px;
}

.brtc-va-editors-diagram-diagrameditorpage-function-toolbar[category=control] > .brtc-va-editors-diagram-diagrameditorpage-function-tools-popup {
    display: none;
}

.brtc-va-editors-diagram-diagrameditorpage-function-toolbar[category=process] > .brtc-va-editors-diagram-diagrameditorpage-function-tools-enter {
    display: none;
}

.brtc-va-editors-diagram-diagrameditorpage-function-toolbar[category=brightics] > .brtc-va-editors-diagram-diagrameditorpage-function-tools-switch {
    display: none;
}

.brtc-va-editors-diagram-diagrameditorpage-function-toolbar[category=brightics] > .brtc-va-editors-diagram-diagrameditorpage-function-tools-clone {
    display: none;
}

.brtc-va-editors-diagram-diagrameditorpage-function-tools-enter {
    display: none;
}

.brtc-va-editors-diagram-diagrameditorpage-function-tools-popup {
    display: none;
}

.brtc-va-editors-diagram-diagrameditorpage-function-multiselected-tools {
    float: right;
    width: 26px;
    height: 26px;
    margin: 2px;
    cursor: pointer;
    pointer-events: auto;

    background-image: url('images/toolbar-26x26.png');
}

.brtc-va-editors-diagram-diagrameditorpage-function-multiselected-tools-run {
    background-position-x: -26px;
}

.brtc-va-editors-diagram-diagrameditorpage-function-multiselected.single-selected.readonly-figure-selected
 .brtc-va-editors-diagram-diagrameditorpage-function-multiselected-tools-run
{
    display: none;
}

.brtc-va-editors-diagram-diagrameditorpage-function-multiselected-tools-add-library {
    background-position-x: -52px;
}

.brtc-va-editors-diagram-diagrameditorpage-function-multiselected.readonly-figure-selected
 .brtc-va-editors-diagram-diagrameditorpage-function-multiselected-tools-add-library
{
    display: none;
}

.brtc-va-editors-diagram-diagrameditorpage-function-multiselected-tools-remove {
    background-position-x: -78px;
}

.brtc-va-editors-diagram-diagrameditorpage-function-multiselected-tools-add-clippboard {
    background-position-x: 0;
}

.brtc-va-editors-diagram-diagrameditorpage-function-multiselected.readonly-figure-selected
 .brtc-va-editors-diagram-diagrameditorpage-function-multiselected-tools-add-clipboard
{
    display: none;
}

.brtc-va-editors-diagram-diagrameditorpage-function-multiselected-tools-bind-functions {
    background-position-x: -130px;
}

.brtc-va-editors-diagram-diagrameditorpage-function-multiselected-tools:hover {
    background-color: #eeeeef;
}

.brtc-va-editors-diagram-diagrameditorpage-function-error {
    position: absolute;
    display: none;
    width: 8px;
    height: 8px;
    pointer-events: none;
    border-radius: 5px;
    background-color: #ff1a23;
}

.brtc-va-editors-diagram-diagrameditorpage-function-processing {
    font-size: 1.3em;
    position: absolute;
    display: none;
    width: 40px;
    height: 40px;
    pointer-events: none;
    color: green;
}

.brtc-va-editors-diagram-diagrameditorpage-function-toolbar {
    position: absolute;
    display: none;
    width: 195px;
    height: 48px;
    margin-top: 6px;
    pointer-events: none;
}

.brtc-va-editors-diagram-diagrameditorpage-paper-scale-normal > .brtc-va-editors-diagram-diagrameditorpage-function-toolbar {
    width: 156px;
    height: 38px;
}

.brtc-va-editors-diagram-diagrameditorpage-paper-scale-small > .brtc-va-editors-diagram-diagrameditorpage-function-toolbar {
    width: 117px;
    height: 29px;
}

.brtc-va-editors-diagram-diagrameditorpage-paper-scale-small 
.brtc-va-editors-diagram-diagrameditorpage-function-multiselected-toolbar {
     -ms-transform: scale(.8);
    -moz-transform: scale(.8);
         transform: scale(.8);
     -ms-transform-origin: right top;
    -moz-transform-origin: right top;
         transform-origin: right top;
}

.brtc-va-editors-diagram-diagrameditorpage-function-tools {
    position: absolute;
    width: 27px;
    height: 27px;
    cursor: pointer;
    pointer-events: auto;
    background-image: url('images/diagram-rollover-27.png');
    background-repeat: no-repeat;
}

.brtc-va-editors-diagram-diagrameditorpage-paper-scale-small .brtc-va-editors-diagram-diagrameditorpage-function-tools {
    transform: scale(.85) translate(0, -4px);
}

.brtc-va-editors-diagram-diagrameditorpage-function-tools:hover {
    background-position-y: -54px !important;
}

.brtc-va-editors-diagram-diagrameditorpage-function-tools-remove {
    right: -28px;
    bottom: -16px;
    background-position: -54px -27px;
}

.brtc-va-editors-diagram-diagrameditorpage-function-tools-remove.bottom {
    /*top: calc(100% - 13px);*/
    /*right: calc(50% - 105px);*/
    top: calc(50% - 13px);
    right: -14px;
}

.brtc-va-editors-diagram-diagrameditorpage-function-tools-clearlink {
    font-size: .9em;
    bottom: -8px;
    left: -16px;
    display: none;
}

.brtc-va-editors-diagram-diagrameditorpage-function-tools-shiftleft {
    top: -16px;
    left: calc(50% - 12px - 14px);
    background-position: -108px;
}

.brtc-va-editors-diagram-diagrameditorpage-function-tools-shiftleft:hover {
    background-image: url(images/diagram-rollover-27.png);
}

.brtc-va-editors-diagram-diagrameditorpage-function-tools-shiftleft:hover > i {
    color: #eeeeef;
}

.brtc-va-editors-diagram-diagrameditorpage-function-tools-shiftright {
    top: -16px;
    left: calc(50% + 12px);
    background-position: -108px;
}

.brtc-va-editors-diagram-diagrameditorpage-function-tools-shiftright:hover {
    background-image: url(images/diagram-rollover-27.png);
}

.brtc-va-editors-diagram-diagrameditorpage-function-tools-shiftright:hover > i {
    color: #eeeeef;
}


.brtc-va-editors-diagram-diagrameditorpage-function-tools-switch {
    top: -16px;
    right: -28px;
    background-position: 0 -27px;
}

.brtc-va-editors-diagram-diagrameditorpage-function-tools-switch.bottom {
    top: calc(100% - 13px);
    right: calc(50% + 25px);
}

.brtc-va-editors-diagram-diagrameditorpage-function-tools-cloneandconnect {
    font-size: .9em;
    top: -8px;
    right: -16px;
    display: none;
}

.brtc-va-editors-diagram-diagrameditorpage-function-tools-connect {
    top: calc(50% - 13px);
    right: -14px;
    background-position: 0 0;
}

.brtc-va-editors-diagram-diagrameditorpage-function-tools-connect.bottom {
    top: calc(100% - 13px);
    right: calc(50% - 15px);
    transform: rotate(90deg);
    background-position: 0 0;
}

.brtc-va-editors-diagram-diagrameditorpage-function-toolbar[category=io][select=true] > .brtc-va-editors-diagram-diagrameditorpage-function-tools-connect {
    background-position-x: -27px;
}

.brtc-va-editors-diagram-diagrameditorpage-function-toolbar[category=manipulation][select=true] > .brtc-va-editors-diagram-diagrameditorpage-function-tools-connect {
    background-position-x: -54px;
}

.brtc-va-editors-diagram-diagrameditorpage-function-toolbar[category=validation][select=true] > .brtc-va-editors-diagram-diagrameditorpage-function-tools-connect {
    background-position-x: -81px;
}

.brtc-va-editors-diagram-diagrameditorpage-function-toolbar[category=statistics][select=true] > .brtc-va-editors-diagram-diagrameditorpage-function-tools-connect {
    background-position-x: -108px;
}

.brtc-va-editors-diagram-diagrameditorpage-function-toolbar[category=transform][select=true] > .brtc-va-editors-diagram-diagrameditorpage-function-tools-connect {
    background-position-x: -135px;
}

.brtc-va-editors-diagram-diagrameditorpage-function-toolbar[category=extraction][select=true] > .brtc-va-editors-diagram-diagrameditorpage-function-tools-connect {
    background-position-x: -162px;
}

.brtc-va-editors-diagram-diagrameditorpage-function-toolbar[category=regression][select=true] > .brtc-va-editors-diagram-diagrameditorpage-function-tools-connect {
    background-position-x: -189px;
}

.brtc-va-editors-diagram-diagrameditorpage-function-toolbar[category=classification][select=true] > .brtc-va-editors-diagram-diagrameditorpage-function-tools-connect {
    background-position-x: -216px;
}

.brtc-va-editors-diagram-diagrameditorpage-function-toolbar[category=evaluation][select=true] > .brtc-va-editors-diagram-diagrameditorpage-function-tools-connect {
    background-position-x: -243px;
}

.brtc-va-editors-diagram-diagrameditorpage-function-toolbar[category=unknown][select=true] > .brtc-va-editors-diagram-diagrameditorpage-function-tools-connect {
    background-position-x: -243px;
}

.brtc-va-editors-diagram-diagrameditorpage-function-tools-connect:hover {
    background-position: -270px 0 !important;
}

.brtc-va-editors-diagram-diagrameditorpage-function-tools-clone {
    top: calc(50% - 14px);
    right: -46px;
    background-position: -27px -27px;
}

.brtc-va-editors-diagram-diagrameditorpage-function-tools-clone.bottom {
    top: calc(100% - 13px);
    right: calc(50% - 55px);
}

.brtc-va-editors-diagram-diagrameditorpage-function-tools-start-run {
    font-size: .8em;
    bottom: -12px;
    left: calc(50% + 12px);
    display: none;
    width: 20px;
    height: 20px;
    background-color: transparent;
}

.brtc-va-editors-diagram-diagrameditorpage-function-guidebox {
    position: absolute;
    display: none;
    box-sizing: border-box;
    width: 190px;
    height: 48px;
    margin-top: 6px;
    pointer-events: none;
    border: 1px dashed darkorange;
    border-radius: 28px;
}

.brtc-va-editors-diagram-diagrameditorpage-paper-scale-normal > .brtc-va-editors-diagram-diagrameditorpage-function-guidebox {
    width: 156px;
    height: 38px;
}

.brtc-va-editors-diagram-diagrameditorpage-paper-scale-small > .brtc-va-editors-diagram-diagrameditorpage-function-guidebox {
    width: 117px;
    height: 29px;
}

.brtc-va-editors-diagram-diagrameditorpage-function-guidemessage {
    line-height: 20px;
    position: absolute;
    display: none;
    width: auto;
    max-width: 600px;
    height: 20px;
    padding: 0 2px 0 2px;
    pointer-events: none;
    color: white;
    border: 1px solid black;
    border-radius: 4px;
    background: black;
}

.brtc-va-editors-diagram-diagrameditorpage-function-drag-selection {
    position: absolute;
    display: none;
    pointer-events: none;
    opacity: .2;
    border: 1px solid darkorange;
    background-color: orange;
}


.brtc-va-editors-diagram-diagrameditorpage-function-cue-create {
    position: absolute;
    display: none;
    box-sizing: border-box;
    width: 190px;
    height: 48px;
    margin-top: 6px;
    border: 2px dashed #9da6b2;
    border-radius: 28px;
    justify-content: center;
    align-items: center;
}

.brtc-va-editors-diagram-diagrameditorpage-function-cue-create-label-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.brtc-va-editors-diagram-diagrameditorpage-function-cue {
    justify-content: center;
    align-items: center;
}

.brtc-va-editors-diagram-diagrameditorpage-function-cue-create-label {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    height: 16px;
    margin-right: .7em;
    color: #667185;
}

.brtc-va-editors-diagram-diagrameditorpage-function-cue-create-icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
    color: #667185;
    background-image: url(images/line_content_add_15.png);
    background-repeat: no-repeat;
}

/*.brtc-va-editors-diagram-diagrameditorpage-function-cue-create:hover*/
/*{*/
/*background-position-x: -50px;*/
/*}*/

.brtc-va-editors-diagram-diagrameditorpage-paper-scale-normal .brtc-va-editors-diagram-diagrameditorpage-function-cue-create {
    transform: scale(.8);
    transform-origin: 0 0;
}

.brtc-va-editors-diagram-diagrameditorpage-paper-scale-small .brtc-va-editors-diagram-diagrameditorpage-function-cue-create {
    transform: scale(.6);
    transform-origin: 0 0;
}

.brtc-va-editors-diagram-diagrameditorpage-function-tools-validation-tooltip {
    line-height: 14px;
    position: absolute;
    top: 60px;
    left: 0;
    cursor: pointer;
    pointer-events: auto;
    border-radius: 5px;
    background: white;
}

.brtc-va-editors-diagram-diagrameditorpage-validation-problem {
    position: relative;
    width: 300px;
    cursor: pointer;
    pointer-events: none;
    color: rgba(50, 50, 50, .64);
}

.brtc-va-editors-diagram-diagrameditorpage-function-tooltip {
    position: absolute;
    display: none;
    min-width: 190px;
    max-width: 300px;
    min-height: 100px;
    padding: 5px 0;
    color: rgba(0, 0, 0, .7);
    border: 1px solid #d4d4d4;
    /*display: flex;*/
    /*display: -webkit-flex;*/
    /*flex-flow: column nowrap;*/
    /*-webkit-flex-flow: column nowrap;*/
    background-color: #fff;
}

.brtc-va-editors-diagram-diagrameditorpage-function-tooltip:after,
.brtc-va-editors-diagram-diagrameditorpage-function-tooltip:before {
    position: absolute;
    bottom: 100%;
    left: 100px;
    width: 0;
    height: 0;
    content: ' ';
    pointer-events: none;
    border: solid transparent;
}

.brtc-va-editors-diagram-diagrameditorpage-paper-scale-small .brtc-va-editors-diagram-diagrameditorpage-function-tooltip:after,
.brtc-va-editors-diagram-diagrameditorpage-paper-scale-small .brtc-va-editors-diagram-diagrameditorpage-function-tooltip:before {
    left: 60px;
}

.brtc-va-editors-diagram-diagrameditorpage-paper-scale-normal .brtc-va-editors-diagram-diagrameditorpage-function-tooltip:after,
.brtc-va-editors-diagram-diagrameditorpage-paper-scale-normal .brtc-va-editors-diagram-diagrameditorpage-function-tooltip:before {
    left: 80px;
}

.brtc-va-editors-diagram-diagrameditorpage-function-tooltip:after {
    margin-left: -6px;
    border-width: 6px;
    border-color: transparent;
    border-bottom-color: #fff;
}

.brtc-va-editors-diagram-diagrameditorpage-function-tooltip:before {
    margin-left: -7px;
    border-width: 7px;
    border-color: transparent;
    border-bottom-color: #d4d4d4;
}

.brtc-va-editors-diagram-diagrameditorpage-function-tooltip.brtc-va-editors-visible,
.brtc-va-editors-diagram-diagrameditorpage-function-tooltip:hover {
    display:         flex;
    display: -webkit-flex;
            flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
}

.brtc-va-editors-diagram-diagrameditorpage-function-tooltip-header-func {
    height: 12px;
    padding: 1px;
}

.brtc-va-editors-diagram-diagrameditorpage-function-tooltip-header-func-label {
    font-size: 11px;
    float: right;
    margin-right: 5px;
    padding-right: 5px;
    padding-left: 5px;
    /*font-weight: normal;*/
    /*opacity: 0.4;*/

    color: #fff;
    border-radius: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 90%;
}

.brtc-va-editors-diagram-diagrameditorpage-function-tooltip-header {
    font-family: Arial, helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    display:         flex;
    display: -webkit-flex;
    overflow: hidden;
    min-height: 20px;
    padding: 5px 5px;
    padding-right: 30px;
    background: #fff;
    align-items: center;
}

.brtc-va-editors-diagram-diagrameditorpage-function-tooltip-header > p {
    width: 100%;
    margin: 0;
    word-wrap: break-word;
}

.brtc-va-editors-diagram-diagrameditorpage-function-tooltip-contents-container {
    position: relative;
    flex: 1;
}

.brtc-va-editors-diagram-diagrameditorpage-function-tooltip-contents-empty-container {
    display:         flex;
    display: -webkit-flex;
    justify-content: center;
}

.brtc-va-editors-diagram-diagrameditorpage-function-tooltip-contents {
    position: relative;
    max-height: 250px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 0;
    border-top: 1px solid #d4d4d4;
}

.brtc-va-editors-diagram-diagrameditorpage-function-tooltip-contents-container > .brtc-va-editors-diagram-diagrameditorpage-function-tooltip-contents-edit {
    position: absolute;
    top: -32px;
    right: 6px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    opacity: .3;
    background-image: url('images/line_content_write_15.png');
    background-repeat: no-repeat;
    background-position: center;
}

.brtc-va-editors-diagram-diagrameditorpage-function-tooltip-contents-empty-container > .brtc-va-editors-diagram-diagrameditorpage-function-tooltip-contents-edit {
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: .3;
    background-image: url('images/project-edit-30.png');
}

.brtc-va-editors-diagram-diagrameditorpage-function-tooltip-contents-edit:hover {
    opacity: 1;
}

/*.brtc-va-editors-diagram-diagrameditorpage-function-tooltip::after {*/
/*content: " ";*/
/*position: absolute;*/
/*bottom: 100%; !* At the top of the tooltip *!*/
/*left: 100px;*/
/*margin-left: -5px;*/
/*border-width: 5px;*/
/*border-style: solid;*/
/*border-color: transparent transparent #d4d4d4 transparent;*/
/*}*/

.brtc-va-editors-diagram-minimap {
    position: absolute;
    z-index: 1000;
    top: 6px;
    right: 44px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    border: 1px dashed grey;
    background: rgba(57, 60, 69, .8);
    align-items: center;
    justify-content: center;
}

.brtc-va-editors-diagram-minimap.closed {
    display: none;
}

.brtc-va-editors-diagram-minimap-header {
    box-sizing: border-box;
    width: 100%;
    min-width: 190px;
    padding: 5px;
    cursor: move;
    background-color: #fdfdfd;
}

.brtc-va-editors-diagram-minimap-title {
    font-weight: bold;
    float: left;
}

.brtc-va-editors-diagram-minimap-collapse {
    float: right;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.brtc-va-editors-diagram-minimap-close {
    float: right;
    width: 12px;
    height: 12px;
    margin-left: 5px;
    cursor: pointer;
}

/*.brtc-va-studio-body-area[right-sidebar-expanded='true'] .brtc-va-editors-diagram-minimap*/
/*{*/
/*right: 24px;*/
/*}*/

.brtc-va-editors-diagram-minimap-contents {
    position: relative;
}

.brtc-va-editors-diagram-minimap-contents.collapsed {
    display: none;
}

.brtc-va-editors-diagram-minimap-paper {
    display: flex;
    min-width: 190px;
    min-height: 90px;
}

.brtc-va-editors-diagram-minimap .brtc-va-label {
    display: none;
}

.brtc-va-editors-diagram-minimap-contents.collapsed {
    display: none;
}

.brtc-va-editors-diagram-minimap-window {
    position: absolute;
    cursor: move;
    background: rgba(255,255,255,.2);
}

.brtc-va-editors-diagram-minimap .ui-icon {
    filter: invert(100%);
}

.brtc-va-editors-diagram-minimap .remove-else-if-button {
    background-image: none;
}

.brtc-va-editors-deeplearningeditor .brtc-va-editors-diagram-diagrameditorpage-function-multiselected-toolbar {
    min-width: 30px;
}
