.brtc-va-editor-wrapper {
    display: none;
    overflow: auto;
    height: 100%;
}

.brtc-va-editor-wrapper.selected {
    display: block;
}

.brtc-va-editors-controleditor {
    border: none;
}

.brtc-va-editors-controleditor-toolitem-notification-plus {
    position: relative;
    top: -2px;
    right: -14px;
    width: 15px;
    height: 15px;
    background-image: url('images/plus-circle-15.png');
}

.brtc-va-editors-controleditor-chevron {
    position: absolute;
    z-index: 10;
    top: 40px;
    right: 40px;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.brtc-va-editors-modeleditor-toolitem-chevron {
    display: none;
}

.brtc-va-editors-controleditor-notification-container {
    position: absolute;
    z-index: 10;
    bottom: 90px;
    left: calc(50% - 200px);
    width: 400px;
    height: 50px;
    pointer-events: none;
}

.brtc-va-editors-controleditor-splitter {
    border: none;
}

.brtc-va-editors-controleditor-splitter > .jqx-splitter-splitbar-horizontal {
    border-color: #e5e9ef;
    background-color: #e5e9ef;
}

.brtc-va-editors-controleditor-splitter > .jqx-splitter-splitbar-horizontal > .jqx-splitter-collapse-button-horizontal {
    display: none;
}

.brtc-va-editors-controleditor-splitter > .jqx-splitter-splitbar-horizontal:nth-child(4) {
    border-color: #86bfa0;
    background-color: #d3f0e0;
}

.brtc-va-editors-controleditor div.jqx-tabs-headerWrapper {
    border: none;
}

.brtc-va-editors-editorcontainer ul.jqx-tabs-title-container {
    position: relative;
    top: 0;
    left: 0;
    width: 1624px;
    height: 28px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 25px;
    padding: 0;
    white-space: nowrap;
    text-indent: 0;
    border: none;
    outline: none;
    background: transparent;
}

.brtc-va-editors-controleditor-sheet {
    width: 100%;
    height: 100%;
}

.brtc-va-editors-controleditor-report-window {
    border-top: solid 4px #828fff;
}

.brtc-va-editors-controleditor-report-window-head.jqx-window-header {
    font-family: Arial, helvetica, sans-serif;
    font-size: 14px;
    line-height: 37px;
    height: 37px;
}

.brtc-va-editors-controleditor-report-window-head .jqx-window-close-button {
    right: 8px;
}

.brtc-va-editors-controleditor-report-window-body {
    position: relative;
    display: block;
    padding: 0;
}

/* ==================== ==================== ==================== ==================== ==================== */
.brtc-va-editors-editorcontainer {
    border: none;
    background-color: #fff; /*#e5e9ef;*/
}

.brtc-va-editors-editorcontainer > .jqx-tabs-content-office {
    background-color: #e5e9ef;
}

.brtc-va-editors-editorcontainer > .jqx-tabs-headerWrapper {
    display: none;
}

.brtc-va-editors-modeleditor {
    border: none;
}

.brtc-style-editors-model-info-tooltip {
    font-family: Arial, Dotum, Tahoma, sans-serif;
    font-size: 14px;
    position: absolute;
    width: 100%;
    text-align: initial;
    color: rgba(0, 0, 0, .8);
    background: #fff;
}

.brtc-style-editors-model-info-tooltip > p {
    margin: 0;
}

.brtc-style-editors-model-info-tooltip .icon.tooltip {
    position: absolute;
    top: -8px;
    left: 21px;
    display: inline-block;
    width: 13px;
    height: 8px;
    border: none;
    background: url('images/icon/tooltip_1.png') no-repeat !important;
    background-position: 0 0;
}

.brtc-style-editors-model-info-tooltip .jqx-button-office.close {
    position: absolute;
    z-index: 100;
    right: 20px !important;
    width: 20px;
    height: 20px !important;
    padding: 0;
    cursor: pointer;
    opacity: 1;
    border: none;
    background: url('images/tool-close.png') no-repeat;
}

.brtc-style-editors-model-info-tooltip .tag_area p {
    font-size: 12px;
    overflow: hidden;
    min-height: 14px;
    padding-right: 20px;
    cursor: default;
    white-space: nowrap;
    letter-spacing: -.3px;
    text-overflow: ellipsis;
    color: rgba(0, 0, 0, .8);
}

.brtc-style-editors-model-info-tooltip > .date_area {
    font-size: 12px;
    margin-top: 11px;
    padding-bottom: 10px;
}

.brtc-style-editors-model-info-tooltip > .date_area > p {
    display: flex;
    padding-bottom: 6px;
    white-space: nowrap;
    color: rgba(51, 51, 51, .8);
}

.brtc-style-editors-model-info-tooltip > .date_area > p span {
    padding-right: 5px;
    color: rgba(51, 51, 51, .5);
}

.brtc-style-editors-model-info-tooltip > .date_area > p span:last-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.brtc-style-editors-model-info-tooltip > .date_area > p span.value {
    color: rgba(0, 0, 0, .8);
}

.brtc-style-editors-model-info-tooltip .date_area .model_description {
    font-family: initial;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 320px;
    max-height: 500px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 16px;
    word-break: break-all;
    border: solid 1px #d9dee6;
}

.brtc-style-editors-model-info-tooltip .project_area {
    padding-top: 19px;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.brtc-style-editors-model-info-tooltip .project_area .proj_title {
    padding-bottom: 9px;
}

.brtc-style-editors-model-info-tooltip .project_area p {
    font-size: 12px;
    padding: 0;
    white-space: nowrap;
    letter-spacing: -.3px;
    color: rgba(0, 0, 0, .8);
}

.brtc-style-editors-model-info-tooltip .project_area .proj_name {
    font-size: 16px;
    line-height: 16px;
    overflow: hidden;
    min-height: 14px;
    padding-bottom: 8px;
    cursor: default;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.brtc-style-editors-model-info-tooltip .project_area .proj_description {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-bottom: 12px;
    padding: 16px;
    border: solid 1px #d9dee6;
}

.brtc-style-editors-model-info-tooltip .project_area .proj_description p {
    margin: 0 0 10px;
}

.brtc-style-editors-model-info-tooltip .project_area .tagname {
    overflow: hidden;
    min-height: 14px;
    padding-bottom: 11px;
    cursor: default;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.brtc-style-editors-model-info-tooltip .project_area .create span {
    padding-right: 5px;
    color: rgba(51, 51, 51, .5);
}

.brtc-style-editors-model-info-tooltip .project_area .create span.value {
    color: rgba(0, 0, 0, .8);
}

.brtc-style-editors-model-info-tooltip .project_area .create span:last-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.brtc-va-editors-modeleditor-toolitem-notification-plus {
    position: relative;
    top: -2px;
    right: -14px;
    width: 15px;
    height: 15px;
    background-image: url('images/plus-circle-15.png');
}

.brtc-va-editors-modeleditor-chevron {
    position: absolute;
    z-index: 10;
    top: 40px;
    right: 40px;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.brtc-va-editors-modeleditor-notification-container {
    position: absolute;
    z-index: 10;
    bottom: 90px;
    left: calc(50% - 200px);
    width: 400px;
    height: 50px;
    pointer-events: none;
}

.brtc-va-editors-modeleditor-splitter {
    z-index: 1;
    border: none;
    background-color: #e5e9ef;
}

.brtc-va-editors-modeleditor-splitter > .jqx-splitter-splitbar-horizontal {
    border-color: #e5e9ef;
    background-color: #e5e9ef;
}

.brtc-va-editors-modeleditor-splitter > .jqx-splitter-splitbar-horizontal:hover {
    border-color: #d4d4d4;
    color: #444;
    background: #eeeeef;
}

.brtc-va-editors-modeleditor-splitter > .jqx-splitter-splitbar-horizontal > .jqx-splitter-collapse-button-horizontal {
    display: none;
}

.brtc-va-editors-modeleditor-splitter > .jqx-splitter-splitbar-horizontal:nth-child(4) {
    border-color: #86bfa0;
    background-color: #d3f0e0;
}

.brtc-va-editors-modeleditor div.jqx-tabs-headerWrapper {
    border: none;
}

.brtc-va-editors-editorcontainer ul.jqx-tabs-title-container {
    position: relative;
    top: 0;
    left: 0;
    width: 1624px;
    height: 28px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 25px;
    padding: 0;
    white-space: nowrap;
    text-indent: 0;
    border: none;
    outline: none;
    background: transparent;
}

.brtc-va-editors-modeleditor-sheet {
    overflow: visible;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #e5e9ef;
}

.brtc-va-studio-dragging .brtc-va-editors-modeleditor-sheet {
    opacity: .1;
}

.brtc-va-editors-modeleditor-report-window {
    border-top: solid 4px #828fff;
}

.brtc-va-editors-modeleditor-report-window-head.jqx-window-header {
    font-family: Arial, helvetica, sans-serif;
    font-size: 14px;
    line-height: 37px;
    height: 37px;
}

.brtc-va-editors-modeleditor-report-window-head .jqx-window-close-button {
    right: 8px;
}

.brtc-va-editors-modeleditor-report-window-body {
    position: relative;
    display: block;
    padding: 0;
}

.brtc-va-editors-modeleditor-model-info-toolbar-wrapper {
    width: 100%;
    height: calc(100vh - 0px);
}

.brtc-va-editors-modeleditor-model-info-toolbar-tooltip-box {
    position: absolute;
    z-index: 999;
    top: 22px;
    left: 225px;
    width: 499px;
    min-height: 176px;
    padding: 18px 19px;
    border: 1px solid #b2b2b2;
    background: #fff;
}

.brtc-va-editors-modeleditor-model-info-toolbar-icon.tooltip {
    position: absolute;
    top: -8px;
    left: 21px;
    display: inline-block;
    width: 13px;
    height: 8px;
    border: none;
    /*background: url('/imges/icon/tooltip_1.png') no-repeat !important;*/
    background: url('images/icon/tooltip_1.png') no-repeat !important;
    background-position: 0 0;
}

.brtc-va-editors-modeleditor-model-info-toolbar-closebtn {
    position: absolute;
    right: 20px !important;
    border: none;
}

.brtc-va-editors-modeleditor-model-info-toolbar-date_area {
    margin-top: 11px;
    padding-bottom: 10px;
}

.brtc-va-editors-modeleditor-model-info-toolbar-date_area p {
    padding-bottom: 6px;
    color: rgba(51, 51, 51, .8);
}

.brtc-va-editors-modeleditor-model-info-toolbar-date_area p span {
    padding-right: 5px;
    color: rgba(51, 51, 51, .5);
}

.brtc-va-editors-modeleditor-model-info-toolbar-date_area p span:last-child {
    padding-left: 9px;
}

.brtc-va-run-progress-dialog .brtc-va-dialogs-buttonbar-cancel {
    color: #fff;
    background-color: #6c7ae7;
}

.brtc-va-run-progress-dialog .brtc-va-dialogs-buttonbar-cancel:hover {
    background-color: #5b63d2 !important;
}

.brtc-va-dialogs-run-status-label {
    height: 25px;
    color: #57bb7b;
}

.brtc-va-dialogs-run-status-progress {
    width: 100%;
    height: 8px;
    border: none;
    border-radius: 4px;
    background-color: #e5e5e5;
}

.brtc-va-dialogs-run-fail.brtc-va-dialogs-run-status-label {
    color: #ff1513;
}

.brtc-va-dialogs-run-fail > .jqx-progressbar-value.jqx-fill-state-pressed {
    background: #ff1513;
}

.brtc-va-dialogs-run-status-func-error {
    line-height: normal;
    color: #ff1513;
}

.brtc-va-dialogs-run-status-tab {
    margin-top: 12px;
}

.brtc-va-dialogs-run-status-tab .jqx-ribbon-header-bottom {
    border-right: none;
    border-bottom: none;
    border-left: none;
}

.brtc-va-dialogs-run-status-tab .CodeMirror {
    font-size: 11px;
    border: none;
}

.brtc-va-dialogs-run-status-functions {
    position: relative;
    height: 100%;
}

.brtc-va-dialogs-run-status-func-container {
    display: table;
    width: 98%;
}

.brtc-va-dialogs-run-status-func-item {
    line-height: 30px;
    display: table-row;
    height: 30px;
    color: #5a5a5a;
}

.brtc-va-dialogs-run-status-func-icon {
    display: table-cell;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #cdcdcd;
}

.brtc-va-dialogs-run-status-func-running > .brtc-va-dialogs-run-status-func-icon {
    color: #6c7ae7;
}

.brtc-va-dialogs-run-status-func-success > .brtc-va-dialogs-run-status-func-icon {
    color: #5fbb7a;
}

.brtc-va-dialogs-run-status-func-fail > .brtc-va-dialogs-run-status-func-icon {
    color: #e43232;
}

.brtc-va-dialogs-run-loading-small {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 5px;
    -webkit-transform-origin: center;
       -moz-transform-origin: center;
        -ms-transform-origin: center;
         -o-transform-origin: center;
            transform-origin: center;
    -webkit-animation: rotating-function 1.25s linear infinite;
       -moz-animation: rotating-function 1.25s linear infinite;
        -ms-animation: rotating-function 1.25s linear infinite;
         -o-animation: rotating-function 1.25s linear infinite;
            animation: rotating-function 1.25s linear infinite;
    background: url('images/icon/icon_run.png') no-repeat;
    background-position: -31px 0;
}

.brtc-va-dialogs-run-success-small {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url('images/icon/icon_run.png') no-repeat;
    background-position: -55px 0;
}

.brtc-va-dialogs-run-waiting-small {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url('images/icon/icon_run.png') no-repeat;
    background-position: -95px 0;
}

.brtc-va-dialogs-run-fail-small {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url('images/icon/icon_run.png') no-repeat;
    background-position: -75px 0;
}

.brtc-va-dialogs-run-status-func-label {
    display: table-cell;
}

.brtc-va-dialogs-run-status-func-status {
    display: table-cell;
    width: 160px;
}

.brtc-va-dialogs-run-status-func-elapsed {
    display: table-cell;
    width: 80px;
    text-align: end;
}

.brtc-va-editors-realtimeeditor-toolitem-numberinputcontrol::after {
    /*content: ' /s';*/
}

.note-editing-area {
    cursor: text;
}

.brtc-va-studio-body-area[left-sidebar-expanded='true'] .brtc-va-editors-modeleditor-splitter {
    /*width: calc(100% - 340px) !important;*/
    width: calc(100% - 331px) !important;
    min-width: 940px;
    /*margin-left: 340px;*/
    margin-left: 331px;
}

.brtc-va-studio-body-area[right-sidebar-expanded='true'] .brtc-va-editors-modeleditor-splitter {
    width: calc(100% - 440px) !important;
    /*width: calc(100% - 332px) !important;*/
    min-width: 940px;
}

.brtc-va-studio-body-area[left-sidebar-expanded='true'][right-sidebar-expanded='true'] .brtc-va-editors-modeleditor-splitter {
    width: calc(100% - 771px) !important;
    /*width: calc(100% - 663px) !important;*/
    min-width: 600px;
}

.brtc-va-editors-deeplearningeditor .brtc-va-last-runtime,
.brtc-va-editors-deeplearningeditor .brtc-va-editors-diagram-diagrameditorpage-function-multiselected-tools-add-clipboard {
    display: none;
}

.brtc-condition-header {
    position: relative;
    border: 1px solid #e1e1e2;
    background-color: #fff;
}

.brtc-condition-header-tab-bar-list {
    display: flex;
}

.brtc-condition-header-tab {
    display: flex;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100px;
    height: 38px;
    margin: 0 -1px 0 0;
    border: 1px solid #d9d9d9;
    border-top: none;
    background: rgba(0, 0, 0, .03);
    align-items: center;
    justify-content: center;
}

.brtc-condition-header-tab:hover {
    cursor: pointer;
}

.brtc-condition-header-tab-title {
    text-align: center;
    flex: 1;
}

.brtc-condition-header-tab-close-btn {
    width: 16px;
    height: 100%;
    margin-right: 3px;
    background: url('images/tool-close.png') center no-repeat;
    background-size: contain;
}

.brtc-condition-header-tab-close-btn:hover {
    /* background-color: black; */
    cursor: pointer;
}

.brtc-condition-header-tab-selected {
    font-weight: bold;
    color: rgba(0, 0, 0, .8);
    border-color: #d9d9d9;
    border-top: 2px solid #6c79e9;
    border-bottom: 1px solid #fff;
    background: none;
}

.brtc-condition-header-tab-bar-add {
    display: flex;
    width: 30px;
    border: 1px solid #d9d9d9;
    align-items: center;
    justify-content: center;
}

.brtc-condition-header-tab-bar-add:hover {
    cursor: pointer;
}

.brtc-condition-header-field-area {
    height: 40px;
}

.brtc-condition-header-field-hide {
    display: none;
}

.brtc-va-studio-dragging
.brtc-loop-header {
    opacity: .1;
}

.brtc-va-studio-dragging
.brtc-condition-header {
    opacity: .1;
}

.brtc-va-studio-dragging
.brtc-condition-header-field {
    opacity: .1;
}

.brtc-condition-header-field {
    position: absolute;
    z-index: 99;
    left: 0;
    width: calc(100% - 21px);
    padding-top: 10px;
    padding-left: 20px;
    border-right: 1px solid #e1e1e2;
    border-bottom: 1px solid #e1e1e2;
    border-left: 1px solid #e1e1e2;
    background-color: #fff;
}

/* .brtc-condition-header-field-expanded
{
    z-index: 9999;
    position: absolute;
    left: 0px;
    background-color: #FFF;
    width: calc(100% - 20px);
} */

.brtc-condition-header-field-label-wrapper {
    float: left;
    /* margin-top: 10px; */
}

.brtc-condition-header-field-area {
    width: calc(100% - 130px);
    margin-left: 15px;
    padding-left: 10px;
    resize: none;
}

.brtc-condition-header-field-textarea {
    width: calc(100% - 130px);
    margin-left: 15px;
    padding-left: 10px;
    resize: none;
}

.brtc-condition-header-field-textarea-unexpanded {
    height: 1.4em;
}

.brtc-loop-header {
    position: absolute;
    z-index: 99;
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #e1e1e2;
    background-color: #fff;
}

.brtc-loop-header-field-wrappe {
    margin-left: 20px;
}

.brtc-loop-header-label-input-pair-wrapper {
    display: grid;
    height: 27px;
    margin-bottom: 10px;
    grid-template-columns: 12% 85%;
}

.brtc-loop-header-label-div {
    display: flex;
    font-weight: 700;
    align-items: center;
}

.brtc-loop-header-readonly-label {
    padding-right: 10px;
    text-align: right;
}

.brtc-loop-header-readonly-input {
    width: 100%;
    height: 27px;
    padding-left: 4px;
    flex: .9;
}

.brtc-loop-header-readonly-label-input-pair-wrapper {
    display: flex;
}
.brtc-loop-header-expand {
    position: absolute;
    top: 13px;
    right: 15px;
}


.brtc-condition-header-field-expand-arrow {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.brtc-loop-header-expand-arrow {
    cursor: pointer;
}

.brtc-va-editors-modeleditor-header {
    position: relative;
    /*min-height: 50px;*/
}

.brtc-loop-header label {
    line-height: 27px;
}

.brtc-loop-header-expanded {
    padding-left: 20px;
}

.brtc-loop-header-unexpanded {
    display: grid;
    padding-left: 20px;
    grid-template-columns: 1.3fr 1fr 1fr 1.8fr .2fr;
    grid-column-gap: 5px;
}

.brtc-loop-header-field-radiobutton {
    display: inline-flex;
    margin-right: 20px;
    margin-bottom: 15px;
    margin-left: 5px;
    padding-top: 5px;
}

.brtc-va-editors-side-tab-bar {
    font-size: 14px;
    font-weight: bold;
    line-height: 38px;
    position: absolute;
    z-index: 99;
    top: 40px;
    background-color: #fff;
    display: flex;
    box-sizing: border-box;
    width: 500px;
    height: 38px;
    cursor: pointer;
    transform-origin: 0 0;
    text-align: center;
    text-overflow: ellipsis;
    color: #4c4c4c;
    border: none;
}

.brtc-va-editors-left-tab-bar {
    left: 38px;
    transform: rotate(90deg);
}

.brtc-va-editors-right-tab-bar {
    right: 0;
    transform: translate(500px, 0px) rotate(90deg);
}

.brtc-condition-header-field-textarea-label {
    margin-right: 20px;
}

.brtc-condition-header-field-textarea-wrapper {
    width: calc(100% - 60px);
    padding-bottom: 10px;
}

/* PVR ?��?�� �?�? */
.brtc-loop-header,
.brtc-condition-header-field-area,
.brtc-condition-header-tab-bar-add,
.brtc-condition-header-tab-close-btn {
    /* display: none !important; */
}

.brtc-condition-header-tab-bar-area {
    /*background-color: #e5e9ef;*/
}

.brtc-condition-header-tab-bar-list {
    background-color: #fff;
}

.brtc-condition-header {
    border: none;
}

.brtc-condition-header-tab-bar {
    display: flex;
    height: 38px;
}

.brtc-va-dialogs-notification-container {
    position: absolute;
    z-index: 10;
    bottom: 5;
    left: calc(50% - 150px);
    width: 300px;
    height: 50px;
    pointer-events: none;
}