/* script모델 sidebar에서 add python만 보여지도록 설정함 */
.brtc-va-implementation-script-views-scriptunitlist-addscala,
.brtc-va-implementation-script-views-scriptunitlist-addsql {
    display: none;
}

/* udf 리스트에서 python만 보여지도록 함 */
.brtc-va-views-udf-type-scala {
    display: none !important ;
}

.brtc-va-implementation-script-views-scriptunitlist-addpython {
    width: 100% !important;
}
