/**************************************************************************************************************************************************/
/* Item List */
/* <div class="brtc-va-widget-controls-itemlist">                                  */
/*     <div class="brtc-va-widget-controls-itemlist-selectbutton-wrapper"/>        */
/*     <div class="brtc-va-widget-controls-itemlist-itemcontainer-wrapper"/>        */
/* </div>                                                                                   */
/**************************************************************************************************************************************************/
.element-adidas-3-line {
    width: 9px !important;
    height: 11px !important;
    background: url('images/icon/icon_property.png') no-repeat;
    background-position: -75px 0;
}

.element-adidas-3-line-hover {
    background: url('images/icon/icon_property.png') no-repeat;
    background-position: -75px -21px;
}

.element-adidas-3-line-selected {
    background: url('images/icon/icon_property.png') no-repeat;
    background-position: -75px -42px;
}

.brtc-va-widget-controls-itemlist {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
}

.brtc-va-widget-controls-itemlist .jqx-grid-cell,
.brtc-va-widget-controls-itemselector .jqx-grid-cell {
    height: 20px;
    border: none;
    background: #fff;
}

.brtc-va-widget-controls-itemselector .jqx-grid-cell-selected {
    background: #fff;
}

.brtc-va-widget-controls-itemselector .brtc-va-progress {
    top: 0;
    width: 100%;
    height: 100%;
}

.brtc-va-widget-controls-itemlist-selectbutton-wrapper {
    clear: both;
    width: calc(100% - 2px);
    margin-bottom: 5px;
}

.brtc-va-widget-controls-itemlist-selectbutton-wrapper .brtc-va-widget-controls-itemlist-selectcounter {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    line-height: 25px;
    float: left;
    vertical-align: middle;
}

.brtc-va-widget-controls-itemlist-selectbutton-wrapper .brtc-va-widget-controls-itemlist-selectcounter.counter {
    font-weight: bold;
    margin-right: 2px;
    color: #8182ea;
}

.brtc-va-widget-controls-itemlist-selectbutton-wrapper .brtc-va-selectbutton-container {
    float: right;
}

.brtc-va-widget-controls-itemlist-selectbutton-wrapper .brtc-va-widget-controls-itemlist-selectbutton,
.brtc-va-widget-controls-itemlist-selectbutton-wrapper .brtc-va-widget-controls-itemlist-clearbutton {
    font-size: 11px;
    float: right;
    width: 50px;
    cursor: pointer;
}

.brtc-va-widget-controls-itemlist-selectbutton-wrapper .brtc-va-widget-controls-itemlist-clearbutton {
    margin-left: 5px;
}

.brtc-va-widget-controls-itemlist-selectbutton-wrapper .brtc-va-widget-controls-itemlist-selectbutton:hover,
.brtc-va-widget-controls-itemlist-selectbutton-wrapper .brtc-va-widget-controls-itemlist-clearbutton:hover {
    background-color: rgba(0, 0, 0, .03) !important;
}

.brtc-va-widget-controls-itemlist-itemcontainer-wrapper {
    width: 100%;
    height: 100%;
    border: 1px solid #bfbfbf;
    background-color: #fff;
}

.brtc-va-widget-controls-itemlist-editoropener-wrapper {
    position: absolute;
    float: left;
    width: 15px;
    height: 100%;
    margin-left: 2px;
}

.brtc-va-widget-controls-itemselector-expandercontainer {
    display: none;
    float: left;
    width: 100%;
    height: 22px;
}

.brtc-va-widget-controls-itemselector-editoropener {
    height: 100%;
}

.brtc-va-widget-controls-itemselector-itemcontainer-expander {
    width: 100%;
    height: 100%;
    border-color: #d4d4d4;
    border-top: 1px solid;
}

.brtc-va-widget-controls-itemselector-itemcontainer-expander-left {
    float: left;
    width: calc((100% - 10px) / 2);
    height: 100%;
}

.brtc-va-widget-controls-itemselector-itemcontainer-expander-center {
    float: left;
    width: 10px;
    height: 100%;
}

.brtc-va-widget-controls-itemselector-itemcontainer-expander-right {
    float: left;
    width: calc((100% - 10px) / 2);
    height: calc(100% - 2px);
    padding-top: 2px;
}

.brtc-va-widget-controls-itemselector-itemcontainer-expander-down {
    display: block;
    float: left;
    width: 10px;
    height: calc(100% - 2px);
    padding-top: 2px;
}

.brtc-va-widget-controls-itemselector-itemcontainer-expander-up {
    display: none;
    float: left;
    width: 10px;
    height: calc(100% - 2px);
    padding-top: 2px;
}

.brtc-va-widget-controls-itemselector-itemcontainer-element {
    position: relative;
    width: 100%;
    height: 20px;
}

.brtc-va-widget-controls-itemselector-itemcontainer-element[empty=true] {
    pointer-events: none;
}

.brtc-va-widget-controls-itemselector-itemcontainer-element-hover {
    background: rgba(0, 0, 0, .03);
}

.brtc-va-widget-controls-itemselector-itemcontainer-element-type {
    position: absolute;
    float: left;
    width: 25px;
    height: 25px;
    text-align: center;
    color: transparent;
    background-image: url('images/item-type-26.png');
    background-repeat: no-repeat;
    background-position: 0 -78px;
}

.brtc-va-widget-controls-itemselector-itemcontainer-element-type[internal-type=string] {
    background-position: 0 0;
}

.brtc-va-widget-controls-itemselector-itemcontainer-element-type[internal-type=number] {
    background-position: 0 -26px;
}

.brtc-va-widget-controls-itemselector-itemcontainer-element-type[internal-type=double] {
    background-position: 0 -52px;
}

.brtc-va-widget-controls-itemselector-itemcontainer-element-type[internal-type=date] {
    background-position: 0 -78px;
}

.brtc-va-widget-controls-itemselector-itemcontainer-element-type[internal-type=array] {
    background-position: 0 -104px;
}

.brtc-va-widget-controls-itemselector-itemcontainer-element-type[internal-type=boolean] {
    background-position: 0 -130px;
}

.brtc-va-widget-controls-itemselector-itemcontainer-element-type[internal-type=integer] {
    background-position: 0 -156px;
}

.brtc-va-widget-controls-itemselector-itemcontainer-element-type[internal-type=long] {
    background-position: 0 -182px;
}

.brtc-va-widget-controls-itemselector-itemcontainer-element-type[internal-type=byte] {
    background-position: 0 -208px;
}

.brtc-va-widget-controls-itemselector-itemcontainer-element-type[internal-type='double[]'] {
    background-position: 0 -234px;
}

.brtc-va-widget-controls-itemselector-itemcontainer-element-type[internal-type='string[]'] {
    background-position: 0 -260px;
}

.brtc-va-widget-controls-itemselector-itemcontainer-element-type {
    background-position: 0 -286px;
}

/*.brtc-va-widget-controls-itemselector-itemcontainer-element-type[data-type=S] {
    background-position: 0 0;
}

.brtc-va-widget-controls-itemselector-itemcontainer-element-type[data-type=N] {
    background-position: 0 -26px;
}

.brtc-va-widget-controls-itemselector-itemcontainer-element-type[data-type=D] {
    background-position: 0 -52px;
}

.brtc-va-widget-controls-itemselector-itemcontainer-element-type[data-type=B] {
    background-position: 0 -130px;
}*/

.brtc-va-widget-controls-itemselector-itemcontainer-element-name {
    font-family: Arial, Dotum, Tahoma, sans-serif;
    font-size: 11px;
    line-height: 20px;
    position: absolute;
    float: left;
    overflow: hidden;
    width: calc(100% - 25px);
    min-width: 30px;
    /*max-width: 210px;*/
    margin-left: 5px;
    text-overflow: ellipsis;
}

.brtc-va-widget-controls-itemselector-itemcontainer .jqx-listitem-state-normal {
    padding: 0;
}

.brtc-va-widget-controls-itemselector-itemcontainer-element-name-mouseover {
    font-weight: bold;
}

.brtc-va-widget-controls-itemselector-itemcontainer-element-remove {
    position: relative;
    /*z-index: 10;*/
    top: 4px;
    left: -10px;
    display: none;
    float: right;
    width: 17px;
    height: 17px;
    background: url('images/icon/icon_property.png') no-repeat;
    background-color: transparent !important;
    background-position: -37px 0;
    flex-wrap: wrap;
    align-items: center;
}

.brtc-va-widget-controls-itemselector-itemcontainer-element-remove:hover {
    background: url('images/icon/icon_property.png') no-repeat;
    background-position: -37px -27px;
}

.brtc-va-widget-controls-itemselector-itemcontainer-expander-remain {
    cursor: default;
}

.brtc-va-widget-controls-itemselector-itemcontainer-editopener {
    cursor: pointer;
}

.brtc-va-widget-controls-itemselector-itemcontainer-editopener-down {
    display: block;
    cursor: pointer;
}

.brtc-va-widget-controls-itemselector-itemcontainer-editopener-up {
    display: none;
    cursor: pointer;
}

.brtc-va-widget-controls-propertycontrol-culumnselector {
    width: 200px;
    height: auto;
}

.brtc-va-widget-controls-itemselector-itemcontainer-element-empty {
    line-height: 25px;
    width: calc(100% - 10px);
    height: 100%;
    margin-left: 10px;
    text-align: center;
    color: #585858;
}

.brtc-va-widget-controls-itemselector-itemcontainer-itemunit {
    width: 180px;
    height: 22px;
}

.brtc-va-widget-controls-itemselector-itemcontainer-itemunit-misseddata {
    color: red;
}

/**************************************************************************************************************************************************/
/* Item Selector */
/* <div class="brtc-va-widget-controls-itemselector-editarea">           */
/*     <div class="brtc-va-widget-controls-itemselector-header"></div>   */
/*     <div class="brtc-va-widget-controls-itemselector-content"></div>  */
/* </div>                                                                         */
/**************************************************************************************************************************************************/
.brtc-va-widget-controls-itemselector {
    width: 300px !important;
    padding-top: 0 !important;
}

.brtc-va-widget-controls-itemselector .brtc-va-widget-controls-itemselector-header .jqx-window-close-button.jqx-window-close-button-office.jqx-icon-close.jqx-icon-close-office {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 10px;
    width: 15px !important;
    height: 16px !important;
    margin-top: 5px;
    padding: 0;
    border: none;
    background: url('images/icon/icon_popup.png') no-repeat;
    background-position: 0 0;
}

.brtc-va-widget-controls-itemselector .brtc-va-widget-controls-itemselector-header .jqx-window-close-button.jqx-window-close-button-office.jqx-icon-close.jqx-icon-close-office:hover {
    background-position: -25px 0;
}

.brtc-va-widget-controls-itemselector .brtc-va-widget-controls-itemselector-header.jqx-window-header.jqx-window-header-office.jqx-widget-header.jqx-widget-header-office {
    font-family: 'Arial', sans-serif !important;
    font-size: 18px !important;
    font-weight: bold !important;
    padding-top: 15px !important;
    padding-left: 15px !important;
    border-bottom: none !important;
}

.brtc-va-widget-controls-itemselector-content {
    overflow-x: hidden;
    width: 100%;
}

.brtc-va-widget-controls-itemselector-content .brtc-va-widget-controls-itemselector-filter.jqx-input-group-office .jqx-input-office {
    padding-left: 10px !important;
}

.brtc-va-widget-controls-itemselector-content .brtc-va-widget-controls-itemselector-filter input[type=text].jqx-input-office,
.brtc-va-widget-controls-itemselector-content .brtc-va-widget-controls-itemselector-filter input[type=password].jqx-input-office {
    font-size: 13px;
    box-sizing: border-box;
    width: 270px !important;
    min-width: 16px;
    min-height: 16px;
    margin: 0;
    padding: 0;
    padding-right: 10px;
    padding-left: 10px;
    border-width: 1px;
    border-style: solid;
}

.brtc-va-widget-controls-itemselector.ui-dialog-content.ui-widget-content {
    width: calc(100% - 20px) !important;
}

.brtc-va-widget-controls-itemselector-content .brtc-va-widget-controls-itemselector-filter .jqx-input-group-office .jqx-input-office {
    padding-left: 10px !important;
}

.brtc-va-widget-controls-itemselector-content .brtc-va-widget-controls-itemselector-filter input[type=text].jqx-input-office {
    font-size: 12px;
}

.brtc-va-widget-controls-itemselector-content .brtc-va-widget-controls-itemselector-filter input[type=text].jqx-input-office:focus {
    border: 1px solid #626fdb !important;
}

.brtc-va-widget-controls-itemselector-content .brtc-va-widget-controls-itemselector-filter input[type=text].jqx-input-office.error,
.brtc-va-widget-controls-itemselector-content .brtc-va-widget-controls-itemselector-filter input[type=text].jqx-input-office.error:focus {
    text-align: right;
    border: 1px solid #ea3539 !important;
}

.brtc-va-widget-controls-itemselector-content .brtc-va-widget-controls-itemselector-filter .fl {
    float: left;
}

.brtc-va-widget-controls-itemselector-content .brtc-va-widget-controls-itemselector-filter-container {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 0 10px 0;
}

.brtc-va-widget-controls-itemselector-filter-container > input {
    width: 100%;
}

.brtc-va-widget-controls-itemselector-content .brtc-va-widget-controls-itemselector-filter .jqx-input-group-office:focus {
    border: 1px solid #6c79e9;
}

.brtc-va-widget-controls-itemselector-content .brtc-va-widget-controls-itemselector-filter .jqx-input-group-addon-office {
    width: 30px;
    margin: 0;
    margin-top: 1px;
    padding: 0 !important;
    border: 1px solid #ccc;
}

.brtc-va-widget-controls-itemselector-content .brtc-va-widget-controls-itemselector-filter-search.jqx-input-group-addon-office:hover {
    /*background-color: rgba(227, 227, 227, 0.5);*/
}

.brtc-va-widget-controls-itemselector-content .brtc-va-widget-controls-itemselector-filter .brtc-va-widget-controls-itemselector-filter-search.jqx-input-group-addon-office {
    line-height: 37px;
    position: absolute;
    right: 17px;
    height: 29px !important;
    text-align: center;
    border: none;
}

.brtc-va-widget-controls-itemselector-content .brtc-va-widget-controls-itemselector-filter .jqx-input-group-addon-office img {
    width: 30px;
    height: 29px;
    border: none !important;
}

.brtc-va-widget-controls-itemselector-content .brtc-item-check-box-wrapper .jqx-checkbox-office {
    border: none;
    background: none;
}

.brtc-va-widget-controls-itemselector-content .brtc-item-check-box-wrapper .jqx-checkbox-default-office {
    display: inline-block;
    float: none;
    margin: 0 10px 0 0;
    margin-top: 0 !important;
    vertical-align: middle;
    border: none;
    background: url('images/icon/radio_check.png') no-repeat;
    background-position: -38px 0;
}

.brtc-va-widget-controls-itemselector-content .brtc-item-check-box-wrapper .jqx-checkbox-office[aria-checked=true] span {
    color: #626fdb !important;
}

.brtc-va-widget-controls-itemselector-content .brtc-item-check-box-wrapper .jqx-checkbox-office span {
    vertical-align: middle;
}

/* Select All Button Start */
.brtc-va-widget-controls-itemselector-content .brtc-item-check-box-wrapper {
    /*padding-left: 10px;*/
}

.brtc-va-widget-controls-itemselector-content .brtc-item-check-box-wrapper > input[type='button'] {
    width: 142px !important;
}

.brtc-va-widget-controls-itemselector-content .brtc-item-check-box-wrapper .jqx-checkbox-hover-office {
    background: url('images/icon/radio_check.png') no-repeat;
    background-position: -38px -28px;
}

.brtc-va-widget-controls-itemselector-content .brtc-item-check-box-wrapper .jqx-checkbox-disabled-box-office {
    background: url('images/icon/radio_check.png') no-repeat;
    background-position: -38px -112px;
}

.brtc-va-widget-controls-itemselector-content .brtc-item-check-box-wrapper .jqx-checkbox-office[aria-disabled=true][aria-checked=true] > div > div > span {
    background: url('images/icon/radio_check.png') no-repeat;
    background-position: -38px -84px;
}

.brtc-va-widget-controls-itemselector-content .brtc-item-check-box-wrapper .jqx-checkbox-office[aria-disabled=true][aria-checked=true] span {
    color: rgba(0, 0, 0, .8) !important;
}

.brtc-va-widget-controls-itemselector-content .brtc-item-check-box-wrapper .jqx-checkbox-check-checked-office {
    top: 0 !important;
    left: 0 !important;
    width: 17px !important;
    height: 17px !important;
    background: url('images/icon/radio_check.png') no-repeat;
    background-position: -38px -56px;
}

/* Select All Button End */
.brtc-va-widget-controls-itemselector-content .brtc-item-selector-confirm-button-wrapper {
    padding-top: 10px;
    padding-left: 195px;
}

.brtc-va-widget-controls-itemselector-content .brtc-item-selector-confirm-button-confirm.jqx-button-office {
    padding: 0 20px;
    color: #fff !important;
    border: 1px solid #6c79e9 !important;
    background-color: #6c79e9 !important;
}

.brtc-va-widget-controls-itemselector-content .brtc-item-selector-confirm-button-confirm.jqx-button-office:hover {
    background-color: #6673dd !important;
}

.brtc-va-widget-controls-itemselector-content.brtc-item-selector-confirm-button-confirm.jqx-button-office.disabled {
    pointer-events: none;
    border: 1px solid #f0f1fd !important;
    background-color: #f0f1fd !important;
}

.brtc-va-widget-controls-itemselector-content .brtc-va-widget-controls-itemselector-itemcontainer-wrapper {
    position: relative;
    clear: both;
    /*border: 1px solid #c7c7c7;*/
    overflow: hidden;

    /*width: 280px !important;*/
    /*height: 167px;*/
}


.brtc-va-widget-controls-itemselector-content .brtc-va-widget-controls-itemselector-itemcontainer-button-wrapper {
    float: left;
    box-sizing: content-box;
    width: 20px;
    height: auto;
    padding-top: 8px;
    padding-left: 10px;
}

.brtc-va-widget-controls-itemselector-content .brtc-va-widget-controls-itemselector-itemcontainer-list-wrapper {
    float: left;
    width: 215px !important;
    height: auto;
    margin-top: 0;
    padding-top: 0;
}

.brtc-va-widget-controls-itemselector-content .brtc-va-widget-controls-itemselector-itemcontainer-list {
    height: auto;
    border: none;
}

/*.brtc-va-widget-controls-itemselector-content .brtc-va-widget-controls-itemselector-itemcontainer {*/
/*border: none;*/
/*}*/

.brtc-va-widget-controls-itemselector-content .jqx-listitem-state-normal.jqx-listitem-state-normal-office.jqx-item.jqx-item-office.jqx-rc-all.jqx-rc-all-office {
    color: black;
    border: none;
    background: none;
}

.brtc-va-widget-controls-itemselector-content .jqx-listitem-state-normal.jqx-listitem-state-normal-office.jqx-item.jqx-item-office.jqx-rc-all.jqx-rc-all-office.jqx-listitem-state-selected.jqx-listitem-state-selected-office.jqx-fill-state-pressed.jqx-fill-state-pressed-office {
    color: #626fdb !important;
    border: none;
    background: none;
}

.brtc-va-widget-controls-itemselector-content .jqx-listitem-state-normal.jqx-listitem-state-normal-office.jqx-item.jqx-item-office.jqx-rc-all.jqx-rc-all-office.jqx-listitem-state-hover.jqx-listitem-state-hover-office.jqx-fill-state-hover.jqx-fill-state-hover-office {
    color: black;
    border: none;
    background: none;
}

.brtc-va-widget-controls-itemselector-content .brtc-va-widget-controls-itemselector-itemcontainer-element .brtc-va-widget-controls-itemselector-itemcontainer-element-name {
    width: calc(100% - 130px);
    /*width: 200px;*/
    /*min-width: 35px;*/
}

.brtc-va-widget-controls-itemselector-content .brtc-va-widget-controls-itemselector-itemcontainer-button-wrapper div.element-button-checkbox {
    display: inline-block;
    float: none;
    width: 17px !important;
    height: 17px !important;
    margin-bottom: 11px;
    vertical-align: middle;
    border: none;
    background: url('images/icon/radio_check.png') no-repeat;
    background-position: -38px 0;
}

.brtc-va-widget-controls-itemselector-content .brtc-va-widget-controls-itemselector-itemcontainer-button-wrapper div.element-button-checkbox:hover {
    background: url('images/icon/radio_check.png') no-repeat;
    background-position: -38px -28px;
}

.brtc-va-widget-controls-itemselector-content .brtc-va-widget-controls-itemselector-itemcontainer-button-wrapper div.element-button-checkbox.element-button-checked {
    color: #626fdb !important;
    background: url('images/icon/radio_check.png') no-repeat;
    background-position: -38px -56px;
}

.brtc-va-widget-controls-itemselector-content .brtc-va-widget-controls-itemselector-itemcontainer-button-wrapper div.element-button-radio {
    display: inline-block;
    float: none;
    width: 18px !important;
    height: 18px !important;
    margin-bottom: 10px;
    vertical-align: middle;
    border: none;
    -webkit-border-radius: 0 !important;
       -moz-border-radius: 0 !important;
            border-radius: 0 !important;
    background: url('images/icon/radio_check.png') no-repeat;
    background-position: 0 0;
         -o-border-radius: 0 !important;
}

.brtc-va-widget-controls-itemselector-content .brtc-va-widget-controls-itemselector-itemcontainer-button-wrapper div.element-button-radio:hover {
    background: url('images/icon/radio_check.png') no-repeat;
    background-position: 0 -28px;
}

.brtc-va-widget-controls-itemselector-content .brtc-va-widget-controls-itemselector-itemcontainer-button-wrapper div.element-button-radio.element-button-checked {
    background: url('images/icon/radio_check.png') no-repeat;
    background-position: 0 -56px;
}

.brtc-va-widget-controls-no-left {
    left: 0;
}

.brtc-va-widget-controls-itemselector-itemcontainer-element-type-error {
    background-position: 0 -78px;
}

.brtc-va-widget-controls-itemselector .jqx-checkbox-default-office > div:first-child {
    width: 15px !important;
    height: 15px !important;
}

.brtc-va-widget-controls-itemselector .jqx-checkbox-check-checked-office {
    top: 2px !important;
    left: 2px !important;
    width: 15px !important;
    height: 15px !important;
    background: url('images/icon/radio_check.png') no-repeat;
    background-position: -39px -57px;
}
