.brtc-va-dialogs-contents-label.notice {
    float: left;
    width: 100px;
}

.brtc-va-dialogs-contents-input.notice {
    line-height: 30px;
    float: left;
    overflow: hidden;
    width: calc(100% - 100px);
    white-space: nowrap;
    text-overflow: ellipsis;
}

.brtc-va-dialogs-contents-textarea.notice {
    float: left;
    width: calc(100% - 20px);
    height: 180px;
}

.brtc-va-dialogs-row-flex-layout.notice {
    width: 100%;
}

.brtc-va-dialogs-contents-textarea-wrapper {
    position: relative;
    width: calc(100% - 100px);
    height: 180px;
}

.brtc-va-dialogs-contents-input-half.notice {
    line-height: 30px;
    float: left;
    overflow: hidden;
    width: 250px;
    text-overflow: ellipsis;
}
