.brtc-va-dialogs-publish-management-new,
.brtc-va-dialogs-publish-management-delete,
.brtc-va-dialogs-publish-management-modify {
    float: right;
    width: 80px;
    height: 31px;
    cursor: pointer;
}

.brtc-va-dialogs-publish-management-modify,
.brtc-va-dialogs-publish-management-delete {
    margin-left: 4px;
}

.brtc-va-dialogs-publish-management-grid {
    float: left;
    box-sizing: border-box;
    margin-top: 12px;
    margin-bottom: 12px;
    border-right-color: transparent;
    border-left-color: transparent;
}

.brtc-va-dialogs-publish-management-grid .iconscontainer {
    display: none !important;
}


.brtc-float-left {
    float: left;
    width: 100%;
    height: 100%;
}

.brtc-va-publish-button {
    display: flex;
    width: 100px;
    height: 30px;
    margin-top: 12px;
    margin-left: 17px;
    cursor: pointer;
    color: #7d7d7d;
    border: 1px solid #e5e5e5;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.brtc-va-publish-button.code {
    /*background-image: url(images/bt-copy-code.png);*/
    /*background-repeat: no-repeat;*/
}

.brtc-va-publish-button.link {
    /*background-image: url(images/bt-copy-link.png);*/
    /*background-repeat: no-repeat;*/
}

.brtc-va-publish-title {
    line-height: 53px;
    overflow: hidden;
    width: calc(100% - 40px);
    height: 53px;
    margin-left: 20px;
    text-overflow: ellipsis;
}

.brtc-va-publish-title-new {
    float: right;
    width: 20px;
    height: 20px;
    /*margin-top: 17px;*/

    background-image: url(images/icon-new-badge-blue.png);
    background-repeat: no-repeat;
    object-fit: contain;
}

.brtc-va-dialogs-publish-management-header {
    width: 100%;
    height: 31px;
}

.brtc-va-dialogs-publish-management-header .tb_view_st {
    line-height: 31px;
    float: left;
}

.brtc-va-dialogs-publish-management-body {
    width: 100%;
    height: calc(100% - 31px);
}

.brtc-va-dialogs-publish-management-header .brtc-admin-total-count {
    margin-left: 10px;
}

.brtc-va-dialogs-publish-management-body .jqx-widget.jqx-widget-office.jqx-checkbox.jqx-checkbox-office {
    margin-top: -9px;
    margin-left: -11px;
}

.brtc-va-dialogs-publish-management-body .jqx-widget-header.jqx-widget-header-office.jqx-grid-header.jqx-grid-header-office [role=columnheader]:first-child {
    padding-top: 0 !important;
}

.GridStyleV2 .jqx-widget-header.jqx-widget-header-office.jqx-grid-header.jqx-grid-header-office {
    height: 54px !important;
    border-bottom: none;
    background-color: #f7f7f7 !important;
}

.GridStyleV2 [role=columnheader] {
    line-height: 54px !important;
    border-right: none;
    border-left: none;
    background-color: #f7f7f7;
}

.brtc-va-dialogs-publish-management-header-sum {
    float: left;
    width: 150px;
    padding-top: 15px;
}
.GridStyleV2 [role=gridcell] {
    border-right: none !important;
}
