.brtc-va-dialogs-schedule-management-add {
    float: right;
    width: 66px;
    height: 31px;
    margin-right: 4px;
}

.brtc-va-dialogs-schedule-management-delete {
    float: right;
    width: 66px;
    height: 31px;
    /*margin-top: 10px;*/
}

.brtc-va-dialogs-schedule-management-grid {
    float: left;
    box-sizing: border-box;
    margin-top: 12px;
    margin-bottom: 12px;
    border-right-color: transparent;
    border-left-color: transparent;
}

.brtc-va-dialogs-schedule-management-grid [role=columnheader] [role=checkbox],
.brtc-va-dialogs-schedule-management-grid [role=gridcell] .jqx-checkbox {
    margin-top: -9.5px !important;
}

.brtc-va-dialogs-schedule-row {
    display: flex;
}

.brtc-va-dialogs-schedule-label {
    line-height: 27px;
    float: left;
    width: 130px;
    margin-right: 37px;
    margin-bottom: 20px;
}

.brtc-va-dialogs-schedule-active-selector,
.brtc-va-dialogs-schedule-active-edit-selector {
    float: left;
    width: 180px;
    height: 25px;
    /*margin-left: 37px !important;*/
    margin-bottom: 20px !important;
}

.brtc-va-dialogs-schedule-name-input,
.brtc-va-dialogs-schedule-cron-input,
.brtc-va-dialogs-schedule-owner-input,
.brtc-va-dialogs-schedule-name-edit-input,
.brtc-va-dialogs-schedule-cron-edit-input,
.brtc-va-dialogs-schedule-owner-edit-input,
.brtc-va-dialogs-schedule-model-version-input {
    float: left;
    width: 340px;
    /*margin-left: 37px !important;*/
    margin-bottom: 20px!important;
}

.brtc-va-dialogs-model-version-load {
    margin-left: 10px;
}

.brtc-va-dialogs-schedule-cron-help {
    float: left;
    box-sizing: border-box;
    width: 25px;
    height: 26px;
    cursor: pointer;
    background-color: transparent;
    background-image: url('./images/tool-help.png');
    background-repeat: no-repeat;
    background-position: center;
}

.brtc-va-dialogs-schedule-cron-help:hover {
    background-color: #eeeeef;
}

.brtc-va-dialogs-schedule-cron-help-contents {
    font-size: 12px;
    height: 400px;
}

.brtc-va-dialogs-schedule-cron-checkbox.jqx-checkbox {
    line-height: 20px;
    float: left;
    margin-top: 4px !important;
}

.brtc-va-dialogs-buttonbar-delete {
    float: right;
    width: 100px;
    height: 32px;
    margin-right: 6px;
    cursor: pointer;
    color: #656eea;
    border: 1px solid #656eea !important;
    background-color: #fff;
}

.brtc-va-dialogs-buttonbar-delete:hover {
    background-color: rgba(108, 121, 233, .05) !important;
}

.brtc-va-dialogs-schedule-management-header {
    width: 100%;
    height: 31px;
}

.brtc-va-dialogs-schedule-management-header .tb_view_st {
    line-height: 31px;
    float: left;
}

.brtc-va-dialogs-schedule-management-body {
    width: 100%;
    height: calc(100% - 31px);
}

.brtc-va-studio .brtc-va-dialogs-schedule-management-header input {
    height: 31px;
}
