.brtc-va-editors-sheet-panels-basepanel.dialog-properties > *
{
    padding: 0 10px;
    box-sizing: border-box;
}

.brtc-va-editors-sheet-panels-basepanel.dialog-properties .jqx-dropdownlist-state-normal{
    height: 27px !important;
}

.brtc-va-editors-sheet-panels-basepanel.dialog-properties .brtc-va-editors-sheet-controls-propertycontrol-label.jqx-widget-header{
    width: auto !important;
}

.brtc-va-editors-sheet-panels-basepanel.dialog-properties .brtc-va-editors-sheet-controls-propertycontrol-deck{
    padding: 15px 6px 6px 6px;
}

.brtc-va-editors-sheet-panels-basepanel.dialog-properties .brtc-va-editors-sheet-panels-propertiespanel-contents-area
{
    height: 100%;
}

.brtc-va-editors-sheet-panels-basepanel.dialog-properties .brtc-va-editors-sheet-panels-validation-tooltip-wrapper
{
    display: none;
}

.brtc-va-editors-sheet-panels-basepanel.dialog-properties .brtc-va-selectcolumn-header-check
{
    width: 45px;
}

.brtc-va-editors-sheet-panels-basepanel.dialog-properties .brtc-va-selectcolumn-header-label
{
    width:200px;
}

.brtc-va-editors-sheet-panels-basepanel.dialog-properties .brtc-va-selectcolumn-header-type
{
    width:150px;
}

.brtc-va-editors-sheet-panels-basepanel.dialog-properties .brtc-va-selectcolumn-column-reset
{
    width: 13px;
    height: 13px;
    margin: 5px;

    background: url('images/icon/icon_palette.png') no-repeat;
    background-position: 0 -27px;
    cursor: pointer;
}


.brtc-va-editors-sheet-controls-propertycontrol.direction-row
{
    display: flex;
    margin-bottom: 0;
}

.brtc-va-editors-sheet-controls-propertycontrol.direction-row > .brtc-va-editors-sheet-controls-propertycontrol
{
    margin-bottom: 0;
}

.brtc-va-editors-sheet-controls-propertycontrol.contents-row .brtc-va-editors-sheet-controls-propertycontrol-contents
{
    display: flex;
    align-items: center;
}

.brtc-va-editors-sheet-controls-propertycontrol.contents-row .brtc-va-editors-sheet-controls-wrapper{
    flex: 1;
}

.brtc-va-editors-sheet-controls-propertycontrol.contents-row .brtc-va-editors-sheet-controls-wrapper:first-child{
    flex: 2;
}

.brtc-va-editors-sheet-validation-tooltip-wrapper-dialog
{
    display:flex;
    clear: both;

    box-sizing: border-box;
    margin-top: 5px;

    cursor: pointer;
    word-wrap: break-word;
    pointer-events: none;

    color: rgba(194, 6, 17, .65);
}

.brtc-va-editors-opt-validation-tooltip-wrapper-dialog > i
{
    float: left;

    margin-top: 2px;
    margin-right: 5px;
}

.brtc-va-editors-sheet-validation-error-dialog input.brtc-va-editor-sheet-controls-propertycontrol-input,
.brtc-va-editors-sheet-validation-error-dialog input.brtc-va-editors-sheet-controls-inputcontrol
{
    border-color: #ea3539 !important;
}
