.brtc-style-content-wrapper {
    position: absolute;
    z-index: 100;
    padding: 7px;
    outline: #d9d9d9 dashed 1px;
    outline-offset: -1px;
}

.brtc-style-content-wrapper.disable-outline {
    outline: none;
}

.brtc-style-page .brtc-style-content-wrapper.ui-selected:not(.cancel-resize) /* single selection */ {
    /* z-index: 115 !important; TODO: content 15개 제한(100 ~ 114)에 따라 115로 설정, 추후 변경 필요 */
}

.brtc-style-page .brtc-style-content-wrapper.ui-selected {
    outline: #8190ff solid 1px !important;
}

.brtc-style-content-wrapper:hover {
    outline: 1px dashed #d9d9d9;
}

.brtc-style-content-toolitem-area {
    position: absolute;
    top: -30px;
    left: 0;
    visibility: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    opacity: .5;
    background-color: #d9d9d9;
}

.brtc-style-content-wrapper.ui-selected .brtc-style-content-toolitem-area
/*.brtc-style-content-wrapper:hover .brtc-style-content-toolitem-area*/ {
    visibility: visible;
    cursor: move;
}

/*
.brtc-style-content-toolitem-area .note-btn-group.btn-group
{
    display: block !important;
}

.brtc-style-content-toolitem-area .panel-heading.note-toolbar
{
    padding: 0 !important;
}

.brtc-style-content-toolitem-area .panel-heading.note-toolbar > .btn-group
{
    margin: 0 !important;
}

.brtc-style-content-toolitem-area .note-btn-group.btn-group .btn-sm
{
    font-size: 10px;
    line-height: 1;

    padding: 4px 5px;

    border-radius: 0 !important;
}*/

.brtc-style-content-move-button {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 13px;
    height: 13px;
    background: url('images/icon/icon-move.png') no-repeat;
}

.brtc-style-content-remove-button {
    position: absolute;
    top: 9px;
    right: 9px;
    display: inline-block;
    width: 11px;
    height: 11px;
    cursor: pointer;
    background: url('images/icon/icon-x.png') no-repeat;
}

.brtc-style-content-refresh-button {
    position: absolute;
    top: 9px;
    right: 30px;
    display: inline-block;
    width: 13px;
    height: 13px;
    cursor: pointer;
    background: url('images/icon/icon-update.png') no-repeat;
}

.brtc-style-change-chart-button {
    font-size: 12px;
    line-height: 20px;
    float: left;
    padding: 0 20px 0 4px;
    cursor: pointer;
    border: 1px #d3d3d3 solid;
    background-image: url('images/icon-down-17.png');
    background-repeat: no-repeat;
    background-position: right center;
}

.brtc-style-change-chart-button:hover {
    background-color: #eeeeef;
}

.brtc-style-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.brtc-style-content .bcharts-chart {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.brtc-va-visual-content[type=table] .bcharts-container {
    overflow: hidden;
}

.brtc-style-content .bcharts-pagination {
    overflow: hidden;
    min-height: 30px;
    padding-right: 5px;
    padding-left: 5px;
    border: 1px solid #d4d4d4;
    border-top: none;
    background-color: #fff;
}

.brtc-style-content-wrapper .ui-resizable-se {
    right: 0;
    bottom: 0;
}

.brtc-style-content-wrapper .ui-resizable-e {
    right: 0;
}

.brtc-style-content-wrapper .ui-resizable-s {
    bottom: 0;
}

.brtc-style-content-wrapper .ui-resizable-w {
    left: 0;
}

.brtc-style-content-wrapper .ui-resizable-n {
    top: 0;
}

.brtc-style-content .bchart-control-area {
    display: none !important;
}

.cancel-resize .ui-resizable-handle,
.cancel-resize.ui-selected .brtc-va-visual-content-toolitem-area {
    display: none !important;
}

.cancel-resize .brtc-style-content {
    position: relative;
}

/* */
.brtc-style-content[type=text] {
    width: 100%;
    height: 100%;
}

.brtc-style-content[type=text] .note-toolbar.panel-heading {
    display: none;
}

.brtc-style-content-wrapper.ui-selected .brtc-style-content[type=text] .note-editor.note-frame.panel.panel-default {
    border: none !important;
    border-radius: 0;
    outline: 1px solid #d9d9d9;
}

.brtc-style-content[type=text] .note-editor.note-frame.panel.panel-default {
    height: 100%;
    margin-bottom: 0;
    border: none;
    box-shadow: none;
}

.brtc-style-content[type=text] .note-editing-area {
    height: 100%;
}

.brtc-style-content-wrapper.ui-selected .brtc-style-content[type=text] .note-editing-area {
    height: 100%;
}

.brtc-style-content[type=text] .note-editable.panel-body {
    height: 100%;
}

.brtc-style-content-wrapper.ui-selected .brtc-style-content[type=text] .note-editor.note-frame .note-editing-area .note-editable,
.brtc-style-content-wrapper.publish:hover .brtc-style-content[type=text] .note-editor.note-frame .note-editing-area .note-editable {
    overflow: auto;
}

.brtc-style-content-wrapper.ui-selected .note-editing-area {
    cursor: auto;
}

.brtc-style-content[type=text] .note-editor.note-frame .note-editing-area .note-editable {
    overflow: hidden;
}

.brtc-style-content-wrapper.ui-selected .brtc-style-content[type=text] .note-editor.note-frame .note-editing-area .note-editable::-webkit-scrollbar-track,
.brtc-style-content-wrapper.publish .brtc-style-content[type=text] .note-editor.note-frame .note-editing-area .note-editable::-webkit-scrollbar-track {
    background-color: transparent;
}

.brtc-style-content-wrapper.ui-selected .brtc-style-content[type=text] .note-editor.note-frame .note-editing-area .note-editable::-webkit-scrollbar,
.brtc-style-content-wrapper.publish .brtc-style-content[type=text] .note-editor.note-frame .note-editing-area .note-editable::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
}

.brtc-style-content-wrapper.ui-selected .brtc-style-content[type=text] .note-editor.note-frame .note-editing-area .note-editable::-webkit-scrollbar-thumb,
.brtc-style-content-wrapper.publish .brtc-style-content[type=text] .note-editor.note-frame .note-editing-area .note-editable::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #ccc;
}

.brtc-style-content[type=text] .note-editor.note-frame .note-editing-area .note-editable[contenteditable='false'] {
    word-wrap: break-word;
    background-color: transparent;
}

.brtc-style-content-wrapper.ui-droppable.ui-state-disabled.status-drop-hover {
    opacity: 1;
    background-color: #fff;
}

.brtc-va-visual-droppable {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    display: flex;
    overflow: hidden;
    opacity: .6;
    background-color: #000;
    justify-content: center;
    align-items: center;
}

.brtc-va-visual-droppable-contents {
    width: 250px;
    min-width: 200px;
}

.brtc-va-visual-droppable .bos-widget-header {
    color: #fff;
}

.brtc-va-visual-droppable .bos-widget-column-unit {
    cursor: default;
}

.brtc-va-visual-droppable[droppable-type=column] {
    opacity: .8;
    background-color: coral;
}

.brtc-va-visual-droppable[droppable-type=datasource] {
    opacity: .8;
    background-color: cornflowerblue;
}

.brtc-va-visual-droppable[droppable-type=chart-template] {
    opacity: .8;
    background-color: cornsilk;
}
