/*body[perm~="perm_deploy_create"] .brtc-va-workspace-project-container-ctxmenu li[action="deploy"] {*/
/*display: flex !important;*/
/*}*/

body:not([perm~='perm_deploy_create']) .brtc-va-workspace-project-container-ctxmenu li[action='deploy'] {
    display: none !important;
}

body[perm~='perm_schedule_read'] .brtc-va-editors-modeleditor-toolbar.brtc-style-editor-toolbar > .brtc-style-editor-toolitem.brtc-style-s-editor-toolitem[title='Schedule'] {
    display: flex;
}

body:not([perm~='perm_schedule_read']) .brtc-va-editors-modeleditor-toolbar.brtc-style-editor-toolbar > .brtc-style-editor-toolitem.brtc-style-s-editor-toolitem[title='Schedule'] {
    display: none !important;
}

body[perm~='perm_schedule_create'] .brtc-va-dialogs-schedule-management-header > .brtc-va-dialogs-schedule-management-add {
    display: block !important;
}

body:not([perm~='perm_schedule_create']) .brtc-va-dialogs-schedule-management-header > .brtc-va-dialogs-schedule-management-add {
    display: none !important;
}

body[perm~='perm_schedule_delete'] .brtc-va-dialogs-schedule-management-header > .brtc-va-dialogs-schedule-management-delete {
    display: block !important;
}

body:not([perm~='perm_schedule_delete']) .brtc-va-dialogs-schedule-management-header > .brtc-va-dialogs-schedule-management-delete {
    display: none !important;
}

body[perm~='perm_publish_read'] .brtc-va-editors-visualeditor-toolbar.brtc-style-editor-toolbar > .brtc-style-editor-toolitem.brtc-style-s-editor-toolitem[title='Publish'] {
    display: flex !important;
}

body:not([perm~='perm_publish_read']) .brtc-va-editors-visualeditor-toolbar.brtc-style-editor-toolbar > .brtc-style-editor-toolitem.brtc-style-s-editor-toolitem[title='Publish'] {
    display: none !important;
}

body[perm~='perm_publish_create'] .brtc-va-dialogs-publish-management-header > .brtc-va-dialogs-publish-management-new {
    display: block !important;
}

body:not([perm~='perm_publish_create']) .brtc-va-dialogs-publish-management-header > .brtc-va-dialogs-publish-management-new {
    display: none !important;
}

body[perm~='perm_publish_delete'] .brtc-va-dialogs-publish-management-header > .brtc-va-dialogs-publish-management-delete {
    display: block !important;
}

body:not([perm~='perm_publish_delete']) .brtc-va-dialogs-publish-management-header > .brtc-va-dialogs-publish-management-delete {
    display: none !important;
}

body[perm~='perm_udf_create'] .brtc-style-figure-scriptunit:not([func=sql]) .brtc-style-figure-scriptunit-toolitem[item-type='saveToUDF'] {
    display: flex !important;
}

body:not([perm~='perm_udf_create']) .brtc-style-figure-scriptunit-toolitem[item-type='saveToUDF'] {
    display: none !important;
}

body[perm~='perm_udf_create'] .brtc-style-views-udf-fnunit > .brtc-style-udf-fnunit-open-icon {
    display: block !important;
}
body:not([perm~='perm_udf_create']) .brtc-style-views-udf-fnunit > .brtc-style-udf-fnunit-open-icon {
    display: none !important;
}
