.brtc-va-editors-diagram-controleditorpage {
    position: relative;
    display: table;
    padding-right: 600px;
    padding-left: 600px;
    background-color: #e5e9ef;
}

.brtc-va-editors-diagram-controleditorpage.brtc-va-editors-diagram-controleditor-paper-scale-normal {
    transform: scale(.8);
}

.brtc-va-editors-diagram-controleditorpage.brtc-va-editors-diagram-controleditor-paper-scale-small {
    margin: auto;
    transform: scale(.6);
}

.brtc-va-editors-diagram-controleditor-container {
    position: relative;
    width: calc(100% - 15px);
    height: 100%;
    padding-right: 5px;
    padding-left: 10px;
    background-color: #e5e9ef;
}

.brtc-va-editors-diagram-shape-container,
.brtc-va-editors-diagram-shape-container-main {
    display:         flex;
    display: -webkit-flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    flex: 1;
    align-items: center;
            flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    align-self: stretch;
}

.brtc-va-editors-diagram-shape-container-main-sortable-placeholder {
    border: 3px dashed #626fdb;
    /*margin-left: 20px;*/
}

.brtc-va-editors-diagram-shape-label {
    font-size: 12px;
    display: inline-flex;
    overflow: hidden;
    width: 65%;
    margin-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-items: center;
}

.brtc-va-editors-diagram-shape-container-title {
    position: relative;
    display: flex;
    width: 100%;
}

.brtc-va-editors-diagram-shape-container-title:hover {
    cursor: move;
}

.brtc-va-editors-diagram-shape.if > .brtc-va-editors-diagram-shape-container-title:hover,
.brtc-va-editors-diagram-shape.else > .brtc-va-editors-diagram-shape-container-title:hover {
    cursor: default;
}

.brtc-va-editors-diagram-shape-type {
    display: none;
    /*font-size: 15px;*/
    /*font-weight: bold;*/
    /*text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);*/
    /*text-overflow: ellipsis;*/
    /*overflow: hidden;*/
    /*text-align: start;*/

    height: 20px;
}

.brtc-va-editors-diagram-shape.importdata,
.brtc-va-editors-diagram-shape.exportdata,
.brtc-va-editors-diagram-shape.dataflow {
    position: relative;
    min-width: 180px;
    min-height: 80px;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    text-shadow: none;
}

.brtc-va-editors-diagram-shape.importdata {
    background-color: #2f7eb6;
}

.brtc-va-editors-diagram-shape.exportdata {
    background-color: #8959a8;
}

.brtc-va-editors-diagram-shape.dataflow {
    background-color: #51976d;
}

.brtc-va-editors-diagram-shape.importdata .brtc-va-editors-diagram-shape-label,
.brtc-va-editors-diagram-shape.exportdata .brtc-va-editors-diagram-shape-label,
.brtc-va-editors-diagram-shape.dataflow .brtc-va-editors-diagram-shape-label {
    line-height: 30px;
    display: block;
    overflow: hidden;
    max-width: 115px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
    text-shadow: none;
}

.brtc-va-editors-diagram-shape.importdata.selected .brtc-va-editors-diagram-shape-label,
.brtc-va-editors-diagram-shape.exportdata.selected .brtc-va-editors-diagram-shape-label,
.brtc-va-editors-diagram-shape.dataflow.selected .brtc-va-editors-diagram-shape-label {
    font-weight: bold;
}

.brtc-va-editors-diagram-shape.importdata::after,
.brtc-va-editors-diagram-shape.exportdata::after,
.brtc-va-editors-diagram-shape.dataflow::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    background-repeat: no-repeat;
}

.brtc-va-editors-diagram-shape.importdata::after {
    right: 15px;
    bottom: 15px;
    width: 20px;
    height: 20px;
    background-image: url('images/func-io-w-20.png');
}

.brtc-va-editors-diagram-shape.exportdata::after {
    right: 15px;
    bottom: 15px;
    width: 20px;
    height: 20px;
    background-image: url('images/func-io-w-20.png');
}

.brtc-va-editors-diagram-shape.dataflow::after {
    width: 42px;
    height: 42px;
    background-image: url('images/model-icon-42.png');
    background-position-x: -126px;
}

.brtc-va-editors-diagram-shape.importdata .brtc-va-editors-diagram-shape-container-title,
.brtc-va-editors-diagram-shape.exportdata .brtc-va-editors-diagram-shape-container-title,
.brtc-va-editors-diagram-shape.dataflow .brtc-va-editors-diagram-shape-container-title {
    border: none;
}

.brtc-va-editors-diagram-shape-arrow {
    position: relative;
    display: inherit;
    height: 20px;
    margin-top: 10px;
    color: rgba(0, 0, 0, .3);
}

.brtc-va-editors-diagram-shape-add {
    cursor: pointer;
}

.brtc-va-editors-diagram-shape-arrow[arrow-type='insert']:hover:after {
    font-family: Calibri;
    position: absolute;
    left: -1px;
    width: 150px;
    height: 15px;
    content: 'Insert Unit';
    cursor: pointer;
    text-indent: 20px;
    color: #444;
    background: url('images/plus-circle-15.png') no-repeat;
}

.brtc-va-editors-diagram-shape-start {
    width: 30px;
    height: 30px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background: #4679bd;
}

.brtc-va-editors-diagram-shape-start.sub {
    width: 5px;
    height: 5px;
    margin: auto;
    text-align: center;
    background: rgba(0, 0, 0, .3);
}

.foreach .brtc-va-editors-diagram-shape-start.sub {
    width: 10px;
    height: 10px;
    color: rgba(0, 0, 0, .5);
    background: none;
}

.brtc-va-editors-diagram-shape-container-main.end.sub {
    display: none;
}

.brtc-va-editors-diagram-shape:hover > .brtc-va-editors-diagram-shape-container-main.end {
    display: flex;
}

.brtc-va-editors-diagram-shape:hover > .brtc-va-editors-diagram-shape-container-title .brtc-va-editors-diagram-shape-remove,
.brtc-va-editors-diagram-shape:hover > .brtc-va-editors-diagram-shape-container-title .brtc-va-editors-diagram-shape-add-condition {
    display: block;
}

.brtc-va-editors-diagram-shape-container-main.droppable {
    display: flex !important;
}

.brtc-va-editors-diagram-shape-arrow.droppable {
    color: #626fdb;
}

.brtc-va-editors-diagram-shape {
    display:         flex;
    display: -webkit-flex;
    align-items: center;
            flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
}

.brtc-va-editors-diagram-shape.while,
.brtc-va-editors-diagram-shape.foreach,
.brtc-va-editors-diagram-shape.if,
.brtc-va-editors-diagram-shape.elseif,
.brtc-va-editors-diagram-shape.else {
    display: inline-block;
    width: initial;
    min-width: 200px;
    height: 100%;
    min-height: 90px;
    padding: 5px 20px 20px 20px;
    border: 1px solid rgba(0, 0, 0, .1);
}

.brtc-va-editors-diagram-shape.foreach {
    border: 1px solid rgba(0, 0, 0, .1);
}

/*.brtc-va-editors-diagram-shape.elseif,*/
/*.brtc-va-editors-diagram-shape.else {*/
/*margin-left: 20px;*/
/*}*/

/*.brtc-va-editors-diagram-shape.ifelse {*/
/*border-top: 1px solid rgba(0, 0, 0, 0.1);*/
/*border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
/*}*/

.brtc-va-editors-diagram-shape.ifelse > .brtc-va-editors-diagram-shape-container-title {
    width: 200px;
    height: 25px;
    align-items: center;
    justify-content: center;
}

.brtc-va-editors-diagram-shape.ifelse > .brtc-va-editors-diagram-shape-container-title > .brtc-va-editors-diagram-shape-type {
    display: block;
    color: rgba(0, 0, 0, .5);
}

.brtc-va-editors-diagram-shape.ifelse > .brtc-va-editors-diagram-shape.container {
    width: initial;
            flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    align-items: flex-start;
}

.brtc-va-editors-diagram-shape-remove {
    position: absolute;
    top: 2px;
    right: 0;
    display: none;
    width: 17px;
    height: 17px;
    background: url('images/icon/icon_property.png') no-repeat;
    background-color: transparent !important;
    background-position: -37px 0;
}

.brtc-va-editors-diagram-shape-add-condition {
    position: absolute;
    top: 3px;
    right: 30px;
    display: none;
    width: 17px;
    height: 17px;
    background: url('images/plus-circle-15.png') no-repeat;
    background-color: transparent !important;
}

.brtc-va-editors-diagram-shape-remove:hover,
.brtc-va-editors-diagram-shape-add-condition {
    cursor: pointer;
}

.brtc-va-editors-diagram-shape.ifelse > .brtc-va-editors-diagram-shape-container-title .brtc-va-editors-diagram-shape-remove {
    right: 10px;
}

.brtc-va-editors-diagram-shape.selected {
    border: 3px solid rgba(0, 0, 0, .3);
}

/*
.brtc-va-editors-diagram-shape.has-problem > .brtc-va-editors-diagram-shape-container-title > .brtc-va-editors-diagram-shape-label
{
    color: red;
    font-weight: bold;
}

.brtc-va-editors-diagram-shape.has-problem.dataflow,
.brtc-va-editors-diagram-shape.has-problem.importdata,
.brtc-va-editors-diagram-shape.has-problem.exportdata
{
    border: 2px solid rgba(255, 0, 0, 0.5);
}

.brtc-va-editors-diagram-shape.has-problem.selected
{
    border: 3px solid rgba(255, 0, 0, 0.5);
}
*/

.brtc-va-editors-diagram-shape.dragging {
    border: 3px dashed #fa8d5d;
    background-color: rgba(250, 141, 93, .1);
}

.drop-hover {
    border: 3px dashed rgba(0, 0, 0, .1);
    border-radius: 10px;
    background-color: #b6c9e9;
}

.brtc-va-editors-diagram-drag-label {
    padding: 4px 2px 4px 2px;
    cursor: move;
    border: 1px solid rgba(0, 0, 0, .1);
}

.brtc-va-editors-diagram-shape-container-arrow {
    display:         flex;
    display: -webkit-flex;
    width: 100%;
            align-items: center;
    -webkit-align-items: center;
    justify-content: center;
}

