.brtc-style-editor-diagram-area {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: calc(100% - 40px);
}

.brtc-style-editor-toolbar-area {
    width: 100%;
    height: 39px;
}

.brtc-style-s-editor-toolbar-area {
    border-bottom: 1px solid #e1e1e2;
    background-color: #fdfdfd;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, .05);
}

.brtc-style-editor-notification-area {
    position: absolute;
    z-index: 10;
    bottom: 90px;
    left: calc(50% - 200px);
    width: 400px;
    height: 50px;
    pointer-events: none;
}

.brtc-style-editor-toolbar {
    float: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 7px 20px 7px 20px;
}

.brtc-style-editor-model-info {
    display: flex;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 500px;
    padding: 7px 20px 7px 20px;
    align-items: center;
}

.brtc-style-editors-model-info-toolitem {
    font-size: 12px;
    display: flex;
    width: 100%;
    align-items: center;
}

.brtc-style-editors-model-info-toolitem div {
    overflow: hidden;
    max-width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.brtc-style-editors-model-info-arrow {
    width: 5px;
    height: 9px;
    margin: -2px 5px 0 5px;
    background-image: url('images/icon/icon_right.png');
}

.brtc-style-popup {
    position: absolute;
    z-index: 10000;
    top: 40px;
    left: 0;
    box-sizing: border-box;
    width: 447px;
    padding: 20px 48px 30px 15px;
    color: rgba(0, 0, 0, .8);
    border: 1px solid #b2b2b2;
    background: #fff;
}

.brtc-style-popup .jqx-button-office.close {
    position: absolute;
    z-index: 100;
    right: 20px !important;
    width: 10px;
    height: 10px !important;
    padding: 0;
    cursor: pointer;
    opacity: 1;
    border: none;
    background: url('images/tool-close-10.png') no-repeat;
}

.brtc-style-popup-content {
    position: relative;
    display: flex;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 345px;
    padding-right: 10px;
    flex-wrap: wrap;
}

.brtc-style-popup-content:focus {
    outline: none;
}

.brtc-style-intable-item {
    display: flex;
    height: 30px;
    padding-bottom: 3px;
    align-items: center;
    justify-content: center;
}

.brtc-style-intable-item .brtc-va-views-palette-fnunit-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.brtc-style-intable-item .brtc-va-views-palette-fnunit {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.brtc-va-editors-sheet-controls-dataselector-empty-item {
    font-family: Arial, helvetica, sans-serif;
    font-size: 11px;
    position: relative;
    z-index: 5100;
    display: flex;
    float: left;
    box-sizing: border-box;
    width: 180px;
    height: 40px;
    color: #667185;
    border: 1px dashed #dcdcdc;
    border-radius: 20px;
    background: #fff;
    align-items: center;
    justify-content: center;
}

.brtc-style-editor-content-remove-button {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-left: 15px;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 20px;
    background: url('images/tool-close-8.png') no-repeat;
    /* position: absolute;
    top: 5px;
    right: 4px;

    width: 8px;
    height: 8px;

    cursor: pointer;

    background-image: url('images/tool-close-8.png'); */
}

.brtc-style-editors-sheet-datapanel-header-title {
    font-family: Arial, helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: -webkit-box;
    overflow: hidden;
    max-width: 300px;
    padding-left: 10px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    color: #667185;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.brtc-style-column-name-inputbox-timeseries-transpose-row {
    margin-bottom: 5px;
}

.deck-property {
    margin: 5px 0;
}

.deck-property > .property-label {
    float: left;
    margin-left: 5px;
}

.deck-property > .property-control {
    clear: both;
}

.joint-element {
    cursor: pointer;
}

.joint-style-cursor-move * {
    cursor: move;
}

.brtc-va-editors-move-mode-enabled .joint-element {
    cursor: move;
}

.brtc-style-controls-inputselector-content {
    height: 400px;
    padding: 20px;
}

.brtc-style-controls-inputselector-content-source-wrapper,
.brtc-style-controls-inputselector-content-inputs-wrapper {
    float: left;
    width: 49%;
    height: 100%;
    position: relative;
}

.brtc-style-controls-inputselector-content-inputs-wrapper {
    background-color: #f8f8f8;
}

.brtc-va-fnunit-input-empty {
    width: 100%;
    height: 60px;
    background-color: white;
    border: 1px dashed #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brtc-va-fnunit-input-empty div {
    color: #667185;
}

.brtc-style-controls-inputselector-content-source {
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.brtc-style-controls-inputselector-content-input {
    flex-grow: 1;
    height: 95%;
}

.brtc-va-editors-sheet-controls-input-list {
    height: 100%;
}

.brtc-va-editors-sheet-controls-input-list .brtc-va-views-palette-fnunit-label {
    height: 30px;
    line-height: 30px;
}

.brtc-style-controls-inputselector-box-title {
    width: 100%;
    height: 30px;
    padding-top: 8px;
    box-sizing: border-box;
}

.brtc-va-controls-datatree-li-table-icon {
    margin-top: 7px;
}

.brtc-style-controls-inputselector-box-title .icon[type=table],
.brtc-style-controls-inputselector-box-key-type-icon[type=table],
.brtc-va-controls-datatree-li-table-icon[type=table] {
    float: left;
    margin-right: 0px;
    width: 16px;
    height: 16px;
    color: transparent;
    background-image: url('images/inout-types-16x16.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.brtc-style-controls-inputselector-box-title .icon[type=model],
.brtc-style-controls-inputselector-box-key-type-icon[type=model],
.brtc-va-controls-datatree-li-table-icon[type=model] {
    float: left;
    margin-right: 0px;
    width: 16px;
    height: 16px;
    color: transparent;
    background-image: url('images/inout-types-16x16.png');
    background-repeat: no-repeat;
    background-position: -16px 0;
}

.brtc-style-controls-inputselector-box-title .icon[type=image],
.brtc-style-controls-inputselector-box-key-type-icon[type=image],
.brtc-va-controls-datatree-li-table-icon[type=image] {
    float: left;
    margin-right: 0px;
    width: 16px;
    height: 16px;
    color: transparent;
    background-image: url('images/inout-types-16x16.png');
    background-repeat: no-repeat;
    background-position: -32px 0;
}

.brtc-style-controls-inputselector-box-title .icon[type=table],
.brtc-style-controls-inputselector-box-title .icon[type=model],
.brtc-style-controls-inputselector-box-title .icon[type=image] {
    margin-right: 10px;
}

.brtc-style-controls-inputselector-box-title .label {
    height: 20px;
    width: calc(100% - 16px);
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.brtc-style-controls-inputselector-box-contents-remove {
    width: 8px;
    height: 8px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.brtc-style-controls-inputselector-box-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.brtc-style-controls-inputselector-box-key {
    width: 100%;
}

.brtc-style-controls-inputselector-box-key-label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 10px;
}

.brtc-style-controls-inputselector-box-key-wrapper {
    display: flex;
    flex-direction: row;
    height: 35px;
    line-height: 35px;
    text-align: left;
    padding-left: 30px;
    background-color: white;
}

.brtc-style-controls-inputselector-box-key-type {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brtc-style-controls-inputselector-content-source-scroll-wrapper {
    height: 100%;
}

.brtc-style-controls-inputselector-empty-fnunit {
    font-family: Arial, helvetica, sans-serif;
    font-size: 11px;
    position: relative;
    display: flex !important;
    float: left;
    box-sizing: border-box;
    width: 130px;
    height: 32px;
    margin-top: 10px;
    cursor: pointer;
    color: #667185;
    border: 1px dashed #dcdcdc;
    border-radius: 20px;
    background: #fff;
    align-items: center;
    justify-content: center;
}

.brtc-va-editors-sheet-controls-dataselector-editarea > .ui-draggable {
    font-family: Arial, helvetica, sans-serif;
    font-size: 11px;
    position: relative;
    z-index: 5100;
    display: flex !important;
    float: left;
    box-sizing: border-box;
    width: 130px;
    height: 32px;
    margin: 0 3px 3px 0;
    cursor: move;
    color: #667185;
    border: 1px solid #dcdcdc;
    border-radius: 16px;
    background: #fff;
    align-items: center;
}

.brtc-va-controls-datatree-wrapper {
    height: 100%;
    width: 100%;
    border: none;
}

.brtc-va-controls-datatree-wrapper .brtc-va-views-palette-fnunit-label {
    display: block;
    width: 200px;
}

.brtc-va-controls-datatree-empty {
    height: 100%;
    width: 100%;
    border: 1px dashed #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.brtc-va-controls-datatree-li-function {
    border-bottom: solid 1px #f2f2f2;
}

.brtc-va-controls-datatree-li-function > div,
.brtc-va-controls-datatree-li-function > span {
    height: 30px !important;
    margin-top: 0 !important;
}

.brtc-va-controls-datatree-li-function .brtc-va-views-palette-fnunit-label {
    height: 30px;
    line-height: 30px;
}

.brtc-va-controls-datatree-li-table {
    user-select: text;
    border: 1px solid white;
    margin-right: 5px;
    width: 100%;
    font-size: 12px;
    height: 35px;
    line-height: 35px;
    box-sizing: border-box;
    padding: 0 10px 0 13px;
    cursor: move;
    margin-left: 27px;
    text-overflow: ellipsis;
    display: flex;
}

.brtc-va-controls-datatree-li-table > i {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
}

.brtc-va-controls-datatree-li-table > div {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    padding: 0;
    cursor: move;
    width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 5px;
}

.brtc-va-controls-datatree-type-icon {
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    float: left;
}

.brtc-va-editors-sheet-controls-input-list-container {
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.brtc-style-controls-inputselector-box-wrapper {
    height: 100px;
    cursor: default;
}

.brtc-va-tools-sidebar .brtc-style-controls-inputselector-box-wrapper {
    font-size: 12px;
    height: 60px !important;
    background-color: #f8f8f8;
    padding: 15px 15px 15px 15px;
    margin-bottom: 10px;
}

.brtc-va-editors-sheet-controls-input-list-container .brtc-style-controls-inputselector-box-wrapper:last-child {
    border-bottom: none;
}

.brtc-style-controls-inputselector-box-contents-figure {
    width: 100%;
}

.joint-link.joint-theme-default .connection-wrap {
    cursor: pointer !important;
    stroke-width: 6 !important;
}
