/**
 * hyunseok.oh@samsung.com
 * 2017. 12. 25.
 */

.brtc-va-version-detail-row {
    display: flex;
    box-sizing: border-box;
}

.brtc-va-version-detail-body {
    display: grid;
    grid-row-gap: 12px;
}

.brtc-va-version-detail-label {
    font-weight: bold;
    line-height: 30px;
    width: 120px;
}

.brtc-va-version-detail-description-input {
    position: relative;
    box-sizing: border-box;
    width: 580px;
    height: 200px;
    padding-right: 10px;
    padding-left: 10px;
    word-wrap: break-word;
    opacity: .55;
    border: 1px solid #d4d4d4;
}

.brtc-va-dialogs-add-version-description-container,
.brtc-va-dialogs-edit-version-description-input {
    width: 580px;
}
