.brtc-va-dialogs-exporttoudfdialog-contents .brtc-va-dialogs-contents-label {
    flex: 1;
}

.brtc-va-dialogs-exporttoudfdialog-name-input {
    width: 100%;
    height: 25px;
    flex: 1;
}

.brtc-s-style-dialogs-exporttoudfdialog-name-input {
    background-color: #fff;
}

.brtc-va-dialogs-exporttoudfdialog-name-version-input {
    width: 100%;
    height: 25px;
    flex: 1;
}

.brtc-s-style-dialogs-exporttoudfdialog-name-version-input {
    border: none !important;
    background-color: #fff;
}
.brtc-va-dialogs-exporttoudfdialog-name-container,
.brtc-va-dialogs-exporttoudfdialog-description-container,
.brtc-va-dialogs-exporttoudfdialog-input-variables-container,
.brtc-va-dialogs-exporttoudfdialog-out-alias-container,
.brtc-va-dialogs-exporttoudfdialog-script-container,
.brtc-va-dialogs-exporttoudfdialog-test-result-container {
    max-width: calc(100% - 120px);
    height: calc(100% - 80px);
    flex: 8;
}

.brtc-va-dialogs-export-to-udf.remove-icon {
    float: left;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    cursor: pointer;
    background: url(images/icon/icon-remove.png) no-repeat;
    object-fit: contain;
}

.brtc-va-dialogs-export-to-udf.input-variable-name,
.brtc-va-dialogs-export-to-udf.input-variable-type,
.brtc-va-dialogs-export-to-udf.input-variable-description,
.brtc-va-dialogs-export-to-udf.out-alias-name,
.brtc-va-dialogs-export-to-udf.out-alias-description {
    float: left;
}

.brtc-va-dialogs-export-to-udf.input-variable-name,
.brtc-va-dialogs-export-to-udf.out-alias-name {
    margin-right: 4px;
}

.brtc-va-dialogs-export-to-udf.input-variable,
.brtc-va-dialogs-export-to-udf.out-alias {
    clear: both;
    height: 25px;
    margin-bottom: 10px;
}

.brtc-va-figure-scriptunit-export-to-udf {
    display: flex;
    float: right;
    width: auto;
}

.brtc-va-dialogs-test-udf-param-input-tables-container .header,
.brtc-va-dialogs-test-udf-param-input-variables-container .header {
    display: flex;
    height: 30px;
    align-items: center;
}

.brtc-va-dialogs-test-udf-param-input-tables-container .header span,
.brtc-va-dialogs-test-udf-param-input-variables-container .header span {
    font-family: Arial, helvetica, sans-serif;
    font-size: 13px;
    float: left;
    margin-right: 20px;
}

.brtc-va-dialogs-test-udf-param-input-tables-container .contents,
.brtc-va-dialogs-test-udf-param-input-variables-container .contents {
    min-height: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 12px 9px 13px 9px;
    padding-left: 0;
    border: none;
}

.brtc-va-dialogs-export-to-udf-result {
    position: relative;
    min-height: 100px;
    max-height: 400px;
    margin-top: 10px;
}

.brtc-va-dialogs-export-to-udf-result-panel {
    padding: 10px;
}

.brtc-va-dialogs-export-to-udf-result-panel-content {
    padding: 21px;
    padding-top: 10px;
}

.brtc-va-dialogs-export-to-udf-result-panel-content-dataworksheet {
    box-sizing: border-box;
    height: calc(100% - 20px);
}

.brtc-va-dialogs-export-to-udf-result-panel-content-title {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.brtc-va-dialogs-export-to-udf-result-panel-content .brtc-vs-worksheet-panel-tool-report {
    display: none;
}

.brtc-va-dialogs-export-to-udf .add-icon {
    float: left;
    width: 25px;
    height: 25px;
    margin-left: 4px;
    cursor: pointer;
    background: url(images/icon/icon-add.png) no-repeat;
    object-fit: contain;
}

.brtc-va-dialogs-export-to-udf.input-variable-empty .add-icon,
.brtc-va-dialogs-export-to-udf .add-icon.add-icon-margin-left-10 {
    margin-left: 10px;
}

.brtc-va-dialogs-export-to-udf .input-variable-description > input,
.brtc-va-dialogs-export-to-udf .input-variable-name > input,
.brtc-va-dialogs-export-to-udf .out-alias-name > input,
.brtc-va-dialogs-export-to-udf .out-alias-description > input {
    width: 100%;
    height: 100%;
}

.brtc-va-dialogs-export-to-udf .out-alias-description {
    width: 454px;
    height: 25px;
}

.brtc-va-dialogs-export-to-udf .out-alias-description.out-alias-desc-width-max {
    width: 483px;
}

.brtc-va-dialogs-export-to-udf-test-button {
    float: right;
    width: 70px;
    height: 25px;
    margin-top: 11px;
    cursor: pointer;
}

.brtc-s-style-dialogs-export-to-udf-test-button {
    border: solid 1px #d9d9d9;
    border-radius: 1px;
    background-color: #fff;
}

.brtc-va-dialogs-export-to-udf-result .bcharts-adonis-right,
.brtc-va-dialogs-export-to-udf-result .bcharts-adonis-left {
    display: none;
}

.brtc-va-dialog-export-to-udf.brtc-va-chart-settings {
    height: 400px;
}

.brtc-va-dialogs-export-to-udf-result-panel-spreadsheet .jqx-grid-column-header-office {
    background: #f9f9f9;
}

.brtc-va-dialogs-export-to-udf-result-panel-spreadsheet-rownum-column {
    line-height: 25px;
    text-align: center;
}

.brtc-va-dialogs-export-to-udf-result-panel-spreadsheet-rownum-cell {
    background: #f9f9f9;
}

.brtc-va-dialogs-export-to-udf-test-button-area {
    width: calc(100% - 42px);
    height: 46px;
    margin-right: 21px;
    margin-left: 21px;
    border-bottom: 1px solid;
}

.brtc-s-style-dialogs-export-to-udf-test-button-area {
    border-color: #d9d9d9;
}

.brtc-va-dialogs-export-to-udf.out-alias .add-icon,
.brtc-va-dialogs-export-to-udf.input-variable .add-icon {
    display: none;
}

.brtc-va-dialogs-export-to-udf.out-alias:last-child .add-icon,
.brtc-va-dialogs-export-to-udf.input-variable:last-child .add-icon {
    display: block;
}

.brtc-va-dialogs-export-to-udf.out-alias:last-child .remove-icon {
    display: block;
}

.brtc-va-dialogs-contents-statement-out-aliases,
.brtc-va-dialogs-contents-statement-input-variables {
    position: relative;
    /*height: 26px;*/

    min-height: 26px;
    max-height: 150px;
}

.brtc-va-dialogs-exporttoudfdialog-contents .brtc-va-dialogs-row-flex-layout {
    margin-bottom: 15px;
}

.brtc-va-dialogs-exporttoudfdialog-contents .brtc-va-dialogs-contents-label {
    line-height: 25px;
}

.brtc-va-dialogs-contents-statement-input-variable-empty {
    float: left;
    width: 735px;
    height: 23px;
}

.brtc-s-style-dialogs-contents-statement-input-variable-empty {
    border: dashed 1px #d9d9d9;
    background-color: #fff;
}

.brtc-va-dialogs-contents-statement-input-variable-empty > div {
    font-family: ArialMT;
    font-size: 12px;
    line-height: 25px;
    height: 25px;
    padding-right: 11px;
    padding-left: 11px;
    text-align: left;
    opacity: .6;
    color: rgba(0, 0, 0, .6);
}

.brtc-va-dialogs-exporttoudfdialog-description-container .note-editor {
    margin: 0;
    border-radius: 0;
}

.brtc-va-dialogs-exporttoudfdialog-description-container .note-editor.note-frame {
    border: solid 1px #d9d9d9;
    background-color: #fff;
}

.brtc-va-dialogs-export-to-udf .out-alias-name,
.brtc-va-dialogs-export-to-udf .input-variable-name {
    width: 235px;
    height: 25px;
    background-color: #fff;
}

.brtc-va-dialogs-export-to-udf .out-alias-name {
    width: 250px;
}

.brtc-va-dialogs-export-to-udf .input-variable-type {
    margin-right: 4px;
}

.brtc-va-dialogs-export-to-udf .input-variable-description {
    width: 363px;
    height: 25px;
}

.brtc-va-dialogs-export-to-udf.input-variable:last-child .input-variable-description {
    width: 363px;
}

.brtc-va-dialogs-contents .brtc-va-dialogs-export-to-udf.input-variable-type.jqx-dropdownlist-state-normal {
    height: 23px !important;
}

.brtc-va-dialogs-contents .brtc-va-dialogs-export-to-udf.input-variable-type.jqx-dropdownlist-state-normal .jqx-dropdownlist-content {
    line-height: 23px !important;
}

.brtc-va-dialogs-export-to-udf.out-alias:last-child,
.brtc-va-dialogs-export-to-udf.input-variable:last-child,
.brtc-va-dialogs-export-to-udf.input-variable-empty {
    margin-bottom: 0;
}

.brtc-va-dialogs-exporttoudfdialog-test-result-container {
    min-height: 216px;
}

.brtc-s-style-dialogs-exporttoudfdialog-test-result-container {
    border: solid 1px #d9d9d9;
    background-color: #fff;
}

.brtc-s-style-export-to-udf-validation-error {
    border-color: red !important;
}

.brtc-va-dialogs-export-to-udf .brtc-va-editors-sheet-panels-validation-tooltip {
    /*margin-top: 0px;*/
}

.brtc-va-dialogs-export-to-udf.mb-25 {
    margin-bottom: 15px !important;
}
.brtc-va-dialogs-exporttoudfdialog-contents .brtc-va-dialogs-contents-label.mandatory:after {
    font-size: 13px;
    content: '*';
    color: #ee7379;
}
