.brtc-va-dialogs-launch-progress .brtc-va-dialogs-buttonbar-ok {
    width: 140px;
}

.brtc-va-dialogs-launch-progress .brtc-va-dialogs-buttonbar-cancel {
    width: 140px;
}

.brtc-va-dialogs-launch-progress .brtc-va-dialogs-buttonbar {
    margin-top: 5px;
}

.brtc-va-dialogs-launch-progress-closeoption {
    float: left;
    flex-grow: 1;
}

.brtc-va-dialogs-launch-progress-icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 8px 8px;
    -webkit-transform-origin: center;
       -moz-transform-origin: center;
        -ms-transform-origin: center;
         -o-transform-origin: center;
            transform-origin: center;
    -webkit-animation: rotating-function 1.25s linear infinite;
       -moz-animation: rotating-function 1.25s linear infinite;
        -ms-animation: rotating-function 1.25s linear infinite;
         -o-animation: rotating-function 1.25s linear infinite;
            animation: rotating-function 1.25s linear infinite;
    background: url('images/icon/icon_run.png') no-repeat;
    background-position: -31px 0;
}

.brtc-va-dialogs-launch-progress-label {
    display: flex;
    height: 22px;
}

.brtc-va-dialogs-launch-progress-label > span {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.brtc-va-dialogs-launch-progress-label > span.brtc-va-dialogs-launch-progress-elapsed {
    max-width: 100%;
    flex: 1 1 auto;
    flex-shrink: 0;
}

.brtc-va-dialogs-contents.brtc-va-dialogs-launch-progress-contents {
    padding-bottom: 0 !important;
}

.brtc-va-dialogs-launch-progress-contents:not([status='SUCCESS']) .jqx-progressbar-value.jqx-fill-state-pressed {
    background: #6c79e9;
}

.brtc-va-dialogs-launch-progress-contents[status='FAIL'] .brtc-va-dialogs-launch-progress-label,
.brtc-va-dialogs-launch-progress-contents[status='ABORT'] .brtc-va-dialogs-launch-progress-label {
    color: #ff1513;
    position: relative;
}

.brtc-va-dialogs-launch-progress-contents[status='FAIL'] .brtc-va-dialogs-launch-progress-label > span,
.brtc-va-dialogs-launch-progress-contents[status='ABORT'] .brtc-va-dialogs-launch-progress-label > span {
    color: #ff1513;
    position: relative;
}

.brtc-va-dialogs-launch-progress-contents[status='FAIL'] .jqx-progressbar-value.jqx-fill-state-pressed,
.brtc-va-dialogs-launch-progress-contents[status='ABORT'] .jqx-progressbar-value.jqx-fill-state-pressed {
    background: #ff1513;
}

.brtc-va-dialogs-launch-progress-progressbar {
    width: 100%;
    height: 8px;
    border: none;
    border-radius: 4px;
    background-color: #e5e5e5;
}

.brtc-va-dialogs-launch-progress .jqx-ribbon {
    margin-top: 12px;
}

.brtc-va-dialogs-launch-progress .jqx-ribbon .jqx-ribbon-selection-token {
    display: none;
}

.brtc-va-dialogs-launch-progress .jqx-ribbon .jqx-ribbon-item:first-child {
    display: none;
}

.brtc-va-dialogs-launch-progress .jqx-ribbon .jqx-ribbon-header-bottom {
    border-right: none;
    border-bottom: none;
    border-left: none;
}

.brtc-va-dialogs-launch-progress .jqx-ribbon .CodeMirror {
    font-size: 11px;
    border: none;
}

.brtc-va-dialogs-launch-progress-processes {
    position: relative;
    height: 100%;
}

.brtc-va-dialogs-launch-progress-proc {
    width: calc(100% - 20px);
}

.brtc-va-dialogs-launch-progress-proc > div {
    line-height: 30px;
    float: left;
}

.brtc-va-dialogs-launch-progress-proc-icon {
    width: 30px;
    height: 30px;
}

.brtc-va-dialogs-launch-progress-proc[status='SUCCESS'] > .brtc-va-dialogs-launch-progress-proc-icon > .brtc-va-dialogs-launch-progress-icon {
    width: 10px;
    height: 10px;
    margin: 10px 10px;
    animation: initial;
    background-position: -55px 0;
}

.brtc-va-dialogs-launch-progress-proc[status='WAIT'] > .brtc-va-dialogs-launch-progress-proc-icon > .brtc-va-dialogs-launch-progress-icon {
    width: 10px;
    height: 10px;
    margin: 10px 10px;
    animation: initial;
    background-position: -95px 0;
}

.brtc-va-dialogs-launch-progress-proc[status='FAIL'] > .brtc-va-dialogs-launch-progress-proc-icon > .brtc-va-dialogs-launch-progress-icon,
.brtc-va-dialogs-launch-progress-proc[status='ABORT'] > .brtc-va-dialogs-launch-progress-proc-icon > .brtc-va-dialogs-launch-progress-icon {
    width: 10px;
    height: 10px;
    margin: 10px 10px;
    animation: initial;
    background-position: -75px 0;
}

.brtc-va-dialogs-launch-progress-proc-label {
    overflow: hidden;
    box-sizing: border-box;
    width: calc(100% - 260px);
    min-width: 280px;
    padding-right: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.brtc-va-dialogs-launch-progress-proc-status {
    width: 80px;
}

.brtc-va-dialogs-launch-progress-proc-elapsed {
    width: 150px;
    text-align: right;
}

.brtc-va-dialogs-launch-progress-functions {
    width: 100%;
}

.brtc-va-dialogs-launch-progress-func {
    width: calc(100% - 30px);
    margin-left: 30px;
}

.brtc-va-dialogs-launch-progress-func > div {
    line-height: 30px;
    float: left;
    height: 30px;
}

.brtc-va-dialogs-launch-progress-func-icon {
    width: 30px;
}

.brtc-va-dialogs-launch-progress-func[status='SUCCESS'] > .brtc-va-dialogs-launch-progress-func-icon > .brtc-va-dialogs-launch-progress-icon {
    width: 10px;
    height: 10px;
    margin: 10px 10px;
    animation: initial;
    background-position: -55px 0;
}

.brtc-va-dialogs-launch-progress-func[status='WAIT'] > .brtc-va-dialogs-launch-progress-func-icon > .brtc-va-dialogs-launch-progress-icon {
    width: 10px;
    height: 10px;
    margin: 10px 10px;
    animation: initial;
    background-position: -95px 0;
}

.brtc-va-dialogs-launch-progress-func[status='FAIL'] > .brtc-va-dialogs-launch-progress-func-icon > .brtc-va-dialogs-launch-progress-icon,
.brtc-va-dialogs-launch-progress-func[status='ABORT'] > .brtc-va-dialogs-launch-progress-func-icon > .brtc-va-dialogs-launch-progress-icon {
    width: 10px;
    height: 10px;
    margin: 10px 10px;
    animation: initial;
    background-position: -75px 0;
}

.brtc-va-dialogs-launch-progress-contents[status='ABORT'] .brtc-va-dialogs-launch-progress-proc[status='PROCESSING'] > .brtc-va-dialogs-launch-progress-proc-icon > .brtc-va-dialogs-launch-progress-icon,
.brtc-va-dialogs-launch-progress-contents[status='ABORT'] .brtc-va-dialogs-launch-progress-func[status='PROCESSING'] > .brtc-va-dialogs-launch-progress-func-icon > .brtc-va-dialogs-launch-progress-icon {
    width: 10px;
    height: 10px;
    margin: 10px 10px;
    animation: initial;
    /*background-position: -95px 0;*/

    background-position: -75px 0;
}

.brtc-va-dialogs-launch-progress-func-label {
    overflow: hidden;
    box-sizing: border-box;
    width: calc(100% - 320px);
    min-width: 240px;
    padding-right: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.brtc-va-dialogs-launch-progress-func-loop {
    font-size: 11px;
    overflow: hidden;
    width: 60px;
    text-overflow: ellipsis;
}

.brtc-va-dialogs-launch-progress-func-status {
    width: 80px;
}

.brtc-va-dialogs-launch-progress-func-elapsed {
    width: 150px;
    text-align: right;
}

.brtc-va-dialogs-launch-progress-func-label-area {
    width: calc(100% - 260px);
}

.brtc-va-dialogs-launch-progress-func-size {
    float: left;
    width: 170px;
}
.brtc-va-dialogs-launch-progress-func-label[target-flow='etl'] {
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    width: calc(100% - 180px);
    min-width: 180px;
    padding-right: 10px;
    text-overflow: ellipsis;
}
