.brtc-va-tools-menubar .brtc-va-tools-menubar-myprofile-detail-container {
    position: absolute;
    z-index: 10000;
    top: 50px;
    right: 67px;
    box-sizing: border-box;
    width: 370px;
    height: 120px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
}

.brtc-va-tools-menubar .brtc-va-tools-menubar-myprofile-detail-container .profile-close-button {
    position: absolute;
    z-index: 100;
    top: 20px;
    right: 20px;
    width: 15px;
    height: 16px !important;
    padding: 0;
    cursor: pointer;
    border: none;
    background: url('images/icon/icon_popup.png') no-repeat;
    background-position: 0 0;
}

.brtc-va-tools-menubar .brtc-va-tools-menubar-myprofile-detail-container .profile-close-button:hover {
    background-position: -25px 0;
}

.brtc-va-tools-menubar .brtc-va-tools-menubar-myprofile-detail-container .profile-datail-picture-area {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
}

.brtc-va-tools-menubar .brtc-va-tools-menubar-myprofile-detail-container .profile-datail-picture-area .profile-datail-picture {
    width: 100%;
    height: 100%;
    background: url('images/icon/icon_namecard.png') center no-repeat;
    background-position: 0 0;
    background-size: 100%;
}

.brtc-va-tools-menubar .brtc-va-tools-menubar-myprofile-detail-container .profile-datail-info-area {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 30px 30px 15px 100px;
}

.brtc-va-tools-menubar .brtc-va-tools-menubar-myprofile-detail-container .profile-datail-info-area .profile-datail-info-text-area {
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    width: 100%;
    height: calc(100% - 21px);
    margin-top: 2px;
    cursor: default;
}

.brtc-va-tools-menubar .brtc-va-tools-menubar-myprofile-detail-container .profile-datail-info-text-area .profile-datail-name,
.brtc-va-tools-menubar .brtc-va-tools-menubar-myprofile-detail-container .profile-datail-info-text-area .profile-datail-id {
    line-height: 18px;
    display: inline-block;
    overflow: hidden;
    max-width: 46%;
    cursor: default;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.brtc-va-tools-menubar .brtc-va-tools-menubar-myprofile-detail-container .profile-datail-info-text-area .profile-datail-name {
    font-weight: bold;
}

.brtc-va-tools-menubar .brtc-va-tools-menubar-myprofile-detail-container .profile-datail-info-text-area .profile-datail-email {
    display: block;
    overflow: hidden;
    max-width: 100%;
    margin-top: 3px;
    cursor: default;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.brtc-va-tools-menubar .brtc-va-tools-menubar-myprofile-detail-container .profile-datail-info-area .profile-datail-info-setting-area {
    font-family: Arial, Dotum, Tahoma, sans-serif;
    font-size: 12px;
    color: rgba(0, 0, 0, .8);
}

.brtc-va-tools-menubar .brtc-va-tools-menubar-myprofile-detail-container .profile-datail-info-setting-area .profile-datail-info-settings {
    width: auto;
    cursor: pointer;
    border-bottom: 1px solid #9d9d9d;
}

.brtc-va-tools-menubar .brtc-va-tools-menubar-myprofile-detail-container .profile-datail-info-setting-area .profile-datail-info-settings:hover {
    color: #6674ec;
    border-bottom: 1px solid #6674ec;
}

.brtc-va-tools-menubar .brtc-va-tools-menubar-myprofile-detail-container .profile-datail-info-setting-area .profile-datail-info-changepasswd {
    width: auto;
    margin-left: 15px;
    cursor: pointer;
    border-bottom: 1px solid #9d9d9d;;
}

.brtc-va-tools-menubar .brtc-va-tools-menubar-myprofile-detail-container .profile-datail-info-setting-area .profile-datail-info-changepasswd:hover {
    color: #6674ec;
    border-bottom: 1px solid #6674ec;
}

.brtc-va-profile-form {
    display: flex;
    width: 100%;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
}

.brtc-va-profile-body-table {
    font-family: Arial, Dotum, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 35px;
    display: table;
}

.brtc-va-profile-body-title {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
    border-bottom: 1px solid;
}

.brtc-va-profile-body-row {
    display: table-row;
}

.brtc-va-profile-body-cell {
    display: table-cell;
    width: 500px;
    padding-right: 5px;
    text-align: left;
}

.brtc-va-profile-body-cell-name {
    width: 150px;
    padding-left: 5px;
    text-align: left;
}

.brtc-va-profile-body-cell-name.content {
    display: table-cell;
    vertical-align: top;
}

.brtc-va-profile-body-cell textarea {
    font: initial;
    font-family: Arial, Dotum, Tahoma, sans-seri;
    font-size: 12px;
    font-size: 13px;
    line-height: 1.231;
    box-sizing: border-box;
    width: 100%;
    min-width: 16px;
    height: 300px;
    min-height: 16px;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    color: rgba(0, 0, 0, .8);
    border-width: 1px;
    border-style: solid;
    border-color: #d4d4d4;
}

.brtc-va-profile-body-cell textarea:focus {
    border-color: #626fdb;
}

.brtc-va-profile-input {
    width: 100%;
}
