.brtc-va-studio-sidebar-area {
    position: absolute;
    z-index: 98;
    top: 39px;
    box-sizing: border-box;
    width: 440px;
    height: calc(100% - 40px);
    padding: 20px 20px 4px 20px;
    border-top: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    background-color: #fff;
}

.brtc-va-studio-sidebar-area.padding-none {
    padding: 0;
}

.brtc-va-studio-sidebar-area.right {
    right: 38px;
    padding-top: 0;
    padding-right: 0;
    border-left: 1px solid #d4d4d4;

    /* margin-right: 40px; */
}

.brtc-va-studio-sidebar-area.left {
    left: 38px;
    width: 331px;
    padding-top: 0;
    padding-right: 0;
    border-right: 1px solid #d4d4d4;

    /* margin-left: 40px; */
}

.brtc-va-studio-dragging .brtc-va-studio-sidebar-area,
.brtc-va-studio-dragging .brtc-va-studio-sidebar-expand,
.brtc-va-studio-dragging .brtc-va-studio-sidebar-description {
    opacity: .1;
}

.brtc-va-studio-sidebar-expand {
    /* position: absolute; */
    z-index: 99;
    top: 40px;
    box-sizing: border-box;
    cursor: pointer;
    transform: rotate(-90deg);
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

.brtc-va-studio-sidebar-expand.right {
    right: 0;
    width: 38px;
    height: 38px;

    /*outline: 1px solid #dbdde2;*/
    /*background-color: #fff;*/
    background-image: url('images/icon/icon-expanding-right-sidebar-alt.png');
}

.brtc-va-studio-sidebar-collapse.right {
    position: absolute;
    z-index: 99;
    left: 20px;
    width: 20px;
    height: 52px;
    outline: none;
    background-color: transparent;
    background-image: url('images/icon/icon-folding-right-sidebar.png');
    background-repeat: no-repeat;
    background-position: center;
}

.brtc-va-studio-sidebar-expand.left {
    left: 0;
    width: 38px;
    height: 38px;

    /*outline: 1px solid #dbdde2;*/
    /*background-color: #fff;*/
    background-image: url('images/icon/icon-expanding-left-sidebar-alt.png');
}

.brtc-va-studio-sidebar-collapse.left {
    position: absolute;
    z-index: 99;
    right: 20px;
    width: 20px;
    height: 52px;
    outline: none;
    background-color: transparent;
    background-image: url('images/icon/icon-folding-left-sidebar.png');
    background-repeat: no-repeat;
    background-position: center;
}

.brtc-va-studio-sidebar-collapse:hover {
    cursor: pointer;
}

.brtc-va-studio-sidebar-description {
    font-size: 14px;
    font-weight: bold;
    line-height: 38px;
    top: 78px;
    box-sizing: border-box;
    width: 178px;
    height: 38px;
    cursor: pointer;
    text-align: center;
    text-overflow: ellipsis;
    color: #4c4c4c;
    border: none;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
}

.brtc-va-studio-sidebar-description.right {
    right: -140px;
}

.brtc-va-studio-sidebar-description.left {
    left: 38px;
}

.brtc-va-studio-sidebar-description.collapsed {
    display: none;
}

.brtc-va-tools-sidebar {
    height: 100%;
    border: none;
}

.brtc-va-tools-sidebar .brtc-va-tab-contents {
    height: calc(100% - 6px);
}

.brtc-va-tools-sidebar .brtc-va-searcharea {
    margin-bottom: 10px;
    padding-right: 20px;
}

.brtc-va-tools-sidebar .brtc-va-searcharea > input {
    width: 100%;
    height: 31px;
}

.brtc-va-tools-sidebar .brtc-va-tab-contents .brtc-va-contentsarea {
    position: relative;
    height: calc(100% - 115px);
    padding-right: 20px;
}

.brtc-va-tools-sidebar .brtc-va-implementation-script-views-udflist .brtc-va-tab-contents .brtc-va-contentsarea {
    height: calc(100% - 115px);
}

.brtc-va-tools-sidebar div.jqx-expander-header {
    font-family: Arial, helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
    border: none;
    border-bottom-color: white;
    background: #fff;
}

.brtc-va-tools-sidebar div.jqx-expander-header-expanded {
    margin-bottom: 0;
    border-bottom: solid 1px #d4d4d4;
}

.brtc-va-tools-sidebar div.jqx-expander-content {
    margin-bottom: 10px;
    border: none;
}

.brtc-va-tools-sidebar .jqx-expander-arrow {
    margin-top: 0 !important;
}

/*data explorer*/
.brtc-va-tools-sidebar .brtc-va-tab-contents .brtc-va-views-dataexplorer-repostiory {
    position: relative;
    /*width: calc(100% - 20px);*/

    height: calc(100% - 10px);
}

.brtc-va-tools-sidebar .brtc-va-buttonarea {
    /*width: calc(100% - 20px);*/
    height: 30px;
    margin-bottom: 10px;
}

.brtc-va-tools-sidebar .brtc-va-buttonarea > div {
    float: right;
}

/*
.brtc-va-tools-sidebar .jqx-button-office
{
    display: inline-block;

    height: 29px;
    margin: 0;
    padding: 0 20px;
}
*/

.brtc-va-views-variable {
    position: relative;
}

.brtc-va-tools-sidebar-variable-list {
    position: relative;
    height: calc(100% - 50px);
    /*width: calc(100% - 20px);*/
    padding-right: 20px;
}

.brtc-va-tools-sidebar-variable-deck {
    position: relative;
    margin-bottom: 10px !important;
    padding: 12px 0 10px 12px;
    background-color: #f8f8f8;
}

.brtc-va-tools-sidebar-variable-remove {
    position: absolute;
    top: 5px;
    right: 4px;
    width: 8px;
    height: 8px;
    cursor: pointer;
    background-image: url('images/tool-close-8.png');
}

.brtc-va-tools-sidebar-variable-type {
    font-family: Calibri;
    font-size: 13px;
    color: #444;
}

.brtc-va-tools-sidebar-variable-name {
    font-family: Calibri;
    font-size: 13px;
    color: #444;
}

.brtc-va-tools-sidebar-variable-value {
    font-family: Calibri;
    font-size: 13px;
    margin-top: 5px;
    color: #444;
}

.brtc-va-tools-sidebar-variable-value > .brtc-va-widget-container {
    width: 100%;
}

.brtc-va-tools-sidebar-variable-deck .controls {
    width: 100%;
}

.brtc-va-tools-sidebar-variable-deck .control-row {
    height: 30px;
    margin-top: 5px;
    padding-right: 17px;
}

.brtc-va-tools-sidebar-variable-deck .control-row.empty {
    line-height: 100px;
    height: 100px;
    text-align: center;
}

.brtc-va-tools-sidebar-variable-deck .column-1 {
    float: left;
    width: 125px;
}

.brtc-va-tools-sidebar-variable-deck .column-2 {
    float: left;
    width: 100%;
    max-width: calc(100% - 127px);
    margin-right: 2px;
}

.brtc-va-tools-sidebar-variable-deck .column-2 .jqx-dropdownlist-content {
    font-size: 11px;
}

.brtc-va-tools-sidebar-variable-deck .brtc-va-editors-sheet-controls-wrapper {
    width: 100%;
    margin-top: 5px;
}

.brtc-va-tools-sidebar-variable-button {
    width: calc(100% - 20px);
    height: 30px;
    margin-bottom: 10px;
}

.brtc-va-tools-sidebar-propertytab {
    display: flex !important;
}

.brtc-va-views-properties {
    position: relative;
    padding-right: 20px;
}

.brtc-va-views-properties-pages-contents-area .mandatory:after {
    font-size: 13px;
    content: '*';
    color: #ee7379;
}

.brtc-va-views-properties-pages-contents-area .jqx-expander-header-content-office {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.brtc-va-views-properties-pages-contents-area .column-1 {
    display: flex;
    float: left;
    width: 90px;
    margin-top: 15px;
}

.brtc-va-views-properties-pages-contents-area .brtc-va-editors-sheet-controls-numericInput {
    height: 27px;
}

.brtc-va-views-properties-pages-contents-area .column-1.connection-timeout,
.brtc-va-views-properties-pages-contents-area .column-1.execution-timeout,
.brtc-va-views-properties-pages-contents-area .column-1.login-timeout,
.brtc-va-views-properties-pages-contents-area .column-1.socket-timeout,
.brtc-va-views-properties-pages-contents-area .column-1.lock-timeout {
    margin-top: 7px;
}

.brtc-va-views-properties-pages-contents-area .column-2 {
    float: left;
    width: 100%;
    max-width: calc(100% - 95px);
}

.brtc-va-views-properties-pages-contents-area .control-row {
    display: flex;
    /*height: 40px;*/

    flex-wrap: wrap;
}

.brtc-va-views-properties-pages-controls-propertycontrol {
    margin-bottom: 25px;
}

.brtc-va-views-properties-pages-controls-condition {
    z-index: 9999999;
}

.brtc-va-views-properties-pages-contents-area .brtc-va-editors-control-controls-radiobutton-default {
    margin-top: 13px;
}

.brtc-va-views-properties-dataflow-name {
    font-size: 13px;
    line-height: 23px;
    box-sizing: border-box;
    min-width: 16px;
    height: 27px;
    min-height: 16px;
    margin-top: 10px;
    margin-right: 2px;
    margin-left: 2px;
    padding: 0;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #d4d4d4;
}

.brtc-va-views-properties-dataflow-description {
    font-size: 13px;
    line-height: 23px;
    position: relative;
    box-sizing: border-box;
    min-width: 16px;
    max-width: 100%;
    height: 100px;
    min-height: 16px;
    margin-top: 10px;
    margin-right: 2px;
    margin-left: 2px;
    padding-right: 10px;
    padding-left: 10px;
    word-wrap: break-word;
    opacity: .55;
    border: 1px solid #d4d4d4;
}

.brtc-va-tools-sidebar-propertytab .brtc-va-widget-container {
    position: relative;
    overflow: hidden;
    width: calc(100% - 20px);
    margin-top: 10px;
    padding: 10px;
    background-color: #f2f2f2;
}

.brtc-va-tools-sidebar-variable-value input[type=text].jqx-input-office {
    padding-right: 5px;
    padding-left: 5px;
}

.brtc-va-tools-sidebar-variable-value .brtc-va-widget-header {
    display: none;
}

.brtc-va-tools-sidebar-variable-value .brtc-va-widget-contents {
    padding-right: 15px;
}

.brtc-va-editors-sheet-controls-wrapper.controlflow .brtc-va-editors-sheet-controls-propertycontrol-radiobutton {
    position: relative !important;
    display: flex;
    align-items: center;
}

.brtc-va-editors-sheet-controls-wrapper.controlflow .brtc-va-editors-sheet-controls-propertycontrol-radiobutton .brtc-va-delimiter-input-wrapper {
    position: absolute;
    top: 0;
    left: 25px;
}

.brtc-va-tools-sidebar-header {
    font-family: Arial-MT;
    font-size: 16px;
    font-weight: bold;
    line-height: 52px;
    width: calc(100% - 20px);
    height: 52px;
    text-align: center;
    letter-spacing: -.3px;
    opacity: .8;
    color: rgba(0, 0, 0, .8);
    text-transform: uppercase;
}

.brtc-va-studio-sidebar-header-wrapper {
    display: flex;
}

.left .brtc-va-tools-sidebar-outline {
    display: none;
    height: calc(100% - 55px);
    padding-right: 20px;
}

.flow-outline {
    margin-bottom: 5px;
}

.flow-outline-error {
    display: none;
    position: absolute;
    text-align: center;
    width: 360px;
    top: 50%;
    font-size: 27px;
}

.flow-outline-wrapper.error .flow-outline-error {
    display: block;
}

.flow-outline-wrapper button {
    height: 30px;
    width: 140px;
}

.flow-outline-button-wrapper {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.flow-outline .item-status[type=fn] {
    float: left;
    width: 10px;
    height: 10px;
    background: url(images/icon/icon_run.png) no-repeat;
    background-position: -95px 0;
    border-radius: 3px;
    margin-top: 3px;
    margin-right: 5px;
}

.flow-outline .item-status[status=READY][type=fn] {
    background-position: -95px 0;
}

.flow-outline .item-status[status=SUCCESS][type=fn] {
    background-position: -55px 0;
}
.flow-outline .item-status[status=FAIL][type=fn] {
    background-position: -75px 0;
}

.left .brtc-va-tools-sidebar-outline.selected {
    display: block;
}

.left .brtc-va-tools-sidebar-outline .active {
    font-weight: 900;
}

.left .brtc-va-tools-sidebar-outline .underline {
    text-decoration: underline;
}

.left .brtc-style-s-sidebar.script .jqx-tabs-header-office,
.left .brtc-va-tools-sidebar.dataflow .jqx-tabs-header-office,
.left .brtc-va-tools-sidebar.realtime .jqx-tabs-header-office,
.left .brtc-va-tools-sidebar.script .jqx-tabs-header-office,
.left .brtc-va-tools-sidebar.controlflow .jqx-tabs-header-office,
.right .brtc-va-tools-sidebar.realtime .jqx-tabs-header-office,
.right .brtc-va-tools-sidebar.controlflow .jqx-tabs-header-office {
    display: none;
    height: 0 !important;
}

.left .brtc-va-tools-sidebar.dataflow .jqx-tabs-content-office,
.left .brtc-va-tools-sidebar.realtime .jqx-tabs-content-office,
.left .brtc-va-tools-sidebar.controlflow .jqx-tabs-content-office,
.left .brtc-va-tools-sidebar.script .jqx-tabs-content-office,
.right .brtc-va-tools-sidebar.realtime .jqx-tabs-content-office,
.right .brtc-va-tools-sidebar.controlflow .jqx-tabs-content-office {
    padding-top: 0;
}

.brtc-style-sidebar {
    height: calc(100% - 52px);
}

.brtc-va-tools-sidebar .brtc-va-tab-contents .brtc-va-views-dataexplorer-repostiory .brtc-va-controls-repository-viewer {
    padding-right: 20px;
}

.brtc-va-views-properties .brtc-va-controlflow-sidebar-version-row .brtc-va-editors-sheet-controls-wrapper.controlflow {
    float: left;
}
