.brtc-va-tools-menubar-setting-container p {
    margin: 0;
}

/* Settings  */
.brtc-va-tools-menubar-setting-container .setting {
    position: relative;
    margin-bottom: 16px;
}

.brtc-va-tools-menubar-setting-container .set-title {
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    color: rgba(0, 0, 0, .8);
}

.brtc-va-tools-menubar-setting-container .section-title {
    font-size: 12px;
    font-weight: bold;
    line-height: 26px;
    height: 26px;
    padding: 0 10px;
    color: rgba(0, 0, 0, .8);
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background: rgba(0, 0, 0, .03);
}

.brtc-va-tools-menubar-setting-container .section .function {
    height: 25px;
    margin: 14px 10px 0;
}

.brtc-va-tools-menubar-setting-container .section .function .func-title {
    display: inline-block;
    float: left;
    height: 18px;
    padding-top: 7px;
}

.brtc-va-tools-menubar-setting-container .section .function .switch {
    float: right;
}

.brtc-va-tools-menubar-setting-container .section {
    margin-bottom: 16px;
}

.brtc-va-tools-menubar-setting-container .section.brtc-va-tools-menubar-admin-link-area {
    margin-top: inherit;
}

/* switch button */
.brtc-va-tools-menubar-setting-container .switch {
    position: relative;
    display: inline-block;
    width: 88px;
    height: 23px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, .2);
}

.brtc-va-tools-menubar-setting-container .switch .fl,
.brtc-va-tools-menubar-setting-container .switch .fr {
    display: inline-block;
    width: 44px;
    height: 23px;
    margin: -1px;
}

.brtc-va-tools-menubar-setting-container .switch .fr {
    color: #fff;
    border: 1px solid #626fdb;
    background-color: #626fdb;
}

.brtc-va-tools-menubar-setting-container .switch .fl {
    color: rgba(1, 1, 1, .8);
    border: 1px solid transparent;
}

.brtc-va-tools-menubar-setting-container .switch.on .fl {
    color: #fff;
    border: 1px solid #626fdb;
    background-color: #626fdb;
}

.brtc-va-tools-menubar-setting-container .switch.on .fr {
    color: rgba(1, 1, 1, .8);
    border: 1px solid transparent;
    background-color: transparent;
}

.brtc-va-tools-menubar-setting-container .switch .left,
.brtc-va-tools-menubar-setting-container .switch .right {
    line-height: 23px;
    margin: 0;
    text-align: center;
}

.brtc-va-tools-menubar-setting-container .switch .fl {
    float: left;
}

.brtc-va-tools-menubar-setting-container .switch .fr {
    float: right;
}

.brtc-va-tools-menubar-setting-container .fl {
    float: left;
}

.brtc-va-tools-menubar-setting-container .fr {
    float: right;
}

.brtc-va-tools-menubar-setting-container-link {
    line-height: 17px;
    float: right;
    box-sizing: border-box;
    width: 90px;
    height: 25px;
    color: #fff !important;
    border: 1px solid #626fdb !important;
    background-color: #626fdb !important;
}
