.brtc-va-tools-menubar .brtc-va-tools-menubar-notice-container {
    font: 12px/14px Arial, Dotum, Tahoma, sans-serif;
    position: absolute;
    z-index: 10000;
    top: 50px;
    right: 172px;
    box-sizing: border-box;
    width: 390px;
    height: auto;
    padding-bottom: 30px;
    border: 1px solid #cccfd5;
    background-color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
}

.brtc-va-tools-menubar-notice-box {
    height: 118px;
    margin: 30px 30px 0 30px;
    border-bottom: solid 1px rgba(0, 0, 0, .3);
}

.brtc-va-tools-menubar-notice-box.empty {
    font-size: 20px;
    line-height: 125px;
    text-align: center;
    border-bottom: none;
}


.brtc-va-tools-menubar-notice-box-header-new {
    width: 40px;
    height: 16px;
    margin-right: 10px;
    background-image: url('images/icon_new.png');
    background-repeat: no-repeat;
}

.brtc-va-tools-menubar-notice-box-header {
    height: 16px;
    margin-bottom: 20px;
}

.brtc-va-tools-menubar-notice-box-header-title {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    line-height: 150%;
    position: relative;
    display: inline-block;
    float: left;
    overflow: hidden;
    width: calc(100% - 65px);
    height: auto;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -.4px;
    text-overflow: ellipsis;
    opacity: .8;
    color: rgba(0, 0, 0, .8);
}

.brtc-va-tools-menubar-notice-box-footer-date {
    font-family: Arial;
    font-size: 11px;
    line-height: 6px;
    float: left;
    height: 8px;
    text-align: left;
    opacity: .6;
    color: rgba(0, 0, 0, .6);
}

.brtc-va-tools-menubar-notice-box-footer-link {
    font-family: Arial;
    font-size: 11px;
    line-height: 6px;
    float: right;
    width: 25px;
    height: 6px;
    margin-right: 4px;
    cursor: pointer;
    text-align: left;
    color: #626fdb;
}

.brtc-va-tools-menubar-notice-box-footer-link-img {
    float: right;
    width: 4px;
    height: 6px;
    cursor: pointer;
    background-image: url('images/icon-more.png');
    background-repeat: no-repeat;
}

.brtc-va-tools-menubar-notice-box-body {
    position: relative;
    width: 100%;
    height: 40px;
    margin-bottom: 18px;
}
.brtc-va-tools-menubar-notice-box-body-content {
    line-height: normal;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.brtc-va-tools-menubar-notice-box-header-new {
    float: left;
    width: 40px;
    height: 16px;
    margin-right: 10px;
    background-image: url('images/icon-new.png');
    background-repeat: no-repeat;
}

.brtc-va-tools-menubar-notice-box-footer {
    height: 18px;
}

.brtc-va-tools-menubar-notice-box-footer-link {
    color: #00c;
}

.brtc-va-tools-menubar-notice-container p {
    margin: 0;
}
