.brtc-va-workspace-popup .brtc-va-workspace-project-container {
    display: flex;
    background-color: rgba(0, 0, 0, .3);
    align-items: center;
    justify-content: center;
}

.brtc-va-workspace-popup .brtc-va-workspace-project-container-contents {
    width: 984px;
    height: 683px;
    padding-right: 0;
    padding-left: 0;
}

.brtc-va-workspace-popup .brtc-va-workspace-project-list-area {
    padding-top: 10px;
    width: 236px;
    height: 604px;
    margin-right: 0;
    border-right: solid 1px #d9d9d9;
}

.brtc-va-workspace-popup .brtc-va-workspace-project-list {
    height: calc(100% - 20px);
    padding: 0 0 0 16px;
}

.brtc-va-workspace-popup .brtc-va-workspace-project-new {
    display: none;
}

.brtc-va-workspace-popup .brtc-va-workspace-project-list-item {
    height: 60px;
}

.brtc-va-workspace-popup .brtc-va-workspace-project-list-item-label {
    font-size: 14px;
    line-height: 32px;
    height: 32px;
    padding-top: 0;
}

.brtc-va-workspace-popup .brtc-va-workspace-project-list-item-model {
    padding-top: 7px;
}

.brtc-va-workspace-popup .brtc-va-workspace-project-list-title {
    /*display: none;*/
    /*padding-left: 20px;*/
    line-height: 41px !important;
    height: 40px !important;
}

.brtc-va-workspace-popup .brtc-va-workspace-project-group-area {
    padding-left: 20px;
}

.brtc-va-workspace-popup .brtc-va-workspace-project-filter {
    width: calc(100% - 40px);
    margin-left: 20px;
}

.brtc-va-workspace-popup .brtc-va-workspace-project-list-item {
    width: calc(100% - 50px);
    margin-right: 20px;
}

.brtc-va-workspace-popup .brtc-va-workspace-project-list-area .brtc-va-searcharea > input {
    width: calc(100% - 20px);
}

.brtc-va-workspace-popup .brtc-va-workspace-project-new {
    display: none !important;
}

.brtc-va-workspace-popup .brtc-va-workspace-project-import {
    display: none !important;
}

.brtc-va-workspace-model-list-popup-header {
    position: relative;
    display: none;
    height: 69px;
    background: #fff;
}

.brtc-va-workspace-model-list-popup-header-close {
    position: absolute;
    top: 26px;
    right: 30px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    background-image: url('images/tool-close-18.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.brtc-va-workspace-model-list-popup-header-close:hover {
    background-position: -18px 0;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-popup-header {
    display: block;
}

.brtc-va-workspace-model-list-popup-header-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 68px;
    width: calc(100% - 60px);
    height: 68px;
    margin-left: 31px;
    letter-spacing: -.6px;
    border-bottom: 1px solid #d9d9d9;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-header {
    margin-right: 26px;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 13px;
    height: 14px;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-author {
    font-size: 12px;
    padding-top: 9px;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-area {
    box-sizing: border-box;
    width: 747px;
    height: 614px;
    background: #fff;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-type-item {
    width: 166px;
    border-width: 3px;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-type-item div:not(.addedcount) {
    font-size: 14px;
    line-height: 10px;
    height: 14px;
    margin-top: 33px;
    margin-bottom: 10px;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-type-item .addedcount {
    left: 300px;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-edit {
    display: none;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-content {
    height: calc(100% - 138px);
    margin-left: 4px;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-cell {
    width: 360px;
    height: 218px;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-item {
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-item-edit {
    display: none;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-item-new-title {
    font-size: 14px;
    padding-top: 21px;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-item-new-title {
    font-size: 14px;
    padding-top: 21px;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-item-new-item div {
    font-size: 12px;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-item-new-item-icon {
    width: 60px;
    height: 60px;
    margin-top: 26px;
    margin-bottom: 9px;
    background-repeat: no-repeat;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-item-new-item-icon.new {
    background-image: url('images/icon/icon-new-60.png');
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-item-new-item-icon.import {
    background-image: url('images/icon/icon-import-60.png');
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-item-new-item-icon.splitter {
    max-width: 69px;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-item-open {
    font-size: 12px;
    line-height: 32px;
    top: calc(50% - 16px);
    left: calc(50% - 50px);
    width: 100px;
    height: 32px;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-item-icon {
    width: 28px;
    height: 28px;
    margin-top: 23px;
    margin-left: 21px;
    background-image: url('images/model-icon-28-new.png');
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-item[model-type='script'] .brtc-va-workspace-model-list-item-icon {
    background-position-x: -28px;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-item[model-type='realtime'] .brtc-va-workspace-model-list-item-icon {
    background-position-x: -56px;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-item[model-type='control'] .brtc-va-workspace-model-list-item-icon {
    background-position-x: -84px;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-item[model-type='etl'] .brtc-va-workspace-model-list-item-icon {
    background-position-x: -112px;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-item[model-type='visual'] .brtc-va-workspace-model-list-item-icon {
    background-position-x: -140px;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-item[model-type='deeplearning'] .brtc-va-workspace-model-list-item-icon {
    background-position-x: -168px;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-item-type {
    font-size: 12px;
    height: 28px;
    margin-top: 23px;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-item-type.chartadded:after {
    top: 1px;
    width: 14px;
    height: 14px;
    background-size: cover;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-item-label {
    font-size: 14px;
    line-height: 15px;
    height: 15px;
    margin-top: 13px;
    letter-spacing: -.1px;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-item-updatetime,
.brtc-va-workspace-popup .brtc-va-workspace-model-list-item-createtime {
    font-size: 11px;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-item-updatetime {
    margin-top: 6px;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-item-createtime {
    margin-top: 3px;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-item-description {
    font-size: 11px;
    max-height: 56px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-item-updatetime > div,
.brtc-va-workspace-popup .brtc-va-workspace-model-list-item-createtime > div {
    min-width: 55px;
    margin-right: 3px;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-item-updatetime > div:nth-child(2),
.brtc-va-workspace-popup .brtc-va-workspace-model-list-item-createtime > div:nth-child(2) {
    min-width: 102px;
    margin-right: 8px;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-item-updatetime > div:nth-child(3),
.brtc-va-workspace-popup .brtc-va-workspace-model-list-item-createtime > div:nth-child(3) {
    min-width: 12px;
    margin-right: 3px;
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-item-updatetime > div:nth-child(4),
.brtc-va-workspace-popup .brtc-va-workspace-model-list-item-createtime > div:nth-child(4) {
    overflow: hidden;
    text-overflow: ellipsis;
}

.brtc-va-workspace-popup .brtc-va-workspace-project-list {
    max-height: calc(100% - 44px);
}

.brtc-va-workspace-popup .brtc-va-workspace-model-list-item-select,
.brtc-va-workspace-popup .brtc-va-workspace-model-list-select,
.brtc-va-workspace-popup .brtc-style-workspace-toolitem {
    display: none;
}
