.datasource-management-view__input-row.datasource-management-view__input-row--error input {
    border: 1px solid red;
}


.datasource-management-view__detail {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px 0 10px 10px;
    position: relative;
}

.datasource-management-view__form-area {
    height: 100%;
    margin-bottom: 15px;
    padding-right: 15px;
    position: relative;
}

.datasource-management-view__form {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.datasource-management-view__input-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 1px;
    box-sizing: border-box;
}

.datasource-management-view__button-area {
    height: 50px;
    display: flex;
}

.datasource-management-view__left-button-area {
    width: 100%;
    display: flex;
}

.datasource-management-view__right-button-area {
    display: flex;
}

.datasource-management-view__save-button {
    margin-left: 10px;
}

.datasource-managemenet-view__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.datasource-management-view__upper-button-area {
    width: 100%;
    height: 50px;
    padding-left: 2px;
}

.datasource-managemenet-view {
    display: flex;
    width: 100%;
    height: 100%;
}

.datasource-management-view__left-panel {
    flex: 1 1 30%;
    overflow-y: hidden;
    padding: 2px;
}

.datasource-management-view__left-panel > div{
    box-sizing: border-box;
}

.datasource-management-view__right-panel {
    flex: 1 1 70%;
}

.datasource-management-view__input-wrapper {
    display: flex;
    align-items: center;
    height: 25px;
}

.datasource-management-view__label-wrapper {
    flex: 0 1 150px;
}

.datasource-management-view__required-star {
    color: red;
    margin-left: 6px;
    vertical-align: middle;
}

.datasource-management-view__validation-area {
    color: red;
}

.datasource-management-view__input {
    flex: 2;
    padding-left: 10px;
    padding-right: 10px;
}

.datasource-management-view__dropdown {
    flex: 2;
}

.datasource-management-view__tree-item {
    width: 150px;
}
