.brtc-va-editors-visualeditor .brtc-style-editor-diagram-area {
    height: calc(100% - 40px);
}

.brtc-style-editor-visualeditorpage {
    display: flex;
    box-sizing: border-box;
    height: 100%;
}

.brtc-va-studio-body-area[left-sidebar-expanded='true'] .brtc-style-editor-visualeditorpage {
    width: calc(100% - 262px) !important;
    min-width: 1018px;
    margin-left: 262px;
}

.brtc-va-studio-body-area[right-sidebar-expanded='true'] .brtc-style-editor-visualeditorpage {
    width: calc(100% - 308px) !important;
    min-width: 1018px;
}

.brtc-va-studio-body-area[left-sidebar-expanded='true'][right-sidebar-expanded='true'] .brtc-style-editor-visualeditorpage {
    width: calc(100% - 570px) !important;
    min-width: 600px;
}

.brtc-style-editor-visualeditorpage-paper-area {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.brtc-style-editor-visualeditorpage-paper-container {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /*height: calc(100% - 15px);*/

    background-color: #e5e9ef;
    justify-content: center;
}

.brtc-style-page:focus {
    outline: none;
}

.brtc-style-editor-visualeditorpage-paper-area .brtc-style-editor-toolbar-area {
    position: absolute;
    top: -40px;
    left: calc(50% - 175px);
    display: flex;
    width: 400px;
    height: 39px;
    justify-content: center;
    align-items: center;
}

.brtc-style-popup-content[layout=thumbnail-view] {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 30px;
    align-items: baseline;
    flex-wrap: wrap;
}

.brtc-style-popup-content[layout=thumbnail-view] .brtc-style-figure-thumbnailwrapper {
    max-height: 450px;
}

.brtc-style-popup-content[layout=thumbnail-view] .brtc-style-figure-paperthumbnail {
    width: 340px;
    height: 470px;
}

.brtc-style-editor-visualeditorpage-paper-area[layout=thumbnail-view] {
    display: none;
}

.brtc-style-page {
    position: relative;
    z-index: 0;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    margin: 30px 50px;

    -moz-transform-origin: center top;
         transform-origin: center top;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .08);
}

.brtc-style-page.brtc-style-figure-thumbnail {
    position: relative;
    z-index: 0;
    display: block !important;
    overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -moz-transform: scale(.116);
     -ms-transform: scale(.116);
      -o-transform: scale(.116);
         transform: scale(.116);
    -moz-transform-origin: left top;
     -ms-transform-origin: left top;
      -o-transform-origin: left top;
         transform-origin: left top;
    pointer-events: none;
}

.brtc-style-popup-content[layout=thumbnail-view] .brtc-style-figure-thumbnail {
    -moz-transform: scale(.4);
     -ms-transform: scale(.4);
      -o-transform: scale(.4);
         transform: scale(.4);
}

.brtc-style-flex-direction-row .brtc-style-page-wrapper {
    margin: 1cm;
}

.brtc-style-editor-visualeditorpage[zoom-type=large] .brtc-style-editor-visualeditorpage-paper-container .brtc-style-page {
    -moz-transform: scale(1.0);
         transform: scale(1.0);
}

.brtc-style-editor-visualeditorpage[zoom-type=normal] .brtc-style-editor-visualeditorpage-paper-container .brtc-style-page {
    -moz-transform: scale(.8);
         transform: scale(.8);
}

.brtc-style-editor-visualeditorpage[zoom-type=small] .brtc-style-editor-visualeditorpage-paper-container .brtc-style-page {
    -moz-transform: scale(.6);
         transform: scale(.6);
}

.brtc-style-page-buttons {
    position: absolute;
    top: 0;
    left: calc(100% + 10px);
    display: block;
    width: 80px;
}

.brtc-style-page-selected .brtc-style-page-buttons {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.brtc-style-page-button {
    margin-bottom: 10px;
}

.brtc-style-tab-contents-area {
    position: relative;
    /*width: calc(100% - 20px);*/

    height: 100%;
}

.brtc-style-list-viewer {
    height: 100%;
}

.brtc-style-list-profile {
    height: 40px;
}

.brtc-style-list-profile .brtc-va-workspace-model-list-header {
    display: flex;
}

.brtc-style-list-profile .brtc-va-workspace-model-list-title {
    float: none;
    margin-right: 5px;
}

.brtc-style-list-profile .brtc-va-workspace-model-list-selected {
    display: flex;
    padding-bottom: 5px;
    align-items: flex-end;
}

.brtc-style-list-profile .brtc-va-workspace-model-list-selected-label {
    margin: 0 5px;
}

.brtc-style-list-profile .brtc-va-workspace-model-list-selected-value {
    font-weight: bold;
    margin-right: 5px;
}

.brtc-style-list-profile .brtc-va-workspace-model-list-slash {
    display: flex;
    padding-bottom: 5px;
    align-items: flex-end;
}

.brtc-style-list-profile .brtc-va-workspace-model-list-count {
    display: flex;
    margin-top: 0;
    padding-bottom: 5px;
    align-items: flex-end;
}

.brtc-style-list-profile .brtc-va-workspace-model-list-count-label {
    margin: 0 5px;
}

.brtc-style-list-profile .brtc-va-workspace-model-list-count-value {
    font-weight: bold;
}

.brtc-style-list-container {
    clear: both;
    box-sizing: border-box;
    /*width: calc(100% - 2px);*/
    width: 100%;
    height: 100%;
    border: 1px solid #d4d4d4;
}

.brtc-style-list-viewer.datasource .brtc-style-list-container,
.brtc-style-list-viewer.page .brtc-style-list-container {
    position: relative;
    overflow-y: auto;
    height: calc(100% - 50px);
}

.brtc-style-list-container.page {
    background-color: #eeeded;
}

.brtc-style-list-item {
    font-family: Arial, Dotum, Tahoma, sans-serif;
    font-size: 13px;
    box-sizing: border-box;
    height: 30px;
    margin: 7px 10px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: #eeeded;
}

.brtc-style-list-container.page .brtc-style-list-item {
    height: 147px;
    margin: 20px 102px;
    padding-top: 60px;
    padding-left: 33px;
    border: 1px solid #ccc;
    border-radius: 0;
    background-color: white;
}

.brtc-style-list-container.datasource .brtc-style-list-item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.brtc-style-list-item:hover {
    border-color: #ccc !important;
    background: #eeeeef !important;
}

.brtc-style-list-item-selected,
.brtc-style-list-item-selected:hover {
    border-color: #626fdb !important;
    background: #eeeeef !important;
}

.brtc-style-list-item-label {
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: calc(100% - 24px);
    height: 100%;
    padding-top: 6px;
    padding-right: 6px;
    padding-left: 10px;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.brtc-style-button-container {
    display: flex;
    height: 40px;
    margin-bottom: 10px;
    justify-content: space-around;
}

.brtc-style-search-input {
    width: 100%;
    height: 30px !important;
    margin-bottom: 10px !important;
}

.brtc-style-addpage-button {
    float: right;
    width: 120px;
    height: 30px;
    margin-bottom: 10px !important;
    margin-left: 10px !important;
}

.brtc-style-refresh-data {
    width: 120px;
}

.brtc-style-refresh-icon,
.brtc-style-refresh-data > .brtc-style-icon {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 5px;
    vertical-align: middle;
    background: url('images/icon/icon_palette.png') no-repeat;
    background-position: 0 -27px;
}

.brtc-style-add-data {
    width: 120px;
}

.brtc-style-add-data > .brtc-style-icon {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 5px;
    vertical-align: middle;
    background: url('images/icon/icon_palette.png') no-repeat;
    background-position: -23px -27px;
}

.brtc-style-more-button {
    float: right;
    box-sizing: border-box;
    width: 24px;
    height: 30px;
    /*margin-bottom: 10px;*/
    /*margin-left: 2px;*/

    cursor: pointer;
    background-image: url('images/more-btn-16.png');
    background-repeat: no-repeat;
    background-position-x: 4px;
    background-position-y: 7px;
}

.brtc-style-more-button:hover {
    background-color: #eeeeef;
    background-position-x: -12px;
}

.brtc-style-dialogs-contents-area {
    height: 100%;
    margin-bottom: 10px;
}

/* SelectVisualModelDialog */
.brtc-style-select-visual-model-dialog .brtc-style-list-container {
    position: relative;
    display: flex;
    overflow: auto;
    height: calc(100% - 60px);
    padding-top: 15px;
    flex-wrap: wrap;
}

.brtc-style-select-visual-model-dialog .brtc-style-dialogs-contents-area {
    height: calc(100% - 85px);
}

.brtc-style-select-visual-model-dialog .brtc-style-dialogs-contents-input-area {
    width: 100%;
    height: 50px;
    /*margin-top: 20px;*/
}

.brtc-style-select-visual-model-dialog .brtc-style-dialogs-contents-input-area .brtc-style-span {
    margin-right: 12px;
}

.brtc-style-select-visual-model-dialog .brtc-style-list-item-selected {
    border-color: transparent !important;
    background: transparent !important;
}

.brtc-style-select-visual-model-dialog .brtc-va-workspace-model-list-cell {
    height: 280px;
}

.brtc-style-select-visual-model-dialog .brtc-style-list-item-selected .brtc-va-workspace-model-list-item {
    margin-right: 11px;
    margin-left: 11px;
    border: 4px solid #6c79e9;
    background-color: #eff1fd;
}

.brtc-va-controls-options-viewer .note-toolbar.panel-heading {
    /*padding-right: 120px;*/
}

.brtc-va-controls-options-viewer .note-popover .popover-content .note-color .dropdown-menu {
    min-width: 200px;
}

.brtc-va-wizardpage-content.selectdatatypepage .selector {
    display: flex;
    height: 60px;
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, .2);
    align-items: center;
}

.vs-dialogs-main-chart-selector .vs-dialogs-body {
    height: 150px !important;
}

.vs-dialogs-body-chart-item {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    line-height: 36px;
    display: inline-flex;
    float: none !important;
    box-sizing: border-box;
    width: 150px;
    /*padding: 0 10px;*/
    height: 36px;
    margin-left: 0 !important;
    text-align: left;
    color: rgba(0, 0, 0, .8);
    border: none;
    background: #fff;
    align-items: baseline;
}

.vs-dialogs-body-chart-item:hover {
    background-color: #eeeeef;
}

.vs-dialogs-body-chart-item > div {
    position: relative;
    top: 3px;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    background: url('images/icon_context.png') center no-repeat;
    background-repeat: no-repeat;
}

.vs-dialogs-body-chart-item[type=scatter] > div {
    background-position: -104px -36px;
}

.vs-dialogs-body-chart-item[type=line] > div {
    background-position: -52px -36px;
}

.vs-dialogs-body-chart-item[type=column] > div {
    background-position: 0 -36px;
}

.vs-dialogs-body-chart-item[type=bar] > div {
    background-position: -26px -36px;
}

.vs-dialogs-body-chart-item[type=boxplot] > div {
    background-position: -78px -36px;
}

.vs-dialogs-body-chart-item[type=heatmap] > div {
    background-position: -312px -36px;
}

.vs-dialogs-body-chart-item[type=pie] > div {
    background-position: -130px -36px;
}

.vs-dialogs-body-chart-item[type=network] > div {
    background-position: -208px -36px;
}

.vs-dialogs-body-chart-item[type=treemap] > div {
    background-position: -182px -36px;
}

.vs-dialogs-body-chart-item[type=treediagram] > div {
    background-position: -234px -36px;
}

.vs-dialogs-body-chart-item[type=table] > div {
    background-position: -156px -36px;
}

.vs-dialogs-body-chart-item[type=mcc] > div {
    background-position: -260px -36px;
}

.vs-dialogs-body-chart-item[type=dendrogram] > div {
    background-position: -286px -36px;
}

.vs-dialogs-body-chart-item[type=roc] > div {
    background-position: -338px -36px;
}

.vs-dialogs-body-chart-item[type=correlation-matrix] > div {
    background-position: -312px -36px;
}

.brtc-modules-chartoption .jqx-window-header {
    font-family: Arial, helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    width: calc(100% - 60px) !important;
    height: 30px !important;
    margin-left: 30px;
    padding: 5px 0 5px 0;
    border-color: #d9d9d9;
    background-color: #fff;
}

.brtc-modules-chartoption {
    font-family: Arial, helvetica, sans-serif;
}

.brtc-modules-chartoption > .jqx-widget-content-office {
    font-family: Arial, helvetica, sans-serif;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
}

.brtc-modules-chartoption .jqx-window-close-button-background > .jqx-window-close-button {
    top: 12px;
    right: -3px;
    width: 10px !important;
    height: 10px !important;
    background-image: url('images/tool-close-10.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.brtc-modules-chartoption .jqx-window-close-button-background > .jqx-window-close-button-hover-office {
    background-position-x: -10px;
}

.brtc-va-editors-visualeditor-notification-container {
    position: absolute;
    z-index: 101;
    bottom: 90px;
    left: calc(50% - 200px);
    width: 400px;
    height: 50px;
    pointer-events: none;
}

/* thumbnail in left area*/
.brtc-style-figure-paperthumbnail {
    font-family: Arial;
    font-size: 16px;
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    height: 156px;
    margin-right: 15px;
    margin-bottom: 30px;
    margin-left: 15px;
    color: rgba(0, 0, 0, .5);
}

.brtc-style-figure-paperthumbnail:hover {
    /*background: rgba(0, 0, 0, .03);*/
}

.brtc-style-figure-paperthumbnail .brtc-style-figure-thumbnailwrapper {
    cursor: pointer;
    outline: solid 1px #cccfd5;
}

.brtc-style-figure-paperthumbnail .brtc-style-flex-column {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    align-items: center;
    justify-content: flex-end;
}

.brtc-style-figure-paperthumbnail .brtc-style-btn-close {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    visibility: hidden;
    width: 10px;
    height: 10px;
    cursor: pointer;
    background-image: url(images/icon/icon-delete-sel.png);
    background-repeat: no-repeat;
    justify-content: flex-end;
    flex: 1;
}

.brtc-style-figure-paperthumbnail:hover .brtc-style-btn-close {
    visibility: visible;
}

.brtc-style-figure-paperthumbnail:hover .brtc-style-btn-drag span {
    width: 12px;
    height: 12px;
    cursor: move;
    /*background: url(images/icon/icon-drag.png) no-repeat;*/

    background: url(images/icon/icon-move.png) no-repeat;
}

.brtc-style-figure-paperthumbnail .brtc-style-btn-drag {
    position: absolute;
    top: 25px;
    right: 5px;
    display: flex;
    flex: 1;
}

.brtc-style-figure-paperthumbnail .brtc-style-page.brtc-style-figure-thumbnail {
    margin: 0;
}

.brtc-style-popup-content .brtc-style-figure-paperthumbnail .brtc-style-figure-thumbnailwrapper.ui-selected {
    outline: 2px solid #a3a3a3;
}

.brtc-style-popup-content .brtc-style-figure-paperthumbnail .brtc-style-figure-thumbnailwrapper .brtc-va-visual-page-wrapper {
    margin: 0 !important;
}

.brtc-style-popup-content .brtc-style-figure-paperthumbnail:hover .brtc-style-figure-thumbnailwrapper,
.brtc-style-popup-content .brtc-style-figure-paperthumbnail:hover .brtc-style-figure-thumbnailwrapper.ui-selected {
    outline: 2px solid #8190ff;
}

.brtc-style-figure-paperthumbnail:hover {
    color: #8190ff;
}

.brtc-style-popup-content .ui-state-highlight {
    width: 80px;
    padding: 5px;
}

.brtc-va-main-export-pdf {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    height: auto;
    margin: 0;
}

.brtc-style-editor-visualeditorpage-export-pdf-paper-container {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: #e5e9ef;
    justify-content: center;
    align-items: center;
}

.brtc-va-editor-visualeditor-export-pdf-button {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 25px;
}
.brtc-va-text-content-unit {
    line-height: 1;
}

.brtc-va-controls-options-viewer-wrapper,
.text-backgroud {
    width: 100%;
    height: 35px;
}

.brtc-va-controls-options-viewer-background,
.brtc-va-controls-options-viewer-transparent {
    float: left;
}

.brtc-va-controls-options-viewer-transparent {
    margin-left: 5px;
}

.arrange-button {
    width: 32px;
    height: 32px;
    background-color: white;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.arrange-button .button {
    width: 25px !important;
    height: 25px !important;
    margin-left: 4px;
    margin-top: 4px;
    background-repeat: no-repeat;
    background: url('images/icon/icon-reorder-25.png');
}

.arrange-button.front .button {
    background-position: 0 0;
}

.arrange-button.backend .button {
    background-position: 50px 0;
}

.arrange-button.plus .button {
    background-position: 75px 0;
}

.arrange-button.minus .button {
    background-position: 25px 0;
}

.brtc-va-controls-options-viewer {
    display: flex;
    flex-direction: column;
}

.brtc-va-controls-options-viewer-unit.properties {
    height: calc(100% - 200px);
    flex-grow: 1;
    margin-bottom: 20px;
}

.brtc-va-controls-options-viewer-unit.properties .bo-container.bos-container {
    height: calc(100% - 50px);
}

.brtc-va-controls-options-viewer-unit.background {
    margin-bottom: 20px;
    height: 100px;
}

.brtc-va-controls-options-viewer-unit.arrange {
    height: 100px;
}

.brtc-va-controls-options-viewer-arrange-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.brtc-va-controls-options-viewer-content-label {
    height: 25px;
    line-height: 25px;
    padding-top: 3px;
}

.brtc-va-controls-options-viewer-content.transparent {
    float: left;
    width: 30px;
}

.brtc-style-editor-toolitem-label {
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    text-align: center;
}
