.brtc-va-controls-repository-viewer {
    height: 100%;
    /*padding-right: 20px;*/
}

.brtc-va-controls-repository-viewer-search {
    width: 100%;
    height: 30px !important;
    margin-bottom: 10px !important;
}

.brtc-va-controls-repository-viewer-refresh {
    float: right;
    width: 120px;
    height: 30px !important;
    margin-bottom: 10px !important;
}

.brtc-va-controls-repository-viewer-refresh > .brtc-va-icon {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 5px;
    vertical-align: middle;
    background: url('images/icon/icon_palette.png') no-repeat;
    background-position: 0 -27px;
}

.brtc-va-controls-repository-viewer-upload {
    float: right;
    width: 120px;
    height: 30px !important;
    margin-bottom: 10px !important;
    margin-left: 10px !important;
}

.brtc-va-controls-repository-viewer-upload > .brtc-va-icon {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 5px;
    vertical-align: middle;
    /*background: url('images/icon/icon_palette.png') no-repeat;*/
    /*background-position: -23px -27px;*/

    background: url('images/icon/icon-add-13.png') no-repeat;
}

.brtc-va-controls-repository-viewer-more {
    float: right;
    box-sizing: border-box;
    width: 24px;
    height: 30px;
    margin-left: 2px;
    cursor: pointer;
    background-image: url('images/more-btn-16.png');
    background-repeat: no-repeat;
    background-position-x: 4px;
    background-position-y: 7px;
}

.brtc-va-controls-repository-viewer-more:hover {
    background-color: #eeeeef;
    background-position-x: -12px;
}



.brtc-va-controls-repository-viewer-tree .jqx-tree-item > i {
    margin-right: 4px;
}

.brtc-va-controls-repository-viewer-element-hide {
    display: none;
}

.brtc-va-controls-repository-viewer-loading {
    height: 20px;
    color: #6c79e9;
    align-items: center;
}

.brtc-va-controls-repository-viewer-loading > .brtc-va-icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 5px;
    -webkit-transform-origin: center;
       -moz-transform-origin: center;
        -ms-transform-origin: center;
         -o-transform-origin: center;
            transform-origin: center;
    -webkit-animation: rotating-function 1.25s linear infinite;
       -moz-animation: rotating-function 1.25s linear infinite;
        -ms-animation: rotating-function 1.25s linear infinite;
         -o-animation: rotating-function 1.25s linear infinite;
            animation: rotating-function 1.25s linear infinite;
    background: url('images/icon/icon_run.png') no-repeat;
    background-position: -31px 0;
}
