.brtc-style-editor-toolitem {
    position: relative;
    float: right;
    width: 26px;
    height: 26px;
    margin-right: 8px;
    margin-left: 8px;
}

.brtc-style-editor-toolitem[tool-type=with-title] {
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 65px;
    justify-content: flex-start;
    align-items: center;
}

.brtc-style-s-editor-toolitem-title {
    font-family: Arial;
    font-size: 11px;
    line-height: 1.09;
    width: 100%;
    height: 20px;
    color: rgba(0, 0, 0, .6);
}

.brtc-style-editor-toolitem .brtc-style-editor-toolitem-selector {
    width: 10px;
    height: 4px;
    background-image: url(images/icon/icon-xs-arrow.png);
    background-repeat: no-repeat;
    background-position-x: 3px;
}

.brtc-va-editor-toolitem-selector-parent span:first-child {
    overflow: hidden;
    width: 40px;
    height: 15px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.brtc-va-editor-toolitem-selector-parent:hover {
    background-color: #eeeeef;
}

.brtc-style-editor-toolitem[item-type=separator] {
    width: 0;
}

.brtc-style-editor-toolitem-zoom-ctxmenu .selected {
    font-weight: bold;
}

.brtc-style-editor-toolitem-zoom-ctxmenu .jqx-item {
    text-align: center;
}

.brtc-style-s-editor-toolitem {
    cursor: pointer;
    text-align: center;
    background-image: url('images/editor-toolbar-26x26.png');
    background-repeat: no-repeat;
    background-position-x: -390px;
}

.brtc-style-s-editor-toolitem:hover {
    background-color: #eeeeef;
}

/*.brtc-style-s-editor-toolitem[item-type=normal-view]
{
background-position-x: -754px;
}

.brtc-style-s-editor-toolitem[item-type=thumbnail-view]
{
background-position-x: -728px;
}
*/
.brtc-style-s-editor-toolitem[item-type=add-page],
.brtc-style-s-editor-toolitem[item-type=delete-page] {
    display: flex;
    width: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.brtc-style-s-editor-toolitem[item-type=separator] {
    cursor: default;
    border-left: 1px solid #e6e7e7;
    background-image: none;
}

.brtc-style-s-editor-toolitem[item-type=run] {
    background-position-x: -416px;
}

.brtc-style-s-editor-toolitem[item-type=stop] {
    background-image: url('images/editor-toolbar-26-stop.png');
}

.brtc-style-s-editor-toolitem[item-type=variable] {
    background-position-x: -78px;
}

.brtc-style-s-editor-toolitem[item-type=report] {
    display: none; /*필요없음*/
    background-position-x: -312px;
}

.brtc-style-s-editor-toolitem[item-type=index] {
    background-position-x: -598px;
}

.brtc-style-s-editor-toolitem[item-type=functionhelp] {
    /*background-image: url('images/tool-help.png');*/
    /*background-position-x: 1px;*/
    /*background-position-y: 1px;*/
    /*background-size: 22px;*/
    background-position-x: -494px;
}

.brtc-style-s-editor-toolitem[item-type=redo] {
    /*background-image: url('images/editor-toolbar-26.png');*/
    /*background-position-x: -208px;*/
    background-position-x: -234px;
}

.brtc-style-s-editor-toolitem[item-type=undo] {
    /*background-image: url('images/editor-toolbar-26.png');*/
    /*background-position-x: -156px;*/
    background-position-x: -260px;
}

.brtc-style-s-editor-toolitem[item-type=zoom] {
    /*background-image: url('images/icon/icon-magnify.png');*/
    /*background-position-x: 5px;*/
    /*background-position-y: 4px;*/
    background-position-x: -182px;
}

.brtc-style-s-editor-toolitem[item-type=zoom-large] {
    background-position-x: -624px;
}

.brtc-style-s-editor-toolitem[item-type=zoom-large].status-selected {
    background-position-x: -650px;
}

.brtc-style-s-editor-toolitem[item-type=zoom-normal] {
    background-position-x: -572px;
}

.brtc-style-s-editor-toolitem[item-type=zoom-normal].status-selected {
    background-position-x: -598px;
}

.brtc-style-s-editor-toolitem[item-type=zoom-small] {
    background-position-x: -520px;
    background-position-y: -26px;
}

.brtc-style-s-editor-toolitem[item-type=zoom-small].status-selected {
    background-position-x: -520px;
}

.brtc-style-s-editor-toolitem[item-type=tooltip] {
    /*background-image: url('images/editor-toolbar-tooltip-off-26.png');*/
    background-position-x: -468px;
    background-position-y: -26px;
}

.brtc-style-s-editor-toolitem[item-type=tooltip].status-selected {
    /*background-image: url('images/editor-toolbar-tooltip-on-26.png');*/
    background-position-x: -468px;
    background-position-y: 0;
}

.brtc-style-s-editor-toolitem[item-type=persist] {
    display: none;
    background-image: initial;
}

.brtc-style-s-editor-toolitem[item-type=persist]:before {
    font-family: FontAwesome;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    position: absolute;
    left: 4px;
    padding-right: .5em;
    content: '\f0a0';
    text-decoration: inherit;
    color: #6c6c6c;
}

.brtc-style-s-editor-toolitem[item-type=persist][persist-mode='auto']:before {
    color: blue;
}

.brtc-style-s-editor-toolitem[item-type=persist][persist-mode='true']:before {
    color: blue;
}

.brtc-style-s-editor-toolitem[item-type=persist][persist-mode='false']:before {
    color: red;
}

.brtc-style-s-editor-toolitem[item-type=duration] {
    width: 100px;
}

.brtc-style-s-editor-toolitem > i {
    font-size: 1.3em;
    line-height: 26px;
}

.brtc-style-s-editor-toolitem .brtc-style-s-background-image-icon-paper {
    width: 26px;
    height: 26px;
    background-image: url('images/editor-toolbar-26x26.png');
    background-position-x: -104px;
}

.brtc-style-s-editor-toolitem .brtc-style-s-background-image-icon-paper-x {
    width: 26px;
    height: 26px;
    background-image: url('images/editor-toolbar-26x26.png');
    background-position-x: -156px;
}

.brtc-style-s-editor-toolitem[item-type=add-chart],
.brtc-style-s-editor-toolitem[item-type=add-text] {
    display: flex;
    width: 100%;
    height: 30px;
    cursor: default;
    justify-content: center;
    align-items: center;
}

.brtc-style-s-editor-toolitem[item-type=add-chart] div:hover,
.brtc-style-s-editor-toolitem[item-type=add-text] div:hover {
    cursor: pointer;
    background-color: #eeeeef;
}

.brtc-style-s-editor-toolitem[item-type=add-chart] div {
    width: 30px;
    height: 30px;
    background-image: url('../plugins/bcharts/images/bcharts.png');
}

/*.brtc-style-s-editor-toolitem[item-type=add-chart] div.status-selected*/
/*{*/
/*outline: #cecccd 1px solid;*/
/*}*/

.brtc-style-s-editor-toolitem div[chart-type=text] {
    width: 30px;
    height: 30px;
    background-image: url(images/icon/icon-text.png);
    background-repeat: no-repeat;
    background-position-x: 6px;
    background-position-y: 6px;
}

.brtc-style-s-editor-toolitem div[chart-type=scatter] {
    background-position: -60px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=line] {
    background-position: -90px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=column] {
    background-position: -120px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=column-stacked] {
    background-position: -150px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=column-stacked-100] {
    background-position: -180px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=bar] {
    background-position: -210px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=bar-stacked] {
    background-position: -240px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=bar-stacked-100] {
    background-position: -270px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=area] {
    background-position: -300px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=area-stacked] {
    background-position: -330px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=area-stacked-100] {
    background-position: -360px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=boxplot] {
    background-position: -390px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=heatmap] {
    background-position: -420px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=pie] {
    background-position: -450px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=network] {
    background-position: -480px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=treemap] {
    background-position: -510px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=decisionTree],
.brtc-style-s-editor-toolitem div[chart-type=decisionTreeForBrightics] {
    background-position: -540px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=table] {
    background-position: -570px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=mcc] {
    background-position: -600px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=dendrogram] {
    background-position: -630px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=roccurve] {
    background-position: -660px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=correlation-matrix] {
    background-position: -690px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=scatter-map] {
    background-position: -720px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=biplot] {
    background-position: -750px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=tornado] {
    background-position: -780px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=radar] {
    background-position: -810px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=word-cloud] {
    background-position: -840px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=complex] {
    background-position: -870px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=histogram] {
    background-position: -900px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=bubble] {
    background-position: -930px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=heatmap-matrix] {
    background-position: -960px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=qqplot] {
    background-position: -990px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=pairwise-scatter] {
    background-position: -1016px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=card] {
    background-position: -1042px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=map] {
    background-position: -720px -30px;
}

.brtc-style-s-editor-toolitem div[chart-type=donut] {
    background-position: -1080px -30px;
}

.brtc-style-editor-toolitem[item-type=page-selector] {
    display: flex;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100px;
    padding: 0 10px 0 10px;
    background-color: #f7f7f7;
    justify-content: space-around;
    align-items: center;
}

.brtc-style-s-editor-toolitem[item-type=page-selector] {
    outline: #d0d0d0 1px solid;
}

.brtc-style-s-editor-toolitem.status-disabled {
    cursor: default;
    opacity: .3;
    background-color: transparent;
}

.brtc-style-s-editor-toolitem[item-type=publish] {
    background-position-x: -208px;
}

.brtc-style-s-editor-toolitem[item-type=content-outline] {
    background-image: url('images/icon/icon-guide-on.png');
    background-repeat: no-repeat;
    background-position-x: 4px;
    background-position-y: 4px;
}

.brtc-style-s-editor-toolitem[item-type=content-outline].status-selected {
    background-image: url('images/icon/icon-guide.png');
    background-repeat: no-repeat;
    background-position-x: 4px;
    background-position-y: 4px;
}

.brtc-style-s-editor-toolitem[item-type=export-pdf] {
    background-position-x: -52px;
}

/* large size */
.brtc-style-editor-toolitem.brtc-style-editor-toolitem-large {
    display: flex;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 65px;
    height: 65px;
    justify-content: center;
    align-items: center;
}

.brtc-style-editor-toolitem-large.brtc-style-s-editor-toolitem {
    border: solid 1px #d9d9d9;
}

.brtc-style-s-editor-toolitem[item-type=schedule] {
    background-position-x: -338px;
}

.brtc-style-s-editor-toolitem[item-type=history] {
    background-position-x: -287px;
}

.brtc-style-s-editor-toolitem[item-type=refresh] {
    background-position-x: -572px;
}

.brtc-style-s-editor-toolitem[item-type=summary] {
    background-position-x: 0;
}

.brtc-style-s-editor-toolitem[item-type=export] {
    background-position-x: -130px;
}

.brtc-style-s-editor-toolitem[item-type=clipboard] {
    background-position-x: -312px;
}

.brtc-style-s-editor-toolitem[item-type=version] {
    background-position-x: -547px;
}

.brtc-style-s-editor-toolitem[item-type=move-mode] {
    background-position-x: -442px;
    background-position-y: -26px;
}

.brtc-style-s-editor-toolitem[item-type=move-mode].status-selected {
    background-position-x: -442px;
    background-position-y: 0;
}

.brtc-style-s-editor-toolitem[item-type=upload] {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-image: url('images/tool-close-panel.png');
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
}

.brtc-style-s-editor-toolitem[item-type=datasource] {
    background-position-x: 0;
    display: none;
}

.brtc-style-s-editor-toolitem[item-type=copy] {
    background-position-x: -650px;
}

.brtc-style-s-editor-toolitem[item-type=cut] {
    background-position-x: -676px;
}

.brtc-style-s-editor-toolitem[item-type=paste] {
    background-position-x: -624px;
}

.brtc-style-s-editor-toolitem[item-type=delete] {
    background-position-x: -702px;
}