.brtc-va-dialogs-contents-dashboard-run,
.brtc-va-dialogs-contents-dashboard-ready,
.brtc-va-dialogs-contents-dashboard-fail,
.brtc-va-dialogs-contents-dashboard-success,
.brtc-va-dialogs-contents-dashboard-abort {
    width: 100%;
    height: 100%;
}

.brtc-va-dialogs-contents .bcharts-adonis-left,
.brtc-va-dialogs-contents .bcharts-adonis-right {
    display: none;
}

.brtc-va-dialogs-contents .bcharts-ws-panel-chart-selector {
    display: none;
}

.brtc-va-dialogs-contents .bcharts-ws-panel-toolbar {
    display: none;
}

.brtc-va-dialogs-buttonbar-status-symbol {
    float: left;
    width: 11px;
    height: 11px;
    margin-top: 2px;
    margin-right: 5px;
    -webkit-border-radius: 9px;
       -moz-border-radius: 9px;
            border-radius: 9px;
    background: grey;
}

.brtc-va-dialogs-buttonbar-status {
    float: left;
    width: 100px;
    height: 50%;
    margin-top: 10px;
}

.brtc-va-dialogs-buttonbar-status-text {
    float: left;
    width: 80px;
    height: 100%;
}

.brtc-va-dialogs-buttonbar-status[status=READY] .brtc-va-dialogs-buttonbar-status-symbol {
    background: grey;
}

.brtc-va-dialogs-buttonbar-status[status=PROCESSING] .brtc-va-dialogs-buttonbar-status-symbol {
    background: #70cdb6;
}

.brtc-va-dialogs-buttonbar-status[status=FAIL] .brtc-va-dialogs-buttonbar-status-symbol {
    background: red;
}

.brtc-va-dialogs-buttonbar-status[status=ABORT] .brtc-va-dialogs-buttonbar-status-symbol {
    background: black;
}

.brtc-va-dialogs-buttonbar-status[status=SUCCESS] .brtc-va-dialogs-buttonbar-status-symbol {
    background: #656eea;
}

.brtc-va-dialogs-contents-dashboard-ready {
    font-size: 20px;
    line-height: 414px;
    text-align: center;
}

.brtc-va-dialogs-contents-dashboard-fail {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.brtc-va-dialogs-contents-dashboard-fail-message,
.brtc-va-dialogs-contents-dashboard-fail-detail {
    height: 30px;
    flex: 1;
}

.brtc-va-dialogs-contents-dashboard-fail-message {
    display: flex;
    justify-content: center;
}

.brtc-va-dialogs-contents-dashboard-fail-message-contents {
    margin-top: auto;
    margin-bottom: 10px;
}

.brtc-va-dialogs-contents-dashboard-fail-detail {
    font-size: 14px;
    padding-left: 420px;
}
