/**************************************************************************************************************************************************/
/* Column List */
/* <div class="brtc-va-editors-sheet-controls-columnlist">                                  */
/*     <div class="brtc-va-editors-sheet-controls-columnlist-selectbutton-wrapper"/>        */
/*     <div class="brtc-va-editors-sheet-controls-columnlist-columncontainer-wrapper"/>        */
/* </div>                                                                                   */
/**************************************************************************************************************************************************/
.element-adidas-3-line {
    width: 9px !important;
    height: 11px !important;
    background: url('images/icon/icon_property.png') no-repeat;
    background-position: -75px 0;
}

.element-adidas-3-line-hover {
    background: url('images/icon/icon_property.png') no-repeat;
    background-position: -75px -21px;
}

.element-adidas-3-line-selected {
    background: url('images/icon/icon_property.png') no-repeat;
    background-position: -75px -42px;
}

.brtc-va-editors-sheet-controls-columnlist {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
}

.brtc-va-editors-sheet-controls-columnlist-selectbutton-wrapper {
    clear: both;
    width: calc(100% - 2px);
    margin-bottom: 5px;
}

.brtc-va-editors-sheet-controls-columnlist-selectbutton-wrapper .brtc-va-editors-sheet-controls-columnlist-selectcounter {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    line-height: 25px;
    float: left;
    vertical-align: middle;
}

.brtc-va-editors-sheet-controls-columnlist-selectbutton-wrapper .brtc-va-editors-sheet-controls-columnlist-selectcounter .columnlist-select-counter {
    font-weight: bold;
    color: #8182ea;
}

.brtc-va-editors-sheet-controls-columnlist-selectbutton-wrapper .brtc-va-selectbutton-container {
    float: right;
}

.brtc-va-editors-sheet-controls-columnlist-selectbutton-wrapper .brtc-va-editors-sheet-controls-columnlist-selectbutton {
    font-family: Arial, Dotum, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 25px;
    display: inline-block;
    zoom: 1 !important;
    box-sizing: border-box !important;
    width: 74px;
    padding: 0 20px;
    cursor: pointer;
    text-align: center;
    text-transform: none;
    color: rgba(0, 0, 0, .7);
    border: 1px solid #ccc;
    border-radius: 0;
    outline: none;
    background: white;
}

.brtc-va-editors-sheet-controls-columnlist-selectbutton-wrapper .brtc-va-editors-sheet-controls-columnlist-selectbutton:hover {
    background-color: rgba(0, 0, 0, .03) !important;
}

.brtc-va-editors-sheet-controls-columnlist-columncontainer-wrapper {
    width: 100%;
    height: 100%;
    /*width: calc(100% - 4px);*/
    /*cursor: pointer;*/

    border: 1px solid #bfbfbf;
    background-color: #fff;
}

.brtc-va-editors-sheet-controls-columnlist-columncontainer {
    overflow: hidden;
}

.brtc-va-editors-sheet-controls-columnselector-columncontainer-sortable {
    overflow: hidden;
}

.brtc-va-editors-sheet-controls-columnselector-columncontainer-sortable:hover,
.scroll-always .brtc-va-editors-sheet-controls-columnselector-columncontainer-sortable {
    overflow: auto;
}

.brtc-va-editors-sheet-controls-columnselector-columncontainer-sortable::-webkit-scrollbar-track {
    background: transparent;
}

.brtc-va-editors-sheet-controls-columnselector-columncontainer-sortable::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
}

.brtc-va-editors-sheet-controls-columnselector-columncontainer-sortable::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #ccc;
}

.brtc-va-editors-sheet-controls-columnlist-editoropener-wrapper {
    position: absolute;
    float: left;
    width: 15px;
    height: 100%;
    margin-left: 2px;
}

.brtc-va-editors-sheet-controls-columnselector-expandercontainer {
    display: none;
    float: left;
    width: 100%;
    height: 22px;
}

.brtc-va-editors-sheet-controls-columnselector-editoropener {
    height: 100%;
}

.brtc-va-editors-sheet-controls-columnselector-columncontainer-expander {
    width: 100%;
    height: 100%;
    border-color: #d4d4d4;
    border-top: 1px solid;
}

.brtc-va-editors-sheet-controls-columnselector-columncontainer-expander-left {
    float: left;
    width: calc((100% - 10px) / 2);
    height: 100%;
}

.brtc-va-editors-sheet-controls-columnselector-columncontainer-expander-center {
    float: left;
    width: 10px;
    height: 100%;
}

.brtc-va-editors-sheet-controls-columnselector-columncontainer-expander-right {
    float: left;
    width: calc((100% - 10px) / 2);
    height: calc(100% - 2px);
    padding-top: 2px;
}

.brtc-va-editors-sheet-controls-columnselector-columncontainer-expander-down {
    display: block;
    float: left;
    width: 10px;
    height: calc(100% - 2px);
    padding-top: 2px;
}

.brtc-va-editors-sheet-controls-columnselector-columncontainer-expander-up {
    display: none;
    float: left;
    width: 10px;
    height: calc(100% - 2px);
    padding-top: 2px;
}

.brtc-va-editors-sheet-controls-columnselector-columncontainer-element {
    display: flex;
    height: 25px;
    cursor: pointer;
    flex: 1;
    align-items: center;
    width: 100%;
}

.brtc-va-editors-sheet-controls-columnselector-columncontainer-element[empty=true] {
    pointer-events: none;
}

.brtc-va-editors-sheet-controls-columnselector-columncontainer-element-hover {
    background: rgba(0, 0, 0, .03);
}

.brtc-va-editors-sheet-controls-columnselector-columncontainer-element-type {
    font-size: 11px;
    line-height: 19px;
    position: relative;
    width: 70px;
    height: 19px;
    margin-left: 3px;
    cursor: pointer;
    text-align: center;
    border: solid 1px #bdc0d6;
    border-radius: 9.5px;
    background-color: #e6e9ff;
    background-repeat: no-repeat;
    background-position: 0 -78px;
}


.brtc-va-editors-sheet-controls-columnselector-columncontainer-element-name {
    font-family: Arial, Dotum, Tahoma, sans-serif;
    font-size: 12px;
    display: flex;
    overflow: hidden;
    max-width: calc(100% - 96px);
    margin-left: 10px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-items: center;
    flex: 1;
}

.brtc-va-editors-sheet-controls-columnselector-columncontainer .jqx-listitem-state-normal {
    padding: 0;
}

.brtc-va-editors-sheet-controls-columnselector-columncontainer-element-name-mouseover {
    font-weight: bold;
}

.brtc-va-editors-sheet-controls-columnselector-columncontainer-element-remove {
    position: absolute;
    z-index: 10;
    top: 4px;
    right: 8px;
    display: none;
    float: right;
    width: 17px;
    height: 17px;
    background: url('images/icon/icon_property.png') no-repeat;
    background-color: transparent !important;
    background-position: -37px 0;
    flex-wrap: wrap;
    align-items: center;
}

.brtc-va-editors-sheet-controls-columnselector-columncontainer-element-remove:hover {
    background: url('images/icon/icon_property.png') no-repeat;
    background-position: -37px -27px;
}

.brtc-va-editors-sheet-controls-columnselector-columncontainer-expander-remain {
    cursor: default;
}

.brtc-va-editors-sheet-controls-columnselector-columncontainer-editopener {
    cursor: pointer;
}

.brtc-va-editors-sheet-controls-columnselector-columncontainer-editopener-down {
    display: block;
    cursor: pointer;
}

.brtc-va-editors-sheet-controls-columnselector-columncontainer-editopener-up {
    display: none;
    cursor: pointer;
}

.brtc-va-editors-sheet-controls-propertycontrol-culumnselector {
    width: 200px;
    height: auto;
}

.brtc-va-editors-sheet-controls-columnselector-columncontainer-element-empty {
    line-height: 25px;
    width: calc(100% - 10px);
    height: 100%;
    margin-left: 10px;
    cursor: pointer;
    text-align: center;
    color: #585858;
}

.brtc-va-editors-sheet-controls-columnselector-columncontainer-columnunit {
    width: 180px;
    height: 22px;
}

.brtc-va-editors-sheet-controls-columnselector-columncontainer-columnunit-misseddata {
    color: red;
}

/**************************************************************************************************************************************************/
/* Column Selector */
/* <div class="brtc-va-editors-sheet-controls-columnselector-editarea">           */
/*     <div class="brtc-va-editors-sheet-controls-columnselector-header"></div>   */
/*     <div class="brtc-va-editors-sheet-controls-columnselector-content"></div>  */
/* </div>                                                                         */
/**************************************************************************************************************************************************/
.brtc-va-editors-sheet-controls-columnselector-editarea {
    width: 300px !important;
    padding-top: 0 !important;
}

.brtc-va-editors-sheet-controls-columnselector-editarea .brtc-va-editors-sheet-controls-columnselector-header .jqx-window-close-button.jqx-window-close-button-office.jqx-icon-close.jqx-icon-close-office {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 10px;
    width: 15px !important;
    height: 16px !important;
    margin-top: 5px;
    padding: 0;
    border: none;
    background: url('images/icon/icon_popup.png') no-repeat;
    background-position: 0 0;
}

.brtc-va-editors-sheet-controls-columnselector-editarea .brtc-va-editors-sheet-controls-columnselector-header .jqx-window-close-button.jqx-window-close-button-office.jqx-icon-close.jqx-icon-close-office:hover {
    background-position: -25px 0;
}

.brtc-va-editors-sheet-controls-columnselector-editarea .brtc-va-editors-sheet-controls-columnselector-header.jqx-window-header.jqx-window-header-office.jqx-widget-header.jqx-widget-header-office {
    font-family: 'Arial', sans-serif !important;
    font-size: 18px !important;
    font-weight: bold !important;
    padding-top: 15px !important;
    padding-left: 15px !important;
    border-bottom: none !important;
}

.brtc-va-editors-sheet-controls-columnselector-content {
    overflow-x: hidden;
    width: 100%;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-va-editors-sheet-controls-columnselector-filter.jqx-input-group-office .jqx-input-office {
    padding-left: 10px !important;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-va-editors-sheet-controls-columnselector-filter input[type=text].jqx-input-office,
.brtc-va-editors-sheet-controls-columnselector-content .brtc-va-editors-sheet-controls-columnselector-filter input[type=password].jqx-input-office {
    font-size: 13px;
    box-sizing: border-box;
    width: 270px !important;
    min-width: 16px;
    min-height: 16px;
    margin: 0;
    padding: 0;
    padding-right: 10px;
    padding-left: 10px;
    border-width: 1px;
    border-style: solid;
}

.brtc-va-editors-sheet-controls-columnselector-editarea.ui-dialog-content.ui-widget-content {
    width: calc(100% - 20px) !important;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-va-editors-sheet-controls-columnselector-filter .jqx-input-group-office .jqx-input-office {
    padding-left: 10px !important;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-va-editors-sheet-controls-columnselector-filter input[type=text].jqx-input-office {
    font-size: 12px;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-va-editors-sheet-controls-columnselector-filter input[type=text].jqx-input-office:focus {
    border: 1px solid #626fdb !important;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-va-editors-sheet-controls-columnselector-filter input[type=text].jqx-input-office.error,
.brtc-va-editors-sheet-controls-columnselector-content .brtc-va-editors-sheet-controls-columnselector-filter input[type=text].jqx-input-office.error:focus {
    text-align: right;
    border: 1px solid #ea3539 !important;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-va-editors-sheet-controls-columnselector-filter .fl {
    float: left;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-va-editors-sheet-controls-columnselector-filter-container {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    padding-right: 0;
    padding-left: 0;
}

.brtc-va-editors-sheet-controls-columnselector-filter-container {
    padding-top: 0;
}

.brtc-va-editors-sheet-controls-columnselector-filter-container > input {
    width: 100%;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-va-editors-sheet-controls-columnselector-filter .jqx-input-group-office:focus {
    border: 1px solid #6c79e9;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-va-editors-sheet-controls-columnselector-filter .jqx-input-group-addon-office {
    width: 30px;
    margin: 0;
    margin-top: 1px;
    padding: 0 !important;
    border: 1px solid #ccc;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-va-editors-sheet-controls-columnselector-filter-search.jqx-input-group-addon-office:hover {
    /*background-color: rgba(227, 227, 227, 0.5);*/
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-va-editors-sheet-controls-columnselector-filter .brtc-va-editors-sheet-controls-columnselector-filter-search.jqx-input-group-addon-office {
    line-height: 37px;
    position: absolute;
    right: 17px;
    height: 29px !important;
    text-align: center;
    border: none;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-va-editors-sheet-controls-columnselector-filter .jqx-input-group-addon-office img {
    width: 30px;
    height: 29px;
    border: none !important;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-column-check-box-wrapper .jqx-checkbox-office {
    border: none;
    background: none;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-column-check-box-wrapper .jqx-checkbox-default-office {
    display: inline-block;
    float: none;
    margin: 0 10px 0 0;
    margin-top: 0 !important;
    vertical-align: middle;
    border: none;
    background: url('images/icon/radio_check.png') no-repeat;
    background-position: -38px 0;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-column-check-box-wrapper .jqx-checkbox-office[aria-checked=true] span {
    color: #626fdb !important;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-column-check-box-wrapper .jqx-checkbox-office span {
    vertical-align: middle;
}

/* Select All Button Start */
.brtc-va-editors-sheet-controls-columnselector-content .brtc-column-check-box-wrapper {
    /*padding-left: 10px;*/
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-column-check-box-wrapper .jqx-checkbox-hover-office {
    background: url('images/icon/radio_check.png') no-repeat;
    background-position: -38px -28px;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-column-check-box-wrapper .jqx-checkbox-disabled-box-office {
    background: url('images/icon/radio_check.png') no-repeat;
    background-position: -38px -112px;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-column-check-box-wrapper .jqx-checkbox-office[aria-disabled=true][aria-checked=true] > div > div > span {
    background: url('images/icon/radio_check.png') no-repeat;
    background-position: -38px -84px;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-column-check-box-wrapper .jqx-checkbox-office[aria-disabled=true][aria-checked=true] span {
    color: rgba(0, 0, 0, .8) !important;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-column-check-box-wrapper .jqx-checkbox-check-checked-office {
    top: 0 !important;
    left: 0 !important;
    width: 17px !important;
    height: 17px !important;
    background: url('images/icon/radio_check.png') no-repeat;
    background-position: -38px -56px;
}

/* Select All Button End */
.brtc-va-editors-sheet-controls-columnselector-content .brtc-column-selector-confirm-button-wrapper {
    padding-top: 10px;
    padding-left: 195px;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-column-selector-confirm-button-confirm.jqx-button-office {
    padding: 0 20px;
    color: #fff !important;
    border: 1px solid #6c79e9 !important;
    background-color: #6c79e9 !important;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-column-selector-confirm-button-confirm.jqx-button-office:hover {
    background-color: #6673dd !important;
}

.brtc-va-editors-sheet-controls-columnselector-content.brtc-column-selector-confirm-button-confirm.jqx-button-office.disabled {
    pointer-events: none;
    border: 1px solid #f0f1fd !important;
    background-color: #f0f1fd !important;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-va-editors-sheet-controls-columnselector-columncontainer-wrapper {
    position: relative;
    clear: both;
    overflow-x: hidden;
    overflow-y: auto;
    /*width: 277px !important;*/
    /*height: 165px;*/
    /*margin-left: 10px;*/

    border: 1px solid #c7c7c7;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-va-editors-sheet-controls-columnselector-columncontainer-button-wrapper {
    float: left;
    box-sizing: content-box;
    width: 20px;
    height: auto;
    padding-top: 8px;
    padding-left: 10px;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-va-editors-sheet-controls-columnselector-columncontainer-list-wrapper {
    position: absolute;
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-va-editors-sheet-controls-columnselector-columncontainer-list {
    height: auto;
    border: none;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-va-editors-sheet-controls-columnselector-columncontainer-list::-webkit-scrollbar-track {
    background: transparent;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-va-editors-sheet-controls-columnselector-columncontainer-list::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-va-editors-sheet-controls-columnselector-columncontainer-list::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #ccc;
}

.brtc-va-editors-sheet-controls-columnselector-content .jqx-listitem-state-normal.jqx-listitem-state-normal-office.jqx-item.jqx-item-office.jqx-rc-all.jqx-rc-all-office {
    max-width: 270px;
    color: black;
    border: none;
    background: none;
}

.brtc-va-editors-sheet-controls-columnselector-content .jqx-listitem-state-normal.jqx-listitem-state-normal-office.jqx-item.jqx-item-office.jqx-rc-all.jqx-rc-all-office.jqx-listitem-state-selected.jqx-listitem-state-selected-office.jqx-fill-state-pressed.jqx-fill-state-pressed-office {
    /*color: #626fdb !important;*/
    color: black;
    border: none;
    background: none;
}

.brtc-va-editors-sheet-controls-columnselector-content .jqx-listitem-state-normal.jqx-listitem-state-normal-office.jqx-item.jqx-item-office.jqx-rc-all.jqx-rc-all-office.jqx-listitem-state-hover.jqx-listitem-state-hover-office.jqx-fill-state-hover.jqx-fill-state-hover-office {
    color: black;
    border: none;
    background: none;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-va-editors-sheet-controls-columnselector-columncontainer-element {
    max-width: calc(100% - 28px);
}


.brtc-va-editors-sheet-controls-columnselector-content .brtc-va-editors-sheet-controls-columnselector-columncontainer-element .brtc-va-editors-sheet-controls-columnselector-columncontainer-element-name {
    max-width: calc(100% - 96px);
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-va-editors-sheet-controls-columnselector-columncontainer-button-wrapper div.element-button-checkbox {
    display: inline-block;
    float: none;
    width: 17px !important;
    height: 17px !important;
    margin-bottom: 12px;
    vertical-align: middle;
    border: none;
    background: url('images/icon/radio_check.png') no-repeat;
    background-position: -38px 0;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-va-editors-sheet-controls-columnselector-columncontainer-button-wrapper div.element-button-checkbox:hover {
    background: url('images/icon/radio_check.png') no-repeat;
    background-position: -38px -28px;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-va-editors-sheet-controls-columnselector-columncontainer-button-wrapper div.element-button-checkbox.element-button-checked {
    color: #626fdb !important;
    background: url('images/icon/radio_check.png') no-repeat;
    background-position: -38px -56px;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-va-editors-sheet-controls-columnselector-columncontainer-button-wrapper div.element-button-radio {
    display: inline-block;
    float: none;
    width: 18px !important;
    height: 18px !important;
    margin-bottom: 11px;
    vertical-align: middle;
    border: none;
    -webkit-border-radius: 0 !important;
       -moz-border-radius: 0 !important;
            border-radius: 0 !important;
    background: url('images/icon/radio_check.png') no-repeat;
    background-position: 0 0;
         -o-border-radius: 0 !important;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-va-editors-sheet-controls-columnselector-columncontainer-button-wrapper div.element-button-radio:hover {
    background: url('images/icon/radio_check.png') no-repeat;
    background-position: 0 -28px;
}

.brtc-va-editors-sheet-controls-columnselector-content .brtc-va-editors-sheet-controls-columnselector-columncontainer-button-wrapper div.element-button-radio.element-button-checked {
    background: url('images/icon/radio_check.png') no-repeat;
    background-position: 0 -56px;
}

.brtc-va-editors-sheet-controls-columnselector-columncontainer-element-type[data-type=undefined] {
    border: 1px solid rgba(194, 6, 17, .65);
}

.brtc-va-editors-sheet-controls-columnsettings-content .header {
    height: 26px;
    margin-top: 5px;
}

.brtc-va-editors-sheet-controls-columnsettings-content .contents {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 2px;
}

.brtc-va-editors-sheet-controls-columnsettings-content .contents .column-index-start{
    margin-right: 5px;
}

.brtc-va-editors-sheet-controls-columnsettings-content .contents .column-index-end{
    margin-left: 5px;
}

.brtc-va-editors-sheet-controls-columnsettings-buttonarea {
    position: absolute;
    right: 25px;
    bottom: 20px;
}

.brtc-va-editors-sheet-controls-columnsettings-buttonarea .apply{
    cursor: pointer;
    color: #fff;
    border: none;
    background-color: #6c79e9;
    padding: 6px 16px;
}

.brtc-va-editors-sheet-controls-columnsettings-buttonarea .clear{
    cursor: pointer;
    padding: 6px 16px;
}

.brtc-va-editors-sheet-controls-columnsettings-content .error{
    color: red;
    margin-top: -10px;
    margin-bottom: 5px;
}
