.brtc-va-dialogs-editresourcedialog-contents .brtc-va-dialogs-contents-label {
    width: 120px;
}

.brtc-va-dialogs-editresourcedialog-name-input {
    flex: 1;
}

.brtc-va-dialogs-editresourcedialog-description-container {
    max-width: calc(100% - 120px);
    height: calc(100% - 80px);
    flex: 1;
}


