/**********************
 * IMPORTANT CSS START
 * : VA에 적용되어 있던 JQX 관련 CSS들이 Adonis의 Chart Option의 CSS를 엎어버린다.
 * : 아래 정의된 CSS는 그 부분을 다시 재적용 하는 CSS
 **********************/

.brtc-va-tools-sidebar .jqx-expander-header.bos-control-container-label {
    font-size: 14px !important;
    position: relative;
    display: flex;
    box-sizing: border-box;
    height: 40px !important;
    padding: 0 0 0 20px;
    border: none;
    background-color: #f7f7f7;
    align-items: center;
}

.brtc-va-tools-sidebar .bos-control-container-label.jqx-fill-state-pressed {
    background-color: #fff;
}

.brtc-va-tools-sidebar .bos-container .bos-control-container-expander-expanded .jqx-expander-header-content {
    font-weight: normal;
    color: rgba(0, 0, 0, 1);
}

.brtc-va-tools-sidebar .bos-container .bos-control-container-expander-collapsed .jqx-expander-header-content {
    font-weight: normal;
    color: rgba(0, 0, 0, .8);
}

.brtc-va-tools-sidebar .brtc-bcharts-option__wrapper {
    height: 100%;
}

/******************
* IMPORTANT CSS END
*******************/
