/* Python 버전 Refine Data 함수 Select Column에서 Type 변경 안 보이도록 수정 */
/* .brtc-va-refine-selectcolumn-header-type,
.brtc-va-refine-selectcolumn-column-type-reset-wrapper,
.brtc-va-refine-selectcolumn-column-type,
.brtc-va-refine-selectcolumn-column-reset-wrapper {
    display: none !important;
}

.brtc-va-refine-selectcolumn-header-name {
    width: 245px !important;
}

.brtc-va-refine-selectcolumn-header-alias {
    width: 185px !important;
}

.brtc-va-refine-selectcolumn-column-name {
    width: 230px !important;
}

.brtc-va-refine-selectcolumn-column-alias {
    width: 240px !important;
} */