.brtc-va-tools-sidebar .brtc-style-tab-contents {
    height: calc(100% - 6px);
}

.brtc-va-views-databoxcontrol-area {
    box-sizing: border-box;
    height: 168px;
    padding-top: 40px;
}

.brtc-va-views-databoxcontrol {
    box-sizing: border-box;
    height: 100%;
    border-bottom: 1px solid #d9d9d9;
    background-color: #f7f7f7;
}

.brtc-va-views-datasourcepanel-area {
    height: calc(100% - 168px);
}

.brtc-va-views-datasourcepanel-area .bcharts-ds-column {
    cursor: move;
}

.brtc-va-views-databoxcontrol-header {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    box-sizing: border-box;
    height: 60px;
    letter-spacing: -.8px;
    opacity: .8;
    color: rgba(0,0,0,.8);
    justify-content: center;
    align-items: center;
}

.brtc-va-views-databoxcontrol-body {
    display: flex;
    height: calc(100% - 60px);
    justify-content: center;
}

.brtc-style-views-databoxcontrol-button {
    box-sizing: border-box;
    width: 108px;
    height: 92px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #fff;
}

.brtc-style-views-databoxcontrol-button-image {
    box-sizing: border-box;
}

.brtc-styele-views-databoxcontrol-image-element {
    background-repeat: no-repeat;
}

.brtc-va-views-databoxcontrol-new-data-button {
    /*margin-left: 32px; !*21px;*!*/
    padding-top: 22px;
}

.brtc-va-views-databoxcontrol-new-data-button-image {
    margin-bottom: 12px;
    padding-right: 39px;
    padding-left: 39px;
}

.brtc-va-views-databoxcontrol-new-data-button-image-element {
    width: 32px;
    height: 32px;
    background-image: url('images/toolbar-32x32.png');
}

.brtc-va-views-databoxcontrol-new-data-button-text {
    font-family: Arial;
    font-size: 11px;
    box-sizing: border-box;
    height: 11px;
    padding-right: 24px;
    padding-left: 26px;
    text-align: left;
    white-space: nowrap;
    opacity: .6;
    color: rgba(0, 0, 0, .6);
}

.brtc-va-views-databoxcontrol-connect-schedule-button {
    margin-left: 6px;
    padding-top: 20px;
}

.brtc-va-views-databoxcontrol-connect-schedule-button-image {
    margin-bottom: 10px;
    padding-right: 39px;
    padding-left: 39px;
}

.brtc-va-views-databoxcontrol-connect-schedule-button-image-element {
    width: 32px;
    height: 32px;
    background-image: url('images/toolbar-32x32.png');
    background-position-x: -32px;
}

.brtc-va-views-databoxcontrol-connect-schedule-button-text {
    /* font-family: ArialMT; */
    font-size: 10px;
    line-height: 1.2;
    box-sizing: border-box;
    height: 20px;
    padding-right: 26px;
    padding-left: 26px;
    text-align: center;
    opacity: .6;
    color: rgba(0, 0, 0, .6);
}

.brtc-va-views-datasourcepanel-area ul.bcharts-ds-contents-tabs {
    margin-left: 0 !important;
}
