.brtc-va-widget-container {
    /*display: -webkit-flex;*/
    /*display: flex;*/
    width: 100%;
}

.brtc-va-widget-container * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.brtc-va-widget-header {
    display: inline-flex;
    width: 100%;
    height: 30px;
    padding-right: 15px;
}

.brtc-va-dialogs-run .brtc-va-widget-header {
    padding-right: 0px;
}

.brtc-va-widget-contents-array-input-header-area {
    width: 100%;
}

.brtc-va-widget-label {
    font-family: Arial, helvetica, sans-serif;
    font-size: 13px;
    display: flex;
    width: calc(100% - 80px);
    height: 100%;
    align-items: center;
}

.brtc-va-widget-label.array:before {
    float: left;
    width: 25px;
    height: 25px;
    content: '';
    text-align: center;
    color: transparent;
    background-image: url('images/column-type-26.png');
    background-repeat: no-repeat;
    background-position: 0 -104px;
}

.brtc-va-widget-label.string:before {
    float: left;
    width: 25px;
    height: 25px;
    content: '';
    text-align: center;
    color: transparent;
    background-image: url('images/column-type-26.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.brtc-va-widget-label.number:before {
    float: left;
    width: 25px;
    height: 25px;
    content: '';
    text-align: center;
    color: transparent;
    background-image: url('images/column-type-26.png');
    background-repeat: no-repeat;
    background-position: 0 -26px;
}

.brtc-va-widget-type-button-area {
    width: 100px;
    height: 100%;
    padding: 5px 2px;
}

.brtc-va-widget-type-switch-button .jqx-switchbutton-label-off,
.brtc-va-widget-type-switch-button .jqx-switchbutton-label-on {
    font-size: 10px;
    color: #6c79e9;
}

.brtc-va-widget-contents {
    position: relative;
    display: flex;
    max-height: 200px;

    flex-wrap: wrap;
}

.brtc-va-widget-contents-input-container {
    display: inline-flex;
    width: 100%;
    height: 30px;
    padding: 5px 0 5px 2px;
    align-items: center;
}

.brtc-va-widget-contents-input-control-container {
    max-width: 100%;
    flex: 1;
}

.brtc-va-widget-contents-input-control-add {
    width: 25px;
    height: 25px;
    margin-left: 4px;
    cursor: pointer;
    background: url('images/icon/icon-add.png') no-repeat;
    background-color: #fff;
    object-fit: contain;
}

.brtc-va-widget-contents-input-control-delete {
    width: 25px;
    height: 25px;
    margin-left: 4px;
    cursor: pointer;
    background: url('images/icon/icon-remove.png') no-repeat;
    background-color: #fff;
    object-fit: contain;
}

.brtc-va-widget-contents-input-control {
    width: 100% !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
}

.brtc-va-widget-contents-input-container-wrapper {
    width: 100%;
    height: 100%;
}

.brtc-va-widget-contents-input-container-area {
    width: 100%;
}

.brtc-va-views-properties-pages-controls-propertycontrol-contents .brtc-va-widget-container {
    width: calc(100% - 15px);
    padding: 10px 0 10px 15px;
}

.brtc-va-views-properties-pages-controls-propertycontrol-contents .brtc-va-widget-header {
    padding-right: 15px;
}

.brtc-va-views-properties-pages-controls-propertycontrol-contents .brtc-va-widget-contents-input-container-wrapper {
    width: 100%;
    padding-right: 15px;
}

.brtc-va-widget-contents-input-container-wrapper > .brtc-va-widget-contents-input-container > .brtc-va-widget-contents-input-control-add {
    /*visibility: hidden;*/
    display: none;
}

.brtc-va-widget-contents-input-container-wrapper > .brtc-va-widget-contents-input-container:last-child > .brtc-va-widget-contents-input-control-add {
    /*visibility: visible;*/
    display: block;
}

.brtc-va-widget-contents-input-container .brtc-style-display-flex input {
    width: auto;
    flex: 1;
}

.brtc-va-widget-remove {
    position: absolute;
    top: 5px;
    right: 10px;
    display: none;
    width: 8px;
    height: 8px;
    cursor: pointer;
    background-image: url('images/tool-close-8.png');
}

.brtc-va-widget-remove.removable {
    display: block;
}

.brtc-va-widgets-controls-numericInput {
    /*height: 25px;*/
    font-family: Arial, Dotum, Tahoma, sans-serif;
    font-size: 13px;
    font-style: normal;
    width: 60px;
    margin-top: 2px;
    padding-right: 10px;
    /*word-wrap: normal;*/
    /*box-sizing: border-box;*/
    padding-left: 10px;
    text-align: right;
    /*background-color: white;*/

    border: 1px solid #d4d4d4;
}

.brtc-va-widgets-controls-numericInput.widthfree {
    width: calc(100% - 22.5px);
    height: 22px;
}

.brtc-va-widgets-controls-numericInput:focus {
    text-align: right;
    border: 1px solid #6c79e9;
    outline: none !important;
}

.brtc-va-widget-validation-error {
    border-color: #ea3539 !important;
}

.brtc-va-widget-messagebox-container {
    position: absolute;
    z-index: 19000;
    bottom: 40px;
    left: calc(50% - 200px);
    width: 400px;
    height: 100px;
}

.brtc-va-widget-note-message {
    font-size: 12px;
    line-height: 24px;
    box-sizing: border-box;
    height: 24px;
    padding-right: 10px;
    text-align: right;
    border: 1px solid #d4d4d4;
    border-top: none;
    background-color: #f5f5f5;
}

.brtc-va-widget-note-message.error {
    color: #ff1513;
}

.brtc-va-widget-utils-private-policy-division {
    position: absolute;
    bottom: 4px;
    left: 7px;
    display: none;
}

.brtc-va-widget-utils-private-policy-span {
    cursor: pointer;
}



.brtc-va-views-properties-pages.import-setting-dialog .jqx-expander-header-content,
.brtc-va-views-properties-pages.export-setting-dialog .jqx-expander-header-content {
    margin-left: 12px !important;
} 

.brtc-va-views-properties-pages.import-setting-dialog .jqx-expander-header,
.brtc-va-views-properties-pages.export-setting-dialog .jqx-expander-header {
    padding-left: 6px;
    border: none;
    border-bottom: solid 1px #d4d4d4;
    background-color: white !important;
}

.brtc-va-views-properties-pages .brtc-va-views-properties-pages-controls-propertycontrol-label > div.jqx-expander-arrow.jqx-icon-arrow-up {
    margin-left: -7px;
    background-image: url(/css/plugins/aui-package/images/office-icon-right.png);
}

.brtc-va-views-properties-pages .brtc-va-views-properties-pages-controls-propertycontrol-label > div.jqx-expander-arrow.jqx-icon-arrow-down {
    margin-left: -5px;
    background-image: url(/css/plugins/aui-package/images/office-icon-down.png);
}

.brtc-va-views-properties-pages.import-setting-dialog .jqx-expander-content,
.brtc-va-views-properties-pages.export-setting-dialog .jqx-expander-content {
    border: none;
    background: #fff;
}

.brtc-va-views-properties-pages.import-setting-dialog .brtc-va-editor-sheet-panels-validation-error div.CodeMirror,
.brtc-va-views-properties-pages.export-setting-dialog .brtc-va-editor-sheet-panels-validation-error div.CodeMirror,
.brtc-va-views-properties-pages.import-setting-dialog .brtc-va-editor-sheet-panels-validation-error div.brtc-va-views-properties-pages-controls-propertycontrol-dropdown,
.brtc-va-views-properties-pages.export-setting-dialog .brtc-va-editor-sheet-panels-validation-error div.brtc-va-views-properties-pages-controls-propertycontrol-dropdown {
    border-color: #ea3539 !important;
}

.brtc-va-widget-contents-array-header-button[current-edit-type=bulk] {
    float: right;
    width: 50px;
    height: 20px;
    cursor: pointer;
    color: #fff;
    border: 1px solid #656eea;
    background-color: #656eea;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
    text-align: center;
}

.brtc-va-widget-contents-array-header-button[current-edit-type=control] {
    float: right;
    width: 70px;
    height: 20px;
    cursor: pointer;
    color: rgb(225, 106,26);
    border: 1px solid rgb(225, 106,26);
    background-color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
    text-align: center;
}