.brtc-va-views-optionpanel-area {
    display: flex;
    flex-direction: column;
}

.brtc-style-s-sidebar-background {
    background: #f7f7f7;
}

.brtc-style-option-viewer {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px 20px 20px 20px;
}

.brtc-style-option-viewer .bos-container {
    border-top: 1px solid #d9d9d9;
}

.brtc-style-option-viewer[viewer-type=chart] {
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 0;
}

/* temporary code */
.brtc-style-option-viewer[viewer-type=chart] .jqx-expander-content,
.brtc-style-option-viewer[viewer-type=chart] .jqx-expander-header {
    margin-bottom: 0;
}

.brtc-style-option-category {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.brtc-style-s-option-category {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.brtc-style-s-option-viewer {
    border-bottom: #d9d9d9 1px solid;
}

.brtc-style-option-viewer[viewer-type=object] {
    display: inline-block;
}

.brtc-style-option-viewer[viewer-type=object] .brtc-style-editor-toolitem-large {
    margin-right: 1.5px;
    margin-left: 1.5px;
}

.brtc-style-option-viewer[viewer-type=object] .brtc-style-editor-toolitem[tool-type=with-title] {
    /*margin-right: 5px;*/
    /*margin-bottom: 5px;*/
}

.brtc-style-option-viewer[viewer-type=object] .brtc-style-s-editor-toolitem {
    background-color: #fff;
}
/*
.brtc-style-option-viewer[viewer-type=object] .brtc-style-editor-toolitem-large:hover
{
    background-color: #eeeeef;
}
*/

.brtc-style-option-viewer[viewer-type=object] .brtc-style-editor-toolitem {
    float: left;
    cursor: default;
    text-align: center;
    background-repeat: no-repeat;
}

.brtc-va-controls-options-viewer[viewer-type=object] .brtc-style-popup {
    top: 65px;
    width: 287px;
    padding: 0;
}

.brtc-va-controls-options-viewer[viewer-type=object] .brtc-style-popup-content {
    box-sizing: border-box;
    height: auto;
    margin-top: 0;
    padding-right: 0;
}

.brtc-va-controls-options-viewer[viewer-type=text] .panel-heading.note-toolbar .note-color .dropdown-menu .btn-group {
    margin: 0 5px;
}

.brtc-va-controls-options-viewer[viewer-type=text] .panel-heading.note-toolbar .note-color .dropdown-toggle {
    padding-right: 0;
}

.brtc-va-controls-options-viewer[viewer-type=text] .panel-heading.note-toolbar .note-color .dropdown-menu {
    min-width: 200px;
}

.brtc-va-controls-options-viewer-page-size-container {
    padding-bottom: 1px;
}
