.brtc-va-editors-sheet-panels-basepanel.dialog {
    display: flex;
}

.brtc-va-editors-sheet-panels-basepanel.dialog > * {
    padding: 0 10px;
    flex-grow: 1;
}

.brtc-va-editors-sheet-panels-basepanel.dialog .brtc-va-editors-sheet-panels-propertiespanel-contents-area {
    height: 100%;
}

.brtc-va-editors-sheet-panels-propertiespanel-header.brtc-va-fnunit-category-opt,
.brtc-va-editors-sheet-panels-propertiespanel-header.brtc-va-fnunit-category-ad {
    border-top-color: #4cb87d;
}

.brtc-va-fnunit-category-opt > .brtc-va-editors-sheet-panels-basepanel-header-title
.brtc-va-fnunit-category-ad > .brtc-va-editors-sheet-panels-basepanel-header-title {
    color: #4cb87d;
}

/*brtc-va-dialog-opt*/
.brtc-va-dialogs-controlwrapper {
    display: flex;
    flex-direction: column;
}

.brtc-va-dialogs-scalaeditor-alias-body.space {
    margin-bottom: 20px;
}

.brtc-va-fnunit-category-opt > .brtc-va-dialogs-index-item-label,
.brtc-va-fnunit-category-ad > .brtc-va-dialogs-index-item-label {
    background-image: url('images/func-statistics-20.png');
}

.brtc-va-editors-sheet-controls-dataselector-item .selected.brtc-va-fnunit-category-opt,
.brtc-va-editors-sheet-controls-dataselector-item .selected.brtc-va-fnunit-category-ad {
    background-color: #4cb87d;
}

.brtc-va-editors-sheet-controls-dataselector-item .selected.brtc-va-fnunit-category-opt > .brtc-va-views-palette-fnunit-icon,
.brtc-va-editors-sheet-controls-dataselector-item .selected.brtc-va-fnunit-category-ad > .brtc-va-views-palette-fnunit-icon {
    background-image: url('images/func-statistics-w-20.png');
}

.brtc-va-editors-opt-validation-tooltip-wrapper {
    clear: both;
    /*width: 100%;*/

    box-sizing: border-box;
    margin-top: 5px;
    cursor: pointer;
    word-wrap: break-word;
    pointer-events: none;
    color: rgba(194, 6, 17, .65);
}

.brtc-va-editors-opt-validation-tooltip-wrapper > i {
    float: left;
    margin-top: 2px;
    margin-right: 5px;
}

.brtc-va-editors-opt-validation-error div.brtc-va-editors-sheet-controls-columnlist-columncontainer-wrapper,
.brtc-va-editors-opt-validation-error div.brtc-va-editors-sheet-controls-propertycontrol-dropDownList,
.brtc-va-editors-opt-validation-error input.brtc-va-editors-sheet-controls-propertycontrol-dropDownList,
.brtc-va-editors-opt-validation-error div.brtc-va-editors-sheet-controls-propertycontrol-textareacontrol,
.brtc-va-editors-opt-validation-error input.brtc-va-editors-sheet-controls-propertycontrol-inputbox,
.brtc-va-editors-opt-validation-error input.brtc-va-editors-sheet-controls-propertycontrol-removeinputbox,
.brtc-va-editors-opt-validation-error div.brtc-va-editors-sheet-controls-propertycontrol-input-operator,
.brtc-va-editors-opt-validation-error input.brtc-va-editors-sheet-controls-numericInput,
.brtc-va-editors-opt-validation-error input.brtc-va-editors-sheet-controls-propertycontrol-input-operand,
.brtc-va-editors-opt-validation-error input.brtc-va-editors-sheet-controls-propertycontrol-input,
.brtc-va-editors-opt-validation-error input.brtc-va-editors-sheet-panels-properties-pivotproperties-input,
.brtc-va-editors-opt-validation-error div.brtc-va-editors-sheet-controls-propertycontrol-operandtype button,
.brtc-va-editors-opt-validation-error input.brtc-va-editors-sheet-controls-propertycontrol-stringinputcontrol,
.brtc-va-editors-opt-validation-error div.brtc-va-editors-sheet-controls-propertycontrol-combobox,
.brtc-va-editors-opt-validation-error div.CodeMirror.CodeMirror-wrap,
.brtc-va-editors-opt-validation-error div.brtc-va-editors-sheet-controls-in-table-columnlist-columncontainer-wrapper,
.brtc-va-editors-opt-validation-error div.brtc-va-editors-sheet-controls-propertycontrol-grid,
.brtc-va-editors-opt-validation-error input.brtc-va-editors-sheet-controls-propertycontrol-input-regularexpression,
.brtc-va-editors-opt-validation-error input.brtc-va-editor-sheet-controls-propertycontrol-input,
.brtc-va-editors-opt-validation-error input.brtc-va-editors-sheet-controls-inputcontrol,
.brtc-va-editors-opt-validation-error input.brtc-va-editors-sheet-controls-propertycontrol-new-column-input,
.brtc-va-editors-opt-validation-error input.brtc-va-views-properties-pages-controls-propertycontrol-input {
    border-color: #ea3539 !important;
}
