.brtc-style-implementation-script-views-datasourcelist-refresh {
    float: right;
    width: 120px;
    height: 30px !important;
    margin-bottom: 10px !important;
}

.brtc-style-implementation-script-views-datasourcelist-refresh > .brtc-style-icon {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 5px;
    vertical-align: middle;
    background: url('images/icon/icon_palette.png') no-repeat;
    background-position: 0 -27px;
}

.brtc-va-views-udf .brtc-va-import-button,
.brtc-va-create-button {
    float: right;
    width: 269px;
    height: 30px !important;
    margin-bottom: 10px !important;
    padding-right: 20px;
}

.brtc-style-implementation-script-views-datasourcelist-datasourceviewer {
    /*width: calc(100% - 20px);*/
    height: 100%;
    padding-right: 20px;
}
