.brtc-style-figure-scriptunit-box {
    box-sizing: border-box;
    padding: 10px;
}

.brtc-style-figure-scriptunit {
    position: relative;
    width: 100%;
}

.brtc-style-figure-scriptunit-header {
    display: flex;
    box-sizing: border-box;
    height: 50px;
    padding: 10px 20px 10px 20px;
    border: 1px solid #d9d9d9;
    align-items: center;
}

.brtc-style-s-figure-scriptunit.status-selection > .brtc-style-figure-scriptunit-header {
    border-top: none;
}

.brtc-style-figure-scriptunit-content .ace-eclipse .ace_gutter {
    border-color: #f3f3f3;
    background: #f3f3f3;
}

.brtc-style-figure-scriptunit-type {
    line-height: 30px;
    width: 60px;
    height: 30px;
    text-align: center;
    border-radius: 15px;
    background-color: #ebebeb;
}

.brtc-style-figure-scriptunit-label {
    overflow: hidden;
    margin-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.brtc-style-figure-scriptunit-label-input {
    overflow: hidden;
    width: 300px;
    margin-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    /*width:100%;*/
}
.brtc-style-figure-scriptunit-label-input > input {
    width: 100%;
}

.brtc-style-figure-scriptunit-panel {
    padding: 10px 20px 10px 20px;
}

.brtc-style-figure-scriptunit-panel.collapsed {
    display: none;
}

.brtc-style-figure-scriptunit-panel[panel-type=argument-panel] > .brtc-style-figure-scriptunit-panel-content {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    max-height: 150px;
    padding: 0 10px;
}

.brtc-style-figure-scriptunit-panel[panel-type=script-panel] {
    margin-bottom: 0;
}

.brtc-style-figure-scriptunit-panel[panel-type=result-panel] {
    margin-top: 0;
}

.brtc-style-figure-scriptunit.initial .brtc-style-figure-scriptunit-panel[panel-type=result-panel] {
    display: none !important;
}

.brtc-style-figure-scriptunit-panel-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
}

.brtc-style-figure-scriptunit-toolbar {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
}

.grow {
    flex-grow: 1;
}

.brtc-style-figure-scriptunit-widthpopover {
    position: absolute;
    z-index: 10000;
    height: 45px;
    padding: 10px;
}

.brtc-style-figure-scriptunit-panel-statusbar {
    max-width: calc(100% - 100px);
    height: 100%;
    margin-left: 5px;
}

.brtc-style-figure-scriptunit-panel-statusbar-status {
    display: flex;
    height: 50%;
    align-items: center;
}

.brtc-style-figure-scriptunit-panel-statusbar-runresultlabel {
    margin-right: 10px;
}

.brtc-style-figure-scriptunit-panel-statusbar-message {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1;
}

.brtc-style-figure-scriptunit-panel-statusbar-executiontime {
    height: 50%;
}

.brtc-style-figure-scriptunit-executiontimelabel {
    display: inline;
}

.brtc-style-figure-scriptunit-panel-toolbar {
    display: flex;
    /*flex-grow: 1;*/
    flex-direction: row-reverse;
    height: 100%;
    align-items: center;
}

.brtc-style-figure-scriptunit-panel-content {
    width: 100%;
}

.brtc-style-figure-scriptunit-toolitem {
    position: relative;
    float: right;
    width: 26px;
    height: 26px;
    /*margin-right: 3px;*/
    /*margin-left: 3px;*/
    margin: 0 2px;
    cursor: pointer;
    text-align: center;
}

.brtc-style-figure-scriptunit-toolitem[item-type=splitter] {
    width: 0;
}

.brtc-style-figure-scriptunit-toolitem[item-type=edit] {
    display: none;
    margin-right: auto;
}

.brtc-style-figure-scriptunit-toolitem[item-type=view] {
    display: flex;
    width: auto;
    /*width: 180px;*/

    justify-content: space-around;
}

/*.brtc-style-figure-scriptunit:not([func=scala]) .brtc-style-figure-scriptunit-toolitem[item-type=view]{*/
/*width: 105px;*/
/*!*display: flex;*!*/
/*!*justify-content: space-around;*!*/
/*}*/

.brtc-style-figure-scriptunit-toolitem[item-type=width] {
    display: none;
    align-items: center;
}

.brtc-style-figure-scriptunit-toolitem[item-type=collapse] {
    font-size: x-small;
    font-weight: bold;
    display: none;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.brtc-style-figure-scriptunit-toolitem[item-type=collapse] div {
    /*background-color: wh;*/
}

.brtc-style-figure-scriptunit-widthtext {
    width: 100%;
    margin-left: -1px;
}

.brtc-style-figure-scriptunit-rowlimit {
    position: relative;
    display: flex;
    float: right;
    margin-right: 6px;
    margin-left: 6px;
    align-items: center;
}

.brtc-style-figure-scriptunit-rowlimit.collapsed {
    display: none;
}

.brtc-style-figure-scriptunit:not([func=sql]) .brtc-style-figure-scriptunit-rowlimit {
    display: none;
}

.brtc-style-figure-scriptunit-rowlimit-input {
    width: 57px;
    margin-right: 6px;
    margin-left: 6px;
}

.brtc-style-figure-scriptunit-scriptinput {
    min-width: 100%;
    min-height: 150px;
    resize: vertical;
}

.brtc-style-figure-scriptunit-argument-component-wrapper {
    position: relative;
    /*align-items: center;*/

    display: flex;
    clear: both;
    margin-top: 5px;
    padding: 5px 20px 5px 5px;
    border: none;
    background-color: #f2f2f2;
}

.brtc-style-figure-scriptunit-argument-component {
    width: 100%;
    margin: 0 10px;
}

.brtc-style-figure-scriptunit-argument-close-button {
    position: absolute;
    top: 12.5px;
    right: 7px;
    display: inline-block;
    width: 8px;
    height: 8px;
    background: url('images/tool-close-18.png') no-repeat;
    background-position: -4px -5px;
}

.brtc-style-figure-scriptunit-argument-add-button {
    margin: 5px 0;
    border: 1px dashed #ccc;
    background: transparent;
}

.brtc-style-figure-scriptunit-argument-add-button:hover {
    color: #626fdb;
}

.brtc-style-figure-scriptunit-panel-content-resultsheet {
    box-sizing: border-box;
    height: 100%;
}

.brtc-style-figure-scriptunit-panel-content-resultsheet .brtc-vs-worksheet-panel-tool-report,
.brtc-style-figure-scriptunit-panel-content-resultsheet .bcharts-ws-panel-toolitem[action=setting] {
    display: none;
}

.brtc-style-figure-scriptunit-panel-content-resulttext {
    position: relative;
    overflow: auto;
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    -webkit-user-select: text;
       -moz-user-select: text;
            user-select: text;
    white-space: pre-line;
    word-break: break-all;
     -khtml-user-select: text;
         -o-user-select: text;
}

.brtc-style-figure-scriptunit-header-ctxmenu {
    float: right;
}

.brtc-style-figure-scriptunit-notificationarea {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.brtc-style-figure-scriptunit-notification-content {
    white-space: pre-line;
}

.brtc-va-studio-dragging .brtc-style-figure-scriptunit .ace_editor {
    opacity: .1;
}

.brtc-style-figure-scriptunit[func=sql].dragging-table .ace_editor {
    opacity: 1.0;
    outline: 2px dashed #626fdb;
}

.brtc-style-figure-scriptunit[func=scala].dragging-function .ace_editor {
    opacity: 1.0;
    outline: 2px dashed #626fdb;
}

/* CSS When unit maximized */
.brtc-style-figure-scriptunit-box.minimized {
    display: none;
}

.brtc-style-figure-scriptunit-box.maximized {
    width: 100%;
    height: 100%;
}

.brtc-style-figure-scriptunit-box.maximized .brtc-style-figure-scriptunit {
    width: 100%;
    height: 100%;
}

.brtc-style-figure-scriptunit-box.maximized .brtc-style-figure-scriptunit-content {
    display: flex;
    box-sizing: border-box;
    height: calc(100% - 46px);
}

.brtc-style-figure-scriptunit-box.maximized .brtc-style-figure-scriptunit-panel {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    flex-grow: 1 !important;
}

.brtc-style-figure-scriptunit-box.maximized .brtc-style-figure-scriptunit-panel-content {
    box-sizing: border-box;
    height: 100% !important;
    max-height: none;
}

.brtc-style-figure-scriptunit-box.maximized .brtc-style-figure-scriptunit-panel[panel-type='result-panel'] .brtc-style-figure-scriptunit-panel-content {
    box-sizing: border-box;
    height: calc(100% - 50px) !important;
}

.brtc-style-figure-scriptunit[func='sql'] .brtc-style-figure-scriptunit-panel[panel-type='result-panel'] .brtc-style-figure-scriptunit-panel-content {
    border: none;
}

.brtc-style-figure-scriptunit-box.maximized .ui-resizable-handle {
    display: none !important;
}

.brtc-style-figure-scriptunit-box.maximized .brtc-style-figure-scriptunit-toolitem[item-type=width],
.brtc-style-figure-scriptunit-box.maximized .brtc-style-figure-scriptunit-panel-toolbar .brtc-style-figure-scriptunit-toolitem[item-type=splitter] {
    display: none;
}

/* Skin CSS */

.brtc-style-s-figure-scriptunit-panel-content-resulttext {
    font-family: Consolas;
    color: #a2a2a2;
    background-color: #fff;
}

.brtc-style-s-figure-scriptunit.status-selection {
    border-top: 4px solid #6c7aea;
}

.brtc-style-s-figure-scriptunit-header {
    background-color: #fff;
}

.brtc-style-s-figure-scriptunit-widthpopover {
    color: rgba(0, 0, 0, .8);
    border: 1px solid #b2b2b2;
    background: #fff;
}

.brtc-style-s-figure-scriptunit-panel {
    border-right: solid 1px #d9d9d9;
    border-left: solid 1px #d9d9d9;
    border-bottom: solid 1px #d9d9d9;
    background-color: #fff;
}

.brtc-style-figure-scriptunit-content .brtc-style-figure-scriptunit-panel:last-child {
    border-bottom: solid 1px #d9d9d9;
    box-sizing: border-box;
    width: 100%;
}

.brtc-style-s-figure-scriptunit-panel-content {
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
}

.brtc-style-s-figure-scriptunit-toolitem:hover:not(.brtc-style-s-figure-scriptunit-toolitem[item-type=view]) {
    background-color: #eeeeef;
}

/*.brtc-style-s-figure-scriptunit-toolitem[item-type=view]:hover*/
/*{*/
/*!*background-color: #eeeeef;*!*/
/*}*/

.brtc-style-s-figure-scriptunit-toolitem[item-type=delete] {
    background-image: url('images/icon/icon_popup.png');
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 5px;
}

.brtc-style-s-figure-scriptunit-toolitem[item-type=maximize] {
    background-image: url('images/datapanel-toolbar-35.png');
    background-repeat: no-repeat;
    background-position-x: -109px;
    background-position-y: -4px;
}

.brtc-style-s-figure-scriptunit-toolitem[item-type=maximize].maximized {
    background-position-x: -144px;
}

.brtc-style-s-figure-scriptunit-toolitem[item-type=width] {
    background-image: url('images/icon/icon_modeling.png');
    background-repeat: no-repeat;
    background-position-y: -233px;
}

.brtc-style-s-figure-scriptunit-toolitem[item-type=run] {
    background-image: url('images/editor-toolbar-26.png');
    background-repeat: no-repeat;
    background-position-x: -416px;
}

.brtc-style-s-figure-scriptunit-toolitem[item-type=collapse] {
    background-image: url('images/icon/radio_check.png');
    background-repeat: no-repeat;
    background-position-x: -72px;
    background-position-y: -53px;
}

.brtc-style-s-figure-scriptunit-toolitem[item-type=collapse].collapsed {
    /*background-position-x: -109px;*/
    opacity: .5;
}

.brtc-style-s-figure-scriptunit-toolitem[item-type=popupchart] {
    display: none;
    background-image: url('images/datapanel-toolbar-35.png');
    background-repeat: no-repeat;
    background-position-x: -179px;
    background-position-y: -4px;
}

.brtc-style-s-figure-scriptunit-toolitem[item-type=evenly] {
    background-image: url('images/datapanel-toolbar-35.png');
    background-repeat: no-repeat;
    background-position-x: -74px;
    background-position-y: -4px;
}

.brtc-style-s-figure-scriptunit-toolitem[item-type=stacked] {
    background-image: url('images/datapanel-toolbar-35.png');
    background-repeat: no-repeat;
    background-position-x: -39px;
    background-position-y: -4px;
}

.brtc-style-s-figure-scriptunit-toolitem[item-type=download] {
    background-image: url('images/datapanel-toolbar-35.png');
    background-repeat: no-repeat;
    background-position-x: -214px;
    background-position-y: -4px;
}

.brtc-style-s-figure-scriptunit-toolitem[item-type=edit] {
    background-image: url('images/line_content_write_15.png');
    background-repeat: no-repeat;
    background-position-x: 4px;
    background-position-y: 5px;
}

.brtc-style-s-figure-scriptunit-toolitem[item-type=splitter] {
    cursor: default;
    border-left: 1px solid #e6e7e7;
    background-image: none;
}

.brtc-style-s-figure-scriptunit-widthtext {
    font-size: 11px;
    font-weight: bold;
}

.brtc-style-s-figure-scriptunit-type {
    font-size: 12px;
}

.brtc-style-s-figure-scriptunit-label {
    font-size: 14px;
    min-width: 21px;
}

.brtc-style-figure-scriptunit-button {
    float: right;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: transparent;
}

.brtc-style-figure-scriptunit-button.selected {
    color: #fff;
    border: none;
    border-left: 1px solid #fff;
    background-color: #6c79e9;
}

.brtc-style-s-figure-scriptunit[func=sql] .brtc-style-s-figure-scriptunit-type {
    color: #34a289;
}

.brtc-style-s-figure-scriptunit[func=scala] .brtc-style-s-figure-scriptunit-type {
    color: #6c79e9;
}

.brtc-style-s-figure-scriptunit.status-selection .brtc-style-s-figure-scriptunit-type {
    font-weight: bold;
}

.brtc-style-s-figure-scriptunit .CodeMirror-overlayscroll-horizontal div,
.brtc-style-s-figure-scriptunit .CodeMirror-overlayscroll-vertical div {
    background: #aaa;
}

.brtc-style-s-figure-scriptunit-panel-statusbar-status {
    font-size: 14px;
    opacity: .8;
    color: rgba(0, 0, 0, .8);
}

.brtc-style-s-figure-scriptunit-panel-statusbar-status.fail {
    color: #f00;
}

.brtc-style-s-figure-scriptunit-panel-statusbar-executiontime {
    font-size: 11px;
    opacity: .6;
    color: rgba(0, 0, 0, .6);
}

.brtc-style-s-figure-scriptunit .brtc-vs-worksheet-layoutmanager-contentspanel {
    border: solid 1px #dddee0;
}

.brtc-style-s-figure-scriptunit .brtc-vs-worksheet-panel-header {
    border: none;
}

.brtc-style-s-figure-scriptunit .brtc-vs-worksheet-layoutmanager-splitter {
    background-color: #fff;
}

.brtc-style-figure-scriptunit[func=sql] .brtc-va-figure-scriptunit-export-to-udf {
    display: none;
}

.brtc-style-validation-error {
    border-color: red;
}

.brtc-style-figure-scriptunit-add-alias-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: url(images/icon/icon-add.png) no-repeat;
    object-fit: contain;
}

.brtc-style-figure-scriptunit-remove-alias-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: url(images/icon/icon-remove.png) no-repeat;
    object-fit: contain;
}

.brtc-style-figure-scriptunit-alias-input {
    padding-right: 4px;
    padding-left: 4px;
}

.brtc-style-figure-scriptunit-alias-input-alias {
    /* width: 100%; */
}

.brtc-style-figure-scriptunit-alias-input-real {
    /* width: 100%; */
}

.brtc-va-figure-scriptunit-alias-row-wrapper {
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: 3fr 8fr 25px 25px;
}

.brtc-style-figure-scriptunit-alias-input-error {
    border-color: red !important;
}

.brtc-va-figure-scriptunit-alias-content {
    position: relative;
    max-height: 380px;
}
.brtc-va-figure-scriptunit-alias-error-msg-area {
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: 3fr 8fr 25px 25px;
}

/* .brtc-va-figure-scriptunit-alias-error-msg-area
.brtc-va-editors-sheet-panels-validation-tooltip-wrapper:nth-child(1)
{
    width: 25%;
}

.brtc-va-figure-scriptunit-alias-error-msg-area
.brtc-va-editors-sheet-panels-validation-tooltip-wrapper:nth-child(2)
{
    margin-left: 15px;
    width: 60%;
} */

@media (min-width: 1400px) {
    .brtc-va-figure-scriptunit-content {
        display: flex;
        flex-flow: wrap;
    }

    .brtc-va-figure-scriptunit-scriptpanel {
        flex: 3;
    }

    .brtc-va-figure-scriptunit-alias-wrapper {
        flex: 2;
    }
}


