

.brtc-va-dataflow-refine-select-column-dialog .brtc-va-refine-selectcolumn-header {
    line-height: 28px;
    display: flex;
    clear: none;
    height: 28px;
    margin-bottom: 3px;
    padding-right: 8px;
}

.brtc-va-dataflow-refine-select-column-dialog .brtc-va-refine-selectcolumn-header-check {
    float: none;
    width: 45px;
    height: 28px;
}

.brtc-va-dataflow-refine-select-column-dialog .brtc-va-refine-selectcolumn-header-column-sort {
    display: flex;
    float: none;
    width: 20px;
    height: 28px;
    justify-content: center;
    align-items: center;
}

.brtc-va-dataflow-refine-select-column-dialog .brtc-va-refine-selectcolumn-header-name {
    float: none;
    width: 120px;
}

.brtc-va-dataflow-refine-select-column-dialog .brtc-va-refine-selectcolumn-header-alias {
    float: none;
    width: 130px;
}

.brtc-va-dataflow-refine-select-column-dialog .brtc-va-refine-selectcolumn-column-alias-setting-wrapper,
.brtc-va-dataflow-refine-select-column-dialog .brtc-va-refine-selectcolumn-column-alias-reset-wrapper,
.brtc-va-dataflow-refine-select-column-dialog .brtc-va-refine-selectcolumn-column-type-reset-wrapper,
.brtc-va-dataflow-refine-select-column-dialog .brtc-va-refine-selectcolumn-column-reset-all-wrapper,
.brtc-va-dataflow-refine-select-column-dialog .brtc-va-refine-selectcolumn-column-reset-wrapper {
    display: flex;
    float: none;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
}

.brtc-va-dataflow-refine-select-column-dialog .brtc-va-refine-selectcolumn-column-alias-setting-button {
    float: none;
    width: 17px;
    height: 17px;
    margin-bottom: 4px;
    cursor: pointer;
    background: url(images/chart-toolbar-20.png) no-repeat;
}

.brtc-va-dataflow-refine-select-column-dialog .brtc-va-refine-selectcolumn-column-name-filter-button {
    float: none;
    width: 15px;
    height: 15px;
    margin-bottom: 3px;
    cursor: pointer;
    background: url(images/icon/filter_line_30.svg) no-repeat;
    background-size: contain;
}

.brtc-va-dataflow-refine-select-column-dialog .brtc-va-refine-selectcolumn-column-name-filter-button.setting-active {
    background: url(images/icon/filter_line_30_active.svg) no-repeat;
    background-size: contain;
}

.brtc-va-dataflow-refine-select-column-dialog .brtc-va-refine-selectcolumn-header-type {
    float: none;
    width: 90px;
    padding-left: 6px;
}

.brtc-va-dataflow-refine-select-column-dialog .brtc-va-refine-selectcolumn-column-item.brtc-va-refine-step-validation-error {
    height: auto;
    margin-bottom: 5px;
}

.brtc-va-dataflow-refine-select-column-dialog .brtc-va-refine-selectcolumn-column-item {
    position: relative;
    display: flex;
    clear: none;
    width: 100%;
    height: 30px;
    margin-bottom: 0;
    align-items: center;
    flex-wrap: wrap;
}

.brtc-va-dataflow-refine-select-column-dialog .brtc-va-refine-selectcolumn-column-item .brtc-va-refine-selectcolumn-column-problem-item {
    border: 1px solid red;
}

.brtc-va-dataflow-refine-select-column-dialog .brtc-va-refine-selectcolumn-header-check .jqx-checkbox-default,
.brtc-va-dataflow-refine-select-column-dialog .brtc-va-refine-selectcolumn-column-check .jqx-checkbox-default {
    margin: 0 !important;
    padding: 0 !important;
}

.brtc-va-dataflow-refine-select-column-dialog .brtc-va-refine-step-validation-tooltip {
    clear: both;
    box-sizing: border-box;
    width: 100%;
    margin-top: 0;
    margin-bottom: 2px;
    cursor: pointer;
    word-wrap: break-word;
    pointer-events: none;
    color: rgba(194, 6, 17, .65);
}

.brtc-va-dataflow-refine-select-column-dialog .brtc-va-refine-step-validation-error input.brtc-va-refine-selectcolumn-column-alias {
    border-color: transparent !important;
}

.brtc-va-dataflow-refine-select-column-dialog input.brtc-va-refine-selectcolumn-column-name.brtc-va-refine-step-validation-error,
.brtc-va-dataflow-refine-select-column-dialog input.brtc-va-refine-selectcolumn-column-alias.brtc-va-refine-step-validation-error {
    border-color: #ea3539 !important;
}

.brtc-va-dataflow-refine-select-column-dialog .brtc-va-refine-selectcolumn-name-helper {
    display: none;
    padding: 10px;
    margin-left: 5px;
    align-items: center;
}

.brtc-va-dataflow-refine-select-column-dialog .brtc-va-refine-selectcolumn-name-helper.setting-active {
    display: flex;
}

.brtc-va-dataflow-refine-select-column-dialog .brtc-va-refine-selectcolumn-name-helper .brtc-va-refine-selectcolumn-column-find-name-input {
    height: 27px;
}

.brtc-va-dataflow-refine-select-column-dialog .brtc-va-refine-selectcolumn-alias-helper {
    margin: 10px 0 5px 16px;
}

.brtc-va-dataflow-refine-select-column-dialog .brtc-va-refine-selectcolumn-name-helper-title {
    width: 100px;
}

.brtc-va-dataflow-refine-select-column-dialog .brtc-va-refine-selectcolumn-column-name-setting-wrapper {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    display: flex;
    float: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.brtc-va-dataflow-refine-select-column-dialog .brtc-va-refine-selectcolumn-column-name-reset-wrapper {
    display: flex;
    float: none;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.brtc-va-dataflow-refine-select-column-dialog .brtc-va-refine-selectcolumn-contents::-webkit-scrollbar-track {
    background: transparent;
}

.brtc-va-dataflow-refine-select-column-dialog .brtc-va-refine-selectcolumn-contents::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
}

.brtc-va-dataflow-refine-select-column-dialog .brtc-va-refine-selectcolumn-contents::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #ccc;
}

.brtc-va-dataflow-refine-select-column-dialog .brtc-va-refine-selectcolumn-find-replace-button-container {
    margin-bottom: 15px;
}

.brtc-va-dataflow-refine-select-column-dialog select.brtc-style-selectbox::-ms-expand {
    display: none;
}

.brtc-va-dataflow-refine-select-column-dialog select.brtc-style-selectbox {
    border: 1px solid rgb(212, 212, 212);
    text-indent: 5px;
    z-index: 1;
    background: url(css/plugins/aui-package/images/office-icon-down.png) no-repeat 95% 50%;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 3px 6px;
    box-sizing: border-box;
    cursor: pointer;
}

.brtc-va-dataflow-refine-select-column-dialog select.brtc-style-selectbox:disabled {
    opacity: 0.5;
    cursor: default;
}
