.brtc-va-wizard-main {
    padding-right: 30px;
    padding-left: 30px;
}

.brtc-va-wizard-header {
    font-family: Arial, helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 0 5px 0;
    border-color: #d9d9d9;
    background-color: #fff;
}

.brtc-va-wizard-header > div:first-child {
    line-height: 35px;
    height: 35px;
}

.brtc-va-wizard-header i {
    width: 16px;
}

.brtc-va-wizard-body {
    font-family: Arial, helvetica, sans-serif;
    padding-right: 15px;
    padding-left: 15px;
}

.brtc-va-wizard-body.jqx-window-content {
    padding: 20px 0 30px 0;
}

.brtc-va-wizard-contents {
    position: relative;
    height: calc(100% - 32px);
}

.brtc-va-wizard-contents-label {
    padding-top: 12px;
}

.brtc-va-wizard-buttonbar {
    height: 32px;
}

.brtc-va-wizard-upload-buttonbar {
    height: 32px;
    margin-top: 5px;
    margin-right: 8px;
}

.brtc-va-wizard-buttonbar-ok {
    float: right;
    width: 100px;
    height: 32px;
    cursor: pointer;
    color: #fff !important;
    border: 1px solid #656eea !important;
    background-color: #656eea !important;
}

.brtc-va-wizard-buttonbar-ok:hover {
    background-color: #5b63d2 !important;
}

.brtc-va-wizard-buttonbar-cancel {
    float: right;
    width: 100px;
    height: 32px;
    margin-right: 6px;
    cursor: pointer;
    color: #656eea;
    border: 1px solid #656eea !important;
    background-color: #fff;
}

.brtc-va-wizard-buttonbar-cancel:hover {
    background-color: rgba(108, 121, 233, .05) !important;
}

.brtc-va-wizard-buttonbar-none {
    display: none;
}

.brtc-va-wizard-button-retry {
    float: right;
}

.brtc-va-wizard-button-cancel,
.brtc-va-wizard-button-pre,
.brtc-va-wizard-button-next,
.brtc-va-wizard-button-upload {
    float: right;
}

.brtc-va-wizard-preview-area {
    overflow: auto;
    width: 782px;
    height: 480px;
    margin-top: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #d4d4d4;
}

.brtc-va-wizard-preview-table,
.brtc-va-wizard-preview-table-tr,
.brtc-va-wizard-preview-table-td {
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    border-color: #d4d4d4;
}

.brtc-va-wizard-select-column-table,
.brtc-va-wizard-select-column-table-tr,
.brtc-va-wizard-select-column-table-td {
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    border-color: #d4d4d4;
}

.brtc-va-wizard-select-column-table .brtc-va-wizard-select-column-table-tr:first-child {
    cursor: pointer;
    background-color: #86bfa0;
}

.brtc-va-wizard-select-column-table .brtc-va-wizard-select-column-table-tr:nth-child(2) {
    background-color: #ededed;
}

.brtc-va-wizard-select-column-table-header-td-selected {
    background-color: #429366;
}

/* data upload */
.brtc-va-wizardpage-content {
    position: relative;
}

.brtc-va-wizardpage-content .brtc-va-progress {
    width: 100%;
    height: 100%;
}

.brtc-va-wizardpage-content .header {
    display: flex;
    height: 20px;
    align-items: center;
}

.brtc-va-wizardpage-content .header span {
    font-family: Arial, helvetica, sans-serif;
    font-size: 13px;
    float: left;
    margin-right: 20px;
}

.brtc-va-wizardpage-content .preview .contents {
    border: 1px solid rgba(0, 0, 0, .2);
}

.brtc-va-wizardpage-content .preview .import-contents {
    border: 1px solid rgba(0, 0, 0, .2);
}

.brtc-va-wizardpage-content.brtc-va-wizardpage-dataupload .nodata {
    display: flex;
    height: 100%;
    text-align: center;
    color: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
}

.brtc-va-wizardpage-content.brtc-va-wizardpage-dataupload .contents {
    min-height: 14px;
    padding: 12px 9px 13px 9px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.brtc-va-wizardpage-content.brtc-va-wizardpage-dataexport .contents {
    min-height: 14px;
    padding: 5px 9px 5px 9px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.brtc-va-wizardpage-content.brtc-va-wizardpage-dataupload .contents.filename,
.brtc-va-wizardpage-content.brtc-va-wizardpage-dataexport .contents.filename {
    display: flex;
    align-items: center;
}

.brtc-va-wizardpage-content.brtc-va-wizardpage-dataupload .contents.filename span:nth-child(2),
.brtc-va-wizardpage-content.brtc-va-wizardpage-dataexport .contents.filename span:nth-child(2) {
    width: 500px;
    flex-grow: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.brtc-va-wizardpage-content.SelectExportJdbcPage .contents.filename {
    display: flex;
    width: calc(100% - 112px);
    align-items: center;
    margin: 0;
}

.brtc-va-wizardpage-content.SelectExportJdbcPage .contents.filename span:nth-child(2) {
    width: calc(100% - 25px);
    flex-grow: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.brtc-va-wizardpage-content.brtc-va-wizard-contents-property .contents {
    min-height: 10px;
    padding: 12px 9px 13px 9px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.brtc-va-wizardpage-content .uploadtoselect .contents {
    padding-left: 0;
    border: none;
}

.brtc-va-wizardpage-content .delimiterselect .contents {
    display: flex;
    margin-bottom: 15px;
    padding-right: 0;
    padding-left: 0;
    border: none;
    align-items: center;
}

.brtc-va-wizardpage-content .preview .contents {
    position: relative;
    height: 170px;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0 0 0 1px;
}

.brtc-va-wizard-message-area {
    display: none;
    padding: 9px 15px;
}

.brtc-va-wizard-message-area.warning {
    display: block;
    height: auto;
    color: #ff1a23;
    border: 1px solid #ff1a23;
}

.brtc-va-wizard-message-area.alert {
    display: block;
    height: auto;
    color: #656eea;
    border: 1px solid #656eea;
}

.brtc-va-wizard-invalid-file-name {
    display: block;
    height: auto;
    color: #ff1a23;
}

.brtc-va-wizardpage-content.selectlocaldatapage > .preview > .contents,
.brtc-va-wizardpage-content.selectalluxiodatapage > .preview > .contents {
    position: relative;
    height: 178px;
    margin-top: 10px;
    padding: 0 0 0 1px;
}

.brtc-va-wizardpage-content .header {
    font-weight: bold;
}

.brtc-va-wizardpage-content.selectlocaldatapage .uploadtoselect .header,
.brtc-va-wizardpage-content.selectalluxiodatapage .uploadtoselect .header {
    margin-top: 15px;
}

.brtc-va-wizardpage-content.selectlocaldatapage .uploadtoselect .contents,
.brtc-va-wizardpage-content.selectalluxiodatapage .uploadtoselect .contents {
    margin-top: 0;
    padding-top: 11px;
}

.brtc-va-wizardpage-content .preview .import-contents {
    position: relative;
    height: 190px;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0 0 0 1px;
}

.brtc-va-wizardpage-content .number-column {
    display: inline-block;
    padding: 9px 6px;
    text-align: center;
    background-color: #f7f7f7;
}

.brtc-va-wizardpage-content .data-column {
    display: inline-block;
    width: 575px;
    padding: 9px 6px;
    text-align: left;
}

.brtc-va-wizardpage-content .preview ul {
    font: 12px/14px Arial, Dotum, Tahoma, sans-serif;
    margin: 0;
}

.brtc-va-wizardpage-content .preview li {
    line-height: 15px;
    list-style: none;
}

.brtc-va-wizardpage-content.selectdelimiterpage .preview ul.delimiter-table {
    display: inline-flex;
    margin-top: 0;
    padding-left: 0;
    white-space: nowrap;
}

.brtc-va-wizardpage-content.selectdelimiterpage .preview li .delimiter-column-header {
    font-weight: bold;
    overflow: hidden;
    padding-bottom: 10px;
    text-overflow: ellipsis;
}

.brtc-va-wizardpage-content.selectdelimiterpage .preview li.delimiter-column {
    display: inline-block;
    float: left;
    width: 153.5px;
    min-height: 137px;
    margin-left: -1px;
    padding: 10px 0;
    text-align: center;
    border: 1px solid #e5e5e5;
}

.brtc-va-wizardpage-content.selectdelimiterpage .column-preview .contents {
    overflow: hidden;
    width: 100%;
    height: 270px;
}

.brtc-va-wizardpage-content.selectdelimiterpage .column-preview .contents .delimiter-table {
    width: 100%;
    height: 100%;
}

.brtc-va-wizardpage-content.selectdelimiterpage .column-preview .header .column-row-length {
    overflow: hidden;
    max-width: 535px;
    text-overflow: ellipsis;
}

.brtc-va-wizardpage-content.setcolumndatatypepage .contents  input {
    font-family: Arial, Dotum, Tahoma, sans-serif;
}

.brtc-va-wizardpage-content.setcolumndatatypepage .brtc-va-change-name-row,
.brtc-va-wizardpage-content.setcolumndatatypepage .brtc-va-change-type-row,
.brtc-va-wizardpage-content.setcolumndatatypepage .brtc-va-change-type-row .brtc-va-change-type-button-area {
    display: flex;
    justify-items: center;
    align-items: center;
}

.brtc-va-wizardpage-content.setcolumndatatypepage .brtc-va-change-name-row {
    margin-bottom: 10px;
}

.brtc-va-wizardpage-content.setcolumndatatypepage .brtc-va-change-name-label-wrapper,
.brtc-va-wizardpage-content.setcolumndatatypepage .brtc-va-change-type-label-wrapper {
    width: 40px;
}

.brtc-va-wizardpage-content.setcolumndatatypepage .brtc-va-change-name-search-input-wrapper,
.brtc-va-wizardpage-content.setcolumndatatypepage .brtc-va-change-name-find-input-wrapper,
.brtc-va-wizardpage-content.setcolumndatatypepage .brtc-va-change-name-replace-input-wrapper,
.brtc-va-wizardpage-content.setcolumndatatypepage .brtc-va-change-type-search-input-wrapper {
    margin-right: 5px;
}

.brtc-va-wizardpage-content.setcolumndatatypepage .brtc-va-change-name-replace-button,
.brtc-va-wizardpage-content.setcolumndatatypepage .brtc-va-change-button.last {
    margin-right: 0;
}

.brtc-va-wizardpage-content.setcolumndatatypepage .columns-table .brtc-va-setcolumndatatype-preview-column-grid .jqx-checkbox-default {
    margin-top: -1px;
    margin-right: 0;
    margin-left: 1px;
}

.brtc-va-wizardpage-content.setcolumndatatypepage .brtc-va-wizard-message-area {
    display: flex;
    padding: 0;
    color: rgba(194, 6, 17, .65);
    align-items: center;
}

.brtc-va-wizardpage-content.setcolumndatatypepage .brtc-va-wizard-message-label {
    margin-left: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.brtc-va-wizardpage-content.setcolumndatatypepage .brtc-va-wizard-message-show-detail {
    width: 70px;
    right: 0;
    position: absolute;
}

.brtc-va-wizardpage-content .contents {
    margin-top: 10px;
    margin-bottom: 10px;
}

.brtc-va-wizardpage-content .datatypeselect .contents {
    display: flex;
    height: 34px;
}

.brtc-va-wizardpage-content .datatypeselect .contents .brtc-va-button {
    flex: 1;
}

.brtc-va-wizardpage-content .uploadtoselect .brtc-va-radio,
.brtc-va-wizardpage-content .delimiterselect .brtc-va-radio,
.brtc-va-wizardpage-content .datatypeselect .brtc-va-radio {
    float: left;
}

.brtc-va-radio-button.selectdelimiter {
    display: flex;
    align-items: center;
}

.brtc-va-wizardpage-content input[type='BUTTON'] {
    width: 76px;
    height: 29px;
    margin-right: 5px;
}

.brtc-va-delimiter-input-wrapper {
    height: 100%;
}

.open-model-button {
    width: 90px;
}

.brtc-va-wizardpage-content input[type='file'] {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
}

.brtc-va-wizardpage-content .delimiter-column p {
    overflow: hidden;
    height: 15px;
    text-overflow: ellipsis;
}

.brtc-va-wizardpage-content .datatype-column p {
    line-height: 28px;
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0 5px;
    text-align: center;
    text-overflow: ellipsis;
}

.brtc-va-wizard-buttonarea {
    position: absolute;
    right: 27px;
    bottom: 30px;
}

.brtc-va-wizard-buttonarea input[type='button'] {
    float: right;
    width: 76px;
    height: 29px;
    margin-left: 5px;
}

/* dataupload page header */
.brtc-va-wizardpage-header.brtc-va-wizardpage-dataupload {
    position: relative;
    height: 35px;
    margin: 10px 0 10px 0;
}

.brtc-va-wizardpage-header.brtc-va-wizardpage-dataupload p {
    font-size: 12px;
    position: absolute;
    top: 9px;
    display: inline-block;
    margin: 0;
}

.brtc-va-wizardpage-header.brtc-va-wizardpage-dataupload p.disabled {
    color: #b6b8bc;
}

.brtc-va-wizardpage-header.brtc-va-wizardpage-dataupload p.normal {
    color: #6d7179;
}

.brtc-va-wizardpage-header.brtc-va-wizardpage-dataupload p.selected {
    color: #fff;
}

.brtc-va-wizardpage-header.brtc-va-wizardpage-dataupload .step01,
.brtc-va-wizardpage-header.brtc-va-wizardpage-dataupload .step02,
.brtc-va-wizardpage-header.brtc-va-wizardpage-dataupload .step03 {
    display: inline-block;
}

.brtc-va-wizardpage-header.brtc-va-wizardpage-dataupload div:nth-child(2),
.brtc-va-wizardpage-header.brtc-va-wizardpage-dataupload div:nth-child(3) {
    margin-left: -15px;
}

.brtc-va-wizardpage-header.brtc-va-wizardpage-dataupload .step01 p {
    left: 15px;
}

.brtc-va-wizardpage-header.brtc-va-wizardpage-dataupload .step02 p {
    left: 225px;
}

.brtc-va-wizardpage-header.brtc-va-wizardpage-dataupload .step03 p {
    left: 432px;
}

.brtc-va-wizardpage-header.brtc-va-wizardpage-dataupload .step01 .brtc-va-icon.step.disabled {
    display: inline-block;
    width: 210px;
    height: 32px;
    background: url(images/icon/icon_database_upload.png) no-repeat;
    background-position: -660px 0;
}

.brtc-va-wizardpage-header.brtc-va-wizardpage-dataupload .step02 .brtc-va-icon.step.disabled {
    display: inline-block;
    width: 222px;
    height: 32px;
    background: url(images/icon/icon_database_upload.png) no-repeat;
    background-position: -696px -42px;
}

.brtc-va-wizardpage-header.brtc-va-wizardpage-dataupload .step03 .brtc-va-icon.step.disabled {
    display: inline-block;
    width: 210px;
    height: 32px;
    background: url(images/icon/icon_database_upload.png) no-repeat;
    background-position: -660px -84px;
}

.brtc-va-wizardpage-header.brtc-va-wizardpage-dataupload .step01 .brtc-va-icon.step.normal {
    display: inline-block;
    width: 210px;
    height: 32px;
    background: url(images/icon/icon_database_upload.png) no-repeat;
    background-position: -220px 0;
}

.brtc-va-wizardpage-header.brtc-va-wizardpage-dataupload .step02 .brtc-va-icon.step.normal {
    display: inline-block;
    width: 222px;
    height: 32px;
    background: url(images/icon/icon_database_upload.png) no-repeat;
    background-position: -232px -42px;
}

.brtc-va-wizardpage-header.brtc-va-wizardpage-dataupload .step03 .brtc-va-icon.step.normal {
    display: inline-block;
    width: 210px;
    height: 32px;
    background: url(images/icon/icon_database_upload.png) no-repeat;
    background-position: -220px -84px;
}

.brtc-va-wizardpage-header.brtc-va-wizardpage-dataupload .step01 .brtc-va-icon.step.selected {
    display: inline-block;
    width: 210px;
    height: 32px;
    background: url(images/icon/icon_database_upload.png) no-repeat;
    background-position: -440px 0;
}

.brtc-va-wizardpage-header.brtc-va-wizardpage-dataupload .step02 .brtc-va-icon.step.selected {
    display: inline-block;
    width: 222px;
    height: 32px;
    background: url(images/icon/icon_database_upload.png) no-repeat;
    background-position: -464px -42px;
}

.brtc-va-wizardpage-header.brtc-va-wizardpage-dataupload .step03 .brtc-va-icon.step.selected {
    display: inline-block;
    width: 210px;
    height: 32px;
    background: url(images/icon/icon_database_upload.png) no-repeat;
    background-position: -440px -84px;
}

.brtc-va-icon.brtc-va-wizardpage-dataupload.file {
    display: inline-block;
    float: left;
    width: 15px;
    height: 15px;
    margin-top: -1px;
    margin-right: 10px;
    background: url(images/icon/icon_database_upload.png) no-repeat;
    background-position: 0 -126px;
}

.brtc-va-wizardpage-content.selectuploadtypepage {
    height: 378px;
    padding: 5px;
}

.brtc-va-wizardpage-content.selectexporttypepage {
    height: 378px;
}

.brtc-va-wizardpage-content.selectjdbcdatapage {
    height: 393px;
}

.brtc-va-wizardpage-content.selectdatatypepage {
    height: 460px;
    padding: 5px;
}

.brtc-va-wizardpage-content.selectexplorerdatapage {
    height: 480px;
}

.brtc-va-wizardpage-content.selectexplorerdatapage .brtc-va-dialogs-repository-browser-tree {
    height: calc(100% - 145px);
    margin-bottom: 0;
}

.brtc-va-wizardpage-content.selectexplorerdatapage .brtc-va-dialogs-repository-browser-file-input {
    width: calc(100% - 114px);
}

.brtc-va-wizard-main.selectexplorerdatapage .brtc-va-wizard-buttonarea {
    right: 30px !important;
}

.brtc-va-wizard-main.selectexplorerdatapage .brtc-va-wizard-buttonarea .previous,
.brtc-va-wizard-main.selectexplorerdatapage .brtc-va-wizard-buttonarea .next {
    display: none !important;
}

.brtc-va-wizard-main.dataadditionwizard .finish {
    cursor: pointer !important;
}

.brtc-va-wizardpage-content.selectexplorerdatapage .brtc-va-controls-repository-viewer-tree {
    height: calc(100% - 60px) !important;
}

.brtc-va-wizardpage-content.selectexplorerdatapage .brtc-va-controls-datasource-alias-area {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    margin-bottom: 10px;
    align-items: center;
}

.brtc-va-wizardpage-content.selectexplorerdatapage .brtc-va-controls-datasource-alias-label {
    margin-right: 5px;
}

.brtc-va-wizardpage-content.selectexplorerdatapage .brtc-va-controls-datasource-alias-input-area {
    width: calc(100% - 67px);
}

.brtc-va-wizardpage-content.selectexplorerdatapage .brtc-va-controls-datasource-alias-input {
    width: 100%;
}

.brtc-va-wizardpage-content.selectuploadtypepage .selector,
.brtc-va-wizardpage-content.selectdatatypepage .selector,
.brtc-va-wizardpage-content.selectexporttypepage .selector {
    display: flex;
    height: 60px;
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, .2);
    padding-left: 30px;
    box-sizing: border-box;
    align-items: center;
}

.brtc-va-wizardpage-content.selectexporttypepage .selector {
    display: flex;
    height: 60px;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, .2);
    align-items: center;
}

.brtc-va-wizardpage-content.selectuploadtypepage .selector.selected,
.brtc-va-wizardpage-content.selectdatatypepage .selector.selected {
    /* outline: 4px solid #6c79e9; */
    /* color: #6c79e9; */
}

.brtc-va-wizardpage-content.selectdatatypepage .selector.disabled {
    opacity: .4;
    border: 1px solid rgba(0, 0, 0, .2) !important;
}

.brtc-va-wizardpage-content.selectuploadtypepage .selector .brtc-va-icon.file,
.brtc-va-wizardpage-content.selectdatatypepage .selector .brtc-va-icon.file {
    width: 15px;
    height: 15px;
    margin-left: 20px;
    background: url(images/icon/icon_database_upload.png) no-repeat;
    background-position: 0 -126px;
}

.brtc-va-wizardpage-content.selectuploadtypepage .selector .brtc-va-icon.grid,
.brtc-va-wizardpage-content.selectdatatypepage .selector .brtc-va-icon.grid {
    width: 15px;
    height: 15px;
    margin-left: 20px;
    background: url(images/icon/table.png) no-repeat;
    background-size: contain;
}

.brtc-va-wizardpage-content.selectuploadtypepage .selector .brtc-va-label,
.brtc-va-wizardpage-content.selectdatatypepage .selector .brtc-va-label {
    margin-left: 20px;
}

.brtc-va-wizardpage-content.selectexporttypepage .selector.selected {
    border: 4px solid #6c79e9;
}

.brtc-va-wizardpage-content.selectexporttypepage .selector .brtc-va-icon.file {
    width: 15px;
    height: 15px;
    margin-left: 20px;
    background: url(images/icon/icon_database_upload.png) no-repeat;
    background-position: 0 -126px;
}

.brtc-va-wizardpage-content.selectexporttypepage .selector .brtc-va-icon.grid {
    width: 15px;
    height: 15px;
    margin-left: 20px;
    background: url(images/icon/table.png) no-repeat;
    background-size: contain;
}

.brtc-va-wizardpage-content.selectexporttypepage .selector .brtc-va-label {
    margin-left: 20px;
}

.brtc-va-wizard-contents-property {
    margin-top: 10px;
    padding-left: 10px;
}

.brtc-va-wizard-contents-property.db-type-contents,
.brtc-va-wizard-contents-property.export-file-contents,
.brtc-va-wizard-contents-property.connection-timeout-contents,
.brtc-va-wizard-contents-property.login-timeout-contents,
.brtc-va-wizard-contents-property.lock-timeout-contents,
.brtc-va-wizard-contents-property.socket-timeout-contents,
.brtc-va-wizard-contents-property.upload-to-contents {
    display: flex;
}

.brtc-va-wizard-contents-property input[type=button] {
    margin-left: 10px;
}

.brtc-va-wizard-contents-property .message-container {
    display: flex;
    margin-left: 25px;
    align-items: center;
}

.brtc-va-wizard-contents-property-label {
    font-family: Arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 25px;
    float: left;
    width: 102px;
    height: 25px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.brtc-va-wizard-contents-property-label.mandatory:after {
    font-size: 13px;
    content: '*';
    color: #ee7379;
}

.brtc-va-wizard-contents-property-label.timeout {
    font-family: Arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 25px;
    float: left;
    width: 150px;
    height: 25px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.brtc-va-wizard-contents-property-input {
    width: calc(100% - 112px);
    height: 25px;
}

.brtc-va-wizard-contents-property .brtc-va-radio {
    padding-top: 4px;
}

.brtc-va-wizardpage-content.selectexportdelimiterpage {
    padding-top: 20px;
}

.brtc-va-wizardpage-content.selectexportdelimiterpage .fileselect {
    margin-bottom: 20px;
}

.brtc-va-wizardpage-content.setdataexportoptionpage {
    height: 313px;
}

.brtc-va-wizard-header-input-path {
    font-family: Arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 25px;
    display: flex;
    float: left;
    height: 25px;
    margin-top: 10px;
    padding-left: 10px;
}

.brtc-va-loading-page-contents-area {
    padding: 42px 0;
}

.brtc-va-wizardpage-content.dataadditionloadingpage .brtc-va-loading-page-contents-area {
    padding: 140px 0;
}

.brtc-va-loading-page-text-area {
    margin: 10px 0;
}

.brtc-va-loading-page-text-wrapper {
    padding: 0 280px;
}

.brtc-va-loading-page-spinner-wrapper {
    padding: 0 260px;
}

.brtc-va-wizard-contents-property .jqx-validator-error-label {
    width: 100% !important;
}

.brtc-va-wizardpage-dataupload .brtc-va-radio-button {
    display: flex;
    overflow: visible;
    align-items: center;
}

.brtc-va-radio-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brtc-va-radio {
    display: flex;
    align-items: center;
}
