.brtc-va-widget-contorls-wrapper textarea.brtc-va-widget-contorls-resizable-textarea-default {
    font-family: Calibri;
    font-size: 13px;
    font-style: normal;
    width: calc(100% - 4px);
    height: 100px;
    resize: vertical;
    color: #444;
    border-color: #d4d4d4;
    outline: none !important;
}

.brtc-va-widget-contorls-wrapper textarea.brtc-va-widget-contorls-resizable-textarea-default:focus {
    border-color: #86bfa0;
    outline: none !important;
}

.brtc-va-widget-contorls-wrapper input.jqx-input {
    width: 100%;
}

.brtc-va-widget-contorls-checkbox-default,
.brtc-va-widget-contorls-radiobutton-default {
    margin-bottom: 5px;
    padding-top: 5px;
}

.brtc-va-widget-controls-propertycontrol {
    position: relative;
    float: left;
    width: 330px !important;
    padding-right: 20px;
    padding-left: 20px;
}

.brtc-va-widget-controls-clear-both {
    clear: both;
}

.brtc-va-widget-controls-propertycontrol-label.jqx-widget-header {
    width: 100% !important;
}

.brtc-va-widget-controls-propertycontrol-contents.jqx-expander-content-empty.jqx-expander-content-empty-office {
    width: 100% !important;
}

.brtc-va-widget-controls-radiobutton-default {
    float: left;
}

.brtc-va-widget-contorls-propertycontrol-condition-step-container {
    margin-top: 10px;
}

.brtc-va-widget-contorls-propertycontrol-condition-step {
    margin-top: 8px;
    margin-right: 16px;
    margin-left: 8px;
}

.brtc-va-widget-contorls-propertycontrol-condition-step-header {
    height: 27px;
    border-radius: 20px;
    background-color: #eeeded;
}

.brtc-va-widget-contorls-propertycontrol-condition-step-header.brtc-va-editor-sheet-panels-validation-error {
    border: solid 1px #ea3539 !important;
}

.brtc-va-widget-contorls-propertycontrol-condition-step-label {
    font-size: 12px;
    line-height: 27px;
    overflow: hidden;
    box-sizing: border-box;
    width: calc(100% - 40px);
    padding-left: 20px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.brtc-va-widget-ace-editor-control {
    width: 100%;
    min-height: 150px;
    box-sizing: border-box;
    border: 1px solid #bdbdbd;
}

.brtc-va-widget-controls-fileList {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.brtc-va-widget-controls-fileList-list {
    height: 100%;
}

.brtc-va-widget-controls-fileList-list-wrapper {
    /*border: 1px dashed gray;*/
    /*border-radius: 5px;*/
    /*padding: 0 10px 0 10px;*/
    /*overflow: hidden;*/
    position: relative;
    width: 100%;
    flex: 8;
}

.brtc-va-widget-controls-fileList-list-unit {
    display: flex;
}

.brtc-va-widget-controls-fileList-list-unit-file {
    overflow: hidden;
    cursor: default;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 20;
}

div[role=row].disable .brtc-grid-cell {
    color: red !important;
}

.brtc-va-widget-controls-fileList-toolbar-selectfile #fileselect-local,
.brtc-va-widget-controls-fileList-toolbar-deletefile-button {
    font-weight: normal;
    float: right;
    width: 80px;
    height: 31px;
    cursor: pointer;
    color: rgba(0, 0, 0, .8);
}

.brtc-va-widget-controls-fileList-toolbar-deletefile-button {
    margin-left: 4px;
}

.brtc-va-widget-controls-fileList-toolbar-sum {
    line-height: 31px;
    float: left;
    width: 200px;
    height: 31px;
}

.brtc-va-widget-controls-fileList-toolbar-selectfile,
.brtc-va-widget-controls-fileList-toolbar-deletefile {
    float: right;
}

.brtc-va-widget-controls-fileList-toolbar-sum-count {
    margin-left: 10px;
}
