.brtc-style-s-sidebar {
    border: none;
}

.brtc-style-sidebar .brtc-style-search-area {
    width: calc(100% - 20px);
    margin-bottom: 10px;
}

.brtc-style-sidebar .brtc-style-button-area {
    display: flex;
    width: calc(100% - 20px);
    margin-bottom: 10px;
    justify-content: space-between;
}

.brtc-style-sidebar .brtc-style-search-area > input {
    width: 100%;
    height: 31px;
}

.brtc-style-sidebar .brtc-style-tab-header-wrapper {
    display: flex;
    width: calc(100% - 20px);
    margin-bottom: 20px;
    padding-left: 0;
    list-style: none;
}

.brtc-style-sidebar .brtc-style-tab-header {
    position: relative;
    z-index: 1;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100% !important;
    height: 35px !important;
    margin: 0 -1px 0 0;
    padding-top: 5px;
    padding-right: 1px !important;
    padding-bottom: 5px;
    padding-left: 0 !important;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #d9d9d9;
    background: rgba(0, 0, 0, .03);
    align-items: center;
}

.brtc-style-sidebar .brtc-style-tab-header:hover {
    color: #626fdb;
}

.brtc-style-sidebar .brtc-style-tab-header.selected {
    font-weight: bold;
    color: rgba(0, 0, 0, .8);
    border-color: #d9d9d9;
    border-top: 2px solid #6c79e9;
    border-bottom: 1px solid #fff;
    background: none;
}

.brtc-style-sidebar .brtc-style-tab-header-titlewrapper {
    font-size: 12px;
    position: relative;
    z-index: 15;
    width: 100%;
    text-align: center;
    outline: none;
}

.brtc-style-s-sidebar .jqx-tabs-office {
    overflow: hidden;
    border: none;
    background: none;
}

.brtc-style-sidebar .jqx-tabs-header-office {
    box-sizing: border-box;
    height: 35px !important;
    padding-top: 0;
    border-bottom: none;
    background: none;
}

.brtc-style-sidebar .jqx-tabs-title-office {
    box-sizing: border-box;
    width: 33% !important;
    height: 35px !important;
    margin: 0 -1px 0 0;
    padding-right: 1px !important;
    padding-left: 0 !important;
    text-align: center;
    border-color: #d9d9d9;
    background: rgba(0, 0, 0, .03);
}

.brtc-style-sidebar .jqx-tabs-title-office:nth-child(3) {
    width: 34% !important;
}

.left .brtc-style-sidebar .jqx-tabs-title-container-office {
    box-sizing: border-box;
    width: 340px !important;
    height: 35px !important;
}

.right .brtc-style-sidebar .jqx-tabs-title-container-office {
    box-sizing: border-box;
    width: 410px !important;
    height: 35px !important;
}

.brtc-style-sidebar .jqx-tabs-title-hover-top-office {
    color: #626fdb !important;
}

.brtc-style-sidebar .jqx-tabs-title-selected-top-office {
    box-sizing: border-box;
    height: 35px !important;
    color: rgba(0, 0, 0, .8);
    border-color: #d9d9d9;
    border-top: 2px solid #6c79e9;
    border-bottom: 1px solid #fff;
    background: none;
}

.brtc-style-sidebar .jqx-tabs-content-office {
    padding-top: 20px;
}

.brtc-style-sidebar .jqx-tabs-titleContentWrapper {
    display: inline-block;
    float: none !important;
}

.brtc-style-sidebar .brtc-style-tab {
    height: 100%;
}

.right .brtc-style-sidebar.script .brtc-style-tab,
.right .brtc-style-sidebar.dataflow .brtc-style-tab,
.right .brtc-style-sidebar.etl .brtc-style-tab,
.brtc-style-sidebar.deeplearning .brtc-style-tab {
    display: none;
    height: calc(100% - 55px);
}

.right .brtc-style-sidebar.script .brtc-style-tab.selected,
.right .brtc-style-sidebar.dataflow .brtc-style-tab.selected,
.right .brtc-style-sidebar.etl .brtc-style-tab.selected,
.brtc-style-sidebar.deeplearning .brtc-style-tab.selected {
    display: block;
}


.brtc-style-sidebar .brtc-style-tab-contents {
    height: calc(100% - 6px);
}

.brtc-style-sidebar .brtc-style-tab-contents .brtc-style-contentsarea {
    position: relative;
    height: calc(100% - 60px);
}

.brtc-style-sidebar div.jqx-expander-header {
    font-family: Arial, helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
    border: none;
    border-bottom-color: white;
    background: #fff;
}

.brtc-style-sidebar div.jqx-expander-header-expanded {
    margin-bottom: 0;
    border-bottom: solid 1px #d4d4d4;
}

.brtc-style-sidebar div.jqx-expander-content {
    margin-bottom: 10px;
    border: none;
}

.brtc-style-sidebar .jqx-expander-arrow {
    margin-top: 0 !important;
}

.brtc-style-sidebar .brtc-style-function-list-navigator {
    position: relative;
    width: 100%;
    height: calc(100% - 10px);
}

.brtc-style-function-list-content {
    box-sizing: border-box;
    width: 100%;
    height: 500px;
}

.brtc-style-function-draggable:hover {
    cursor: move;
    background-color: #eeeeef;
}

.brtc-va-studio-sidebar-area.right .brtc-style-sidebar.visual {
    width: 100%;
    background-color: #f7f7f7;
}

.brtc-va-studio-sidebar-area.left .brtc-style-sidebar.visual {
    background-color: #f7f7f7;
}

.brtc-va-tools-sidebar-header {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    line-height: 52px;
    width: calc(100% - 20px);
    height: 52px;
    text-align: center;
    letter-spacing: -.3px;
    opacity: .8;
    color: rgba(0, 0, 0, .8);
}

.brtc-va-tools-sidebar-funcpropertytab {
    height: 100%;
}

.brtc-va-editors-sheet-controls-dataselector-empty-contents {
    color: #a9a9a9;
}

.brtc-va-studio-sidebar-expander {
    display: flex;
    outline: 1px solid #dbdde2;
}
