
.brtc-mchart-main-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.brtc-left-contents {
    /*margin: 20px;*/
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 320px);
    height: calc(100% - 40px);
}

.brtc-right-properties {
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    height: 100%;
    border-left: 1px solid #d3d3d3;
    background-color: #f7f7f7;
}

.brtc-mc-property {
    position: relative;
    width: 100%;
    height: 100%;
}

.brtc-mc-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    padding: 0 8px 0 8px;
    background-color: #d3d3d3;
}

.brtc-mc-container {
    height: calc(100% - 40px);
}

.brtc-mc-generator {
    position: absolute;
    z-index: 1000;
    right: 30px;
    bottom: 30px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    text-align: center;
}

.brtc-mc-apply {
    position: absolute;
    z-index: 1000;
    right: 120px;
    bottom: 30px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    text-align: center;
}

.brtc-mc-chart-width,
.brtc-mc-chart-height {
    display: flex;
    margin-top: 6px;
}

.brtc-mc-chart-width > span {
    width: 100PX;
}

.brtc-mc-chart-width > div,
.brtc-mc-chart-height > div {
    width: 70px;
}

.brtc-mc-chart-width > input,
.brtc-mc-chart-height > input {
    width: 190px;
}

.brtc-mc-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}

.brtc-mc-progress > span,
.brtc-mc-message > span {
    font-size: 14px;
    position: absolute;
    top: 50%;
    width: calc(100% - 320px);
    text-align: center;
}

.brtc-mc-progress > i {
    position: absolute;
    top: 40%;
    width: calc(100% - 320px);
    text-align: center;
}

.jqx-notification-container {
    z-index: 10;
}

.brtc-right-properties .bos-control[controlType='Title'] > .bos-control-contents > .bos-display-flex:first-child {
    display: none;
}

.brtc-right-properties .bos-control[controlType='Title'] > .bos-control-contents > .bos-widget-row-separator:first-child {
    display: none;
}

.brtc-right-properties .bos-control[controlType='Title'] > .bos-control-contents > .bos-display-flex:first-child {
    display: none;
}

.brtc-right-properties .bos-control[controlType='Title'] > .bos-control-contents > .bos-widget-row-separator:first-child {
    display: none;
}

.brtc-mc-title-property .brtc-va-editors-sheet-controls-wrapper,
.brtc-mc-orderby-property .brtc-va-editors-sheet-controls-wrapper {
    margin-right: 0 !important;
}

.brtc-mc-title-property .brtc-va-editors-sheet-controls-propertycontrol-row-container .brtc-va-editors-sheet-controls-wrapper,
.brtc-mc-orderby-property .brtc-va-editors-sheet-controls-propertycontrol-row-container .brtc-va-editors-sheet-controls-wrapper {
    margin-left: 0 !important;
}

.brtc-mc-title-property .brtc-va-editors-sheet-controls-propertycontrol-row,
.brtc-mc-orderby-property .brtc-va-editors-sheet-controls-propertycontrol-row {
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
    cursor: pointer;
}

.brtc-mc-title-property .brtc-va-editors-sheet-controls-propertycontrol-row:last-child,
.brtc-mc-orderby-property .brtc-va-editors-sheet-controls-propertycontrol-row:last-child {
    margin-bottom: 0;
}

.brtc-mc-orderby-property .brtc-va-editors-sheet-controls-propertycontrol-row .brtc-va-editors-sheet-controls-propertycontrol-sort-mode-button {
    font-family: Arial, Dotum, Tahoma, sans-serif;
    font-size: 12px;
    display: flex;
    box-sizing: border-box;
    width: 27px;
    height: 27px;
    margin: 0 0 0 3px;
    padding: 0;
    cursor: pointer;
    color: rgba(0, 0, 0, .8);
    border: solid 1px #bdc0d6;
    background: #fdfdfd;
    justify-content: center;
    align-items: center;
}

.brtc-mc-orderby-property .brtc-va-editors-sheet-controls-propertycontrol-row .brtc-va-editors-sheet-controls-propertycontrol-sort-mode-button:hover {
    border-color: #ccc;
    background: #eeeeef;
}

.brtc-mc-title-property .brtc-va-editors-sheet-controls-propertycontrol-row .brtc-va-editors-sheet-controls-columnlist-columncontainer-wrapper,
.brtc-mc-orderby-property .brtc-va-editors-sheet-controls-propertycontrol-row .brtc-va-editors-sheet-controls-columnlist-columncontainer-wrapper {
    cursor: default !important;
}

.brtc-mc-title-property .brtc-va-editors-sheet-controls-propertycontrol-row .brtc-va-editors-sheet-controls-columnselector-columncontainer-element,
.brtc-mc-orderby-property .brtc-va-editors-sheet-controls-propertycontrol-row .brtc-va-editors-sheet-controls-columnselector-columncontainer-element {
    cursor: default !important;
}

.brtc-mc-title-property .brtc-va-editors-sheet-controls-propertycontrol-row .brtc-va-editors-sheet-controls-columnselector-columncontainer-element .brtc-va-editors-sheet-controls-columnselector-columncontainer-element-type,
.brtc-mc-orderby-property .brtc-va-editors-sheet-controls-propertycontrol-row .brtc-va-editors-sheet-controls-columnselector-columncontainer-element .brtc-va-editors-sheet-controls-columnselector-columncontainer-element-type {
    cursor: default !important;
}

.brtc-mc-title-property .brtc-va-editors-sheet-controls-propertycontrol-row .brtc-va-editors-sheet-controls-columnselector-columncontainer-element .brtc-va-editors-sheet-controls-columnselector-columncontainer-element-name,
.brtc-mc-orderby-property .brtc-va-editors-sheet-controls-propertycontrol-row .brtc-va-editors-sheet-controls-columnselector-columncontainer-element .brtc-va-editors-sheet-controls-columnselector-columncontainer-element-name {
    cursor: default !important;
}

.brtc-mc-title-property .brtc-va-editors-sheet-controls-propertycontrol-row .brtc-va-editors-sheet-controls-columnselector-columncontainer-element .brtc-va-editors-sheet-controls-columnselector-columncontainer-element-empty,
.brtc-mc-orderby-property .brtc-va-editors-sheet-controls-propertycontrol-row .brtc-va-editors-sheet-controls-columnselector-columncontainer-element .brtc-va-editors-sheet-controls-columnselector-columncontainer-element-empty {
    cursor: default !important;
}

.brtc-mc-title-property .brtc-va-editors-sheet-controls-propertycontrol-hover-drag-element-wrapper,
.brtc-mc-orderby-property .brtc-va-editors-sheet-controls-propertycontrol-hover-drag-element-wrapper {
    display: flex;
    box-sizing: border-box;
    width: 17px;
    height: 27px;
    justify-content: center;
    align-items: center;
}

.brtc-mc-title-property .brtc-va-editors-sheet-controls-propertycontrol-hover-drag-element,
.brtc-mc-orderby-property .brtc-va-editors-sheet-controls-propertycontrol-hover-drag-element {
    display: none;
    box-sizing: border-box;
    width: 11px;
    height: 11px;
    cursor: pointer;
    vertical-align: middle;
    background: url('images/icon/icon_property.png') no-repeat;
    background-position: -74px 0;
}

.brtc-mc-orderby-property .brtc-va-editors-sheet-controls-propertycontrol-row:hover .brtc-va-editors-sheet-controls-propertycontrol-hover-drag-element {
    display: block;
}

.brtc-mc-orderby-property .brtc-va-editors-sheet-controls-propertycontrol-hover-drag-element:hover {
    background: url('images/icon/icon_property.png') no-repeat;
    background-position: -74px -42px;
}

.brtc-mc-title-property .brtc-va-editors-sheet-controls-propertycontrol-number,
.brtc-mc-orderby-property .brtc-va-editors-sheet-controls-propertycontrol-number {
    overflow: hidden;
    box-sizing: border-box;
    max-width: 27px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.brtc-mc-orderby-property .brtc-va-editors-sheet-controls-propertycontrol-row:hover .brtc-va-editors-sheet-controls-propertycontrol-number {
    display: none;
}

.brtc-mc-orderby-property .brtc-va-editors-sheet-controls-propertycontrol-button {
    padding-top: 5px;
}

.brtc-mc-title-property .brtc-va-editors-sheet-controls-propertycontrol-row[column=''] .brtc-va-editors-sheet-controls-propertycontrol-checkbox,
.brtc-mc-title-property .brtc-va-editors-sheet-controls-propertycontrol-row[column=''] .brtc-va-editors-sheet-controls-propertycontrol-hover-drag-element-wrapper,
.brtc-mc-orderby-property .brtc-va-editors-sheet-controls-propertycontrol-row[column=''] .brtc-va-editors-sheet-controls-propertycontrol-hover-drag-element-wrapper,
.brtc-mc-orderby-property .brtc-va-editors-sheet-controls-propertycontrol-row[column=''] .brtc-va-editors-sheet-controls-propertycontrol-button {
    display: none;
}

.brtc-mc-title-property .brtc-va-editors-sheet-controls-columnselector-columncontainer-element:hover,
.brtc-mc-orderby-property .brtc-va-editors-sheet-controls-columnselector-columncontainer-element:hover {
    background-color: #eeeeef !important;
}
