/**
 * hyunseok.oh@samsung.com
 */

.brtc-va-dialogs-add-version-row,
.brtc-va-dialogs-edit-version-row {
    display: flex;
}
.brtc-va-dialogs-edit-version-wrapper {
    display: grid;
    /* width: 500px; */
}

.brtc-va-dialogs-add-version-body,
.brtc-va-dialogs-edit-version-body {
    display: grid;
    grid-row-gap: 12px;
}

.brtc-va-dialogs-add-version-label,
.brtc-va-dialogs-edit-version-label {
    font-weight: bold;
    line-height: 30px;
    width: 120px;
}

.brtc-va-dialogs-add-version-major-radio,
.brtc-va-dialogs-add-version-minor-radio {
    width: 160px;
}

.brtc-va-dialogs-version-load,
.brtc-va-dialogs-version-management-add {
    float: right;
    width: 160px;
    height: 31px;
}

.brtc-va-dialogs-version-management-contents {
    /*isn't supported by IE11*/
    /*display: grid;*/
    /*grid-row-gap: 10px;*/

    display: flex;
    flex-direction: column;
}

.brtc-va-dialogs-version-datail-contents {
    display: block;
}

.brtc-va-dialogs-add-version-radio-group {
    display: flex;
    margin-bottom: 0;
    align-items: center;
}

.brtc-va-dialogs-version-management-body {
    width: 100%;
}

.brtc-va-dialogs-add-version-contents .brtc-va-dialogs-contents-label {
    width: 120px;
}

.brtc-va-dialogs-add-version-radio-group {
    flex: 1;
}
