/**
 * hyunseok.oh@samsung.com
 * 2017. 12. 27.
 */
.brtc-va-base-list-content {
    box-sizing: border-box;
    height: calc(100% - 35px);
    margin-top: 15px;
    margin-bottom: 20px;
    border-right-color: transparent;
    border-left-color: transparent;
}

.brtc-va-base-list-content [role=columnheader] {
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #f7f7f7;
}

.brtc-va-base-list-content [role=gridcell] {
    border-right: none;
}

.brtc-va-base-list-grid-cell {
    border-top: none;
    border-right: none;
    border-left: none;
}

.brtc-va-base-list-grid-cell-flex-center {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.brtc-va-base-list-grid-cell-flex-left {
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: 20px;
    align-items: center;
    justify-content: left;
}

.brtc-va-base-list-grid-cell-flex-right {
    display: flex;
    width: 100%;
    height: 100%;
    margin-right: 20px;
    align-items: center;
    justify-content: right;
}

.brtc-va-base-list-button {
    display: flex;
    width: 100px;
    height: 30px;
    cursor: pointer;
    color: #7d7d7d;
    border: 1px solid #e5e5e5;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.brtc-va-base-list-button-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.brtc-va-base-list-column-header {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    line-height: 53px;
    text-align: center;
    opacity: .8;
    color: rgba(0, 0, 0, .8);
}
