.brtc-va-dialogs-import-project .brtc-va-dialogs-contents {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.brtc-va-dialogs-import-project .brtc-va-dialogs-label {
    font-family: Arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
    width: 100px;
    height: 25px;
    margin-bottom: 20px;
}

.brtc-va-dialogs-import-project .brtc-va-dialogs-label.select-file {
    display: block;
    margin-bottom: 15px;
}

.brtc-va-dialogs-import-project .brtc-va-dialogs-label.name,
.brtc-va-dialogs-import-project .brtc-va-dialogs-label.description {
    float: left;
    margin-bottom: 15px;
}

.brtc-va-dialogs-import-project .brtc-va-dialogs-select-file-control {
    position: relative;
    float: right;
    width: calc(100% - 100px);
    height: 30px;
}

.brtc-va-dialogs-import-project .brtc-va-dialogs-name-input {
    float: left;
}

.brtc-va-dialogs-import-project .brtc-va-dialogs-dataupload-contents .brtc-va-dialogs-dataupload-contents-fileselectpage.import .fileselect {
    display: flex;
    align-items: center;
}

.brtc-va-dialogs-import-project .brtc-va-dialogs-dataupload-contents .brtc-va-dialogs-dataupload-contents-fileselectpage.import .contents {
    width: calc(100% - 104px);
    margin: 0 4px 0 0;
    padding: 4px 9px 3px 9px;
    cursor: default;
    border-color: rgb(212, 212, 212);
}

.brtc-va-dialogs-import-project .brtc-va-dialogs-dataupload-contents .brtc-va-dialogs-dataupload-contents-fileselectpage .contents {
    min-height: 14px;
    padding: 12px 9px 13px 9px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.brtc-va-dialogs-import-project .brtc-va-dialogs-dataupload-contents-fileselectpage .nodata {
    display: flex;
    height: 17px;
    text-align: center;
    color: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
}

.brtc-va-dialogs-import-project .brtc-va-icon.brtc-va-dialogs-dataupload.file {
    margin-top: 0;
    margin-right: 5px;
}

.brtc-va-dialogs-import-project .brtc-va-icon.brtc-va-dialogs-dataupload.file {
    display: inline-block;
    float: left;
    width: 15px;
    height: 15px;
    margin-top: -1px;
    margin-right: 10px;
    background: url(images/icon/icon_database_upload.png) no-repeat;
    background-position: 0 -126px;
}

.brtc-va-dialogs-import-project .brtc-va-dialogs-dataupload-contents .brtc-va-dialogs-dataupload-contents-fileselectpage .contents .brtc-va-dialogs-dataupload.file-name {
    display: inline-block;
    overflow: hidden;
    width: calc(100% - 30px);
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.brtc-va-dialogs-import-project .brtc-va-dialogs-dataupload-contents .brtc-va-dialogs-dataupload-contents-fileselectpage.import .header {
    height: 26px;
}

.brtc-va-dialogs-import-project .brtc-va-dialogs-dataupload-contents .brtc-va-dialogs-dataupload-contents-fileselectpage.import .header input[type='BUTTON'] {
    width: 80px;
    height: 26px;
    margin-right: 0;
}

.brtc-va-dialogs-import-project .brtc-va-dialogs-dataupload-contents input[type='BUTTON'] {
    width: 76px;
    height: 29px;
    margin-right: 5px;
}

.brtc-va-dialogs-import-project .brtc-va-dialogs-dataupload-contents input[type='file'] {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
}

.brtc-va-dialogs-import-project .brtc-va-dialogs-description-container {
    position: relative;
    width: calc(100% - 100px);
    height: 256px;
    margin-bottom: 20px;
}
