.brtc-va-tools-menubar-doc,
.brtc-va-tools-menubar-notice,
.brtc-va-tools-menubar-myprofile,
.brtc-va-tools-menubar-logout,
.brtc-va-tools-menubar-setting-container .section:nth-child(1),
.brtc-va-tools-menubar-setting-container .section:nth-child(3),
/*.brtc-va-dialogs-content-panel.setting .brtc-va-setting-component-wrapper:nth-child(2),*/
.brtc-va-workspace-project-group-area.shared,
.brtc-va-workspace-project-container-ctxmenu ul [action=members],
.brtc-va-workspace-project-container-ctxmenu ul [action=deploy],
.brtc-va-views-databoxcontrol-connect-schedule-button,
.bcharts-ds-panel-drawer-menu ul [action=connect],
.brtc-va-controls-repository-viewer-tree > div > div > div:nth-child(1) > .jqx-tree-dropdown-root > li:nth-child(1),
.brtc-style-s-editor-toolitem[item-type=schedule],
.brtc-va-editors-modeleditor.brtc-va-editor .brtc-va-editors-side-tab-bar.brtc-va-editors-right-tab-bar .brtc-va-studio-sidebar-expander:nth-child(3),
.brtc-va-wizardpage.selectuploadtypepage div[value=alluxio],
.brtc-va-wizardpage.selectlocaldatapage .brtc-va-wizardpage-content .uploadtoselect,
.brtc-va-editors-diagram-diagrameditorpage-function-multiselected-tools.brtc-va-editors-diagram-diagrameditorpage-function-multiselected-tools-bind-functions,
.bos-widget-chart-item-wrapper[title="Decision Tree For Brightics"],
.brtc-new-publish-url-wrapper.brtc-style-display-flex.brtc-style-flex-direction-row
{
    display: none !important;
}

.brtc-va-editors-sheet-panels-basepanel[type=table] .brtc-va-editors-sheet-worksheet-selector {
    visibility: hidden;
}

.brtc-style-s-editor-toolitem[item-type=datasource] {
    background-position-x: 0;
    display: block !important;
}