/**
 * hyunseok.oh@samsung.com
 * 2017. 12. 25.
 */

.brtc-va-version-list-grid {
    box-sizing: border-box;
    border-right-color: transparent;
    border-left-color: transparent;
}

.brtc-va-version-list-grid-cell {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    opacity: .8;
    color: rgba(0, 0, 0, .8);
}
