.brtc-va-editors-sheet-controls-propertycontrol-deck.method {
    padding: 10px;
}

.margin-space.method {
    margin-bottom: 15px;
}

.deck-property {
    margin: 5px 0;
}

.deck-property > .property-label {
    margin-left: 5px;
}
