* {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}

input::placeholder,
textarea::placeholder {
    color: #c9cbcd;
}

.note-editor *,
.clearfix * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.tooltip[role=tooltip] {
    z-index: 18005;
}

.jqx-widget {
    font-family: Arial, Dotum, Tahoma, sans-serif;
    font-size: 12px;
    color: rgba(0, 0, 0, .8);
}

.jqx-widget-header-office {
    font-family: 'Arial', Dotum, Tahoma, sans-serif;
    color: rgba(0, 0, 0, .7);
}

.jqx-widget-office .jqx-grid-column-header-office,
.jqx-grid-cell-office,
.jqx-widget-office .jqx-grid-cell-office,
.jqx-widget-office .jqx-grid-group-cell-office,
.jqx-grid-group-cell-office {
    font-family: 'Arial', Dotum, Tahoma, sans-serif;
}

.jqx-fill-state-hover-office {
    border-color: #ccc;
    background-color: #e5e5e5;
}

.jqx-grid-cell-hover-office {
    color: #626fdb !important;
    background: transparent;
}

.jqx-fill-state-focus-office,
.jqx-combobox-content-focus-office,
.jqx-numberinput-focus,
.jqx-datetimeinput-office .jqx-fill-state-hover-office,
.jqx-datetimeinput-office .jqx-fill-state-pressed-office {
    border-color: #626fdb;
}

.jqx-fill-state-pressed-office {
    border-color: #ccc;
    background-color: #eff1fd;
}

.jqx-grid-content-office .jqx-fill-state-pressed-office {
    color: #626fdb !important;
}

.jqx-expander-header-content-office {
    font-size: 13px;
    margin-left: 12px !important;
}

.jqx-button-office {
    cursor: pointer;
}

.jqx-radiobutton-office {
    line-height: 18px;
}

.jqx-radiobutton-default-office {
    display: inline-block;
    width: 18px !important;
    height: 18px !important;
    margin: 0 7px 0 0;
    margin-top: 0 !important;
    vertical-align: middle;
    border: none;
    -webkit-border-radius: 0 !important;
       -moz-border-radius: 0 !important;
            border-radius: 0 !important;
    background: url('images/icon/radio_check.png') no-repeat;
    background-position: 0 0;
         -o-border-radius: 0 !important;
}

.jqx-radiobutton-check-checked-office {
    top: 0 !important;
    left: 0 !important;
    width: 18px !important;
    height: 18px !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    border: none;
    -webkit-border-radius: 0 !important;
       -moz-border-radius: 0 !important;
            border-radius: 0 !important;
    background: url('images/icon/radio_check.png') no-repeat;
    background-position: 0 -56px;
         -o-border-radius: 0 !important;
}

.jqx-radiobutton-hover-office.jqx-fill-state-hover-office {
    border-color: #626fdb;
}

.jqx-checkbox-office {
    line-height: 19px;
}

.jqx-checkbox-default-office {
    margin-right: 7px;
}

.jqx-checkbox-default-office.jqx-fill-state-hover-office {
    border-color: #626fdb;
    background: transparent;
}

.jqx-checkbox-default-office > div:first-child {
    width: 17px !important;
    height: 17px !important;
}

.jqx-checkbox-check-checked-office {
    top: 0 !important;
    left: 0 !important;
    width: 17px !important;
    height: 17px !important;
    background: url('images/icon/radio_check.png') no-repeat;
    background-position: -38px -56px;
}

.jqx-checkbox-check-indeterminate.jqx-checkbox-check-indeterminate-office {
    top: 0 !important;
    left: 0 !important;
    width: 17px !important;
    height: 17px !important;
    background: url('images/icon/radio_check.png') no-repeat;
    background-position: -38px -140px;
}

.jqx-popover {
    box-shadow: none;
}

.jqx-popover-title-office {
    font-family: Arial, helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 60px;
    height: 60px;
    padding: 5px 30px;
    background: #fff;
}

.jqx-popover-content-office {
    padding: 7px;
}

.jqx-window-close-button-background > .jqx-window-close-button {
    position: absolute;
    top: 9px;
    right: 0;
    width: 18px !important;
    height: 18px !important;
    background-image: url('images/tool-close-18.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.jqx-window-close-button-background > .jqx-window-close-button-hover-office {
    background-position-x: -18px;
}

.jqx-popover-title-office > .jqx-window-close-button-background > .jqx-window-close-button {
    top: 25px;
    right: 25px;
}

.jqx-menu-wrapper {
    outline: none;
}

.jqx-menu-office {
    height: auto !important;
}

.jqx-menu li,
.jqx-menu-dropdown li {
    line-height: 30px !important;
    height: 30px;
}

.jqx-menu li[type=separator] {
    height: 1px !important;
}

.jqx-menu-item-top-hover-office {
    border-color: #f7f7f7;
    background: #f7f7f7;
}

.jqx-menu-item-hover-office {
    border-color: #f7f7f7;
    background: #f7f7f7;
}

.jqx-menu-item-top-selected-office {
    border-color: #f7f7f7;
    background: #f7f7f7;
}

.jqx-menu-item-top > .jqx-icon-arrow-right {
    margin-top: 8px;
}

.jqx-notification-office {
    border-color: rgba(0, 0, 0, .95) !important;
    background: rgba(0, 0, 0, .95) !important;
}

.jqx-notification-close-button-container {
    vertical-align: middle;
}

.jqx-notification-close-button {
    top: 0;
    right: 0;
    background-image: url('images/tool-close-white-18.png');
}

.jqx-progressbar-value.jqx-fill-state-pressed {
    background: #58bd7c;
}

.jqx-listbox .jqx-listitem-element div.chkbox {
    top: 2px !important;
}
.jqx-listbox .jqx-listitem-element div.chkbox + span {
    left: 25px !important;
    width: calc(100% - 54px) !important;
}

textarea.jqx-text-area-element-office,
input[type=text].jqx-input-office,
input[type=password].jqx-input-office,
input[type=search].jqx-input-office {
    font-size: 13px;
    box-sizing: border-box;
    min-width: 16px;
    min-height: 16px;
    margin: 0;
    padding: 0;
    padding-right: 10px;
    padding-left: 10px;
    border-width: 1px;
    border-style: solid;
}

textarea.jqx-text-area-element-office{
    padding: 2px 10px;
}

.jqx-timepicker-hour,
.jqx-timepicker-minute,
.jqx-timepicker-second {
    box-sizing: content-box !important;
}
input[type=search].jqx-input-office {
    background: none !important; 
}

input[type=search].jqx-input-office::-webkit-search-cancel-button {
    position: relative;
    right: -3px !important;
    width: 17px;
    height: 17px;
    background: url('images/icon/icon_palette.png') no-repeat;
    background-position: -27px 0;
    -webkit-appearance: none;
}

input[type=search].jqx-input-office::-webkit-search-cancel-button:hover {
    position: relative;
    right: -3px !important;
    width: 17px;
    height: 17px;
    background: url('images/icon/icon_palette.png') no-repeat;
    background-position: -54px 0;
    -webkit-appearance: none;
}

input[type=search].jqx-input-office::-ms-clear {
    width: 17px;
    height: 17px;
    margin-right: 20px;
    color: #fff;
    background: url('images/icon/icon_palette.png') no-repeat;
    background-position: -27px 0;
}

input[type=search].jqx-input-office::-ms-clear:hover {
    width: 17px;
    height: 17px;
    margin-right: 20px;
    color: #fff;
    background: url('images/icon/icon_palette.png') no-repeat;
    background-position: -54px 0;
}

.ui-widget-content {
    font-size: 12px;
}

.brtc-dim {
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.brtc-va-studio {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-user-select: none; /* Chrome/Safari/Opera */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE/Edge */
            user-select: none; /* non-prefixed version, currently not supported by any browser */
    -webkit-touch-callout: none; /* iOS Safari */
}

.brtc-va-studio-splitter {
    border: none;
}

.brtc-va-studio-top-area {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #4b505e;
}

.brtc-va-studio-bottom-area {
    position: absolute;
    bottom: 0;
    display: none;
    width: 100%;
    height: 30px;
    border-top: solid 1px #d4d4d4;
}

.brtc-va-studio-body-area {
    position: absolute;
    top: 50px;
    width: 100%;
    height: calc(100% - 50px);
}

.brtc-va-workspace-body-area {
    font-family: Arial, helvetica, sans-serif;
    position: absolute;
    z-index: 9100;
    top: 50px;
    width: 100%;
    height: calc(100% - 50px);
}

.brtc-va-workspace-body-area.brtc-va-workspace-popup {
    top: 0;
    height: 100%;
}

.brtc-va-studio-editor-area {
    width: 100%;
    height: 100%;
}

.brtc-va-tools-menubar {
    font-family: Arial, helvetica, sans-serif;
}

.brtc-va-tools-menubar-left-area {
    float: left;
    width: 262px;
    height: 50px;
}

.brtc-va-tools-menubar-logo {
    position: absolute;
    top: 13px;
    left: 20px;
    width: 154px;
    height: 26px;
    cursor: pointer;
    background-image: url('images/logo.png');
    background-repeat: no-repeat;
    background-position: center;
}

.brtc-va-tools-menubar-logo > i {
    padding-right: 6px;
}

.brtc-va-tools-menubar-center-area {
    float: left;
    width: calc(100% - 590px);
    height: 50px;
    border: none;
}

.brtc-va-tools-menubar-editor-title-container {
    margin-top: 9px;
    padding-top: 3px;
    padding-left: 5px;
    border: none;
}

.brtc-va-tools-menubar-editor-title-container ul {
    display: flex;
    padding-left: 0;
    list-style: none;
}

.brtc-va-tools-menubar-editor-title-container .brtc-va-tools-menubar-editor-tab {
    font-size: 12px;
    font-weight: normal;
    display: block;
    box-sizing: border-box;
    width: 185px;
    height: 38px;
    margin-right: 0;
    margin-left: 0;
    padding: 5px 12px 5px 12px;
    cursor: pointer;
    white-space: nowrap;
    color: rgba(255, 255, 255, .4);
    border: 1px solid #555a62;
    border-right: none;
    background: #4b505e;
}

.brtc-va-tools-menubar-editor-title-container .brtc-va-tools-menubar-editor-tab:hover {
    color: #626fdb;
}


.brtc-va-tools-menubar-editor-title-container .brtc-va-tools-menubar-editor-tab.selected {
    color: rgba(255, 255, 255, .8);
    border: none;
    border-top: 2px solid #8190ff;
    background: #393c45;
}

.brtc-va-tools-menubar-editor-title-container .brtc-va-tools-menubar-editor-tab.newmodel {
    width: 38px;
}

.brtc-va-tools-menubar-editor-title-container .brtc-va-tools-menubar-editor-tab .brtc-va-tools-menubar-editor-title {
    line-height: 26px;
    display: flex;
    float: left;
    width: calc(100% - 16px);
    align-items: center;
}

.brtc-va-tools-menubar-editor-title-container .brtc-va-tools-menubar-editor-tab .brtc-va-tools-menubar-editor-close-button {
    position: relative;
    left: 5px;
    visibility: hidden;
    float: left;
    width: 16px;
    height: 100%;
    margin-top: 1px;
    cursor: pointer;
    background: url('images/tab-close-10.png') center no-repeat;
}

.brtc-va-tools-menubar-editor-title-container .brtc-va-tools-menubar-editor-tab.selected .brtc-va-tools-menubar-editor-close-button {
    visibility: visible;
}

.brtc-va-tools-menubar-editor-title-container .brtc-va-tools-menubar-editor-tab:hover .brtc-va-tools-menubar-editor-close-button {
    visibility: visible;
}

/*.brtc-va-tools-menubar-editor-title-container .jqx-tabs-close-button
{
    visibility: hidden;

    background-image: url('images/tab-close-10.png');
    background-repeat: no-repeat;
}

.brtc-va-tools-menubar-editor-title-container .jqx-tabs-title-hover-top-office .jqx-tabs-close-button
{
    visibility: visible;
}

.brtc-va-tools-menubar-editor-title-container .jqx-tabs-title-selected-top-office .jqx-tabs-close-button
{
    visibility: visible;
}

.brtc-va-tools-menubar-editor-title-container .jqx-tabs-content
{
    display: none;
}

.brtc-va-tools-menubar-editor-title-container .jqx-tabs-title-office
{
    font-weight: normal;

    margin-right: 0;
    margin-left: 0;

    color: rgba(255, 255, 255, .4);
    border-color: #555a62;
    border-right: none;
    background: #4b505e;
}

.brtc-va-tools-menubar-editor-title-container .jqx-tabs-title-selected-top-office
{
    color: rgba(255, 255, 255, .8);
    border: none;
    border-top: 2px solid #8190ff;
    background: #393c45;
}

.brtc-va-tools-menubar-editor-title-container .jqx-tabs-selection-tracker-top-office
{
    border: none;
    border-top: 2px solid #8190ff;
    background: #585d66;
}

.brtc-va-tools-menubar-editor-title-container .jqx-tabs-title-hover-top-office
{
    color: #626fdb !important;
}

.brtc-va-tools-menubar-editor-title-container > .jqx-tabs-headerWrapper
{
    padding-top: 3px;
    padding-left: 5px;

    background-color: #4b505e;
}

.brtc-va-tools-menubar-editor-title-container .jqx-tabs-arrow-background
{
    top: 3px !important;
    right: 22px !important;

    width: 21px !important;
    height: 36px !important;

    border: 1px solid #555a62;
    background-color: #4b505e !important;
}

.brtc-va-tools-menubar-editor-title-container .jqx-tabs-arrow-background:hover
{
    background-color: #3f424e !important;
}

.brtc-va-tools-menubar-editor-title-container .jqx-tabs-arrow-left-office
{
    background-image: url('images/tab-arrow-left-12.png');
}

.brtc-va-tools-menubar-editor-title-container .jqx-tabs-arrow-right-office
{
    background-image: url('images/tab-arrow-right-12.png');
}

.brtc-va-tools-menubar-editor-title-container .jqx-tabs-arrow-background:last-child
{
    right: 0 !important;
}

.brtc-va-tools-menubar-editor-title-container .jqx-tabs-arrow-right
{
    margin: 12px !important;
    margin-left: 2px !important;
}

.brtc-va-tools-menubar-editor-title-container .jqx-tabs-arrow-left
{
    margin: 12px !important;
    margin-left: 2px !important;
}

.brtc-va-tools-menubar-editor-title-container .jqx-tabs-titleContentWrapper
{
    line-height: 26px;

    display: flex;

    width: 143px;
    margin-top: 0 !important;

    align-items: center;
}*/

.brtc-va-tools-menubar-editor-title-container li:last-child {
    border-right: 1px solid #555a62;
}

.brtc-va-tools-menubar-editor-title-container li:last-child:hover {
    background-color: #3f424e;
}

/*.brtc-va-tools-menubar-editor-title-container li:last-child .jqx-tabs-titleContentWrapper
{
    width: 10px;
    margin-top: 7px !important;
}*/

.brtc-va-tools-menubar-editor-title-new-button {
    width: 12px;
    height: 25px;
    background-image: url('images/tab-plus-12.png');
    background-repeat: no-repeat;
    background-position: center;
}

.brtc-va-tools-menubar-editor-title-fixed-new-button {
    position: absolute !important;
    top: -1px !important;
    left: -43px !important;
    width: 41px !important;
    height: 36px !important;
    margin-top: 0 !important;
    cursor: pointer;
    border: 1px solid #555a62 !important;
    background-color: #4b505e !important;
    background-image: url('images/tab-plus-12.png') !important;
    background-repeat: no-repeat;
    background-position: center;
}

.brtc-va-tools-menubar-editor-title-fixed-new-button:hover {
    background-color: #eeeeef !important;
}

.brtc-va-tools-menubar-editor-title-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url('images/model-icon-20-new.png');
}

.brtc-va-tools-menubar-editor-title-icon.data {
    background-position-x: -0;
}

.brtc-va-tools-menubar-editor-title-icon.script {
    background-position-x: -20px;
}

.brtc-va-tools-menubar-editor-title-icon.realtime {
    background-position-x: -40px;
}

.brtc-va-tools-menubar-editor-title-icon.control {
    background-position-x: -60px;
}

.brtc-va-tools-menubar-editor-title-icon.etl {
    background-position-x: -80px;
}

.brtc-va-tools-menubar-editor-title-icon.visual {
    background-position-x: -100px;
}

.brtc-va-tools-menubar-editor-title-icon.deeplearning {
    background-position-x: -120px;
}

.brtc-va-tools-menubar-editor-title-text {
    display: inline-block;
    overflow: hidden;
    width: calc(100% - 30px);
    text-overflow: ellipsis;
}

.brtc-va-tools-menubar-right-area {
    float: right;
    height: 50px;
    color: #c9cbcd;
}

.brtc-va-tools-menubar-right-area > div {
    float: left;
    width: 50px;
    height: 50px;
}

.brtc-va-tools-menubar-doc {
    font-size: 20px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.brtc-va-tools-menubar-setting {
    cursor: pointer;
    border-left: 1px solid #525660;
    background-image: url('images/bg-setting-50.png');
}

.brtc-va-tools-menubar-myprofile {
    border-left: 1px solid #525660;
    background-image: url('images/bg-profile-50.png');
    background-repeat: no-repeat;
    cursor: pointer;
}

.brtc-va-tools-menubar-language {
    border-left: 1px solid #525660;
    background-image: url('images/icon/earth-globe-50.png');
    background-repeat: no-repeat;
    cursor: pointer;
}

.brtc-va-tools-menubar-language-items li[selected='true']{
    font-weight: bold;
    color: #626fdb;
}

.brtc-va-tools-menubar-logout {
    font-size: 12px;
    line-height: 50px;
    width: 60px !important;
    padding-left: 10px;
    cursor: pointer;
}


.brtc-va-tools-menubar-notice {
    cursor: pointer;
    border-left: 1px solid #525660;
}

.brtc-va-tools-menubar-notice-default {
    width: 16px;
    height: 19px;
    margin-top: 16px;
    margin-left: 18px;
    background-image: url('images/icon-notification.png');
    object-fit: contain;
}

.brtc-va-tools-menubar-notice-new {
    position: absolute;
    top: 14px;
    right: 181px;
    display: none;
    width: 15px;
    height: 15px;
    background-image: url('images/icon-new-badge.png');
    object-fit: contain;
}

.brtc-overlay {
    z-index: 9200;
    width: '100%';
    height: '100%';
}

.brtc-va-studio-help-tooltip {
    font-size: 12px;
    position: absolute;
    z-index: 10000;
    width: 130px;
    height: 60px;
    padding: 5px 10px;
    text-align: center;
    color: rgba(0, 0, 0, .7);
    border: 1px solid #d4d4d4;
    background-color: #fff;
}


.brtc-va-studio-help-tooltip:after,
.brtc-va-studio-help-tooltip:before {
    position: absolute;
    bottom: 100%;
    left: 100px;
    width: 0;
    height: 0;
    content: ' ';
    pointer-events: none;
    border: solid transparent;
}


.brtc-va-studio-help-tooltip:after {
    margin-left: -30px;
    border-width: 6px;
    border-color: transparent;
    border-bottom-color: #fff;
}

.brtc-va-studio-help-tooltip:before {
    margin-left: -30px;
    border-width: 7px;
    border-color: transparent;
    border-bottom-color: #d4d4d4;
}

.brtc-va-studio-help-buttonbar-ok {
    width: 85px;
    height: 20px;
    cursor: pointer;
    color: #fff !important;
    border: 1px solid #656eea !important;
    background-color: #656eea !important;
}


.brtc-va-tools-menubar-right-area > div:hover {
    font-weight: bold;
    background-color: #3f424e;
}

.brtc-va-tools-statusbar {
    padding-left: 12px;
}

.brtc-va-tools-statusbar-logo {
    float: left;
    width: 57px;
    height: 20px;
    margin-top: 5px;
    background-image: url('images/samsung_logo.gif');
    background-repeat: no-repeat;
}

.brtc-va-tools-statusbar-copyright {
    font-size: 11px;
    line-height: 30px;
    float: left;
    width: 400px;
    padding-left: 10px;
}

.brtc-va-tools-statusbar-right-area {
    float: right;
    /*border-left: solid 1px #d4d4d4;*/

    width: 15.5%;
    height: 100%;
}

.brtc-va-views-projectexplorer-tree {
    border: none;
}

.brtc-va-views-projectexplorer-tree i {
    width: 16px;
}

.brtc-va-views-projectexplorer-workspace-button {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.brtc-va-tools-menubar-workspace {
    font-size: .7em;
    font-weight: bold;
    line-height: 35px;
    float: left;
    width: 60px;
    cursor: pointer;
    text-align: center;
}

.brtc-va-tools-menubar-studio {
    font-size: .7em;
    font-weight: bold;
    line-height: 35px;
    float: left;
    width: 60px;
    cursor: pointer;
    text-align: center;
}

.brtc-va-ctx-item-icon {
    float: left;
    width: 20px;
    height: 16px;
}

.brtc-va-ctx-item-label {
    float: left;
}

.brtc-va-quickhelp-background {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.brtc-va-quickhelp-quickdrawing {
    background-image: url('images/quickhelp/quickmodeling.png');
}

.brtc-va-profile-header {
    padding: 0 5px;
    border-bottom: solid 1px #d4d4d4;
}

.brtc-va-profile-contents {
    padding-top: 10px;
}



.brtc-va-profile-contents-table,
.brtc-va-change-password-table {
    font-family: Calibri;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #d4d4d4;
}

.brtc-va-profile-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    float: right;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.brtc-va-profile-footer > button {
    float: right;
    width: 100px;
    height: 30px;
    margin-right: 8px;
    cursor: pointer;
}

.brtc-va-progress-abort {
    position: absolute;
    z-index: 1001;
    top: 80%;
    left: calc(50% - 60px);
    display: table;
}

.brtc-va-progress-abort > div {
    font-size: 20px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.brtc-va-progress,
.brtc-style-progress {
    font-size: 1.5em;
    position: absolute;
    z-index: 1000;
    display: flex;
    width: inherit;
    /*font-size: 1.1em;*/
    height: inherit;
    color: #6f7cea;
    background: rgba(255, 255, 255, .75);
    align-items: center;
    justify-content: center;
}

.brtc-va-progress > div {
    text-align: center;
}

.brtc-va-progress-loading,
.brtc-style-progress-loading {
    display: inline-block;
    width: 94px;
    height: 94px;
    margin-bottom: 10px;
    -webkit-transform-origin: center;
       -moz-transform-origin: center;
        -ms-transform-origin: center;
         -o-transform-origin: center;
            transform-origin: center;
    -webkit-animation: rotating-function 1.25s linear infinite;
       -moz-animation: rotating-function 1.25s linear infinite;
        -ms-animation: rotating-function 1.25s linear infinite;
         -o-animation: rotating-function 1.25s linear infinite;
            animation: rotating-function 1.25s linear infinite;
    text-align: center;
    background: url('images/icon/Loading_2.png') no-repeat;
    background-position: 0 0;
}

.brtc-va-text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

input[type=search]::-ms-clear {
    width: 17px;
    height: 17px;
    margin-right: 20px;
    color: #fff;
    background: url('images/icon/icon_palette.png') no-repeat;
    background-position: -27px 0;
}

input[type=search]::-ms-clear:hover {
    width: 17px;
    height: 17px;
    margin-right: 20px;
    color: #fff;
    background: url('images/icon/icon_palette.png') no-repeat;
    background-position: -54px 0;
}

input[type=search]::-webkit-search-cancel-button {
    position: relative;
    right: 20px;
    width: 17px;
    height: 17px;
    background: url('images/icon/icon_palette.png') no-repeat;
    background-position: -27px 0;
    -webkit-appearance: none;
}

input[type=search]::-webkit-search-cancel-button:hover {
    position: relative;
    right: 20px;
    width: 17px;
    height: 17px;
    background: url('images/icon/icon_palette.png') no-repeat;
    background-position: -54px 0;
    -webkit-appearance: none;
}

@keyframes rotating-function {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.scroll-always .ps-container > .ps-scrollbar-x-rail,
.scroll-always .ps-container > .ps-scrollbar-y-rail {
    display: block !important;
    opacity: .6;
}


/*hide summernote bug*/
.note-popover .popover-content .note-color .dropdown-menu .btn-group .note-color-reset,
.panel-heading.note-toolbar .note-color .dropdown-menu .btn-group .note-color-reset {
    display: none;
}


#fileselect-local.jqx-fill-state-focus-office
{
    border-color: rgb(212, 212, 212)
}
