.brtc-va-dialogs-contents.deeplearning {
    display: flex;
    height: calc(100% - 100px);
    align-items: center;
    justify-content: center;
}

.brtc-va-dialogs-deeplearningsummary-contents {
    flex-direction: column;
    height: 100% !important;
}

.brtc-va-dialogs-contents-summary-table {
    width: 100%;
    height: calc(100% - 75px);
    margin-bottom: 20px;
}

.brtc-va-dialogs-contents-summary-info {
    width: 100%;
    height: 75px;
}

.brtc-va-dialogs-contents-summary-info-param {
    float: left;
    width: 100%;
    height: 15px;
    margin-bottom: 10px;
}
