.brtc-va-workspace {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-user-select: none; /* Chrome/Safari/Opera */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE/Edge */
            user-select: none; /* non-prefixed version, currently not supported by any browser */
    -webkit-touch-callout: none; /* iOS Safari */
}

.brtc-va-workspace-project-container {
    width: 100%;
    height: 100%;
    background-color: #d8dde5;
}

.brtc-va-workspace-project-search-input {
    float: left;
    width: 280px;
    height: 31px;
    margin-top: 20px;
    margin-left: 20px;
    background: #fff;
}

.brtc-va-workspace-project-search-inputbox {
    width: 250px;
    height: 31px;
    border: none;
    outline: none;
    background: none;
}

.brtc-va-workspace-project-search-input > .fa-search {
    font-size: 16px;
    color: #bababa;
}

.brtc-va-workspace-project-create-button {
    float: right;
    width: 166px;
    height: 31px;
    margin-top: 20px;
    margin-right: 20px;
    padding: 0 21px;
    cursor: pointer;
    color: white;
    border: none;
    background: #626fdb;
}

.brtc-va-workspace-project-create-button:hover {
    background-color: #5b63d2 !important;
}

.brtc-va-workspace-project-create-button-icon {
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-right: 6px;
    background-image: url('images/plus-white-9.png');
    background-repeat: no-repeat;
    background-position: center;
}

.brtc-va-workspace-project-container-contents {
    height: 100%;
}

.brtc-va-workspace-project-list-area {
    padding-top: 10px;
    position: relative;
    float: left;
    width: 340px;
    height: calc(100% - 10px);
    margin-right: 1px;
    background: #fff;
}

.brtc-va-workspace-project-new {
    position: absolute;
    top: 0px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-image: url('images/icon/icon-add-17.png');
    background-repeat: no-repeat;
    background-position: center;
}

.brtc-va-workspace-project-new:hover,
.brtc-va-workspace-project-import:hover
{
    background-color: #eeeeef
}

.brtc-va-workspace-project-new {
    position: absolute;
    top: 0px;
    right: 95px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    background-image: url('images/icon/icon-add-17.png');
    background-repeat: no-repeat;
    background-position: center;
}

.brtc-va-workspace-project-import {
    position: absolute;
    top: 0px;
    right: 60px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    background-image: url('images/icon/icon-import-project-17.png');
    background-repeat: no-repeat;
    background-position: center;
}

.brtc-va-workspace-project-list-tool-item {
    position: relative;
    display: inline;
    float: right;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

.brtc-va-workspace-project-groups {
    display: flex;
    flex-direction: column;
    height: calc(100% - 71px);
}

.brtc-va-workspace-project-group-area:first-child {
    position: relative;
    overflow: hidden;
    max-height: 70%;
    flex-grow: 0;
}

.brtc-va-workspace-project-group-area:last-child {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
}

.brtc-va-worksapce-project-list-item-new {
    position: relative;
    top: 30px;
    display: none;
    float: right;
    width: 15px;
    height: 15px;
    background-image: url('images/icon-new-badge.png');
    object-fit: contain;
}

.brtc-va-workspace-project-list-area .brtc-va-searcharea {
    width: calc(100% - 20px);
    padding: 10px;
}

.brtc-va-workspace-project-list-area .brtc-va-searcharea > input {
    width: 100%;
    height: 31px;
}

.brtc-va-workspace-project-list {
    position: relative;
    height: calc(100% - 41px);
    max-height: calc(100% - 41px);
    padding: 0 20px 0 20px;
}

.brtc-va-workspace-project-group-area:nth-child(even) {
    min-height: 200px;
    max-height: calc(100% - 71px);
}

.brtc-va-workspace-project-list-item {
    height: 74px;
    padding-right: 23px;
    padding-left: 20px;
    cursor: pointer;
    border-bottom: solid 1px #f2f2f2;
}

.brtc-va-workspace-project-list-item:hover {
    background: #f0f1f5;
}

.brtc-va-workspace-project-list-item-label {
    font-size: 16px;
    overflow: hidden;
    padding-top: 20px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #9fa1a2;
}

.brtc-va-workspace-project-list-item-model {
    font-size: 12px;
    padding-top: 2px;
}

.brtc-va-workspace-project-list-item-model > span {
    margin-right: 4px;
    opacity: .7;
    color: rgba(0, 0, 0, .7);
}

.brtc-va-workspace-project-list-item-model > span:nth-child(even) {
    font-weight: bold;
    opacity: .8;
    color: rgba(0, 0, 0, .8);
}

.brtc-va-workspace-project-list-item-selected {
    padding-left: 16px;
    border-left: solid 4px #626fdb;
}

.brtc-va-workspace-project-list-item-selected > .brtc-va-workspace-project-list-item-label {
    font-weight: bold;
    color: #626fdb;
}

.brtc-va-workspace-project-group-area.my .brtc-va-workspace-project-list-item-label.brtc-va-workspace-project-list-title {
    font-size: 16px;
    line-height: 32px !important;
    height: 40px !important;
    margin: 0 20px;
    padding-top: 0;
    cursor: default;
    color: rgba(0, 0, 0, .8);
    border-bottom: solid 1px #f2f2f2;
}

.brtc-va-workspace-project-list-item-label.brtc-va-workspace-project-list-title {
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    margin: 0 20px;
    padding-top: 0;
    cursor: default;
    color: rgba(0, 0, 0, .8);
    border-bottom: solid 1px #f2f2f2;
}

.brtc-va-workspace-project-list-title span {
    font-weight: bold;
    margin-left: 5px;
}

.brtc-va-workspace-model-list-area {
    position: relative;
    float: left;
    width: calc(100% - 350px);
    height: calc(100% - 20px);
    padding-top: 20px;
    padding-right: 4px;
    padding-left: 4px;
    background: #e9ecf1;
}

.brtc-va-workspace-model-list-header {
    margin-right: 14px;
    margin-left: 14px;
}

.brtc-va-workspace-model-list-title {
    font-size: 30px;
    font-weight: normal;
    float: left;
    overflow: hidden;
    max-width: 50%;
    cursor: default;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
}

.brtc-va-workspace-model-list-edit {
    float: right;
    width: 24px;
    height: 24px;
    margin-top: 10px;
    margin-left: 10px;
    background-image: url('images/more-btn-16.png');
    background-repeat: no-repeat;
    background-position-x: 4px;
    background-position-y: 4px;
}

.brtc-va-workspace-model-list-edit:hover {
    cursor: pointer;
    background-color: #eeeeef;
    background-position-x: -12px;
}

.brtc-va-workspace-model-list-author {
    font-size: 14px;
    display: flex;
    clear: both;
    padding-top: 14px;
    align-items: center;
}

.brtc-va-workspace-model-list-author > div {
    margin-left: 0;
}

.brtc-va-workspace-model-list-author > span {
    margin-right: 8px;
}

.brtc-va-workspace-model-list-author > span:nth-child(odd) {
    color: #666769;
}

.brtc-va-workspace-model-list-author > span:nth-child(even) {
    color: #9fa1a4;
}

.brtc-va-workspace-model-list-hashtag {
    display: none;
    width: 100px;
    height: 10px;
}

.brtc-va-workspace-model-list-type {
    font-size: 14px;
    display: flex;
    color: #7b7c7e;
    border-bottom: solid 1px #c9cacc;
}

.brtc-va-workspace-model-list-type span {
    font-weight: bold;
}

.brtc-va-workspace-model-list-type-item {
    display: flex;
    width: 250px;
    cursor: pointer;
    border-bottom: solid 4px transparent;
    align-items: center;
    justify-content: center;
}

.brtc-va-workspace-model-list-type-item.selected {
    border-color: #2b3851;
}

.brtc-va-workspace-model-list-type-item div:not(.addedcount) {
    font-size: 18px;
    font-weight: bold;
    line-height: 13px;
    height: 13px;
    margin-top: 34px;
    margin-bottom: 16px;
}

.brtc-va-workspace-model-list-type-item .addedcount {
    font-size: .8em;
    font-weight: bold;
    line-height: 1.25em;
    position: absolute;
    left: 430px;
    display: inline-block;
    min-width: 1em;
    height: 1.25em;
    padding: .1em  .2em;
    text-align: center;
    color: white;
    border: 1px solid #626fdb;
    border-radius: 3em;
    background-color: #626fdb;
}

.brtc-va-workspace-model-list-type-item.selected div:not(.addedcount) {
    color: #2b3851;
}

.brtc-va-workspace-model-list-content.model .brtc-va-workspace-model-list-cell.report {
    display: none;
}

.brtc-va-workspace-model-list-content.report .brtc-va-workspace-model-list-cell.model {
    display: none;
}

.brtc-va-workspace-model-list-content {
    position: relative;
    display: flex;
    clear: both;
    height: calc(100% - 170px);
    margin-top: 20px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.brtc-va-workspace-model-list-cell {
    position: relative;
    width: 33.3%;
    height: 328px;
    margin-bottom: 19px;
}

.brtc-va-workspace-model-list-item {
    display: flex;
    flex-direction: column;
    height: calc(100% - 5px);
    margin-right: 14px;
    margin-left: 14px;
    border: solid 1px #e0e4ea;
    border-top: solid 4px #acb5cb;
    background: #fff;
}

.brtc-va-workspace-model-list-item-header {
    position: relative;
    display: flex;
    height: auto;
}

.brtc-va-workspace-model-list-item-selected {
    border-top-color: #626fdb;
}

.brtc-va-workspace-model-list-item:hover {
    border-width: 4px 1px 1px 1px;
    border-color: #6c79e9;
}

.brtc-va-workspace-model-list-item:hover .brtc-va-workspace-model-list-item-description {
    opacity: .5;
}

.brtc-va-workspace-model-list-item-new:hover {
    border-width: 1px 1px 1px 1px;
}

.brtc-va-workspace-model-list-item-new {
    height: calc(100% - 2px);
    text-align: center;
    color: rgba(0, 0, 0, .8);
    border: solid 1px #c9cacc;
    align-items: center;
}

.brtc-va-workspace-model-list-item-new-title {
    font-size: 22px;
    width: 100%;
    padding-top: 23px;
    text-align: center;
    letter-spacing: -.2px;
    opacity: .8;
    color: rgba(0, 0, 0, .8);
}

.brtc-va-workspace-model-list-item-new-content {
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
}

.brtc-va-workspace-model-list-item-new-item {
    cursor: pointer;
}

.brtc-va-workspace-model-list-item-new-item.splitter {
    width: 21%;
    max-width: 100px;
    cursor: default;
}

.brtc-va-workspace-model-list-item-new-item div {
    font-size: 15px;
}

.brtc-va-workspace-model-list-item-new-item-icon {
    width: 90px;
    height: 90px;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    background-repeat: no-repeat;
}

.brtc-va-workspace-model-list-item-new-item-icon.new {
    background-image: url('images/icon/icon-new.png');
}

.brtc-va-workspace-model-list-item-new-item-icon.import {
    background-image: url('images/icon/icon-import.png');
}

.brtc-va-workspace-model-list-item-new:hover .brtc-va-workspace-model-list-item-new-create-icon {
    /*background-position-x: -75px;*/
}

.brtc-va-workspace-model-list-item-new:hover div {
    /*color: #6c79e9;*/
}

.brtc-va-workspace-model-list-item-new:hover .brtc-va-workspace-model-list-item-new-import-icon {
    /*background-position-x: -75px;*/
}

.brtc-va-workspace-model-list-item-new-create i {
    cursor: pointer;
}

.brtc-va-workspace-model-list-item-new-import i {
    cursor: pointer;
}

.brtc-va-workspace-model-list-item-icon {
    float: left;
    width: 36px;
    height: 36px;
    margin-top: 20px;
    margin-left: 20px;
    background-image: url('images/model-icon-36-new.png');
}

.brtc-va-workspace-model-list-item[model-type='data'] .brtc-va-workspace-model-list-item-icon {
    background-position-x: 0;
}

.brtc-va-workspace-model-list-item[model-type='control'] .brtc-va-workspace-model-list-item-icon {
    background-position-x: -108px;
}

.brtc-va-workspace-model-list-item[model-type='script'] .brtc-va-workspace-model-list-item-icon {
    background-position-x: -36px;
}

.brtc-va-workspace-model-list-item[model-type='etl'] .brtc-va-workspace-model-list-item-icon {
    background-position-x: -144px;
}

.brtc-va-workspace-model-list-item[model-type='visual'] .brtc-va-workspace-model-list-item-icon {
    background-position-x: -180px;
}

.brtc-va-workspace-model-list-item[model-type='realtime'] .brtc-va-workspace-model-list-item-icon {
    background-position-x: -72px;
}

.brtc-va-workspace-model-list-item[model-type='deeplearning'] .brtc-va-workspace-model-list-item-icon {
    background-position-x: -216px;
}

.brtc-va-workspace-model-list-item-type {
    font-size: 14px;
    font-weight: normal;
    line-height: 36px;
    float: left;
    overflow: hidden;
    width: calc(100% - 130px);
    height: 36px;
    margin-top: 20px;
    padding-left: 8px;
    cursor: default;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.brtc-va-workspace-model-list-item-version {
    line-height: 36px;
    margin-top: 20px;
    margin-right: 20px;
    width: 100px;
    text-align: right;
    color: grey;
}

.brtc-va-workspace-model-list-item-label {
    font-size: 22px;
    font-weight: normal;
    float: left;
    overflow: hidden;
    width: calc(100% - 42px);
    margin: 11px auto 0 20px;
    cursor: default;
    white-space: nowrap;
    letter-spacing: -.2px;
    text-overflow: ellipsis;
}

.brtc-va-workspace-model-list-item-type.chartadded:after {
    position: relative;
    top: 4px;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 5px;
    content: '';
    background: url(images/icon-new-badge-blue.png) no-repeat;
}

.brtc-va-workspace-model-list-item-selected .brtc-va-workspace-model-list-item-label {
    color: #626fdb;
}

.brtc-va-workspace-model-list-item-edit {
    float: left;
    width: 24px;
    height: 24px;
    margin-top: 28px;
    cursor: pointer;
    background-image: url('images/more-btn-16.png');
    background-repeat: no-repeat;
    background-position-x: 4px;
    background-position-y: 4px;
}

.brtc-va-workspace-model-list-item-edit:hover {
    background-color: #eeeeef;
    background-position-x: -12px;
}

.brtc-va-workspace-model-list-item-updatetime,
.brtc-va-workspace-model-list-item-createtime {
    font-size: 12px;
    display: flex;
    float: left;
    width: calc(100% - 40px);
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    letter-spacing: -.1px;
}

.brtc-va-workspace-model-list-item-createtime {
    margin-top: 5px;
}

.brtc-va-workspace-model-list-item-updatetime > div:nth-child(1),
.brtc-va-workspace-model-list-item-createtime > div:nth-child(1) {
    min-width: 63px;
    margin-right: 6px;
}

.brtc-va-workspace-model-list-item-updatetime > div:nth-child(2),
.brtc-va-workspace-model-list-item-createtime > div:nth-child(2) {
    min-width: 114px;
    margin-right: 19px;
}

.brtc-va-workspace-model-list-item-updatetime > div:nth-child(3),
.brtc-va-workspace-model-list-item-createtime > div:nth-child(3) {
    min-width: 13px;
    margin-right: 10px;
}

.brtc-va-workspace-model-list-item-updatetime > div:nth-child(4),
.brtc-va-workspace-model-list-item-createtime > div:nth-child(4) {
    overflow: hidden;
    text-overflow: ellipsis;
}

.brtc-va-workspace-model-list-item-updatetime > div:nth-child(odd),
.brtc-va-workspace-model-list-item-createtime > div:nth-child(odd) {
    color: #a4a4a4;
}

.brtc-va-workspace-model-list-item-open {
    font-size: 16px;
    line-height: 50px;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 70px);
    display: none;
    box-sizing: border-box;
    width: 140px;
    height: 50px;
    padding: 0 20px;
    cursor: pointer;
    text-align: center;
    color: white;
    background: #626fdb;
}

.brtc-va-workspace-model-list-item-open:hover {
    background-color: #5b63d2 !important;
}

.brtc-va-workspace-model-list-cell-hover .brtc-va-workspace-model-list-item-open {
    display: block;
}

.brtc-va-workspace-model-list-item-description {
    position: relative;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    width: calc(100% - 40px);
    max-height: 128px;
    margin-top: 26px;
    margin-right: 20px;
    margin-bottom: 22px;
    margin-left: 20px;
    word-wrap: break-word;
    flex-grow: 1;
}

.brtc-va-workspace-project-container-received-model {
    display: none;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

li.jqx-item[action='sendTo'] {
    display: none;
}

.brtc-va-workspace-project-container-received-model.exist > i {
    -webkit-animation-name: exist-received-model; /* Chrome, Safari, Opera */
            animation-name: exist-received-model;
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
            animation-duration: 1s;
    animation-iteration-count: 5;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes exist-received-model {
    from {
        color: black;
    }
    to {
        color: white;
    }
}

/* Standard syntax */
@keyframes exist-received-model {
    from {
        color: white;
    }
    to {
        color: black;
    }
}

.brtc-va-workspace-project-container-ctxmenu li[action='sendTo'] {
    display: none !important;
}

.brtc-va-workspace-model-list-toolbar {
    display: flex;
    padding-bottom: 15px;
    align-items: flex-end;
    justify-content: flex-end;
    flex-grow: 1;
}

.brtc-style-workspace-toolitem {
    position: relative;
    float: right;
    width: 26px;
    height: 26px;
    /*margin-right: 8px;*/
    margin-left: 8px;
}

.brtc-style-s-workspace-toolitem {
    cursor: pointer;
    text-align: center;
    background-image: url(images/editor-toolbar-26.png);
    background-repeat: no-repeat;
}

.brtc-style-s-workspace-toolitem:hover,
.brtc-style-s-workspace-toolitem.selected {
    background-color: #eeeeef;
}

.brtc-style-s-workspace-toolitem.selected:hover {
    background-color: none;
}

.brtc-style-s-workspace-toolitem[item-type=toggle-bulk-edit] {
    background-image: url(images/icon/icon-check-file-20.png);
    background-position-x: 2px;
    background-position-y: 2px;
}

.brtc-style-s-workspace-toolitem[item-type=bulk-edit] {
    width: 24px;
    height: 24px;
    background-image: url(images/more-btn-16.png);
    background-repeat: no-repeat;
    background-position-x: 4px;
    background-position-y: 4px;
}

.brtc-style-s-workspace-toolitem[item-type=bulk-edit]:hover {
    background-position-x: -12px;
}

.brtc-va-workspace-model-list-item-select {
    margin-top: 28px;
    margin-right: 10px;
}
