/********************/
/* Chart Tab Start */
/********************/
.bcharts-ds-charts-container {
    margin-bottom: 8px;
    padding: 0;
}

.bcharts-ds-charts {
    position: relative;
    box-sizing: border-box;
    width: calc(100% - 9px);
    max-height: 400px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.bcharts-ds-chart-wrapper {
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: calc(100% - 12px);
    height: 100%;
    margin-bottom: 5px;
    justify-content: center;
}

.bcharts-ds-chart-events-helper {
    z-index: 1;
    width: 160px;
    height: 70px;
    cursor: pointer;
    border: 1px solid #d9d9d9;
    background-color: #fff;
}

.bcharts-ds-chart-area {
    z-index: 100;

    /*display: flex;*/

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    pointer-events: none;
    justify-content: center;
}

.bcharts-ds-chart-area-label {
    display: flex;
}

.bcharts-ds-chart-button-area {
    position: absolute;
    top: 1px;
    right: 14px;
    box-sizing: border-box;
}

.bcharts-ds-chart-button-remove {
    display: none;
    width: 7px;
    height: 7px;
    cursor: pointer;
    background-image: url('images/icon/icon-red-x.png');
    background-repeat: no-repeat;
}

.bcharts-ds-chart-wrapper:hover .bcharts-ds-chart-events-helper {
    border: 1px solid #8190ff;
}

.bcharts-ds-chart-wrapper:hover .bcharts-ds-chart-button-remove {
    display: flex;
}

.bcharts-ds .bcharts-ds-contents-tab-chart {
    margin-right: 3px;
}

.bcharts-ds .bcharts-ds-contents-charts-count {
    overflow: hidden;
    max-width: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bcharts-ds-chart-icon {
    display: inline-block;
    /*width: 64px;*/
    /*height: 64px;*/
    /*margin-top: 9px;*/

    width: 30px;
    height: 30px;
    margin-top: 4px;
    margin-left: 5px;
    /*background: url('images/icon/icon_chart.png') no-repeat;*/

    background: url('images/bcharts.png') no-repeat;
}

.bcharts-ds-chart-type-label {
    /*position: absolute;*/
    /*top: 76px;*/
    width: 125px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 12px 0 0 5px;
}

.bcharts-ds-chart-tag-label {
    /*position: absolute;*/
    /*top: 76px;*/
    width: 140px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 12px 0 0 10px;
}


.bcharts-ds-chart-icon[type=column] {
    background-position: -120px -30px;
}

.bcharts-ds-chart-icon[type=bar] {
    background-position: -210px -30px;
}

.bcharts-ds-chart-icon[type=line] {
    background-position: -90px -30px;
}

.bcharts-ds-chart-icon[type=boxplot] {
    background-position: -390px -30px;
}

.bcharts-ds-chart-icon[type=scatter] {
    background-position: -60px -30px;
}

.bcharts-ds-chart-icon[type=pie] {
    background-position: -450px -30px;
}

.bcharts-ds-chart-icon[type=table] {
    background-position: -570px -30px;
}

.bcharts-ds-chart-icon[type=treemap] {
    background-position: -510px -30px;
}

.bcharts-ds-chart-icon[type=network] {
    background-position: -480px -30px;
}

.bcharts-ds-chart-icon[type=decisionTree],
.bcharts-ds-chart-icon[type=decisionTreeForBrightics] {
    background-position: -540px -30px;
}

.bcharts-ds-chart-icon[type=dendrogram] {
    background-position: -630px -30px;
}

.bcharts-ds-chart-icon[type=heatmap] {
    background-position: -420px -30px;
}

.bcharts-ds-chart-icon[type=tmp-mcc] {
    background-position: -600px -30px;
}

.bcharts-ds-chart-icon[type=roccurve] {
    background-position: -660px -30px;
}

.bcharts-ds-chart-icon[type=tmp-scatter-map] {
    background-position: -720px -30px;
}

.bcharts-ds-chart-icon[type=biplot] {
    background-position: -750px -30px;
}

.bcharts-ds-chart-icon[type=tmp-tornado] {
    background-position: -780px -30px;
}

.bcharts-ds-chart-icon[type=bar-stacked] {
    background-position: -240px -30px;
}

.bcharts-ds-chart-icon[type=bar-stacked-100] {
    background-position: -270px -30px;
}

.bcharts-ds-chart-icon[type=column-stacked] {
    background-position: -150px -30px;
}

.bcharts-ds-chart-icon[type=column-stacked-100] {
    background-position: -180px -30px;
}

.bcharts-ds-chart-icon[type=area] {
    background-position: -300px -30px;
}

.bcharts-ds-chart-icon[type=area-stacked] {
    background-position: -330px -30px;
}

.bcharts-ds-chart-icon[type=area-stacked-100] {
    background-position: -360px -30px;
}

.bcharts-ds-chart-icon[type=radar] {
    background-position: -810px -30px;
}

.bcharts-ds-chart-icon[type=tmp-wordcloud] {
    background-position: -840px -30px;
}

.bcharts-ds-chart-icon[type=complex] {
    background-position: -870px -30px;
}

.bcharts-ds-chart-icon[type=histogram] {
    background-position: -900px -30px;
}

.bcharts-ds-chart-icon[type=bubble] {
    background-position: -930px -30px;
}

.bcharts-ds-chart-icon[type=heatmap-matrix] {
    background-position: -960px -30px;
}

.bcharts-ds-chart-icon[type=qqplot] {
    background-position: -990px -30px;
}

.bcharts-ds-chart-icon[type=pairwise-scatter] {
    background-position: -1016px -30px;
}

.bcharts-ds-chart-icon[type=card] {
    background-position: -1052px -30px;
}

.bcharts-ds-chart-icon[type=map] {
    background-position: -720px -30px;
}

.bcharts-ds-chart-icon[type=donut] {
    background-position: -1080px -30px;
}

.bcharts-ds-chart-icon[type=image-grid] {
    background-position: -1110px -30px;
}


/*.bcharts-ds-chart-icon[type=table]*/
/*{*/
/*background-position: -444px 0;*/
/*}*/

/*.bcharts-ds-chart-icon[type=scatter]*/
/*{*/
/*background-position: -296px 0;*/
/*}*/

/*.bcharts-ds-chart-icon[type=line]*/
/*{*/
/*background-position: -148px 0;*/
/*}*/

/*.bcharts-ds-chart-icon[type=column]*/
/*{*/
/*background-position: 0 0;*/
/*}*/

/*.bcharts-ds-chart-icon[type=bar]*/
/*{*/
/*background-position: -74px 0;*/
/*}*/

/*.bcharts-ds-chart-icon[type=boxplot]*/
/*{*/
/*background-position: -222px 0;*/
/*}*/

/*.bcharts-ds-chart-icon[type=heatmap]*/
/*{*/
/*background-position: -814px 0;*/
/*}*/

/*.bcharts-ds-chart-icon[type=pie]*/
/*{*/
/*background-position: -370px 0;*/
/*}*/

/*.bcharts-ds-chart-icon[type=network]*/
/*{*/
/*background-position: -592px 0;*/
/*}*/

/*.bcharts-ds-chart-icon[type=treemap]*/
/*{*/
/*background-position: -518px 0;*/
/*}*/

/*.bcharts-ds-chart-icon[type=treediagram]*/
/*{*/
/*background-position: -666px 0;*/
/*}*/

/*.bcharts-ds-chart-icon[type=mcc]*/
/*{*/
/*background-position: -888px 0;*/
/*}*/

/*.bcharts-ds-chart-icon[type=dendrogram]*/
/*{*/
/*background-position: -740px 0;*/
/*}*/

/*.bcharts-ds-chart-icon[type=roc]*/
/*{*/
/*background-position: -962px 0;*/
/*}*/

.bcharts-ds-chart-wrapper:hover > .bcharts-ds-chart-icon {
    background-position-y: -74px !important;
}

/********************/
/* Column Tab Start */
/********************/
.bcharts-ds-columns-util-tools-area {
    padding: 0 !important;
}

.bcharts-ds-update-time {
    font-size: 12px;
    display: inline-block;
    box-sizing: border-box;
    padding: 8px 0 8px 7px;
    color: rgba(0, 0, 0, .6);
}

.bcharts-ds-columns-searcharea {
    margin: 15px 0 10px 0 !important;
}

.bcharts-ds-refresh-area {
    display: flex;
}

.bcharts-ds-refresh-button-area {
    display: inline-block;
    margin-right: 7px;
    margin-left: 10px;
    cursor: pointer;
    color: rgba(0, 0, 0, .8);
}

.bcharts-ds-refresh-button {
    width: 13px;
    height: 13px;
    background: url('images/icon/icon-update.png') no-repeat;
}

.bcharts-ds-update-time-area {
    display: flex;
}

.bcharts-ds-update-time-label {
    font-family: Arial;
    font-size: 12px;
    box-sizing: border-box;
    width: 87px;
    margin-right: 2px;
    opacity: .6;
    color: rgba(0, 0, 0, .6);
}

.bcharts-ds-update-time-data {
    font-family: Arial;
    font-size: 12px;
    width: 99px;
    opacity: .8;
    color: rgba(0, 0, 0, .8);
}
