.brtc-va-user-management {
    font-family: Arial, Dotum, Tahoma, sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-user-select: none; /* Chrome/Safari/Opera */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE/Edge */
            user-select: none; /* non-prefixed version, currently not supported by any browser */
    -webkit-touch-callout: none; /* iOS Safari */
}

.brtc-va-user-management-top-area {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #464b55;
}

.brtc-va-user-management-logo {
    font-family: Arial, helvetica, sans-serif;
    font-size: 17px;
    line-height: 50px;
    float: left;
    margin-left: 30px;
    padding-right: 40px;
    cursor: pointer;
    text-align: center;
    color: #fff;
}

.brtc-va-user-management-sub-logo {
    font-family: Arial, helvetica, sans-serif;
    font-size: 17px;
    line-height: 50px;
    float: left;
    margin-left: -10px;
    text-align: left;
    /*padding-right: 40px;*/

    color: #fff;
}

.brtc-va-user-management-body-area {
    position: absolute;
    top: 50px;
    width: 100%;
    height: calc(100% - 55px);
}

.brtc-va-user-management-search-area {
    width: calc(100% - 10px);
    height: 50px;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #eee;
}

.brtc-va-user-management-search-left-area {
    line-height: 50px;
    float: left;
    margin-left: 15px;
}

.brtc-va-user-management-search-right-area {
    line-height: 50px;
    float: right;
    margin-right: 15px;
}

.brtc-va-user-management-user-label {
    font-family: Arial, Dotum, Tahoma, sans-serif;
    font-size: 14px;
    float: left;
}

.brtc-va-user-management-filter-input {
    width: 300px;
    margin-left: 10px;
}

.brtc-va-user-management-data-area {
    width: calc(100% - 10px);
    height: calc(100% - 70px);
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.brtc-va-user-management-data-summary-area {
    font-family: Arial, Dotum, Tahoma, sans-serif;
    font-size: 14px;
    width: 100%;
    height: 30px;
    margin-top: 20px;
    border-bottom: 1px solid;
}

.brtc-va-user-management-data-summary {
    line-height: 30px;
    margin-left: 15px;
}

.brtc-va-user-management-total-label {
    float: left;
}

.brtc-va-user-management-total-count {
    margin-left: 100px;
}

.brtc-va-user-management-data-button-area {
    width: 100%;
    height: 40px;
    border-bottom: 2px solid;
    background-color: #fff;
}

.brtc-va-user-management-data-button {
    line-height: 40px;
    float: left;
    margin-left: 50px;
}

.brtc-va-user-management-data-selection-control {
    font-family: Arial, Dotum, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 40px;
    float: left;
}

.brtc-va-user-management-data-selection-count {
    float: left;
}

.brtc-va-user-management-data-selection-cancel {
    float: left;
    margin-right: 10px;
    margin-left: 5px;
    cursor: pointer;
}

.brtc-va-user-management-form {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.brtc-va-user-management-body-table {
    font-family: Arial, Dotum, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 35px;
    display: table;
}

.brtc-va-user-management-body-title {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
    border-bottom: 1px solid;
}

.brtc-va-user-management-body-row {
    display: table-row;
}

.brtc-va-user-management-body-cell {
    display: table-cell;
    width: 200px;
    padding-right: 5px;
    text-align: left;
}

.brtc-va-user-management-body-cell-name {
    width: 150px;
    padding-left: 5px;
    text-align: left;
}

.brtc-va-user-management-body-cell.duplication {
    width: 100px;
}

.brtc-va-user-management-body-button-area {
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    text-align: right;
    border-top: 1px solid;
}

.brtc-va-user-management-input {
    width: 100%;
}

.brtc-va-user-management-right-area {
    float: right;
    height: 50px;
    color: #c9cbcd;
}

.brtc-va-user-management-myprofile {
    float: left;
    width: 50px;
    height: 50px;
    background-image: url('images/bg-profile-50.png');
    background-repeat: no-repeat;
}

.brtc-va-user-management-logout {
    font-size: 13px;
    line-height: 50px;
    float: left;
    width: 60px;
    height: 50px;
    cursor: pointer;
}

.brtc-va-user-management-data-grid-area {
    height: calc(100% - 80px);
}

.brtc-va-user-management-clear-button:hover {
    border: 1px solid #ccc;
    background-color: #eeeeef;
}

.brtc-va-user-management-search-button:hover {
    border: 1px solid #ccc;
    background-color: #eeeeef;
}

.brtc-va-user-management-add-button:hover {
    border: 1px solid #ccc;
    background-color: #eeeeef;
}

.brtc-va-user-management-button.duplication:hover {
    border: 1px solid #ccc;
    background-color: #eeeeef;
}

.brtc-va-user-management-delete-button:hover {
    border: 1px solid #ccc;
    background-color: #eeeeef;
}

.brtc-va-user-management-modify-button:hover {
    border: 1px solid #ccc;
    background-color: #eeeeef;
}
