.brtc-va-editors-sheet-sheeteditorpage.realtime .brtc-va-editors-sheet-worksheet-selector,
.brtc-va-editors-sheet-sheeteditorpage.realtime .bcharts-ws-panel-toolitem[action='report'],
.brtc-va-editors-sheet-sheeteditorpage.realtime .bcharts-ws-panel-toolbar,
.brtc-va-editors-sheet-sheeteditorpage.realtime .brtc-va-editors-sheet-panels-basepanel-bottom-area .bcharts-pagination,
.brtc-va-editors-sheet-sheeteditorpage.realtime .brtc-va-editors-sheet-panels-datapanel-toolbar,
.brtc-va-editors-sheet-sheeteditorpage.realtime .bos-widget-right-button-area.border {
    display: none !important;
}

.brtc-va-editors-sheet-sheeteditorpage.realtime .brtc-va-editors-sheet-panels-datapanel-content {
    height: calc(100% - 66px);
}

.brtc-va-editors-sheet-sheeteditorpage.realtime .brtc-va-editors-sheet-panels-basepanel-header-container {
    width: calc(100% - 10px) !important;
}

.brtc-va-editors-sheet-sheeteditorpage.realtime .bcharts-ws-panel-chart-selector {
    cursor: none;
    pointer-events: none;
    background-image: none;
}

.brtc-va-editors-sheet-sheeteditorpage.realtime .bcharts-ws-panel-title {
    pointer-events: none;
}

.brtc-va-editors-sheet-sheeteditorpage.realtime .bcharts-ws-panel-chart-selector:hover {
    cursor: none;
    pointer-events: none;
    background-color: inherit;
}
