.brtc-va-sort-property.brtc-va-editors-sheet-controls-propertycontrol-contents.jqx-expander-content-empty.jqx-expander-content-empty-office {
    overflow: hidden;
    width: auto !important;
    padding-right: 0;
}

.brtc-va-sort-property .brtc-va-editors-sheet-controls-propertycontrol-new-row-button-area .brtc-va-editors-sheet-controls-columnlist-columncontainer-wrapper {
    border: 1px dashed #ccc;
    background-color: transparent !important;
}

.brtc-va-sort-property .brtc-va-editors-sheet-controls-propertycontrol-new-row-button-area .brtc-va-editors-sheet-controls-columnlist-columncontainer-wrapper .brtc-va-editors-sheet-controls-columnselector-columncontainer-element-empty:hover {
    color: #626fdb;
}

.brtc-va-sort-property .brtc-va-editors-sheet-controls-wrapper {
    margin-right: 0 !important;
}

.brtc-va-sort-property .brtc-va-selectbutton-container .brtc-va-editors-sheet-controls-propertycontrol-columnlist-selectbutton {
    font-family: Arial, Dotum, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 25px;
    display: inline-block;
    zoom: 1 !important;
    box-sizing: border-box !important;
    float: right;
    width: 110px;
    padding: 0 10px;
    cursor: pointer;
    text-align: center;
    text-transform: none;
    color: rgba(0, 0, 0, .7);
    border: 1px solid #ccc;
    border-radius: 0;
    outline: none;
    background: white;
    margin-right: 20px;
    margin-bottom: 8px;
}

.brtc-va-sort-property .brtc-va-editors-sheet-controls-propertycontrol-row-container .brtc-va-editors-sheet-controls-wrapper {
    margin-left: 0 !important;
}

.brtc-va-sort-property .brtc-va-editors-sheet-controls-propertycontrol-row {
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
    cursor: pointer;
}

.brtc-va-sort-property .brtc-va-editors-sheet-controls-propertycontrol-row .brtc-va-editors-sheet-controls-propertycontrol-sort-mode-button {
    font-family: Arial, Dotum, Tahoma, sans-serif;
    font-size: 12px;
    display: flex;
    box-sizing: border-box;
    width: 27px;
    height: 27px;
    margin: 0 0 0 3px;
    padding: 0;
    cursor: pointer;
    color: rgba(0, 0, 0, .8);
    border: solid 1px #bdc0d6;
    background: #fdfdfd;
    justify-content: center;
    align-items: center;
}

.brtc-va-sort-property .brtc-va-editors-sheet-controls-propertycontrol-row .brtc-va-editors-sheet-controls-propertycontrol-sort-mode-button:hover {
    border-color: #ccc;
    background: #eeeeef;
}

.brtc-va-sort-property .brtc-va-editors-sheet-controls-propertycontrol-new-row-button {
    margin-bottom: 0;
}

.brtc-va-sort-property .brtc-va-editors-sheet-controls-propertycontrol-new-row-button .brtc-va-editors-sheet-controls-new-row-toggle-button {
    font-family: Arial, Dotum, Tahoma, sans-serif;
    font-size: 12px;
    display: flex;
    box-sizing: border-box;
    width: 27px;
    height: 27px;
    margin: 0 0 0 3px;
    padding: 0;
    cursor: pointer;
    color: rgba(0, 0, 0, .8);
    border: solid 1px #bdc0d6;
    justify-content: center;
    align-items: center;
}

.brtc-va-sort-property .brtc-va-editors-sheet-controls-propertycontrol-row .brtc-va-editors-sheet-controls-columnlist-columncontainer-wrapper {
    cursor: pointer !important;
}

.brtc-va-sort-property .brtc-va-editors-sheet-controls-propertycontrol-row .brtc-va-editors-sheet-controls-columnselector-columncontainer-element {
    cursor: pointer !important;
}

.brtc-va-sort-property .brtc-va-editors-sheet-controls-propertycontrol-hover-drag-element-wrapper {
    display: flex;
    box-sizing: border-box;
    width: 17px;
    height: 27px;
    justify-content: center;
    align-items: center;
}

.brtc-va-sort-property .brtc-va-editors-sheet-controls-propertycontrol-hover-drag-element {
    display: none;
    box-sizing: border-box;
    width: 11px;
    height: 11px;
    cursor: pointer;
    vertical-align: middle;
    background: url('images/icon/icon_property.png') no-repeat;
    background-position: -74px 0;
}

.brtc-va-sort-property .brtc-va-editors-sheet-controls-propertycontrol-row:hover .brtc-va-editors-sheet-controls-propertycontrol-hover-drag-element {
    display: block;
}

.brtc-va-sort-property .brtc-va-editors-sheet-controls-propertycontrol-hover-drag-element:hover {
    background: url('images/icon/icon_property.png') no-repeat;
    background-position: -74px -42px;
}

.brtc-va-sort-property .brtc-va-editors-sheet-controls-propertycontrol-number {
    overflow: hidden;
    box-sizing: border-box;
    max-width: 27px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.brtc-va-sort-property .brtc-va-editors-sheet-controls-propertycontrol-row:hover .brtc-va-editors-sheet-controls-propertycontrol-number {
    display: none;
}

.brtc-va-sort-property .brtc-va-editors-sheet-controls-propertycontrol-button {
    padding-top: 5px;
}

.brtc-va-sort-property .brtc-va-editors-sheet-controls-propertycontrol-new-row-button-area .brtc-va-editors-sheet-controls-propertycontrol-button {
    border-color: #ccc;
    background-color: transparent !important;
}

.brtc-va-sort-property .brtc-va-editors-sheet-controls-sort-rule-remove-button {
    display: none;
    width: 17px;
    height: 17px;
    margin-top: 5px;
    margin-left: 3px;
    cursor: pointer;
    background: url('images/icon/icon_property.png') no-repeat;
    background-position: -37px 0;
}

.brtc-va-sort-property .brtc-va-editors-sheet-controls-propertycontrol-row:hover .brtc-va-editors-sheet-controls-sort-rule-remove-button {
    display: block;
}

.brtc-va-sort-property .ui-sortable-helper .brtc-va-editors-sheet-controls-sort-rule-remove-button {
    display: none;
}

.brtc-va-sort-property .brtc-va-editors-sheet-controls-sort-rule-remove-button:hover {
    background: url('images/icon/icon_property.png') no-repeat;
    background-position: -37px -27px;
}

.brtc-va-split-data-property .brtc-va-editors-sheet-controls-propertycontrol-ratio-input-container {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 15px;
    margin-left: 0;
}

.brtc-va-split-data-property .brtc-va-editors-sheet-controls-propertycontrol-ratio-input {
    width: 100%;
    margin-bottom: 5px;
}

.brtc-va-split-data-property .brtc-va-editors-sheet-controls-propertycontrol-ratio-label-row {
    font-size: 18px;
    width: 100%;
    text-align: center;
}

.brtc-va-split-data-property .brtc-va-editors-sheet-controls-propertycontrol-ratio-label {
    line-height: 25px;
    display: inline-block;
    width: 20%;
    height: 25px;
    text-align: center;
    vertical-align: middle;
}

.brtc-va-split-data-property .brtc-va-editors-sheet-controls-propertycontrol-ratio-label-colon {
    line-height: 25px;
    display: inline-block;
    height: 25px;
    text-align: center;
    vertical-align: middle;
}

.brtc-va-conditional-update-property.brtc-va-editors-sheet-controls-propertycontrol-contents.jqx-expander-content-empty.jqx-expander-content-empty-office,
.brtc-va-conditional-derivation-property.brtc-va-editors-sheet-controls-propertycontrol-contents.jqx-expander-content-empty.jqx-expander-content-empty-office {
    width: auto !important;
}

.brtc-va-conditional-update-property.add-else-if-button,
.brtc-va-conditional-derivation-property.add-else-if-button {
    margin-bottom: 10px;
    border: 1px dashed #ccc;
}

.brtc-va-conditional-update-property.remove-else-if-button,
.brtc-va-conditional-derivation-property.remove-else-if-button
.brtc-va-if-property.remove-else-if-button {
    position: absolute;
    top: 0 !important;
    right: 0;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: 4px 4px;
}

.brtc-va-conditional-update-property .add-condition-button,
.brtc-va-conditional-derivation-property .add-condition-button {
    width: 100%;
    margin-bottom: 5px;
    padding: 0;
    border: 1px dashed #9c9c9c;
    background-color: #f2f2f2;
}

.brtc-va-conditional-update-property .remove-condition-button,
.brtc-va-conditional-derivation-property .remove-condition-button {
    position: absolute;
    z-index: 10;
    left: calc(100% - 40px);
    width: 17px;
    height: 17px;
    margin-top: 5px;
    color: #9c9c9c;
    background: url('images/icon/icon_property.png') no-repeat;
    background-position: -37px 0;
}

.brtc-va-conditional-update-property .remove-condition-button:hover,
.brtc-va-conditional-derivation-property .remove-condition-button:hover {
    background: url('images/icon/icon_property.png') no-repeat;
    background-position: -37px -27px;
}

.brtc-va-numerical-variable-derivation-property.remove-button {
    position: absolute;
    top: 0 !important;
    right: 0;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: 4px 4px;
}

.brtc-va-numerical-variable-derivation-property.formula-label {
    width: calc(100% - 5px);
    margin: 5px 0 2px 5px;
}

.brtc-va-numerical-variable-derivation-property.formula-label .point-icon {
    display: inline-block;
    width: 3px;
    height: 3px;
    margin-right: 5px;
    vertical-align: middle;
    background: url('images/icon/icon_property_point.png') no-repeat;
}

.brtc-va-editors-property-row-container.brtc-va-editors-property-row-content,
.brtc-va-evaluate-ranking-algorithm-property.brtc-va-editors-sheet-controls-propertycontrol-k-values-row,
.brtc-va-multiclass-classification-evaluation-property.brtc-va-editors-sheet-controls-propertycontrol-by-labels-row,
.brtc-va-statistics-summary-property.brtc-va-editors-sheet-controls-propertycontrol-percentile-amounts-row,
.brtc-va-statistics-summary-property.brtc-va-editors-sheet-controls-propertycontrol-trimmed-mean-amounts-row,
.brtc-va-statistics-derivation-property.brtc-va-editors-sheet-controls-propertycontrol-percentile-amounts-row,
.brtc-va-statistics-derivation-property.brtc-va-editors-sheet-controls-propertycontrol-trimmed-mean-amounts-row {
    clear: both;
    width: 100%;
    height: auto;
    min-height: 25px;
    margin-bottom: 10px;
}

.brtc-va-editors-property-row-content-add-button,
.brtc-va-evaluate-ranking-algorithm-property.brtc-va-editors-sheet-controls-propertycontrol-add-button,
.brtc-va-multiclass-classification-evaluation-property.brtc-va-editors-sheet-controls-propertycontrol-add-button,
.brtc-va-statistics-summary-property.brtc-va-editors-sheet-controls-propertycontrol-add-button,
.brtc-va-statistics-derivation-property.brtc-va-editors-sheet-controls-propertycontrol-add-button {
    float: left;
    width: 14px;
    height: 14px;
    margin-top: 7px;
    margin-left: 5px;
    cursor: pointer;
    background: url('images/icon/icon_gnb.png') center no-repeat;
    background-position: -40px 0;
}

.brtc-va-editors-property-row-content-remove-button,
.brtc-va-evaluate-ranking-algorithm-property.brtc-va-editors-sheet-controls-propertycontrol-remove-button,
.brtc-va-multiclass-classification-evaluation-property.brtc-va-editors-sheet-controls-propertycontrol-remove-button,
.brtc-va-statistics-summary-property.brtc-va-editors-sheet-controls-propertycontrol-remove-button,
.brtc-va-statistics-derivation-property.brtc-va-editors-sheet-controls-propertycontrol-remove-button {
    float: left;
    width: 17px;
    height: 17px;
    margin-top: 5px;
    margin-left: 2px;
    cursor: pointer;
    background: url('images/icon/icon_property.png') no-repeat;
    background-position: -37px 0;
}

.brtc-va-editors-property-row-content-remove-button:hover,
.brtc-va-evaluate-ranking-algorithm-property.brtc-va-editors-sheet-controls-propertycontrol-remove-button:hover,
.brtc-va-multiclass-classification-evaluation-property.brtc-va-editors-sheet-controls-propertycontrol-remove-button:hover,
.brtc-va-statistics-summary-property.brtc-va-editors-sheet-controls-propertycontrol-remove-button:hover,
.brtc-va-statistics-derivation-property.brtc-va-editors-sheet-controls-propertycontrol-remove-button:hover {
    background: url('images/icon/icon_property.png') no-repeat;
    background-position: -37px -27px;
}

.brtc-va-editors-sheet-controls-propertycontrol-input-wrapper .add-value-button {
    width: calc(100% - 3px);
    margin-bottom: 5px;
    padding: 0;
    border: 1px dashed #9c9c9c;
    background-color: #f2f2f2;
}

.brtc-va-editors-sheet-controls-propertycontrol-input-wrapper .remove-value-button {
    position: absolute;
    z-index: 10;
    left: calc(100% - 40px);
    width: 17px;
    height: 17px;
    margin-top: 5px;
    color: #9c9c9c;
    background: url('images/icon/icon_property.png') no-repeat;
    background-position: -37px 0;
}

.brtc-va-editors-sheet-controls-propertycontrol-input-wrapper .remove-value-button:hover {
    background: url('images/icon/icon_property.png') no-repeat;
    background-position: -37px -27px;
}

.brtc-va-editors-sheet-controls-propertycontrol-intercept,
.brtc-va-editors-sheet-controls-propertycontrol-mode {
    clear: both;
    vertical-align: middle;
}

.brtc-va-editors-sheet-controls-propertycontrol-intercept .brtc-va-editors-sheet-controls-propertycontrol-intercept-label,
.brtc-va-editors-sheet-controls-propertycontrol-mode .brtc-va-editors-sheet-controls-propertycontrol-mode-label {
    font-size: 13px;
    display: inline-block;
    float: left;
    width: 30%;
    margin-top: 5px;
    margin-right: 7px;
    margin-left: 5px;
}

.brtc-va-editors-sheet-controls-propertycontrol-intercept .brtc-va-editors-sheet-controls-radiobutton-default,
.brtc-va-editors-sheet-controls-propertycontrol-mode .brtc-va-editors-sheet-controls-radiobutton-default {
    display: inline-block;
    /*float: right;*/

    width: 30%;
    margin-left: 3px;
}

.brtc-style-column-name-inputbox-timeseries-transpose {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.brtc-style-column-name-inputbox-timeseries-transpose-row {
    display: flex;
    width: 100%;

    /*align-items: center;*/
}

.brtc-style-column-name-inputbox-timeseries-transpose .brtc-va-editors-sheet-panels-validation-tooltip-wrapper {
    width: 100%;
}

/* Input Data Frame CSS START */
.brtc-va-editors-sheet-columns-view {
    font-family: Arial, Dotum, Tahoma, sans-serif;
    font-size: 12px;
    font-style: normal;
    line-height: 1.231;
    overflow: hidden;
    zoom: 1 !important;
    box-sizing: border-box;
    width: 250px;
    height: 470px;
    margin-top: 4px;
    color: rgba(0, 0, 0, .8);
    background: #fff;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
    direction: ltr !important;
}

.brtc-va-editors-sheet-controls-propertycontrol-columns-table {
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 20px);
    border-width: 1px;
    border-style: solid;
    border-color: #d4d4d4;
    border-radius: 0;
}

.brtc-va-editors-sheet-columns-view.brtc-va-editor-sheet-panels-validation-error .brtc-va-editors-sheet-controls-propertycontrol-columns-table {
    border-color: #ea3539 !important;
}

.brtc-va-editors-sheet-controls-propertycontrol-columns-table-header-area,
.brtc-va-editors-sheet-controls-propertycontrol-columns-table-header {
    box-sizing: border-box;
    width: 100%;
    height: 25px;
}

.brtc-va-editors-sheet-controls-propertycontrol-columns-table-row-area-wrapper {
    position: relative;
    height: calc(100% - 25px);
}

.brtc-va-editors-sheet-controls-propertycontrol-columns-table-row-area {
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.brtc-va-editors-sheet-controls-propertycontrol-columns-table-header,
.brtc-va-editors-sheet-controls-propertycontrol-columns-table-row {
    font-family: 'Arial', Dotum, Tahoma, sans-serif;
    display: flex;
    border-width: 0 1px 0 0;
    border-color: #d4d4d4;
}

.brtc-va-editors-sheet-controls-propertycontrol-columns-table-header-column,
.brtc-va-editors-sheet-controls-propertycontrol-columns-table-column {
    font-family: 'Arial', Dotum, Tahoma, sans-serif;
    line-height: 25px;
    box-sizing: border-box;
    width: 50%;
    height: 25px;
    margin: 0;
    text-align: left;
    color: #444;
    border-width: 0;
    border-style: solid;
    border-color: #d4d4d4;
    border-bottom-width: 1px;
    background: #fff;
}

.brtc-va-editors-sheet-controls-propertycontrol-columns-table-header-column {
    padding: 0 0 0 4px;
}

.brtc-va-editors-sheet-controls-propertycontrol-columns-table-header-column:first-child,
.brtc-va-editors-sheet-controls-propertycontrol-columns-table-column:first-child {
    border-right-width: 1px;
}

.brtc-va-editors-sheet-controls-propertycontrol-columns-table-header-column {
    font-weight: bold;
}

.brtc-va-editors-sheet-controls-propertycontrol-columns-table-column .brtc-va-editors-sheet-controls-wrapper {
    box-sizing: border-box;
    height: 25px;
    margin: 0;
    border: none;
}

.brtc-va-editors-sheet-controls-propertycontrol-columns-table-column input[type=text].jqx-input-office {
    height: 24px !important;
    padding-left: 6px;
    border: none;
}

.brtc-va-editors-sheet-controls-propertycontrol-columns-table-column .jqx-dropdownlist-state-normal-office {
    height: 24px !important;
    border: none;
}

.brtc-va-import-data-configuration-area .brtc-category-label,
.brtc-va-export-data-configuration-area .brtc-category-label {
    margin-top: 5px;
    margin-left: 2px;
    padding: 3px 0;
    text-align: center;
    text-transform: capitalize;
    background-color: #f3f3f3;
}

.control-row.brtc-va-propertiespanel-import-data + .brtc-category-label,
.control-row.brtc-va-propertiespanel-export-data + .brtc-category-label {
    margin-top: 15px;
}

.control-row.brtc-va-propertiespanel-import-data + .control-row.brtc-va-propertiespanel-import-data,
.control-row.brtc-va-propertiespanel-export-data + .control-row.brtc-va-propertiespanel-export-data {
    margin-top: 8px;
}

.brtc-va-import-data-configuration-area .column-1,
.brtc-va-export-data-configuration-area .column-1 {
    margin: 4px 2px 5px;
}

.brtc-va-import-data-configuration-area .mandatory:after,
.brtc-va-export-data-configuration-area .mandatory:after {
    font-size: 13px;
    content: '*';
    color: #ee7379;
}

.brtc-va-import-data-configuration-area .point-icon,
.brtc-va-export-data-configuration-area .point-icon {
    display: inline-block;
    width: 3px;
    height: 3px;
    margin-right: 5px;
    vertical-align: middle;
    background: url(images/icon/icon_property_point.png) no-repeat;
}

.brtc-va-import-data-configuration-area .brtc-va-editor-sheet-panels-validation-error input,
.brtc-va-export-data-configuration-area .brtc-va-editor-sheet-panels-validation-error input {
    border-color: #ea3539 !important;
}

.brtc-va-editors-sheet-controls-propertycontrol-radiobutton-looptype {
    margin-right: 2px;
    margin-bottom: 5px;
    margin-left: 2px;
    padding-top: 5px;
}

.brtc-va-editors-sheet-controls-propertycontrol-condition-remove-button {
    float: right;
    width: 17px;
    height: 17px;
    margin-top: 8.5px;
    margin-left: 2px;
    cursor: pointer;
    background: url('images/icon/icon_property.png') no-repeat;
    background-position: -37px 0;
}

.brtc-va-editors-sheet-controls-propertycontrol-out-alias-unit {
    width: 100%;
    height: 40px;
}

.brtc-va-editors-sheet-controls-propertycontrol-out-alias-unit .alias-name {
    margin-right: 10px;
}

.brtc-va-editors-sheet-controls-propertycontrol-out-alias-unit .alias-name,
.brtc-va-editors-sheet-controls-propertycontrol-out-alias-unit .alias-type {
    float: left;
    width: 45%;
}
