.brtc-va-dialogs-duplicate-model-newname-label,
.brtc-va-dialogs-duplicate-model-targetproject-label {
    width: 120px;
}

.brtc-va-dialogs-duplicate-model-newname-input {
    flex: 1;
}

.brtc-va-dialogs-duplicate-model-targetproject-input {
    flex: 1;
}

.brtc-va-dialogs-duplicate-model-include-dataflow {
    flex: 1;
}
