.brtc-style-dialogs-grid-transparent-border {
    box-sizing: border-box;
    border-color: transparent;
}

.brtc-style-dialogs-grid-transparent-border div[role='columnheader'] {
    border-width: 0;
}

.brtc-style-dialogs-grid-transparent-border div[role='gridcell'] {
    border-width: 0 0 1px 0;
}

.brtc-style-grid-header {
    font-size: 13px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brtc-style-schedule-info-detail {
    position: absolute;
    top: 50px;
    left: 658px;
    display: none;
    width: 330px;
    height: 15px;
    padding: 5px;
    text-align: center;
    color: rgba(0, 0, 0, .7);
    border: 1px solid #d4d4d4;
    background-color: #fff;
}


.brtc-style-schedule-info-detail:after,
.brtc-style-schedule-info-detail:before {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -7px;
    content: ' ';
    pointer-events: none;
    border: solid transparent;
    border-width: 7px;
    border-top-color: #d4d4d4;
}



.brtc-style-grid-cell-bold {
    font-weight: bold;
}

.brtc-va-dialogs-datasource-schedule-grid {
    width: 100%;
    height: calc(100% - 32px);
}

.brtc-va-dialogs-model-schedule-grid-wrapper {
    position: relative;
    width: 100%;
    height: calc(100% - 28px);
}

.brtc-va-dialogs-schedule-grid-header {
    height: 38px;
}

.brtc-va-dialogs-schedule-grid-row-main-col1,
.brtc-va-dialogs-schedule-grid-row-main-col2,
.brtc-va-dialogs-schedule-grid-row-sub-col1,
.brtc-va-dialogs-schedule-grid-row-sub-col1,
.brtc-va-dialogs-schedule-grid-header-col1,
.brtc-va-dialogs-schedule-grid-header-col2 {
    float: left;
    width: 50%;
    height: 100%;
}

.brtc-va-dialogs-schedule-grid-header .schedule-label {
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    float: left;
    height: 14px;
    margin-top: 10px;
    text-align: left;
    letter-spacing: -.6px;
    opacity: .8;
    color: rgba(0, 0, 0, .8);
}

.brtc-va-dialogs-schedule-grid-header-col1 .schedule-label {
    width: 88px;
    margin-left: 191px;
}

.brtc-va-dialogs-schedule-grid-header-col2 .schedule-label {
    width: 75px;
    margin-left: 132px;
}

.brtc-va-dialogs-schedule-grid-row-wrapper {
    width: 846px;
    height: auto;
    border: solid 1px #d9d9d9;
    border-bottom: none;
}

.brtc-va-dialogs-schedule-grid-row-wrapper.border-bottom {
    border-bottom: solid 1px #d9d9d9;
}

.brtc-va-dialogs-schedule-icon-help {
    float: left;
    width: 18px;
    height: 18px;
    margin-top: 10px;
    margin-left: 7px;
    opacity: .8;
    background: url('images/tool-help.png') no-repeat !important;
}

.brtc-va-dialogs-schedule-grid-row-main {
    width: 846px;
    height: 53px;
    background-color: #f7f7f7;
}

.brtc-va-dialogs-schedule-grid-row-sub {
    display: none;
    width: 846px;
    height: 47.5px;
    background-color: #fff;
}

.brtc-va-dialogs-datasource-schedule-grid-row-main:last-child,
.brtc-va-dialogs-model-schedule-grid-body:last-child {
    border-bottom: solid 1px #d9d9d9;
}

.brtc-va-dialogs-datasource-schedule-grid-row-main-dataname-label,
.brtc-va-dialogs-model-schedule-grid-body-model-icon,
.brtc-va-dialogs-model-schedule-grid-body-model-label {
    float: left;
}

.brtc-va-dialogs-schedule-icon-data {
    float: left;
    width: 16px;
    height: 15px;
    margin-top: 18px;
    margin-bottom: 20px;
    margin-left: 23px;
    opacity: .6;
    background: url('images/icon/icon-data.png') no-repeat !important;
    background-color: #000;
    object-fit: contain;
}

.brtc-va-dialogs-schedule-icon-plus-square {
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 16px;
    margin-bottom: 17px;
    margin-left: 23px;
    opacity: .6;
    background: url('images/plus-square-20.png') no-repeat !important;
    background-color: #000;
    object-fit: contain;
}

.brtc-va-dialogs-schedule-icon-table {
    float: left;
    width: 16px;
    height: 16px;
    margin-top: 15px;
    opacity: .7;
    background: url('images/icon/icon-table.png') no-repeat !important;
    background-color: #000;
    object-fit: contain;
}

.brtc-va-dialogs-schedule-grid-row-main .schedule-label {
    font-family: Arial;
    font-size: 14px;
    line-height: 53px;
    float: left;
    overflow: hidden;
    width: calc(100% - 80px);
    height: 53px;
    margin-left: 12px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: .8;
    color: rgba(0, 0, 0, .8);
}

.brtc-va-dialogs-schedule-grid-row-main-col2 .combo {
    float: right;
    margin-top: 13px;
    margin-right: 13px;
    margin-bottom: 12px;
    padding-left: 10px;
}

.brtc-va-dialogs-schedule-grid-row-sub-col2 .combo {
    float: right;
    margin-top: 9px;
    margin-right: 13px;
    padding-left: 10px;
}

.brtc-va-dialogs-schedule-grid-row-sub-col2 .combo input,
.brtc-va-dialogs-schedule-grid-row-main-col2 .combo input {
    font-family: Arial;
    font-size: 12px;
    line-height: 3.33;
    text-align: left;
    opacity: .7;
    color: rgba(0, 0, 0, .7);
}

.brtc-va-dialogs-schedule-grid-row-sub-col2 .combo input.error,
.brtc-va-dialogs-schedule-grid-row-main-col2 .combo input.error {
    color: red;
}


.brtc-va-dialogs-schedule-grid-row-sub-col1 .function-name {
    font-family: Arial;
    font-size: 14px;
    line-height: 47.5px;
    float: left;
    overflow: hidden;
    width: 131px;
    height: 47.5px;
    margin-left: 49px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: .7;
    color: rgba(0, 0, 0, .7);
}

.brtc-va-dialogs-schedule-grid-row-sub-col1 .datasource-name {
    font-family: Arial;
    font-size: 14px;
    line-height: 47.5px;
    float: left;
    overflow: hidden;
    width: 200px;
    height: 47.5px;
    margin-left: 10px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: .7;
    color: rgba(0, 0, 0, .7);
}

.brtc-va-dialogs-schedule-grid-header-count-label,
.brtc-va-dialogs-schedule-grid-header-count-value {
    float: left;
}

.brtc-va-dialogs-schedule-grid-header-count {
    position: absolute;
}

.brtc-va-dialogs-schedule-grid-header-count-value {
    margin-left: 5px;
}

.brtc-va-dialogs-model-schedule-grid-datasource {
    width: 846px;
    height: 53px;
}

.brtc-va-dialogs-schedule-grid-wrapper {
    position: relative;
    height: calc(100% - 38px);
}

.brtc-va-dialogs-schedule-grid-wrapper .jqx-combobox-input,
.brtc-va-dialogs-schedule-grid-row-wrapper .jqx-combobox-input {
    line-height: 30px;
}
