.brtc-va-editors-sheet-panels-window-toolbar {
    float: right;
    height: 100%;
    margin-right: 10px;
}

/*common 으로 빼야함 START*/
.brtc-va-editors-sheet-panels-window-toolbar .brtc-va-editors-sheet-panels-toolitem {
    float: right;
    width: 35px;
    height: 30px;
    margin: 10px 0;
    cursor: pointer;
    background-image: url('images/datapanel-toolbar-35.png');
    background-repeat: no-repeat;
    background-position-y: -73px;
}

.brtc-va-editors-sheet-panels-toolitem[item-type=evenly] {
    background-position-x: -70px;
}

.brtc-va-editors-sheet-panels-toolitem[item-type=stacked] {
    background-position-x: -35px;
}

.brtc-va-editors-sheet-panels-toolitem[item-type=side-by-side] {
    background-position-x: -245px;
}

/*common 으로 빼야함 END*/
