.brtc-va-setting-variable-dialogs-main {
    width: auto !important;
    min-width: 170px !important;
    height: auto !important;
    padding: 0 !important;
}

.brtc-va-setting-variable-dialogs-main .jqx-window-header-office {
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}

.brtc-va-setting-variable-dialogs-main .jqx-window-content-office {
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
}

.brtc-va-setting-variable-dialogs-contents {
    width: auto !important;
    height: auto;
}

.brtc-va-setting-variable-dialogs-contents hr {
    margin-top: 0;
    margin-bottom: 0;
}

.brtc-va-setting-variable-dialogs-contents .element-wrapper {
    background: #fff;
}

.brtc-va-setting-variable-dialogs-contents .element {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    line-height: 35px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    width: 100% !important;
    max-width: 185px;
    height: 35px;
    padding: 0 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: #fff;
}

.brtc-va-setting-variable-dialogs-contents .element.set {
    font-weight: bold;
    color: #626fdb;
}

.brtc-va-setting-variable-dialogs-contents .element:hover {
    cursor: pointer;
    background: #eeeeef;
}

.brtc-va-setting-variable-dialogs-contents .element[type=array]:hover:after {
    position: absolute;
    top: 4px;
    right: 0;
    width: 26px;
    height: 26px;
    content: '';
    color: transparent;
    background-image: url(images/column-type-26.png);
    background-repeat: no-repeat;
    background-position: 0 -104px;
}

.brtc-va-setting-variable-dialogs-contents .brtc-va-global-variable-list {
    position: relative;
    overflow-y: auto;
    max-height: 138px;
}

.brtc-va-rundialog.brtc-va-editors-sheet-panels-propertiespanel-header-more-menu {
    width: 25px;
    height: 15px;
}

.brtc-va-dialogs-run .brtc-va-dialogs-contents .brtc-va-editors-sheet-controls-propertycontrol,
.brtc-va-dialogs-run .brtc-va-dialogs-contents .brtc-va-editors-sheet-controls-propertycontrol-contents {
    margin-bottom: 0 !important;
}

.brtc-va-dialogs-run .brtc-va-dialogs-contents .brtc-va-editors-sheet-controls-propertycontrol-label.jqx-widget-header {
    box-sizing: border-box !important;
    width: 100% !important;
    margin: 10px 0 !important;
    padding: 0 6px 0 0 !important;
}

.brtc-va-dialogs-run .brtc-va-dialogs-contents .brtc-va-editors-sheet-controls-propertycontrol-label .jqx-expander-header-content {
    overflow: hidden;
    width: calc(100% - 52px) !important;
    white-space: nowrap;
        text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}
