.brtc-va-views-library {
    font-family: Arial, helvetica, sans-serif;
    height: 100%;
}

.brtc-va-views-library-group {
    height: 42px;
    padding-right: 20px;
}

.brtc-va-views-library-group-label {
    font-weight: bold;
    line-height: 40px;
    float: left;
    cursor: pointer;
}

.brtc-va-views-library-group-selector {
    font-size: 13px;
    font-weight: bold;
    border-color: transparent;
}

.brtc-va-views-library-separator {
    width: calc(100% - 20px);
    margin-bottom: 18px;
    border-bottom: solid 1px #d9d9d9;
}

.brtc-va-views-library-totalcount {
    font-size: 13px;
    padding-right: 20px;
}

.brtc-va-views-library-totalcount > span:nth-child(2) {
    font-weight: bold;
    padding-left: 10px;
}

.brtc-va-views-library-container {
    position: relative;
    width: 100%;
    height: calc(100% - 90px);
    /*height: calc(100% - 110px);*/
    margin-top: 10px;
}

.brtc-va-views-library-template {
    position: relative;
    box-sizing: border-box;
    /*width: calc(100% - 20px);*/
    height: 260px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #dce0e7;
    border-top: 4px solid #acb5cb;
}

.brtc-va-views-library-template-label {
    font-size: 13px;
    font-weight: bold;
    overflow: hidden;
    width: calc(100% - 20px);
    margin-bottom: 8px;
    cursor: move;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.brtc-va-views-library-template-author {
    font-size: 12px;
    margin-bottom: 10px;
}

.brtc-va-views-library-template-author > span {
    margin-right: 4px;
}

.brtc-va-views-library-template-author > span:nth-child(odd) {
    color: #a4a4a4;
}

.brtc-va-views-library-template-edit {
    position: absolute;
    top: 8px;
    right: 2px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-image: url('images/more-btn-16.png');
    background-repeat: no-repeat;
    background-position-x: 4px;
    background-position-y: 4px;
}

.brtc-va-views-library-template-edit:hover {
    background-color: #eeeeef;
}

.brtc-va-views-library-template-edit-ctxmenu {
    position: absolute;
    top: 26px;
    right: 6px;
    display: none;
    width: 130px;
    height: 80px;
    border: solid 1px #d4d4d4;
}

.brtc-va-views-library-template-preview {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 62px);
    background: #e5e9ef;
}
