.brtc-va-dialogs-contents.brtc-va-dialogs-fnunit {
    height: calc(100% - 50px - 20px);
    padding-left: 10px;
    padding-right: 10px;
}

.brtc-va-dialogs-title {
    padding-left: 10px;
}

.brtc-va-dialogs-title-label {
    font-size: 20px;
    font-weight: normal;
    line-height: 45px;
    float: left;
}

.brtc-va-dialogs-data-viewer .brtc-va-editors-sheet-panels-basepanel-top-area {
    display: none;
}

.brtc-va-dialogs-data-viewer .brtc-va-editors-sheet-panels-basepanel-contents-area {
    /* height: calc(100% - 46px); */
}

.brtc-va-dialogs-data-viewer .bcharts-ws-panel.ui-selected {
    border: none;
}

.brtc-va-dialogs-fnunit .brtc-va-views-properties-pages-controls-propertycontrol-label {
    background-color: white;
    border: none;
}