.brtc-mc-contents {
    display: block;
    position: relative;
    height: auto;
    margin: 0;
    min-width: 600px;
    z-index: 1;
}

.brtc-monitoring-set {
    max-height: 660px;
    height: 660px;
    width: 900px;
    margin-left: 20px;
    margin-top: 20px;
    overflow: auto;
    padding-right: 10px;
}

.brtc-monitoring-set.master{
    max-height: 280px;
    height: 280px;
}

.brtc-monitoring-set.worker {
    max-height: 380px;
    height: 380px;
}

.brtc-monitoring-set > p {
    font-weight: 700;
}

.brtc-monitoring-chart-set {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 880px;
}

.brtc-monitoring-chart {
    flex-grow: 2;
    height: 150px;
    margin: 10px;
    border: 1px solid lightgray;

    display: flex;
    width: 230px;
}

.brtc-monitoring-search {
    margin: 5px;
    height: 25px;
    margin-bottom: 20px;
}

.brtc-monitoring-search.appid {
    margin-left: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    width: 100%;
}

.brtc-monitoring-appname {
    flex-grow: 1;
    width: 90px;
    height: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}